AI Cost Optimization with Confidence-Based Model Escalation.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Cheap Model (GPT-4o-mini)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confidence Evaluator": {
      "main": [
        [
          {
            "node": "Check Confidence Threshold",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Confidence Threshold": {
      "main": [
        [
          {
            "node": "Expensive Model (GPT-4o)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Calculate Cost Difference",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expensive Model (GPT-4o)": {
      "main": [
        [
          {
            "node": "Calculate Cost Difference",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Cost Difference": {
      "main": [
        [
          {
            "node": "Format Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cheap Model (GPT-4o-mini)": {
      "main": [
        [
          {
            "node": "Confidence Evaluator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Confidence JSON": {
      "ai_outputParser": [
        [
          {
            "node": "Confidence Evaluator",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Confidence Evaluator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-28T14:45:17.281Z",
  "id": "1iupGBB98i4ChEh5",
  "isArchived": false,
  "meta": null,
  "name": "AI Cost Optimization with Confidence-Based Model Escalation",
  "nodes": [
    {
      "parameters": {
        "path": "5b4bf456-6536-4d2e-b505-80e58201a458",
        "options": {}
      },
      "id": "f1ecde79-c95f-4966-a452-d2d463951138",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1600,
        192
      ],
      "webhookId": "5b4bf456-6536-4d2e-b505-80e58201a458"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "confidenceThreshold",
              "value": 0.7,
              "type": "number"
            },
            {
              "id": "id-2",
              "name": "cheapModelCostPer1kTokens",
              "value": 0.00015,
              "type": "number"
            },
            {
              "id": "id-3",
              "name": "expensiveModelCostPer1kTokens",
              "value": 0.005,
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "3fdb72d9-63de-430f-9fb9-8c82d7c73ff9",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1376,
        192
      ]
    },
    {
      "parameters": {
        "modelId": {
          "mode": "id",
          "value": "gpt-4o-mini"
        },
        "responses": {
          "values": [
            {
              "content": "={{ $json.query }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "649841c5-8e02-4f3f-a588-7d152c6828a6",
      "name": "Cheap Model (GPT-4o-mini)",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -1152,
        192
      ],
      "credentials": {
        "openAiApi": {
          "id": "zHMgvi1Nu77MFY12",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.should_escalate }}",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "373aa4bc-80c9-4fb4-b489-1f36399f12cd",
      "name": "Check Confidence Threshold",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -448,
        192
      ]
    },
    {
      "parameters": {
        "modelId": {
          "mode": "id",
          "value": "gpt-4o"
        },
        "responses": {
          "values": [
            {
              "content": "={{ $('Workflow Configuration').first().json.query }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "dd175abe-b59e-4f4d-8997-a4d9041a4b8b",
      "name": "Expensive Model (GPT-4o)",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -224,
        128
      ],
      "credentials": {
        "openAiApi": {
          "id": "zHMgvi1Nu77MFY12",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Get data from previous nodes\nconst confidenceData = $('Confidence Evaluator').item.json;\nconst configData = $('Workflow Configuration').first().json;\nconst cheapModelData = $('Cheap Model (GPT-4o-mini)').item.json;\n\n// Check if request was escalated\nconst wasEscalated = confidenceData.confidence < configData.confidence_threshold;\n\n// Get cost rates from configuration\nconst cheapModelCostPer1kTokens = configData.cheap_model_cost_per_1k_tokens || 0.00015;\nconst expensiveModelCostPer1kTokens = configData.expensive_model_cost_per_1k_tokens || 0.005;\n\nlet modelUsed, totalTokens, costUsd, costDifferenceUsd;\n\nif (wasEscalated) {\n  // Request was escalated to expensive model\n  const expensiveModelData = $('Expensive Model (GPT-4o)').item.json;\n  modelUsed = 'gpt-4o';\n  totalTokens = expensiveModelData.usage?.total_tokens || 0;\n  costUsd = (totalTokens / 1000) * expensiveModelCostPer1kTokens;\n  \n  // Calculate what it would have cost with cheap model\n  const cheapModelTokens = cheapModelData.usage?.total_tokens || 0;\n  const cheapModelCost = (cheapModelTokens / 1000) * cheapModelCostPer1kTokens;\n  \n  // Additional cost due to escalation (positive number)\n  costDifferenceUsd = costUsd - cheapModelCost;\n} else {\n  // Request stayed with cheap model\n  modelUsed = 'gpt-4o-mini';\n  totalTokens = cheapModelData.usage?.total_tokens || 0;\n  costUsd = (totalTokens / 1000) * cheapModelCostPer1kTokens;\n  \n  // Calculate what it would have cost with expensive model\n  const expensiveModelCost = (totalTokens / 1000) * expensiveModelCostPer1kTokens;\n  \n  // Cost savings (negative number indicates savings)\n  costDifferenceUsd = costUsd - expensiveModelCost;\n}\n\n// Return the result\nreturn {\n  model_used: modelUsed,\n  total_tokens: totalTokens,\n  cost_usd: parseFloat(costUsd.toFixed(6)),\n  escalated: wasEscalated,\n  cost_difference_usd: parseFloat(costDifferenceUsd.toFixed(6)),\n  response: wasEscalated ? $('Expensive Model (GPT-4o)').item.json.message?.content : cheapModelData.message?.content,\n  confidence_score: confidenceData.confidence\n};"
      },
      "id": "face2430-c1a2-4523-88ef-5bcc18bb56c1",
      "name": "Calculate Cost Difference",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        192
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "response",
              "value": "={{ $('Expensive Model (GPT-4o)').item.json.message?.content || $('Cheap Model (GPT-4o-mini)').item.json.message?.content }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "model_used",
              "value": "={{ $('Calculate Cost Difference').item.json.model_used }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "confidence_score",
              "value": "={{ $('Confidence Evaluator').item.json.output?.confidence_score }}",
              "type": "number"
            },
            {
              "id": "id-4",
              "name": "escalated",
              "value": "={{ $('Calculate Cost Difference').item.json.escalated }}",
              "type": "boolean"
            },
            {
              "id": "id-5",
              "name": "cost_usd",
              "value": "={{ $('Calculate Cost Difference').item.json.cost_usd }}",
              "type": "number"
            },
            {
              "id": "id-6",
              "name": "cost_analysis",
              "value": "={{ JSON.stringify($('Calculate Cost Difference').item.json.cost_analysis) }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "159c672b-7a2a-40bf-b71c-43d1f695276b",
      "name": "Format Final Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        192
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Original query: {{ $('Workflow Configuration').first().json.query }}\n\nCheap model response: {{ $json.message.content }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a confidence evaluator. Analyze the quality and completeness of the AI response provided.\n\nEvaluate based on:\n1. Accuracy and correctness\n2. Completeness of the answer\n3. Clarity and coherence\n4. Relevance to the query\n\nReturn a confidence score between 0 and 1, where:\n- 0.9-1.0: Excellent response, highly confident\n- 0.7-0.89: Good response, confident\n- 0.5-0.69: Acceptable but could be better\n- Below 0.5: Poor response, needs improvement\n\nProvide a brief reason for your assessment and indicate whether escalation to a better model is recommended."
        }
      },
      "id": "e27784fb-e412-4929-80a3-a7f2ee315941",
      "name": "Confidence Evaluator",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -800,
        192
      ]
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"confidence_score\": 0.85,\n\t\"reason\": \"Brief explanation of the confidence assessment\",\n\t\"should_escalate\": false\n}"
      },
      "id": "5ef5810f-1d6c-4fc3-bdb6-3fb181cabe07",
      "name": "Parse Confidence JSON",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -672,
        416
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "3e59d88a-5715-4315-b179-51195cc01c2f",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -800,
        416
      ],
      "credentials": {
        "openAiApi": {
          "id": "zHMgvi1Nu77MFY12",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "rajeetcodeN",
    "name": "n8n_backup2"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2026-02-28T14:45:17.283Z",
      "createdAt": "2026-02-28T14:45:17.283Z",
      "role": "workflow:owner",
      "workflowId": "1iupGBB98i4ChEh5",
      "projectId": "7DfoImgKnNZiM78g"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-28T14:55:36.886Z",
  "versionId": "4da0d6ec-b630-45d2-8022-ad57b855d534"
}