AI Multi-Table Schema Builder with Automated Normalization and Relationship Detection.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Upload Files Webhook": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Check File Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check File Type": {
      "main": [
        [
          {
            "node": "Extract CSV Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Excel Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract CSV Data": {
      "main": [
        [
          {
            "node": "Column Profiling Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Excel Data": {
      "main": [
        [
          {
            "node": "Column Profiling Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Column Profiling Engine": {
      "main": [
        [
          {
            "node": "Aggregate All Datasets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate All Datasets": {
      "main": [
        [
          {
            "node": "Schema Reasoning Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI GPT-4": {
      "ai_languageModel": [
        [
          {
            "node": "Schema Reasoning Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Schema JSON Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Schema Reasoning Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Schema Reasoning Agent": {
      "main": [
        [
          {
            "node": "Rule Validator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rule Validator": {
      "main": [
        [
          {
            "node": "SQL Schema Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL Schema Generator": {
      "main": [
        [
          {
            "node": "Generate Data Dictionary & ERD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Data Dictionary & ERD": {
      "main": [
        [
          {
            "node": "Return Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-31T11:33:40.815Z",
  "id": "djFwKz0GTAyrsywl",
  "isArchived": false,
  "meta": null,
  "name": "AI Multi-Table Schema Builder with Automated Normalization and Relationship Detection",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "schema-builder",
        "responseMode": "lastNode",
        "options": {
          "rawBody": true
        }
      },
      "id": "e63d87e7-927b-4a63-b10d-815cbf665f3d",
      "name": "Upload Files Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -672,
        96
      ],
      "webhookId": "7a47278f-909e-4534-a1dc-3e4ef56aff84"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "fkOverlapThreshold",
              "value": 0.7,
              "type": "number"
            },
            {
              "id": "id-2",
              "name": "maxNormalizationDepth",
              "value": 3,
              "type": "number"
            },
            {
              "id": "id-3",
              "name": "minUniquePercentForPK",
              "value": 0.95,
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "3ad711eb-bc3f-4d55-85dd-3ee3a495602b",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -448,
        96
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.data.mimeType }}",
              "rightValue": "csv",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "id-2",
              "leftValue": "={{ $json.data.mimeType }}",
              "rightValue": "text/csv",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "bc55b765-7632-48da-96b5-d65fb4fa4c45",
      "name": "Check File Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -224,
        96
      ]
    },
    {
      "parameters": {
        "options": {
          "includeEmptyCells": true
        }
      },
      "id": "58178d95-6a35-47f8-89ce-9458cd5661a3",
      "name": "Extract CSV Data",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "id": "b9c0e679-3dac-478e-9e6c-df4270101fe7",
      "name": "Extract Excel Data",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        0,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "// Column Profiling Engine - Comprehensive Data Analysis\n// Profiles each column with statistical analysis, pattern detection, and metadata\n\nconst crypto = require('crypto');\n\n// Helper function to generate UUID\nfunction generateUUID() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\n// Helper function to calculate entropy\nfunction calculateEntropy(values) {\n  const freq = {};\n  values.forEach(v => {\n    freq[v] = (freq[v] || 0) + 1;\n  });\n  \n  let entropy = 0;\n  const total = values.length;\n  Object.values(freq).forEach(count => {\n    const p = count / total;\n    entropy -= p * Math.log2(p);\n  });\n  \n  return entropy;\n}\n\n// Helper function to detect data type\nfunction detectDataType(value) {\n  if (value === null || value === undefined || value === '') return 'null';\n  if (typeof value === 'number') return 'number';\n  if (typeof value === 'boolean') return 'boolean';\n  \n  const str = String(value);\n  \n  // Check for date patterns\n  if (!isNaN(Date.parse(str)) && /\\d{4}-\\d{2}-\\d{2}|\\d{1,2}\\/\\d{1,2}\\/\\d{2,4}/.test(str)) {\n    return 'date';\n  }\n  \n  // Check for number\n  if (!isNaN(str) && str.trim() !== '') return 'number';\n  \n  // Check for email\n  if (/^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(str)) return 'email';\n  \n  // Check for URL\n  if (/^https?:\\/\\/.+/.test(str)) return 'url';\n  \n  return 'string';\n}\n\n// Helper function to extract regex patterns\nfunction extractPatterns(values) {\n  const patterns = {};\n  \n  values.forEach(v => {\n    if (v === null || v === undefined || v === '') return;\n    \n    const str = String(v);\n    let pattern = str.replace(/\\d/g, '9').replace(/[a-z]/gi, 'A');\n    patterns[pattern] = (patterns[pattern] || 0) + 1;\n  });\n  \n  // Return top 5 patterns\n  return Object.entries(patterns)\n    .sort((a, b) => b[1] - a[1])\n    .slice(0, 5)\n    .map(([pattern, count]) => ({ pattern, count }));\n}\n\n// Helper function to detect candidate IDs\nfunction isCandidateID(columnName, values, uniquePercent) {\n  const name = columnName.toLowerCase();\n  \n  // Check if name suggests ID\n  if (name.includes('id') || name.includes('key') || name === 'pk') {\n    return true;\n  }\n  \n  // Check if values are unique and sequential or UUID-like\n  if (uniquePercent > 95) {\n    const sample = values.filter(v => v !== null && v !== undefined).slice(0, 100);\n    const hasUUID = sample.some(v => /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i.test(String(v)));\n    const hasSequential = sample.every((v, i) => i === 0 || Number(v) === Number(sample[i-1]) + 1);\n    \n    return hasUUID || hasSequential;\n  }\n  \n  return false;\n}\n\n// Helper function to detect reference columns\nfunction isReferenceColumn(columnName, values) {\n  const name = columnName.toLowerCase();\n  \n  // Check for foreign key naming patterns\n  if (name.endsWith('_id') || name.endsWith('id') && name !== 'id') {\n    return true;\n  }\n  \n  // Check for reference patterns\n  if (name.includes('ref') || name.includes('fk')) {\n    return true;\n  }\n  \n  return false;\n}\n\n// Helper function to detect composite key candidates\nfunction detectCompositeKeys(columns) {\n  const candidates = [];\n  \n  // Look for combinations of 2-3 columns that might form composite keys\n  for (let i = 0; i < columns.length; i++) {\n    for (let j = i + 1; j < columns.length; j++) {\n      const col1 = columns[i];\n      const col2 = columns[j];\n      \n      if (col1.uniquePercent < 100 && col2.uniquePercent < 100) {\n        candidates.push([col1.name, col2.name]);\n      }\n    }\n  }\n  \n  return candidates.slice(0, 5); // Return top 5 candidates\n}\n\n// Main profiling logic\nconst results = [];\n\nfor (const item of $input.all()) {\n  const data = item.json;\n  \n  // Extract metadata from input\n  const sourceFile = data.fileName || data.source_file || 'unknown';\n  const sheetName = data.sheetName || data.sheet_name || null;\n  \n  // Get the actual data rows\n  let rows = data.data || data.rows || [];\n  \n  // If data is in a different structure, try to extract it\n  if (rows.length === 0 && typeof data === 'object') {\n    // Check if data itself is an array\n    if (Array.isArray(data)) {\n      rows = data;\n    } else {\n      // Try to find array property\n      const arrayProp = Object.keys(data).find(key => Array.isArray(data[key]));\n      if (arrayProp) {\n        rows = data[arrayProp];\n      }\n    }\n  }\n  \n  if (rows.length === 0) {\n    continue;\n  }\n  \n  const rowCount = rows.length;\n  const datasetId = generateUUID();\n  \n  // Calculate file hash\n  const fileHash = crypto.createHash('md5').update(JSON.stringify(rows)).digest('hex');\n  \n  // Get column names\n  const columnNames = Object.keys(rows[0] || {});\n  \n  // Profile each column\n  const columnProfiles = [];\n  \n  for (const colName of columnNames) {\n    const values = rows.map(row => row[colName]);\n    \n    // Calculate null percentage\n    const nullCount = values.filter(v => v === null || v === undefined || v === '').length;\n    const nullPercent = (nullCount / rowCount) * 100;\n    \n    // Calculate unique percentage\n    const uniqueValues = new Set(values.filter(v => v !== null && v !== undefined && v !== ''));\n    const uniquePercent = (uniqueValues.size / (rowCount - nullCount)) * 100 || 0;\n    \n    // Get non-null values for analysis\n    const nonNullValues = values.filter(v => v !== null && v !== undefined && v !== '');\n    \n    // Detect data types\n    const typeDistribution = {};\n    nonNullValues.forEach(v => {\n      const type = detectDataType(v);\n      typeDistribution[type] = (typeDistribution[type] || 0) + 1;\n    });\n    \n    // Calculate min/max for numeric and string values\n    let minValue = null;\n    let maxValue = null;\n    \n    if (nonNullValues.length > 0) {\n      const numericValues = nonNullValues.filter(v => !isNaN(v)).map(Number);\n      if (numericValues.length > 0) {\n        minValue = Math.min(...numericValues);\n        maxValue = Math.max(...numericValues);\n      } else {\n        // For strings, use length\n        const lengths = nonNullValues.map(v => String(v).length);\n        minValue = Math.min(...lengths);\n        maxValue = Math.max(...lengths);\n      }\n    }\n    \n    // Calculate entropy\n    const entropy = nonNullValues.length > 0 ? calculateEntropy(nonNullValues) : 0;\n    \n    // Extract regex patterns\n    const patterns = extractPatterns(nonNullValues);\n    \n    // Create frequency histogram (top 10 values)\n    const frequencyMap = {};\n    nonNullValues.forEach(v => {\n      frequencyMap[v] = (frequencyMap[v] || 0) + 1;\n    });\n    \n    const frequencyHistogram = Object.entries(frequencyMap)\n      .sort((a, b) => b[1] - a[1])\n      .slice(0, 10)\n      .map(([value, count]) => ({ value, count, percentage: (count / nonNullValues.length) * 100 }));\n    \n    // Detect special column types\n    const isCandidateId = isCandidateID(colName, nonNullValues, uniquePercent);\n    const isReference = isReferenceColumn(colName, nonNullValues);\n    \n    // Check for repeated entity attributes (low cardinality)\n    const isRepeatedEntity = uniquePercent < 10 && uniquePercent > 0;\n    \n    columnProfiles.push({\n      name: colName,\n      nullPercent: Math.round(nullPercent * 100) / 100,\n      uniquePercent: Math.round(uniquePercent * 100) / 100,\n      minValue,\n      maxValue,\n      dataTypeDistribution: typeDistribution,\n      regexPatterns: patterns,\n      entropyScore: Math.round(entropy * 100) / 100,\n      frequencyHistogram,\n      isCandidateID: isCandidateId,\n      isReferenceColumn: isReference,\n      isRepeatedEntityAttribute: isRepeatedEntity,\n      sampleValues: nonNullValues.slice(0, 5)\n    });\n  }\n  \n  // Detect composite key candidates\n  const compositeKeyCandidates = detectCompositeKeys(columnProfiles);\n  \n  // Compile final result\n  results.push({\n    json: {\n      dataset_id: datasetId,\n      source_file: sourceFile,\n      sheet_name: sheetName,\n      row_count: rowCount,\n      file_hash: fileHash,\n      column_count: columnNames.length,\n      columns: columnProfiles,\n      composite_key_candidates: compositeKeyCandidates,\n      profiled_at: new Date().toISOString()\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "79021a89-909e-4a4c-87e0-7d603e075cae",
      "name": "Column Profiling Engine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        96
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "datasets",
        "options": {}
      },
      "id": "76ba111f-7bfd-497d-9f29-6fa6b9bcc398",
      "name": "Aggregate All Datasets",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        448,
        96
      ]
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {}
      },
      "id": "8f594e8b-8621-414c-ae60-6ada7d4b2b9a",
      "name": "Schema Reasoning Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        672,
        96
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "5295b1f1-efbd-4525-b30f-e8d2456e19b2",
      "name": "OpenAI GPT-4",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        680,
        320
      ]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"tables\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"name\": {\n            \"type\": \"string\"\n          },\n          \"columns\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"object\",\n              \"properties\": {\n                \"name\": {\n                  \"type\": \"string\"\n                },\n                \"type\": {\n                  \"type\": \"string\"\n                },\n                \"nullable\": {\n                  \"type\": \"boolean\"\n                },\n                \"primaryKey\": {\n                  \"type\": \"boolean\"\n                },\n                \"foreignKey\": {\n                  \"type\": \"object\",\n                  \"properties\": {\n                    \"table\": {\n                      \"type\": \"string\"\n                    },\n                    \"column\": {\n                      \"type\": \"string\"\n                    }\n                  }\n                }\n              },\n              \"required\": [\"name\", \"type\"]\n            }\n          }\n        },\n        \"required\": [\"name\", \"columns\"]\n      }\n    },\n    \"relationships\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"fromTable\": {\n            \"type\": \"string\"\n          },\n          \"fromColumn\": {\n            \"type\": \"string\"\n          },\n          \"toTable\": {\n            \"type\": \"string\"\n          },\n          \"toColumn\": {\n            \"type\": \"string\"\n          },\n          \"overlapPercent\": {\n            \"type\": \"number\"\n          }\n        },\n        \"required\": [\"fromTable\", \"fromColumn\", \"toTable\", \"toColumn\"]\n      }\n    },\n    \"indexes\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"table\": {\n            \"type\": \"string\"\n          },\n          \"columns\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"string\"\n            }\n          },\n          \"type\": {\n            \"type\": \"string\"\n          }\n        },\n        \"required\": [\"table\", \"columns\", \"type\"]\n      }\n    }\n  },\n  \"required\": [\"tables\", \"relationships\", \"indexes\"]\n}"
      },
      "id": "272c192b-3628-4dc4-8ff7-39f721eab889",
      "name": "Schema JSON Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        808,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "// Rule Validator - Validates schema integrity and normalization rules\n\nconst items = $input.all();\nconst schemaData = items[0].json;\nconst config = $('Workflow Configuration').item.json;\n\n// Extract schema and configuration\nconst schema = schemaData.schema || schemaData;\nconst fkThreshold = config.fkOverlapThreshold || 0.8;\n\n// Initialize validation results\nconst validationResults = {\n  isValid: true,\n  errors: [],\n  warnings: [],\n  checks: {\n    primaryKeyUniqueness: { passed: true, details: [] },\n    foreignKeyOverlap: { passed: true, details: [] },\n    columnTypeCompatibility: { passed: true, details: [] },\n    noOrphanTables: { passed: true, details: [] },\n    noOverNormalization: { passed: true, details: [] },\n    noUnderNormalization: { passed: true, details: [] }\n  }\n};\n\n// Helper function to add error\nfunction addError(check, message) {\n  validationResults.isValid = false;\n  validationResults.errors.push(message);\n  validationResults.checks[check].passed = false;\n  validationResults.checks[check].details.push(message);\n}\n\n// Helper function to add warning\nfunction addWarning(check, message) {\n  validationResults.warnings.push(message);\n  validationResults.checks[check].details.push(message);\n}\n\n// 1. Check Primary Key Uniqueness\nfor (const table of schema.tables || []) {\n  const pkColumns = table.columns.filter(col => col.isPrimaryKey);\n  \n  if (pkColumns.length === 0) {\n    addError('primaryKeyUniqueness', `Table \"${table.name}\" has no primary key defined`);\n  }\n  \n  // Check for duplicate PK column names within the same table\n  const pkNames = pkColumns.map(col => col.name);\n  const duplicatePKs = pkNames.filter((name, index) => pkNames.indexOf(name) !== index);\n  \n  if (duplicatePKs.length > 0) {\n    addError('primaryKeyUniqueness', `Table \"${table.name}\" has duplicate primary key columns: ${duplicatePKs.join(', ')}`);\n  }\n}\n\n// 2. Check Foreign Key Overlap and Validity\nfor (const relationship of schema.relationships || []) {\n  const sourceTable = schema.tables.find(t => t.name === relationship.sourceTable);\n  const targetTable = schema.tables.find(t => t.name === relationship.targetTable);\n  \n  if (!sourceTable) {\n    addError('foreignKeyOverlap', `Source table \"${relationship.sourceTable}\" not found for relationship`);\n    continue;\n  }\n  \n  if (!targetTable) {\n    addError('foreignKeyOverlap', `Target table \"${relationship.targetTable}\" not found for relationship`);\n    continue;\n  }\n  \n  const fkColumn = sourceTable.columns.find(col => col.name === relationship.sourceColumn);\n  const pkColumn = targetTable.columns.find(col => col.name === relationship.targetColumn);\n  \n  if (!fkColumn) {\n    addError('foreignKeyOverlap', `Foreign key column \"${relationship.sourceColumn}\" not found in table \"${relationship.sourceTable}\"`);\n  }\n  \n  if (!pkColumn) {\n    addError('foreignKeyOverlap', `Referenced column \"${relationship.targetColumn}\" not found in table \"${relationship.targetTable}\"`);\n  }\n  \n  // Check if target column is a primary key\n  if (pkColumn && !pkColumn.isPrimaryKey) {\n    addWarning('foreignKeyOverlap', `Foreign key in \"${relationship.sourceTable}\" references non-primary key column \"${relationship.targetColumn}\" in \"${relationship.targetTable}\"`);\n  }\n}\n\n// 3. Check Column Type Compatibility for Foreign Keys\nfor (const relationship of schema.relationships || []) {\n  const sourceTable = schema.tables.find(t => t.name === relationship.sourceTable);\n  const targetTable = schema.tables.find(t => t.name === relationship.targetTable);\n  \n  if (sourceTable && targetTable) {\n    const fkColumn = sourceTable.columns.find(col => col.name === relationship.sourceColumn);\n    const pkColumn = targetTable.columns.find(col => col.name === relationship.targetColumn);\n    \n    if (fkColumn && pkColumn) {\n      // Normalize types for comparison\n      const fkType = fkColumn.dataType.toLowerCase().replace(/\\(.*\\)/, '');\n      const pkType = pkColumn.dataType.toLowerCase().replace(/\\(.*\\)/, '');\n      \n      if (fkType !== pkType) {\n        addError('columnTypeCompatibility', `Type mismatch: FK \"${relationship.sourceTable}.${relationship.sourceColumn}\" (${fkColumn.dataType}) does not match PK \"${relationship.targetTable}.${relationship.targetColumn}\" (${pkColumn.dataType})`);\n      }\n    }\n  }\n}\n\n// 4. Check for Orphan Tables (tables with no relationships)\nconst tablesWithRelationships = new Set();\nfor (const relationship of schema.relationships || []) {\n  tablesWithRelationships.add(relationship.sourceTable);\n  tablesWithRelationships.add(relationship.targetTable);\n}\n\nfor (const table of schema.tables || []) {\n  if (!tablesWithRelationships.has(table.name) && schema.tables.length > 1) {\n    addWarning('noOrphanTables', `Table \"${table.name}\" has no relationships with other tables (orphan table)`);\n  }\n}\n\n// 5. Check for Over-Normalization (too many tables with single columns)\nconst singleColumnTables = schema.tables.filter(table => \n  table.columns.filter(col => !col.isPrimaryKey).length <= 1\n);\n\nif (singleColumnTables.length > schema.tables.length * 0.3) {\n  addWarning('noOverNormalization', `Possible over-normalization: ${singleColumnTables.length} tables have only 1-2 columns. Consider consolidating: ${singleColumnTables.map(t => t.name).join(', ')}`);\n}\n\n// 6. Check for Under-Normalization (tables with too many columns)\nconst largeColumnTables = schema.tables.filter(table => table.columns.length > 15);\n\nif (largeColumnTables.length > 0) {\n  for (const table of largeColumnTables) {\n    addWarning('noUnderNormalization', `Table \"${table.name}\" has ${table.columns.length} columns. Consider normalizing if there are repeating groups or multi-valued dependencies`);\n  }\n}\n\n// Check for repeating column patterns (sign of under-normalization)\nfor (const table of schema.tables || []) {\n  const columnNames = table.columns.map(col => col.name.toLowerCase());\n  const patterns = {};\n  \n  for (const name of columnNames) {\n    // Check for numbered columns (e.g., phone1, phone2, phone3)\n    const match = name.match(/^(.+?)(\\d+)$/);\n    if (match) {\n      const base = match[1];\n      patterns[base] = (patterns[base] || 0) + 1;\n    }\n  }\n  \n  for (const [pattern, count] of Object.entries(patterns)) {\n    if (count >= 3) {\n      addWarning('noUnderNormalization', `Table \"${table.name}\" has repeating column pattern \"${pattern}*\" (${count} occurrences). Consider normalizing into a separate table`);\n    }\n  }\n}\n\n// Prepare output\nif (validationResults.isValid) {\n  return [\n    {\n      json: {\n        ...schemaData,\n        validation: {\n          status: 'passed',\n          timestamp: new Date().toISOString(),\n          checks: validationResults.checks,\n          warnings: validationResults.warnings\n        }\n      }\n    }\n  ];\n} else {\n  // Return error with validation details\n  return [\n    {\n      json: {\n        error: 'Schema validation failed',\n        validationStatus: 'failed',\n        errors: validationResults.errors,\n        warnings: validationResults.warnings,\n        checks: validationResults.checks,\n        originalSchema: schemaData\n      }\n    }\n  ];\n}"
      },
      "id": "72dddbe7-07e0-4144-8883-5568c4434064",
      "name": "Rule Validator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "// SQL Schema Generator\n// Generates executable SQL CREATE TABLE, ALTER TABLE, and CREATE INDEX statements\n\nconst items = $input.all();\nconst validatedSchema = items[0].json;\n\n// Helper function to map data types to SQL types\nfunction mapToSQLType(dataType, maxLength = null) {\n  const typeMap = {\n    'string': maxLength && maxLength <= 255 ? `VARCHAR(${maxLength})` : 'TEXT',\n    'integer': 'INTEGER',\n    'bigint': 'BIGINT',\n    'decimal': 'DECIMAL(10,2)',\n    'float': 'FLOAT',\n    'double': 'DOUBLE',\n    'boolean': 'BOOLEAN',\n    'date': 'DATE',\n    'datetime': 'DATETIME',\n    'timestamp': 'TIMESTAMP',\n    'text': 'TEXT',\n    'json': 'JSON'\n  };\n  return typeMap[dataType.toLowerCase()] || 'VARCHAR(255)';\n}\n\n// Generate CREATE TABLE statements\nlet sqlScript = \"-- ============================================\\n\";\nsqlScript += \"-- SQL Schema Generated by AI Schema Builder\\n\";\nsqlScript += `-- Generated: ${new Date().toISOString()}\\n`;\nsqlScript += \"-- ============================================\\n\\n\";\n\n// First pass: Create all tables\nfor (const table of validatedSchema.tables) {\n  sqlScript += `-- Table: ${table.name}\\n`;\n  if (table.description) {\n    sqlScript += `-- Description: ${table.description}\\n`;\n  }\n  sqlScript += `CREATE TABLE ${table.name} (\\n`;\n  \n  const columnDefs = [];\n  \n  for (const column of table.columns) {\n    let colDef = `  ${column.name} ${mapToSQLType(column.dataType, column.maxLength)}`;\n    \n    // Add constraints\n    if (column.isPrimaryKey) {\n      colDef += ' PRIMARY KEY';\n    }\n    if (column.isUnique && !column.isPrimaryKey) {\n      colDef += ' UNIQUE';\n    }\n    if (!column.nullable) {\n      colDef += ' NOT NULL';\n    }\n    if (column.defaultValue !== undefined && column.defaultValue !== null) {\n      colDef += ` DEFAULT ${typeof column.defaultValue === 'string' ? `'${column.defaultValue}'` : column.defaultValue}`;\n    }\n    if (column.autoIncrement) {\n      colDef += ' AUTO_INCREMENT';\n    }\n    \n    columnDefs.push(colDef);\n  }\n  \n  sqlScript += columnDefs.join(',\\n');\n  sqlScript += \"\\n);\\n\\n\";\n}\n\n// Second pass: Add foreign key constraints\nif (validatedSchema.relationships && validatedSchema.relationships.length > 0) {\n  sqlScript += \"-- ============================================\\n\";\n  sqlScript += \"-- Foreign Key Relationships\\n\";\n  sqlScript += \"-- ============================================\\n\\n\";\n  \n  for (const rel of validatedSchema.relationships) {\n    sqlScript += `-- Relationship: ${rel.name || `${rel.fromTable}_${rel.toTable}`}\\n`;\n    if (rel.description) {\n      sqlScript += `-- Description: ${rel.description}\\n`;\n    }\n    \n    const constraintName = `fk_${rel.fromTable}_${rel.fromColumn}_${rel.toTable}_${rel.toColumn}`;\n    sqlScript += `ALTER TABLE ${rel.fromTable}\\n`;\n    sqlScript += `  ADD CONSTRAINT ${constraintName}\\n`;\n    sqlScript += `  FOREIGN KEY (${rel.fromColumn})\\n`;\n    sqlScript += `  REFERENCES ${rel.toTable}(${rel.toColumn})`;\n    \n    if (rel.onDelete) {\n      sqlScript += `\\n  ON DELETE ${rel.onDelete.toUpperCase()}`;\n    }\n    if (rel.onUpdate) {\n      sqlScript += `\\n  ON UPDATE ${rel.onUpdate.toUpperCase()}`;\n    }\n    \n    sqlScript += \";\\n\\n\";\n  }\n}\n\n// Third pass: Create indexes\nif (validatedSchema.indexes && validatedSchema.indexes.length > 0) {\n  sqlScript += \"-- ============================================\\n\";\n  sqlScript += \"-- Indexes\\n\";\n  sqlScript += \"-- ============================================\\n\\n\";\n  \n  for (const index of validatedSchema.indexes) {\n    sqlScript += `-- Index: ${index.name}\\n`;\n    if (index.description) {\n      sqlScript += `-- Description: ${index.description}\\n`;\n    }\n    \n    const indexType = index.isUnique ? 'UNIQUE INDEX' : 'INDEX';\n    const columns = Array.isArray(index.columns) ? index.columns.join(', ') : index.columns;\n    \n    sqlScript += `CREATE ${indexType} ${index.name}\\n`;\n    sqlScript += `  ON ${index.tableName}(${columns});\\n\\n`;\n  }\n}\n\nsqlScript += \"-- ============================================\\n\";\nsqlScript += \"-- End of Schema\\n\";\nsqlScript += \"-- ============================================\\n\";\n\nreturn [{\n  json: {\n    sqlSchema: sqlScript,\n    tableCount: validatedSchema.tables.length,\n    relationshipCount: validatedSchema.relationships?.length || 0,\n    indexCount: validatedSchema.indexes?.length || 0\n  }\n}];"
      },
      "id": "aa50f248-af83-474e-b79b-656384b586c1",
      "name": "SQL Schema Generator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get the SQL schema and validation results from previous nodes\nconst sqlSchema = $input.first().json.sqlSchema || [];\nconst validationResults = $input.first().json.validationResults || {};\nconst schemaAnalysis = $input.first().json.schemaAnalysis || {};\n\n// Generate Data Dictionary\nconst dataDictionary = [];\n\nfor (const table of sqlSchema) {\n  const tableName = table.tableName;\n  const columns = table.columns || [];\n  \n  for (const column of columns) {\n    const dictEntry = {\n      tableName: tableName,\n      columnName: column.name,\n      dataType: column.type,\n      constraints: [],\n      sourceColumns: column.sourceColumns || [],\n      description: column.description || ''\n    };\n    \n    // Add constraints\n    if (column.primaryKey) {\n      dictEntry.constraints.push('PRIMARY KEY');\n    }\n    if (column.notNull) {\n      dictEntry.constraints.push('NOT NULL');\n    }\n    if (column.unique) {\n      dictEntry.constraints.push('UNIQUE');\n    }\n    if (column.foreignKey) {\n      dictEntry.constraints.push(`FOREIGN KEY -> ${column.foreignKey.table}.${column.foreignKey.column}`);\n    }\n    \n    dataDictionary.push(dictEntry);\n  }\n}\n\n// Generate ERD in Mermaid format\nlet erdDiagram = 'erDiagram\\n';\n\n// Add tables and their columns\nfor (const table of sqlSchema) {\n  const tableName = table.tableName;\n  erdDiagram += `  ${tableName} {\\n`;\n  \n  for (const column of table.columns || []) {\n    let columnDef = `    ${column.type} ${column.name}`;\n    \n    // Add key indicators\n    if (column.primaryKey) {\n      columnDef += ' PK';\n    }\n    if (column.foreignKey) {\n      columnDef += ' FK';\n    }\n    if (column.unique) {\n      columnDef += ' \"UNIQUE\"';\n    }\n    if (column.notNull) {\n      columnDef += ' \"NOT NULL\"';\n    }\n    \n    erdDiagram += columnDef + '\\n';\n  }\n  \n  erdDiagram += '  }\\n';\n}\n\n// Add relationships\nconst relationships = [];\nfor (const table of sqlSchema) {\n  for (const column of table.columns || []) {\n    if (column.foreignKey) {\n      const relationship = {\n        from: table.tableName,\n        to: column.foreignKey.table,\n        cardinality: column.foreignKey.cardinality || 'many-to-one'\n      };\n      relationships.push(relationship);\n    }\n  }\n}\n\n// Add relationship lines to ERD\nfor (const rel of relationships) {\n  let cardinalitySymbol = '';\n  \n  switch (rel.cardinality) {\n    case 'one-to-one':\n      cardinalitySymbol = '||--||';\n      break;\n    case 'one-to-many':\n      cardinalitySymbol = '||--o{';\n      break;\n    case 'many-to-one':\n      cardinalitySymbol = '}o--||';\n      break;\n    case 'many-to-many':\n      cardinalitySymbol = '}o--o{';\n      break;\n    default:\n      cardinalitySymbol = '}o--||';\n  }\n  \n  erdDiagram += `  ${rel.from} ${cardinalitySymbol} ${rel.to} : \"references\"\\n`;\n}\n\n// Return the results\nreturn [\n  {\n    json: {\n      dataDictionary: dataDictionary,\n      erdDiagram: erdDiagram,\n      sqlSchema: sqlSchema,\n      validationResults: validationResults,\n      schemaAnalysis: schemaAnalysis\n    }\n  }\n];"
      },
      "id": "69690041-8a10-4b20-ae88-cc68b9d21f0e",
      "name": "Generate Data Dictionary & ERD",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        96
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"sqlSchema\": {{ $json.sqlSchema }},\n  \"dataDictionary\": {{ $json.dataDictionary }},\n  \"erdDiagram\": {{ $json.erdDiagram }}\n}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "05046592-e455-4371-a259-675abd248f57",
      "name": "Return Results",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1696,
        96
      ]
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "rajeetcodeN",
    "name": "n8n_backup2"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2026-01-31T11:33:40.820Z",
      "createdAt": "2026-01-31T11:33:40.820Z",
      "role": "workflow:owner",
      "workflowId": "djFwKz0GTAyrsywl",
      "projectId": "7DfoImgKnNZiM78g"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-31T11:36:10.792Z",
  "versionId": "20c9faf2-ba99-4711-b299-d6fe0c9a1254"
}