AI-Powered Production Database Schema Generator from Excel and CSV Files.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "File Upload Webhook": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Check File Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check File Type": {
      "main": [
        [
          {
            "node": "Extract Excel Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract CSV Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Excel Data": {
      "main": [
        [
          {
            "node": "Merge Extracted Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract CSV Data": {
      "main": [
        [
          {
            "node": "Merge Extracted Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Extracted Data": {
      "main": [
        [
          {
            "node": "Compute File Hash & Profile Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute File Hash & Profile Data": {
      "main": [
        [
          {
            "node": "Column Profiling Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Column Profiling Engine": {
      "main": [
        [
          {
            "node": "Schema Reasoning Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI GPT-4": {
      "ai_languageModel": [
        [
          {
            "node": "Schema Reasoning Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Schema Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Schema Reasoning Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Schema Reasoning Agent": {
      "main": [
        [
          {
            "node": "Rules Validation Layer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rules Validation Layer": {
      "main": [
        [
          {
            "node": "Check Validation Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Validation Result": {
      "main": [
        [
          {
            "node": "Generate SQL DDL",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate ERD & Data Dictionary",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate Load Plan",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Revision Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Revision Feedback": {
      "main": [
        [
          {
            "node": "Schema Reasoning Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate SQL DDL": {
      "main": [
        [
          {
            "node": "Combine Final Outputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate ERD & Data Dictionary": {
      "main": [
        [
          {
            "node": "Combine Final Outputs",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Combine Final Outputs": {
      "main": [
        [
          {
            "node": "Explanation Agent (Optional)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI GPT-4 (Explanation)": {
      "ai_languageModel": [
        [
          {
            "node": "Explanation Agent (Optional)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Explanation Agent (Optional)": {
      "main": [
        [
          {
            "node": "Return Schema Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-31T11:31:11.342Z",
  "id": "Kc0wnLq1zBtZJQha",
  "isArchived": false,
  "meta": null,
  "name": "AI-Powered Production Database Schema Generator from Excel and CSV Files",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "schema-generator",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "a3c94946-cb50-481c-9d78-7f492d8327b3",
      "name": "File Upload Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1408,
        -256
      ],
      "webhookId": "9904117a-327d-4b9d-a879-a013345254b0"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "maxRevisionAttempts",
              "value": 3,
              "type": "number"
            },
            {
              "id": "id-2",
              "name": "minForeignKeyOverlap",
              "value": 0.7,
              "type": "number"
            },
            {
              "id": "id-3",
              "name": "confidenceThreshold",
              "value": 0.8,
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "6a9afd5a-c8b7-45cd-8fa6-77b982b5363a",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1184,
        -256
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ Object.keys($binary)[0].toLowerCase().includes('xls') }}",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8582771c-bd58-42ba-b0e7-cccbcd70150f",
      "name": "Check File Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -960,
        -256
      ]
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "headerRow": true,
          "includeEmptyCells": false,
          "rawData": false,
          "readAsString": false,
          "sheetName": ""
        }
      },
      "id": "61beaa28-ef39-46dd-9695-01a5a89fb94a",
      "name": "Extract Excel Data",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -736,
        -304
      ]
    },
    {
      "parameters": {
        "options": {
          "includeEmptyCells": true
        }
      },
      "id": "9d0e1f22-ec22-457d-92d9-848a87eb0ec8",
      "name": "Extract CSV Data",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -736,
        -112
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "0d2adfc4-ef98-4d7d-9e0b-f826ad813b1d",
      "name": "Merge Extracted Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -512,
        -256
      ]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\n// Get input items (extracted data from previous node)\nconst items = $input.all();\n\nif (!items || items.length === 0) {\n  return [{ json: { error: 'No input data received' } }];\n}\n\n// Extract the data array from the first item\nconst rawData = items[0].json.data || items[0].json || [];\n\nif (!Array.isArray(rawData) || rawData.length === 0) {\n  return [{ json: { error: 'No valid data array found' } }];\n}\n\n// Compute file hash from raw data\nconst dataString = JSON.stringify(rawData);\nconst fileHash = crypto.createHash('sha256').update(dataString).digest('hex');\n\n// Helper function to normalize values\nfunction normalizeValue(value) {\n  if (value === null || value === undefined || value === '') {\n    return null;\n  }\n  \n  // Convert to string for processing\n  let strValue = String(value).trim();\n  \n  // Normalize comma-separated numbers (e.g., \"1,234.56\" -> 1234.56)\n  if (/^[\\d,]+\\.?\\d*$/.test(strValue)) {\n    const numValue = parseFloat(strValue.replace(/,/g, ''));\n    if (!isNaN(numValue)) {\n      return numValue;\n    }\n  }\n  \n  // Detect and normalize date strings\n  const datePatterns = [\n    /^\\d{4}-\\d{2}-\\d{2}$/,  // YYYY-MM-DD\n    /^\\d{2}\\/\\d{2}\\/\\d{4}$/,  // MM/DD/YYYY\n    /^\\d{2}-\\d{2}-\\d{4}$/,  // DD-MM-YYYY\n  ];\n  \n  for (const pattern of datePatterns) {\n    if (pattern.test(strValue)) {\n      const date = new Date(strValue);\n      if (!isNaN(date.getTime())) {\n        return date.toISOString();\n      }\n    }\n  }\n  \n  return value;\n}\n\n// Helper function to detect value type\nfunction detectType(value) {\n  if (value === null || value === undefined || value === '') {\n    return 'null';\n  }\n  \n  if (typeof value === 'number') {\n    return Number.isInteger(value) ? 'integer' : 'float';\n  }\n  \n  if (typeof value === 'boolean') {\n    return 'boolean';\n  }\n  \n  const strValue = String(value).trim();\n  \n  // Check for number\n  if (/^-?[\\d,]+\\.?\\d*$/.test(strValue)) {\n    const num = parseFloat(strValue.replace(/,/g, ''));\n    if (!isNaN(num)) {\n      return Number.isInteger(num) ? 'integer' : 'float';\n    }\n  }\n  \n  // Check for date\n  const date = new Date(strValue);\n  if (!isNaN(date.getTime()) && strValue.length > 5) {\n    return 'date';\n  }\n  \n  // Check for boolean-like strings\n  if (['true', 'false', 'yes', 'no', 'y', 'n'].includes(strValue.toLowerCase())) {\n    return 'boolean';\n  }\n  \n  return 'string';\n}\n\n// Detect headers\nconst firstRow = rawData[0];\nconst keys = Object.keys(firstRow);\n\n// Check for header inconsistencies\nconst headerCandidates = keys.map(key => {\n  return {\n    original: key,\n    normalized: key.trim().toLowerCase().replace(/[^a-z0-9_]/g, '_'),\n    hasSpecialChars: /[^a-zA-Z0-9_\\s]/.test(key),\n    isEmpty: key.trim() === ''\n  };\n});\n\n// Normalize data and collect statistics\nconst normalizedData = [];\nconst columnStats = {};\nconst rowHashes = new Set();\nlet duplicateCount = 0;\n\nfor (const key of keys) {\n  columnStats[key] = {\n    types: {},\n    missingCount: 0,\n    totalCount: rawData.length,\n    uniqueValues: new Set(),\n    mixedTypes: false\n  };\n}\n\nfor (let i = 0; i < rawData.length; i++) {\n  const row = rawData[i];\n  const normalizedRow = {};\n  \n  // Create row hash for duplicate detection\n  const rowHash = crypto.createHash('md5').update(JSON.stringify(row)).digest('hex');\n  if (rowHashes.has(rowHash)) {\n    duplicateCount++;\n    continue; // Skip duplicate rows\n  }\n  rowHashes.add(rowHash);\n  \n  for (const key of keys) {\n    const rawValue = row[key];\n    const normalizedValue = normalizeValue(rawValue);\n    normalizedRow[key] = normalizedValue;\n    \n    // Update statistics\n    const stats = columnStats[key];\n    \n    if (normalizedValue === null) {\n      stats.missingCount++;\n    } else {\n      const type = detectType(normalizedValue);\n      stats.types[type] = (stats.types[type] || 0) + 1;\n      stats.uniqueValues.add(String(normalizedValue));\n    }\n  }\n  \n  normalizedData.push(normalizedRow);\n}\n\n// Determine type candidates and detect mixed types\nfor (const key of keys) {\n  const stats = columnStats[key];\n  const typeKeys = Object.keys(stats.types);\n  \n  if (typeKeys.length > 1) {\n    stats.mixedTypes = true;\n  }\n  \n  // Determine primary type (most common)\n  let primaryType = 'string';\n  let maxCount = 0;\n  \n  for (const [type, count] of Object.entries(stats.types)) {\n    if (count > maxCount) {\n      maxCount = count;\n      primaryType = type;\n    }\n  }\n  \n  stats.primaryType = primaryType;\n  stats.uniqueCount = stats.uniqueValues.size;\n  delete stats.uniqueValues; // Remove set for JSON serialization\n}\n\n// Get clean sample rows (first 100)\nconst sampleRows = normalizedData.slice(0, 100);\n\n// Prepare output\nconst output = {\n  fileHash,\n  totalRows: rawData.length,\n  cleanRows: normalizedData.length,\n  duplicateRows: duplicateCount,\n  headerCandidates,\n  columnStatistics: columnStats,\n  sampleRows,\n  summary: {\n    columnsWithMixedTypes: keys.filter(k => columnStats[k].mixedTypes),\n    columnsWithMissingValues: keys.filter(k => columnStats[k].missingCount > 0),\n    headerIssues: headerCandidates.filter(h => h.hasSpecialChars || h.isEmpty)\n  }\n};\n\nreturn [{ json: output }];"
      },
      "id": "ef6519b8-83c8-499e-9e3f-245b1809b188",
      "name": "Compute File Hash & Profile Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        -256
      ]
    },
    {
      "parameters": {
        "jsCode": "// Column Profiling Engine\n// Profiles each column: nulls, types, uniqueness, cardinality, sequences, IDs, foreign keys\n\nconst items = $input.all();\n\nif (!items || items.length === 0) {\n  return [{ json: { error: 'No input data to profile' } }];\n}\n\n// Helper function to detect data type\nfunction detectType(value) {\n  if (value === null || value === undefined || value === '') return 'null';\n  if (typeof value === 'number') return isNaN(value) ? 'null' : 'number';\n  if (typeof value === 'boolean') return 'boolean';\n  \n  const str = String(value).trim();\n  if (str === '') return 'null';\n  \n  // Check for number\n  if (!isNaN(str) && !isNaN(parseFloat(str))) return 'number';\n  \n  // Check for date\n  const datePatterns = [\n    /^\\d{4}-\\d{2}-\\d{2}$/,\n    /^\\d{2}\\/\\d{2}\\/\\d{4}$/,\n    /^\\d{4}\\/\\d{2}\\/\\d{2}$/\n  ];\n  if (datePatterns.some(pattern => pattern.test(str))) return 'date';\n  \n  // Check for email\n  if (/^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(str)) return 'email';\n  \n  // Check for URL\n  if (/^https?:\\/\\/.+/.test(str)) return 'url';\n  \n  return 'string';\n}\n\n// Helper function to check if sequence is monotonic\nfunction isMonotonic(values) {\n  if (values.length < 2) return false;\n  \n  let increasing = true;\n  let decreasing = true;\n  \n  for (let i = 1; i < values.length; i++) {\n    if (values[i] <= values[i - 1]) increasing = false;\n    if (values[i] >= values[i - 1]) decreasing = false;\n  }\n  \n  return increasing || decreasing;\n}\n\n// Extract all column names from all items\nconst allColumns = new Set();\nitems.forEach(item => {\n  Object.keys(item.json).forEach(col => allColumns.add(col));\n});\n\n// Profile each column\nconst columnProfiles = {};\n\nallColumns.forEach(columnName => {\n  const values = items.map(item => item.json[columnName]);\n  const totalCount = values.length;\n  \n  // Count nulls\n  const nullCount = values.filter(v => v === null || v === undefined || v === '').length;\n  const nullPercentage = (nullCount / totalCount) * 100;\n  \n  // Detect type distribution\n  const typeDistribution = {};\n  values.forEach(value => {\n    const type = detectType(value);\n    typeDistribution[type] = (typeDistribution[type] || 0) + 1;\n  });\n  \n  // Get dominant type\n  const dominantType = Object.entries(typeDistribution)\n    .filter(([type]) => type !== 'null')\n    .sort((a, b) => b[1] - a[1])[0]?.[0] || 'unknown';\n  \n  // Count unique values\n  const nonNullValues = values.filter(v => v !== null && v !== undefined && v !== '');\n  const uniqueValues = new Set(nonNullValues.map(v => String(v)));\n  const uniqueCount = uniqueValues.size;\n  const uniquePercentage = nonNullValues.length > 0 ? (uniqueCount / nonNullValues.length) * 100 : 0;\n  \n  // Infer cardinality level\n  let cardinalityLevel = 'unknown';\n  if (uniqueCount === 0) {\n    cardinalityLevel = 'empty';\n  } else if (uniqueCount === 1) {\n    cardinalityLevel = 'constant';\n  } else if (uniqueCount === nonNullValues.length) {\n    cardinalityLevel = 'unique';\n  } else if (uniqueCount <= 10) {\n    cardinalityLevel = 'low';\n  } else if (uniquePercentage < 5) {\n    cardinalityLevel = 'low';\n  } else if (uniquePercentage < 50) {\n    cardinalityLevel = 'medium';\n  } else {\n    cardinalityLevel = 'high';\n  }\n  \n  // Check if potential ID\n  const isPotentialId = (\n    uniqueCount === nonNullValues.length &&\n    uniqueCount > 0 &&\n    (columnName.toLowerCase().includes('id') ||\n     columnName.toLowerCase().includes('key') ||\n     columnName.toLowerCase().includes('code'))\n  );\n  \n  // Check if monotonic (for numeric values)\n  let isMonotonicSequence = false;\n  if (dominantType === 'number') {\n    const numericValues = nonNullValues\n      .map(v => parseFloat(v))\n      .filter(v => !isNaN(v))\n      .sort((a, b) => a - b);\n    isMonotonicSequence = isMonotonic(numericValues);\n  }\n  \n  // Store profile\n  columnProfiles[columnName] = {\n    columnName,\n    totalCount,\n    nullCount,\n    nullPercentage: Math.round(nullPercentage * 100) / 100,\n    typeDistribution,\n    dominantType,\n    uniqueCount,\n    uniquePercentage: Math.round(uniquePercentage * 100) / 100,\n    cardinalityLevel,\n    isPotentialId,\n    isMonotonic: isMonotonicSequence,\n    sampleValues: Array.from(uniqueValues).slice(0, 5)\n  };\n});\n\n// Detect foreign key candidates by comparing patterns across columns\nconst foreignKeyCandidates = {};\n\nconst columnNames = Object.keys(columnProfiles);\nfor (let i = 0; i < columnNames.length; i++) {\n  const col1 = columnNames[i];\n  const profile1 = columnProfiles[col1];\n  \n  // Skip if not a potential FK (must have reasonable cardinality)\n  if (profile1.cardinalityLevel === 'constant' || profile1.cardinalityLevel === 'empty') continue;\n  \n  const candidates = [];\n  \n  for (let j = 0; j < columnNames.length; j++) {\n    if (i === j) continue;\n    \n    const col2 = columnNames[j];\n    const profile2 = columnProfiles[col2];\n    \n    // Check if col1 values are subset of col2 values (FK relationship)\n    const values1 = new Set(items.map(item => String(item.json[col1])).filter(v => v && v !== 'null' && v !== 'undefined'));\n    const values2 = new Set(items.map(item => String(item.json[col2])).filter(v => v && v !== 'null' && v !== 'undefined'));\n    \n    if (values1.size === 0 || values2.size === 0) continue;\n    \n    // Calculate overlap\n    const intersection = new Set([...values1].filter(v => values2.has(v)));\n    const overlapPercentage = (intersection.size / values1.size) * 100;\n    \n    // If significant overlap and col2 has higher cardinality or is unique\n    if (overlapPercentage > 70 && \n        (profile2.isPotentialId || profile2.cardinalityLevel === 'unique' || profile2.uniqueCount >= profile1.uniqueCount)) {\n      candidates.push({\n        referencedColumn: col2,\n        overlapPercentage: Math.round(overlapPercentage * 100) / 100,\n        matchingValues: intersection.size\n      });\n    }\n  }\n  \n  if (candidates.length > 0) {\n    foreignKeyCandidates[col1] = candidates;\n  }\n}\n\n// Add foreign key candidates to profiles\nObject.keys(columnProfiles).forEach(col => {\n  columnProfiles[col].foreignKeyCandidates = foreignKeyCandidates[col] || [];\n});\n\n// Return comprehensive statistics\nreturn [{\n  json: {\n    columnProfiles,\n    summary: {\n      totalColumns: allColumns.size,\n      totalRows: items.length,\n      potentialIdColumns: Object.values(columnProfiles).filter(p => p.isPotentialId).map(p => p.columnName),\n      foreignKeyRelationships: Object.keys(foreignKeyCandidates).length,\n      profiledAt: new Date().toISOString()\n    },\n    rawData: items.map(item => item.json)\n  }\n}];"
      },
      "id": "36eeb3c5-a5a7-4bf5-9e92-1ce6a1888d7d",
      "name": "Column Profiling Engine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        -256
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.cleanSampleRows }} with column statistics: {{ $json.columnStats }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a database schema architect. Your task is to analyze data profiling results and generate a production-grade database schema.\n\nYou will receive:\n- Clean sample rows from Excel/CSV files\n- Column statistics (nulls, types, uniqueness, cardinality, potential IDs, FK candidates)\n- Header candidates and type suggestions\n\nYour responsibilities:\n1. Normalize all headers to canonical column names (snake_case, descriptive)\n2. Propose correct SQL types based on actual data (not assumptions)\n3. Group columns into logical tables following normalization principles\n4. Decide primary keys (must be unique in data)\n5. Decide foreign keys (only if >70% key overlap exists)\n6. Decide which columns should be indexed\n7. Decide nullable vs NOT NULL based on actual null counts\n8. Add check constraints based on value ranges\n\nCRITICAL RULES:\n- You CANNOT create columns not seen in the input data\n- You CANNOT invent values or relationships without evidence\n- You MUST base all decisions on the provided statistics\n- Primary keys MUST have 100% uniqueness in the data\n- Foreign keys require >70% overlapping values between tables\n\nReturn a complete schema proposal with tables, columns, types, constraints, and relationships."
        }
      },
      "id": "c30f3278-974d-4d55-a729-952c64f5f6d5",
      "name": "Schema Reasoning Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        160,
        -256
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "422b01e2-3d64-46c4-9a41-7094a760eece",
      "name": "OpenAI GPT-4",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        176,
        -32
      ]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"tables\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"table_name\": {\n            \"type\": \"string\"\n          },\n          \"columns\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"object\",\n              \"properties\": {\n                \"name\": {\n                  \"type\": \"string\"\n                },\n                \"sql_type\": {\n                  \"type\": \"string\"\n                },\n                \"nullable\": {\n                  \"type\": \"boolean\"\n                },\n                \"is_primary_key\": {\n                  \"type\": \"boolean\"\n                },\n                \"is_foreign_key\": {\n                  \"type\": \"boolean\"\n                },\n                \"references_table\": {\n                  \"type\": \"string\"\n                },\n                \"references_column\": {\n                  \"type\": \"string\"\n                },\n                \"check_constraint\": {\n                  \"type\": \"string\"\n                },\n                \"description\": {\n                  \"type\": \"string\"\n                }\n              },\n              \"required\": [\"name\", \"sql_type\", \"nullable\"]\n            }\n          },\n          \"primary_keys\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"string\"\n            }\n          },\n          \"foreign_keys\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"object\",\n              \"properties\": {\n                \"from_table\": {\n                  \"type\": \"string\"\n                },\n                \"from_column\": {\n                  \"type\": \"string\"\n                },\n                \"to_table\": {\n                  \"type\": \"string\"\n                },\n                \"to_column\": {\n                  \"type\": \"string\"\n                }\n              },\n              \"required\": [\"from_table\", \"from_column\", \"to_table\", \"to_column\"]\n            }\n          },\n          \"indexes\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"object\",\n              \"properties\": {\n                \"table_name\": {\n                  \"type\": \"string\"\n                },\n                \"columns\": {\n                  \"type\": \"array\",\n                  \"items\": {\n                    \"type\": \"string\"\n                  }\n                },\n                \"index_type\": {\n                  \"type\": \"string\"\n                }\n              },\n              \"required\": [\"table_name\", \"columns\"]\n            }\n          }\n        },\n        \"required\": [\"table_name\", \"columns\"]\n      }\n    },\n    \"reasoning\": {\n      \"type\": \"string\",\n      \"description\": \"Explanation of schema design decisions\"\n    }\n  },\n  \"required\": [\"tables\", \"reasoning\"]\n}"
      },
      "id": "ed53dee4-bc64-4a03-b989-4d220b843351",
      "name": "Schema Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        304,
        -32
      ]
    },
    {
      "parameters": {
        "jsCode": "// Rules Validation Layer\n// Validates the schema against business rules and data constraints\n\nconst items = $input.all();\nconst schemaData = items[0].json;\n\n// Extract schema and configuration\nconst schema = schemaData.schema || schemaData;\nconst config = schemaData.config || {};\nconst profileData = schemaData.profileData || {};\nconst rawData = schemaData.rawData || [];\n\n// Get minForeignKeyOverlap from config (default 0.7 = 70%)\nconst minForeignKeyOverlap = config.minForeignKeyOverlap || 0.7;\n\nconst errors = [];\nconst warnings = [];\n\n// Helper function to get column values from raw data\nfunction getColumnValues(columnName) {\n  if (!rawData || rawData.length === 0) return [];\n  return rawData.map(row => row[columnName]).filter(val => val !== null && val !== undefined && val !== '');\n}\n\n// Helper function to check for duplicates\nfunction hasDuplicates(values) {\n  const seen = new Set();\n  for (const val of values) {\n    if (seen.has(val)) return true;\n    seen.add(val);\n  }\n  return false;\n}\n\n// Helper function to infer decimal precision from data\nfunction inferDecimalPrecision(values) {\n  let maxPrecision = 0;\n  let maxScale = 0;\n  \n  for (const val of values) {\n    const numStr = String(val);\n    if (numStr.includes('.')) {\n      const parts = numStr.split('.');\n      const precision = numStr.replace('.', '').replace('-', '').length;\n      const scale = parts[1].length;\n      maxPrecision = Math.max(maxPrecision, precision);\n      maxScale = Math.max(maxScale, scale);\n    } else {\n      const precision = numStr.replace('-', '').length;\n      maxPrecision = Math.max(maxPrecision, precision);\n    }\n  }\n  \n  return { precision: maxPrecision, scale: maxScale };\n}\n\n// Helper function to check type compatibility\nfunction checkTypeMatch(columnName, declaredType, values) {\n  if (values.length === 0) return true;\n  \n  const typeChecks = {\n    'INTEGER': (v) => Number.isInteger(Number(v)),\n    'BIGINT': (v) => Number.isInteger(Number(v)),\n    'SMALLINT': (v) => Number.isInteger(Number(v)),\n    'DECIMAL': (v) => !isNaN(Number(v)),\n    'NUMERIC': (v) => !isNaN(Number(v)),\n    'FLOAT': (v) => !isNaN(Number(v)),\n    'DOUBLE': (v) => !isNaN(Number(v)),\n    'VARCHAR': (v) => typeof v === 'string' || v !== null,\n    'TEXT': (v) => typeof v === 'string' || v !== null,\n    'DATE': (v) => !isNaN(Date.parse(v)),\n    'TIMESTAMP': (v) => !isNaN(Date.parse(v)),\n    'BOOLEAN': (v) => typeof v === 'boolean' || v === 'true' || v === 'false' || v === 0 || v === 1\n  };\n  \n  const baseType = declaredType.split('(')[0].toUpperCase();\n  const checker = typeChecks[baseType];\n  \n  if (!checker) return true; // Unknown type, skip validation\n  \n  const mismatches = values.filter(v => !checker(v));\n  return mismatches.length === 0;\n}\n\n// Helper function to get value range\nfunction getValueRange(values) {\n  const numericValues = values.map(v => Number(v)).filter(v => !isNaN(v));\n  if (numericValues.length === 0) return null;\n  return {\n    min: Math.min(...numericValues),\n    max: Math.max(...numericValues)\n  };\n}\n\n// Validation 1: Check all columns exist in input data\nif (schema.tables && Array.isArray(schema.tables)) {\n  const availableColumns = rawData.length > 0 ? Object.keys(rawData[0]) : [];\n  \n  for (const table of schema.tables) {\n    if (table.columns && Array.isArray(table.columns)) {\n      for (const column of table.columns) {\n        if (!availableColumns.includes(column.name)) {\n          errors.push(`Column '${column.name}' in table '${table.name}' does not exist in input data`);\n        }\n      }\n    }\n  }\n}\n\n// Validation 2: Check types match actual data\nif (schema.tables && Array.isArray(schema.tables)) {\n  for (const table of schema.tables) {\n    if (table.columns && Array.isArray(table.columns)) {\n      for (const column of table.columns) {\n        const values = getColumnValues(column.name);\n        if (values.length > 0 && !checkTypeMatch(column.name, column.type, values)) {\n          errors.push(`Column '${column.name}' type '${column.type}' does not match actual data types`);\n        }\n      }\n    }\n  }\n}\n\n// Validation 3: Check FK relationships have >70% overlapping keys\nif (schema.tables && Array.isArray(schema.tables)) {\n  for (const table of schema.tables) {\n    if (table.foreignKeys && Array.isArray(table.foreignKeys)) {\n      for (const fk of table.foreignKeys) {\n        const fkValues = getColumnValues(fk.column);\n        const pkValues = getColumnValues(fk.references.column);\n        \n        if (fkValues.length > 0 && pkValues.length > 0) {\n          const pkSet = new Set(pkValues);\n          const matchingCount = fkValues.filter(v => pkSet.has(v)).length;\n          const overlapRatio = matchingCount / fkValues.length;\n          \n          if (overlapRatio < minForeignKeyOverlap) {\n            errors.push(`Foreign key '${fk.column}' -> '${fk.references.table}.${fk.references.column}' has only ${(overlapRatio * 100).toFixed(1)}% overlap (minimum ${(minForeignKeyOverlap * 100)}% required)`);\n          }\n        }\n      }\n    }\n  }\n}\n\n// Validation 4: Check for cycle relationships\nif (schema.tables && Array.isArray(schema.tables)) {\n  const buildGraph = () => {\n    const graph = {};\n    for (const table of schema.tables) {\n      graph[table.name] = [];\n      if (table.foreignKeys && Array.isArray(table.foreignKeys)) {\n        for (const fk of table.foreignKeys) {\n          graph[table.name].push(fk.references.table);\n        }\n      }\n    }\n    return graph;\n  };\n  \n  const detectCycle = (graph) => {\n    const visited = new Set();\n    const recStack = new Set();\n    const path = [];\n    \n    const dfs = (node) => {\n      visited.add(node);\n      recStack.add(node);\n      path.push(node);\n      \n      if (graph[node]) {\n        for (const neighbor of graph[node]) {\n          if (!visited.has(neighbor)) {\n            if (dfs(neighbor)) return true;\n          } else if (recStack.has(neighbor)) {\n            path.push(neighbor);\n            return true;\n          }\n        }\n      }\n      \n      path.pop();\n      recStack.delete(node);\n      return false;\n    };\n    \n    for (const node in graph) {\n      if (!visited.has(node)) {\n        if (dfs(node)) {\n          return path;\n        }\n      }\n    }\n    return null;\n  };\n  \n  const graph = buildGraph();\n  const cycle = detectCycle(graph);\n  \n  if (cycle) {\n    errors.push(`Circular foreign key relationship detected: ${cycle.join(' -> ')}`);\n  }\n}\n\n// Validation 5: Cannot choose PK for columns with duplicates\nif (schema.tables && Array.isArray(schema.tables)) {\n  for (const table of schema.tables) {\n    if (table.columns && Array.isArray(table.columns)) {\n      for (const column of table.columns) {\n        if (column.primaryKey) {\n          const values = getColumnValues(column.name);\n          if (values.length > 0 && hasDuplicates(values)) {\n            errors.push(`Column '${column.name}' is marked as primary key but contains duplicate values`);\n          }\n        }\n      }\n    }\n  }\n}\n\n// Validation 6: Decimal precision inferred from data\nif (schema.tables && Array.isArray(schema.tables)) {\n  for (const table of schema.tables) {\n    if (table.columns && Array.isArray(table.columns)) {\n      for (const column of table.columns) {\n        const baseType = column.type.split('(')[0].toUpperCase();\n        if (baseType === 'DECIMAL' || baseType === 'NUMERIC') {\n          const values = getColumnValues(column.name);\n          if (values.length > 0) {\n            const inferred = inferDecimalPrecision(values);\n            const declaredMatch = column.type.match(/\\((\\d+),\\s*(\\d+)\\)/);\n            \n            if (declaredMatch) {\n              const declaredPrecision = parseInt(declaredMatch[1]);\n              const declaredScale = parseInt(declaredMatch[2]);\n              \n              if (inferred.precision > declaredPrecision || inferred.scale > declaredScale) {\n                warnings.push(`Column '${column.name}' declared as ${column.type} but data requires DECIMAL(${inferred.precision}, ${inferred.scale})`);\n              }\n            }\n          }\n        }\n      }\n    }\n  }\n}\n\n// Validation 7: Check constraints match value ranges\nif (schema.tables && Array.isArray(schema.tables)) {\n  for (const table of schema.tables) {\n    if (table.columns && Array.isArray(table.columns)) {\n      for (const column of table.columns) {\n        if (column.constraints && Array.isArray(column.constraints)) {\n          const values = getColumnValues(column.name);\n          const range = getValueRange(values);\n          \n          for (const constraint of column.constraints) {\n            if (constraint.includes('>') || constraint.includes('<') || constraint.includes('BETWEEN')) {\n              if (range) {\n                // Extract numeric values from constraint\n                const numbers = constraint.match(/\\d+(\\.\\d+)?/g);\n                if (numbers) {\n                  const constraintValues = numbers.map(n => Number(n));\n                  \n                  if (constraint.includes('>') && !constraint.includes('>=')) {\n                    if (range.min <= constraintValues[0]) {\n                      warnings.push(`Column '${column.name}' has constraint '${constraint}' but data contains values <= ${constraintValues[0]}`);\n                    }\n                  } else if (constraint.includes('>=')) {\n                    if (range.min < constraintValues[0]) {\n                      warnings.push(`Column '${column.name}' has constraint '${constraint}' but data contains values < ${constraintValues[0]}`);\n                    }\n                  }\n                  \n                  if (constraint.includes('<') && !constraint.includes('<=')) {\n                    if (range.max >= constraintValues[constraintValues.length - 1]) {\n                      warnings.push(`Column '${column.name}' has constraint '${constraint}' but data contains values >= ${constraintValues[constraintValues.length - 1]}`);\n                    }\n                  } else if (constraint.includes('<=')) {\n                    if (range.max > constraintValues[constraintValues.length - 1]) {\n                      warnings.push(`Column '${column.name}' has constraint '${constraint}' but data contains values > ${constraintValues[constraintValues.length - 1]}`);\n                    }\n                  }\n                }\n              }\n            }\n          }\n        }\n      }\n    }\n  }\n}\n\n// Determine if validation passed\nconst isValid = errors.length === 0;\n\n// Return validation result\nreturn [{\n  json: {\n    ...schemaData,\n    validation: {\n      isValid,\n      errors,\n      warnings,\n      timestamp: new Date().toISOString()\n    }\n  }\n}];"
      },
      "id": "73fc0a0c-8210-433e-b099-38ee85a15d68",
      "name": "Rules Validation Layer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        -304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.validationResult.isValid }}",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6bffadec-0bf7-4d56-91d5-882f21f553be",
      "name": "Check Validation Result",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        736,
        -304
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "revisionFeedback",
              "value": "={{ 'Validation Errors: ' + JSON.stringify($('Rules Validation Layer').item.json.errors) + ' | Warnings: ' + JSON.stringify($('Rules Validation Layer').item.json.warnings) }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "attemptNumber",
              "value": "={{ ($json.attemptNumber || 0) + 1 }}",
              "type": "number"
            },
            {
              "id": "id-3",
              "name": "originalData",
              "value": "={{ JSON.stringify({ columnStats: $('Column Profiling Engine').item.json.columnStats, sampleRows: $('Column Profiling Engine').item.json.sampleRows }) }}",
              "type": "object"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "9e1ca991-1cc9-46b9-90b0-14c976c89741",
      "name": "Prepare Revision Feedback",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        -400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Generate Production-Grade SQL DDL from Validated Schema\n// This code creates comprehensive CREATE TABLE statements with all constraints\n\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const schema = item.json.validatedSchema || item.json.schema || item.json;\n  const tables = schema.tables || [];\n  const relationships = schema.relationships || [];\n  const metadata = schema.metadata || {};\n  \n  let ddl = [];\n  \n  // Add header comment\n  ddl.push('-- ========================================');\n  ddl.push('-- Production Database Schema DDL');\n  ddl.push(`-- Generated: ${new Date().toISOString()}`);\n  if (metadata.fileName) {\n    ddl.push(`-- Source File: ${metadata.fileName}`);\n  }\n  ddl.push('-- ========================================\\n');\n  \n  // Generate CREATE TABLE statements\n  for (const table of tables) {\n    ddl.push(`-- Table: ${table.name}`);\n    if (table.description) {\n      ddl.push(`-- Description: ${table.description}`);\n    }\n    ddl.push(`CREATE TABLE ${table.name} (`);\n    \n    const columnDefs = [];\n    const constraints = [];\n    \n    // Process columns\n    for (let i = 0; i < table.columns.length; i++) {\n      const col = table.columns[i];\n      let colDef = `    ${col.name} ${col.dataType}`;\n      \n      // Add length/precision if specified\n      if (col.length) {\n        colDef += `(${col.length})`;\n      } else if (col.precision && col.scale) {\n        colDef += `(${col.precision}, ${col.scale})`;\n      }\n      \n      // Add NOT NULL constraint\n      if (col.nullable === false || col.required === true) {\n        colDef += ' NOT NULL';\n      }\n      \n      // Add DEFAULT value\n      if (col.defaultValue !== undefined && col.defaultValue !== null) {\n        if (typeof col.defaultValue === 'string') {\n          colDef += ` DEFAULT '${col.defaultValue}'`;\n        } else {\n          colDef += ` DEFAULT ${col.defaultValue}`;\n        }\n      }\n      \n      // Add CHECK constraints\n      if (col.checkConstraint) {\n        colDef += ` CHECK (${col.checkConstraint})`;\n      }\n      \n      // Add column comment\n      if (col.description) {\n        colDef += ` -- ${col.description}`;\n      }\n      \n      columnDefs.push(colDef);\n    }\n    \n    // Add PRIMARY KEY constraint\n    const pkColumns = table.columns.filter(c => c.isPrimaryKey || c.primaryKey);\n    if (pkColumns.length > 0) {\n      const pkNames = pkColumns.map(c => c.name).join(', ');\n      constraints.push(`    PRIMARY KEY (${pkNames})`);\n    }\n    \n    // Add UNIQUE constraints\n    const uniqueColumns = table.columns.filter(c => c.isUnique || c.unique);\n    for (const col of uniqueColumns) {\n      constraints.push(`    UNIQUE (${col.name})`);\n    }\n    \n    // Combine columns and constraints\n    const allDefs = [...columnDefs, ...constraints];\n    ddl.push(allDefs.join(',\\n'));\n    ddl.push(');\\n');\n    \n    // Add table indexes\n    const indexedColumns = table.columns.filter(c => c.indexed || c.index);\n    for (const col of indexedColumns) {\n      if (!col.isPrimaryKey && !col.isUnique) {\n        ddl.push(`CREATE INDEX idx_${table.name}_${col.name} ON ${table.name}(${col.name});`);\n      }\n    }\n    \n    if (indexedColumns.length > 0) {\n      ddl.push('');\n    }\n  }\n  \n  // Generate FOREIGN KEY constraints\n  if (relationships && relationships.length > 0) {\n    ddl.push('-- Foreign Key Constraints');\n    ddl.push('-- Establishing referential integrity between tables\\n');\n    \n    for (const rel of relationships) {\n      const fkName = `fk_${rel.fromTable}_${rel.toTable}`;\n      ddl.push(`ALTER TABLE ${rel.fromTable}`);\n      ddl.push(`    ADD CONSTRAINT ${fkName}`);\n      ddl.push(`    FOREIGN KEY (${rel.fromColumn})`);\n      ddl.push(`    REFERENCES ${rel.toTable}(${rel.toColumn})`);\n      \n      // Add ON DELETE and ON UPDATE actions\n      const onDelete = rel.onDelete || 'NO ACTION';\n      const onUpdate = rel.onUpdate || 'NO ACTION';\n      ddl.push(`    ON DELETE ${onDelete}`);\n      ddl.push(`    ON UPDATE ${onUpdate};\\n`);\n    }\n  }\n  \n  // Add design decision comments\n  ddl.push('-- ========================================');\n  ddl.push('-- Design Decisions and Notes');\n  ddl.push('-- ========================================');\n  ddl.push('-- 1. All tables include appropriate primary keys for data integrity');\n  ddl.push('-- 2. Foreign keys enforce referential integrity between related tables');\n  ddl.push('-- 3. NOT NULL constraints prevent missing critical data');\n  ddl.push('-- 4. Indexes created on frequently queried columns for performance');\n  ddl.push('-- 5. Data types selected based on column profiling and business rules');\n  if (metadata.designNotes) {\n    ddl.push(`-- 6. Additional Notes: ${metadata.designNotes}`);\n  }\n  \n  const sqlDDL = ddl.join('\\n');\n  \n  results.push({\n    json: {\n      ...item.json,\n      sqlDDL: sqlDDL,\n      ddlGenerated: true,\n      generatedAt: new Date().toISOString(),\n      tableCount: tables.length,\n      relationshipCount: relationships.length\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "4e5464bb-44b0-4a35-a3a8-5bb8ca5a85c7",
      "name": "Generate SQL DDL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        -208
      ]
    },
    {
      "parameters": {
        "jsCode": "// Generate ERD & Data Dictionary from validated schema\nconst input = $input.all();\nconst schemaData = input[0].json;\n\n// Extract schema and profiling data\nconst schema = schemaData.schema || schemaData;\nconst tables = schema.tables || [];\nconst relationships = schema.relationships || [];\nconst profilingData = schemaData.profilingData || {};\n\n// Generate ERD Summary\nconst erdSummary = {\n  totalTables: tables.length,\n  totalRelationships: relationships.length,\n  tables: tables.map(table => ({\n    name: table.name,\n    description: table.description || '',\n    columnCount: table.columns ? table.columns.length : 0,\n    primaryKey: table.columns ? table.columns.find(col => col.isPrimaryKey)?.name : null\n  })),\n  relationships: relationships.map(rel => {\n    // Determine cardinality\n    let cardinality = '1:N'; // Default\n    if (rel.cardinality) {\n      cardinality = rel.cardinality;\n    } else if (rel.type === 'one-to-one') {\n      cardinality = '1:1';\n    } else if (rel.type === 'many-to-many') {\n      cardinality = 'N:M';\n    } else if (rel.type === 'one-to-many') {\n      cardinality = '1:N';\n    }\n    \n    return {\n      fromTable: rel.fromTable || rel.sourceTable,\n      toTable: rel.toTable || rel.targetTable,\n      fromColumn: rel.fromColumn || rel.sourceColumn,\n      toColumn: rel.toColumn || rel.targetColumn,\n      cardinality: cardinality,\n      relationshipType: rel.type || 'foreign-key',\n      description: rel.description || `${rel.fromTable} references ${rel.toTable}`\n    };\n  })\n};\n\n// Generate Complete Data Dictionary\nconst dataDictionary = [];\n\nfor (const table of tables) {\n  if (!table.columns) continue;\n  \n  for (const column of table.columns) {\n    // Get sample values from profiling data if available\n    let sampleValues = [];\n    if (profilingData[table.name] && profilingData[table.name][column.name]) {\n      const colProfile = profilingData[table.name][column.name];\n      sampleValues = colProfile.sampleValues || colProfile.uniqueValues || [];\n      // Limit to 5 samples\n      if (sampleValues.length > 5) {\n        sampleValues = sampleValues.slice(0, 5);\n      }\n    }\n    \n    // Build constraints list\n    const constraints = [];\n    if (column.isPrimaryKey) constraints.push('PRIMARY KEY');\n    if (column.isForeignKey) constraints.push('FOREIGN KEY');\n    if (column.isUnique) constraints.push('UNIQUE');\n    if (column.isNotNull || column.required) constraints.push('NOT NULL');\n    if (column.defaultValue) constraints.push(`DEFAULT: ${column.defaultValue}`);\n    if (column.maxLength) constraints.push(`MAX LENGTH: ${column.maxLength}`);\n    if (column.minValue !== undefined) constraints.push(`MIN: ${column.minValue}`);\n    if (column.maxValue !== undefined) constraints.push(`MAX: ${column.maxValue}`);\n    \n    dataDictionary.push({\n      tableName: table.name,\n      columnName: column.name,\n      dataType: column.type || column.dataType,\n      description: column.description || '',\n      constraints: constraints.join(', '),\n      nullable: column.isNotNull ? 'NO' : 'YES',\n      sampleValues: sampleValues,\n      businessMeaning: column.businessMeaning || column.description || ''\n    });\n  }\n}\n\n// Generate Mermaid ERD diagram code\nlet mermaidERD = 'erDiagram\\n';\n\n// Add tables with their columns\nfor (const table of tables) {\n  mermaidERD += `  ${table.name} {\\n`;\n  if (table.columns) {\n    for (const column of table.columns) {\n      const type = column.type || column.dataType || 'string';\n      let keyIndicator = '';\n      if (column.isPrimaryKey) keyIndicator = ' PK';\n      else if (column.isForeignKey) keyIndicator = ' FK';\n      mermaidERD += `    ${type} ${column.name}${keyIndicator}\\n`;\n    }\n  }\n  mermaidERD += `  }\\n`;\n}\n\n// Add relationships\nfor (const rel of relationships) {\n  const fromTable = rel.fromTable || rel.sourceTable;\n  const toTable = rel.toTable || rel.targetTable;\n  let relationshipSymbol = '||--o{';\n  \n  // Map cardinality to Mermaid symbols\n  if (rel.cardinality === '1:1') {\n    relationshipSymbol = '||--||';\n  } else if (rel.cardinality === 'N:M') {\n    relationshipSymbol = '}o--o{';\n  } else if (rel.cardinality === '1:N') {\n    relationshipSymbol = '||--o{';\n  }\n  \n  const label = rel.description || 'references';\n  mermaidERD += `  ${fromTable} ${relationshipSymbol} ${toTable} : \"${label}\"\\n`;\n}\n\n// Return comprehensive ERD and data dictionary\nreturn [{\n  json: {\n    erdSummary: erdSummary,\n    dataDictionary: dataDictionary,\n    mermaidERD: mermaidERD,\n    metadata: {\n      generatedAt: new Date().toISOString(),\n      totalTables: tables.length,\n      totalColumns: dataDictionary.length,\n      totalRelationships: relationships.length\n    }\n  }\n}];"
      },
      "id": "337cefa9-1996-4b6f-8948-fb1e37a72454",
      "name": "Generate ERD & Data Dictionary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        -16
      ]
    },
    {
      "parameters": {
        "jsCode": "// Generate Load Plan with dependency analysis and insertion order\n\nconst items = $input.all();\nconst schemaData = items[0].json;\n\n// Extract tables and relationships from schema\nconst tables = schemaData.schema?.tables || [];\nconst relationships = schemaData.schema?.relationships || [];\n\n// Build dependency graph\nfunction buildDependencyGraph(tables, relationships) {\n  const graph = {};\n  const inDegree = {};\n  \n  // Initialize graph with all tables\n  tables.forEach(table => {\n    graph[table.name] = [];\n    inDegree[table.name] = 0;\n  });\n  \n  // Build edges based on foreign key relationships\n  relationships.forEach(rel => {\n    if (rel.type === 'foreign_key') {\n      // Child table depends on parent table\n      const childTable = rel.from_table;\n      const parentTable = rel.to_table;\n      \n      if (graph[parentTable] && !graph[parentTable].includes(childTable)) {\n        graph[parentTable].push(childTable);\n        inDegree[childTable]++;\n      }\n    }\n  });\n  \n  return { graph, inDegree };\n}\n\n// Topological sort to determine load order\nfunction topologicalSort(graph, inDegree) {\n  const queue = [];\n  const result = [];\n  const visited = new Set();\n  \n  // Find all nodes with no dependencies\n  Object.keys(inDegree).forEach(table => {\n    if (inDegree[table] === 0) {\n      queue.push(table);\n    }\n  });\n  \n  while (queue.length > 0) {\n    const current = queue.shift();\n    result.push(current);\n    visited.add(current);\n    \n    // Process dependent tables\n    (graph[current] || []).forEach(dependent => {\n      inDegree[dependent]--;\n      if (inDegree[dependent] === 0) {\n        queue.push(dependent);\n      }\n    });\n  }\n  \n  return result;\n}\n\n// Detect circular dependencies\nfunction detectCircularDependencies(tables, sortedOrder) {\n  const circular = [];\n  tables.forEach(table => {\n    if (!sortedOrder.includes(table.name)) {\n      circular.push(table.name);\n    }\n  });\n  return circular;\n}\n\n// Generate batch recommendations\nfunction generateBatchRecommendations(sortedOrder, tables) {\n  const batches = [];\n  let currentBatch = [];\n  \n  sortedOrder.forEach((tableName, index) => {\n    const table = tables.find(t => t.name === tableName);\n    currentBatch.push(tableName);\n    \n    // Create batches of 5 tables or at natural dependency breaks\n    if (currentBatch.length >= 5 || index === sortedOrder.length - 1) {\n      batches.push([...currentBatch]);\n      currentBatch = [];\n    }\n  });\n  \n  return batches;\n}\n\n// Generate Mermaid diagram for dependency visualization\nfunction generateDependencyDiagram(graph, sortedOrder) {\n  let mermaid = 'graph TD\\n';\n  \n  sortedOrder.forEach(table => {\n    const dependencies = graph[table] || [];\n    if (dependencies.length === 0) {\n      mermaid += `  ${table}[${table}]\\n`;\n    } else {\n      dependencies.forEach(dep => {\n        mermaid += `  ${table}[${table}] --> ${dep}[${dep}]\\n`;\n      });\n    }\n  });\n  \n  return mermaid;\n}\n\n// Build the dependency graph\nconst { graph, inDegree } = buildDependencyGraph(tables, relationships);\n\n// Get topological sort order\nconst loadOrder = topologicalSort(graph, JSON.parse(JSON.stringify(inDegree)));\n\n// Detect circular dependencies\nconst circularDeps = detectCircularDependencies(tables, loadOrder);\n\n// Generate batch recommendations\nconst batches = generateBatchRecommendations(loadOrder, tables);\n\n// Generate dependency diagram\nconst dependencyDiagram = generateDependencyDiagram(graph, loadOrder);\n\n// Create detailed load plan\nconst loadPlan = {\n  load_order: loadOrder,\n  total_tables: tables.length,\n  batches: batches.map((batch, index) => ({\n    batch_number: index + 1,\n    tables: batch,\n    description: `Load batch ${index + 1} - ${batch.length} table(s)`\n  })),\n  circular_dependencies: circularDeps.length > 0 ? {\n    detected: true,\n    tables: circularDeps,\n    resolution_strategy: \"Disable foreign key constraints temporarily, load data, then re-enable constraints\"\n  } : {\n    detected: false,\n    message: \"No circular dependencies detected\"\n  },\n  dependency_graph: dependencyDiagram,\n  recommendations: [\n    \"Load tables in the specified order to satisfy foreign key constraints\",\n    \"Use batch processing for large datasets (recommended batch size: 1000-5000 rows)\",\n    \"Disable indexes before bulk load and rebuild after completion for better performance\",\n    \"Use transactions for each batch to ensure data consistency\",\n    circularDeps.length > 0 ? \"Handle circular dependencies by temporarily disabling FK constraints\" : \"No circular dependencies to handle\",\n    \"Validate data integrity after load completion\",\n    \"Consider parallel loading for independent tables (tables with no dependencies)\"\n  ],\n  insertion_strategy: {\n    independent_tables: loadOrder.filter(table => inDegree[table] === 0),\n    dependent_tables: loadOrder.filter(table => inDegree[table] > 0),\n    parallel_load_possible: loadOrder.filter(table => inDegree[table] === 0).length > 1\n  }\n};\n\n// Return the load plan\nreturn [{\n  json: {\n    ...schemaData,\n    load_plan: loadPlan\n  }\n}];"
      },
      "id": "4d0dac52-0db6-4b81-b3a8-456a6d6ba2a7",
      "name": "Generate Load Plan",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        176
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "89786d14-820e-4dfe-918d-5e0e58cae6df",
      "name": "Combine Final Outputs",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1184,
        -128
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userQuestion || \"Provide a summary of the generated schema and key design decisions.\" }}",
        "options": {
          "systemMessage": "You are a database schema expert providing explanations to clients.\n\nYou have access to:\n- The complete generated schema (SQL DDL, ERD, data dictionary, load plan)\n- Original data profiling statistics\n- Design decisions and reasoning\n\nAnswer questions like:\n- \"Why did you choose customer_id as FK?\"\n- \"Which columns were merged and why?\"\n- \"What are possible issues in this schema?\"\n- \"Suggest index improvements\"\n- \"Explain the normalization decisions\"\n\nProvide clear, professional explanations that justify design choices with data evidence."
        }
      },
      "id": "7809362f-7540-4682-ade1-655cd6039d03",
      "name": "Explanation Agent (Optional)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1408,
        -128
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "9ab96f7f-70ea-4677-98c5-5285e237ea19",
      "name": "OpenAI GPT-4 (Explanation)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1488,
        96
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"schema\": {\n    \"sqlDDL\": {{ $json.sqlDDL }},\n    \"erdSummary\": {{ $json.erdSummary }},\n    \"dataDictionary\": {{ $json.dataDictionary }},\n    \"loadPlan\": {{ $json.loadPlan }},\n    \"aiExplanation\": {{ $json.explanation || null }}\n  },\n  \"metadata\": {\n    \"generatedAt\": {{ new Date().toISOString() }},\n    \"fileHash\": {{ $json.fileHash || null }}\n  }\n}",
        "options": {}
      },
      "id": "2b22386e-820e-49e3-aca4-06a7bb065375",
      "name": "Return Schema Results",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1760,
        -128
      ]
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "rajeetcodeN",
    "name": "n8n_backup2"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2026-01-31T11:31:11.350Z",
      "createdAt": "2026-01-31T11:31:11.350Z",
      "role": "workflow:owner",
      "workflowId": "Kc0wnLq1zBtZJQha",
      "projectId": "7DfoImgKnNZiM78g"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-31T11:35:11.702Z",
  "versionId": "88ffb6ed-fa4c-4ee8-84c3-34fabb231fa4"
}