AI-Powered Lead Capture to CRM Sales Automation with Intelligent Scoring and Multi-Channel Follow-up.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Lead Form Webhook": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Validate Required Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Required Fields": {
      "main": [
        [
          {
            "node": "Normalize Lead Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Validation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Lead Data": {
      "main": [
        [
          {
            "node": "AI Lead Enrichment & Scoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Lead Enrichment & Scoring",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Lead Enrichment & Scoring",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Lead Enrichment & Scoring": {
      "main": [
        [
          {
            "node": "Store Lead in Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Lead in Database": {
      "main": [
        [
          {
            "node": "Round-Robin Sales Assignment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Round-Robin Sales Assignment": {
      "main": [
        [
          {
            "node": "Send to CRM",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Salesforce Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to CRM": {
      "main": [
        [
          {
            "node": "Send Welcome Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Welcome Email": {
      "main": [
        [
          {
            "node": "Notify Sales Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Sales Team": {
      "main": [
        [
          {
            "node": "Log Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Salesforce Lead": {
      "main": [
        [
          {
            "node": "Send to CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-29T14:21:13.086Z",
  "id": "mwnt4hRnKWvICL0Y",
  "isArchived": false,
  "meta": null,
  "name": "AI-Powered Lead Capture to CRM Sales Automation with Intelligent Scoring and Multi-Channel Follow-up",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-capture",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "763d83a2-1621-4e3e-91ea-b83323fa9521",
      "name": "Lead Form Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        3440,
        3320
      ],
      "webhookId": "9f4307a8-50cb-47bd-b7ce-d0f0e8bd3145"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "crmApiUrl",
              "value": "<__PLACEHOLDER_VALUE__CRM API endpoint URL (HubSpot or GoHighLevel)__>",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "slackChannel",
              "value": "<__PLACEHOLDER_VALUE__Slack channel ID for notifications__>",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "salesReps",
              "value": "[\"rep1@company.com\", \"rep2@company.com\", \"rep3@company.com\"]",
              "type": "array"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "da35b1d9-c0a1-4edf-b205-0ec9d1977a14",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3664,
        3320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.body.name }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "id-2",
              "leftValue": "={{ $json.body.email }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "188c247c-5904-47c2-bf24-b1e71f158a30",
      "name": "Validate Required Fields",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3888,
        3320
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "name",
              "value": "={{ $json.body.name }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "phone",
              "value": "={{ $json.body.phone || '' }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "company",
              "value": "={{ $json.body.company || '' }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "message",
              "value": "={{ $json.body.message || '' }}",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "ce94ae0a-7ade-4a67-8424-d7ad9e453b3f",
      "name": "Normalize Lead Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4112,
        3224
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Lead Information:\nName: {{ $json.name }}\nEmail: {{ $json.email }}\nPhone: {{ $json.phone }}\nCompany: {{ $json.company }}\nMessage: {{ $json.message }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a lead qualification and enrichment AI assistant.\n\nYour task is to:\n1. Classify the lead as hot, warm, or cold based on the provided information\n2. Analyze the lead quality and intent\n3. Provide enrichment insights about the company and potential value\n\nClassification criteria:\n- HOT: Clear buying intent, decision-maker role, established company, specific needs mentioned\n- WARM: Some interest shown, relevant company, but needs nurturing\n- COLD: Generic inquiry, unclear intent, or low-quality information\n\nReturn your analysis in the structured format defined by the output parser."
        }
      },
      "id": "5c9ddd19-206c-45cf-8791-96f9a72d4f84",
      "name": "AI Lead Enrichment & Scoring",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        4336,
        3224
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "4f4c44a2-b8cb-4954-b885-7ddf7e3ceee3",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        4344,
        3448
      ],
      "credentials": {
        "openAiApi": {
          "id": "zHMgvi1Nu77MFY12",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"leadScore\": {\n      \"type\": \"string\",\n      \"enum\": [\"hot\", \"warm\", \"cold\"],\n      \"description\": \"Lead classification\"\n    },\n    \"scoreReason\": {\n      \"type\": \"string\",\n      \"description\": \"Explanation for the score\"\n    },\n    \"estimatedValue\": {\n      \"type\": \"number\",\n      \"description\": \"Estimated deal value in USD\"\n    },\n    \"companyInsights\": {\n      \"type\": \"string\",\n      \"description\": \"Insights about the company\"\n    },\n    \"recommendedAction\": {\n      \"type\": \"string\",\n      \"description\": \"Next steps for sales team\"\n    }\n  },\n  \"required\": [\"leadScore\", \"scoreReason\", \"estimatedValue\", \"recommendedAction\"]\n}"
      },
      "id": "3dce2598-1990-4f2e-93db-57d341570dc0",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        4472,
        3448
      ]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "name",
          "value": "leads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.name }}",
            "email": "={{ $json.email }}",
            "phone": "={{ $json.phone }}",
            "company": "={{ $json.company }}",
            "message": "={{ $json.message }}",
            "lead_score": "={{ $json.output.leadScore }}",
            "score_reason": "={{ $json.output.scoreReason }}",
            "estimated_value": "={{ $json.output.estimatedValue }}",
            "company_insights": "={{ $json.output.companyInsights }}",
            "recommended_action": "={{ $json.output.recommendedAction }}",
            "created_at": "={{ $json.timestamp }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "58b00216-49f7-4458-8e81-b76d025b8ff8",
      "name": "Store Lead in Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4688,
        3224
      ],
      "credentials": {
        "postgres": {
          "id": "yGwZ0IHTkODL3IL8",
          "name": "Postgres account dbt rn"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Round-robin sales rep assignment\nconst salesReps = $('Workflow Configuration').first().json.salesReps;\nconst currentIndex = $execution.customData.get('salesRepIndex') || 0;\nconst assignedRep = salesReps[currentIndex % salesReps.length];\n\n// Update index for next execution\n$execution.customData.set('salesRepIndex', currentIndex + 1);\n\nreturn {\n  ...items[0].json,\n  assignedSalesRep: assignedRep\n};"
      },
      "id": "71c5933e-2ded-4ad5-88c0-e5b0347c1386",
      "name": "Round-Robin Sales Assignment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4912,
        3224
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Workflow Configuration').first().json.crmApiUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "<__PLACEHOLDER_VALUE__CRM API key or Bearer token__>"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"email\": \"{{ $json.email }}\",\n    \"firstname\": \"{{ $json.name.split(' ')[0] }}\",\n    \"lastname\": \"{{ $json.name.split(' ').slice(1).join(' ') }}\",\n    \"phone\": \"{{ $json.phone }}\",\n    \"company\": \"{{ $json.company }}\",\n    \"lead_score\": \"{{ $json.output.leadScore }}\",\n    \"estimated_value\": \"{{ $json.output.estimatedValue }}\",\n    \"hubspot_owner_id\": \"{{ $json.assignedSalesRep }}\"\n  }\n}",
        "options": {}
      },
      "id": "4860b4ef-630e-43c8-b190-ea3d1f1491e1",
      "name": "Send to CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5360,
        3224
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "Welcome! We received your inquiry",
        "message": "=<html>\n<body>\n<h2>Thank you for reaching out!</h2>\n<p>Hi {{ $json.name }},</p>\n<p>We've received your inquiry and our team is reviewing it. Based on your information, we've assigned {{ $json.assignedSalesRep }} to assist you.</p>\n<p>You can expect to hear from us within 24 hours.</p>\n<p>Best regards,<br>Sales Team</p>\n</body>\n</html>",
        "options": {}
      },
      "id": "ec827720-2d31-4800-a870-49a4e3f9249f",
      "name": "Send Welcome Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        5584,
        3224
      ],
      "webhookId": "e69dc984-8382-478d-bc96-50e9b6b44f9a"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Workflow Configuration').first().json.slackChannel }}"
        },
        "text": "=🎯 *New Lead Alert - {{ $json.output.leadScore.toUpperCase() }}*\n\n*Lead Details:*\n• Name: {{ $json.name }}\n• Email: {{ $json.email }}\n• Company: {{ $json.company }}\n• Phone: {{ $json.phone }}\n\n*AI Analysis:*\n• Score: {{ $json.output.leadScore }}\n• Estimated Value: ${{ $json.output.estimatedValue }}\n• Reason: {{ $json.output.scoreReason }}\n\n*Assignment:*\n• Assigned to: {{ $json.assignedSalesRep }}\n• Action: {{ $json.output.recommendedAction }}\n\n*Company Insights:*\n{{ $json.output.companyInsights }}",
        "otherOptions": {}
      },
      "id": "9ad1542a-dc50-4128-bbde-7cb1f788ccfa",
      "name": "Notify Sales Team",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        5808,
        3224
      ],
      "webhookId": "7cfc1e2f-93ac-4959-9e80-3e75d4c51fae"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "name",
          "value": "activity_log"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_email": "={{ $json.email }}",
            "activity_type": "lead_processed",
            "lead_score": "={{ $json.output.leadScore }}",
            "assigned_rep": "={{ $json.assignedSalesRep }}",
            "crm_synced": true,
            "email_sent": true,
            "slack_notified": true,
            "timestamp": "={{ $now.toISO() }}"
          }
        },
        "options": {}
      },
      "id": "dcfb6882-1561-453b-8678-6283b838d380",
      "name": "Log Activity",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        6032,
        3224
      ],
      "credentials": {
        "postgres": {
          "id": "yGwZ0IHTkODL3IL8",
          "name": "Postgres account dbt rn"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "error",
              "value": "Missing required fields: name or email",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "status",
              "value": "validation_failed",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "7e762f3e-553f-4138-94b0-71861936d9a9",
      "name": "Handle Validation Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4112,
        3416
      ]
    },
    {
      "parameters": {
        "company": "={{ $json.company || 'Unknown' }}",
        "lastname": "={{ $json.name.split(' ').slice(1).join(' ') || $json.name }}",
        "additionalFields": {
          "description": "={{ $json.message }}",
          "email": "={{ $json.email }}",
          "firstname": "={{ $json.name.split(' ')[0] }}",
          "leadSource": "Web Form",
          "owner": "={{ $json.assignedSalesRep }}",
          "phone": "={{ $json.phone }}",
          "rating": "={{ $json.output.leadScore === 'hot' ? 'Hot' : ($json.output.leadScore === 'warm' ? 'Warm' : 'Cold') }}",
          "status": "={{ $json.output.leadScore === 'hot' ? 'Working - Contacted' : ($json.output.leadScore === 'warm' ? 'Open - Not Contacted' : 'Unqualified') }}"
        }
      },
      "id": "556c0f87-6d3d-456a-aa8e-9c06c2cc613d",
      "name": "Create Salesforce Lead",
      "type": "n8n-nodes-base.salesforce",
      "typeVersion": 1,
      "position": [
        5136,
        3152
      ]
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "rajeetcodeN",
    "name": "n8n_backup2"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2026-03-29T14:21:13.091Z",
      "createdAt": "2026-03-29T14:21:13.091Z",
      "role": "workflow:owner",
      "workflowId": "mwnt4hRnKWvICL0Y",
      "projectId": "7DfoImgKnNZiM78g"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-03-29T14:27:47.427Z",
  "versionId": "50dc24a2-6bc5-4268-bfaa-f8b60e2ac5ea"
}