Automated Appointment Booking with Calendar Integration and Smart Reminders.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Booking Request Webhook": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Parse Booking Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Booking Data": {
      "main": [
        [
          {
            "node": "Check Calendar Availability",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Calendar Availability": {
      "main": [
        [
          {
            "node": "Check for Conflicts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Conflicts": {
      "main": [
        [
          {
            "node": "Is Available?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Available?": {
      "main": [
        [
          {
            "node": "Create Calendar Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Find Alternative Slots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Calendar Event": {
      "main": [
        [
          {
            "node": "Send Confirmation Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Confirmation Email": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait 24 Hours Before",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Alternative Slots": {
      "main": [
        [
          {
            "node": "Send Alternative Slots Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Alternative Slots Email": {
      "main": [
        [
          {
            "node": "Respond Unavailable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 24 Hours Before": {
      "main": [
        [
          {
            "node": "Send 24h Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send 24h Reminder": {
      "main": [
        [
          {
            "node": "Wait 1 Hour Before",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 1 Hour Before": {
      "main": [
        [
          {
            "node": "Send 1h Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-29T14:52:50.990Z",
  "id": "Ut9qhci9Y4pgFD3u",
  "isArchived": false,
  "meta": null,
  "name": "Automated Appointment Booking with Calendar Integration and Smart Reminders",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "booking",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "c35bf5b1-2a57-4ab2-84a7-aad033f9f880",
      "name": "Booking Request Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1792,
        192
      ],
      "webhookId": "0d8c6146-0619-4a91-8030-5cf18e2f2fd4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "calendarId",
              "value": "<__PLACEHOLDER_VALUE__Your Google Calendar ID__>",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "appointmentDuration",
              "value": 60,
              "type": "number"
            },
            {
              "id": "id-3",
              "name": "businessHoursStart",
              "value": 9,
              "type": "number"
            },
            {
              "id": "id-4",
              "name": "businessHoursEnd",
              "value": 17,
              "type": "number"
            },
            {
              "id": "id-5",
              "name": "senderEmail",
              "value": "<__PLACEHOLDER_VALUE__Your email address for sending confirmations__>",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "5490f13c-400d-4a26-8300-8184ad73dc72",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1568,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse and validate booking request data from webhook\nconst items = $input.all();\nconst output = [];\n\nfor (const item of items) {\n  const body = item.json.body || item.json;\n  \n  // Extract booking fields\n  const name = body.name || '';\n  const email = body.email || '';\n  const requestedDate = body.requestedDate || '';\n  const requestedTime = body.requestedTime || '';\n  const notes = body.notes || '';\n  \n  // Validate required fields\n  const errors = [];\n  \n  if (!name || name.trim() === '') {\n    errors.push('Name is required');\n  }\n  \n  if (!email || email.trim() === '') {\n    errors.push('Email is required');\n  } else if (!/^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(email)) {\n    errors.push('Invalid email format');\n  }\n  \n  if (!requestedDate || requestedDate.trim() === '') {\n    errors.push('Requested date is required');\n  }\n  \n  if (!requestedTime || requestedTime.trim() === '') {\n    errors.push('Requested time is required');\n  }\n  \n  // Create output object\n  const bookingData = {\n    name: name.trim(),\n    email: email.trim(),\n    requestedDate: requestedDate.trim(),\n    requestedTime: requestedTime.trim(),\n    notes: notes.trim(),\n    isValid: errors.length === 0,\n    validationErrors: errors,\n    rawData: body\n  };\n  \n  output.push({\n    json: bookingData\n  });\n}\n\nreturn output;"
      },
      "id": "c8eaf5e4-2f08-472f-8c2a-54fa152e94f9",
      "name": "Parse Booking Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1344,
        192
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Workflow Configuration').first().json.calendarId }}"
        },
        "returnAll": true,
        "options": {}
      },
      "id": "f6a01820-7fa2-4c69-b162-8ea154874b6e",
      "name": "Check Calendar Availability",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -1120,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get the calendar events from the previous node\nconst calendarEvents = $('Check Calendar Availability').all();\n\n// Get the requested booking time from the parsed data\nconst requestedStart = $('Parse Booking Data').item.json.startTime;\nconst requestedEnd = $('Parse Booking Data').item.json.endTime;\n\n// Check if there are any conflicting events\nlet hasConflict = false;\nlet conflictingEvents = [];\n\nif (calendarEvents && calendarEvents.length > 0) {\n  for (const event of calendarEvents) {\n    if (event.json && event.json.start && event.json.end) {\n      const eventStart = new Date(event.json.start.dateTime || event.json.start.date);\n      const eventEnd = new Date(event.json.end.dateTime || event.json.end.date);\n      const reqStart = new Date(requestedStart);\n      const reqEnd = new Date(requestedEnd);\n      \n      // Check for overlap: events conflict if they overlap in any way\n      if (reqStart < eventEnd && reqEnd > eventStart) {\n        hasConflict = true;\n        conflictingEvents.push({\n          summary: event.json.summary,\n          start: event.json.start.dateTime || event.json.start.date,\n          end: event.json.end.dateTime || event.json.end.date\n        });\n      }\n    }\n  }\n}\n\n// Return the result\nreturn [{\n  json: {\n    isAvailable: !hasConflict,\n    hasConflict: hasConflict,\n    requestedStart: requestedStart,\n    requestedEnd: requestedEnd,\n    conflictingEvents: conflictingEvents,\n    totalEventsChecked: calendarEvents.length\n  }\n}];"
      },
      "id": "74fa4763-4149-4b7d-869d-c8aaa33e6f5a",
      "name": "Check for Conflicts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -896,
        192
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $('Check for Conflicts').item.json.isAvailable }}",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "aea040ac-1719-44ad-b2d7-889e432ad53f",
      "name": "Is Available?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -672,
        192
      ]
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Workflow Configuration').first().json.calendarId }}"
        },
        "start": "={{ $json.requestedDateTime }}",
        "end": "={{ new Date(new Date($json.requestedDateTime).getTime() + $('Workflow Configuration').first().json.appointmentDuration*60*1000).toISOString() }}",
        "additionalFields": {
          "attendees": [
            "={{ $json.email }}"
          ],
          "description": "={{ $json.notes }}",
          "summary": "=Appointment with {{ $json.name }}"
        }
      },
      "id": "300a62c4-f972-40bf-a649-527f74e901b6",
      "name": "Create Calendar Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -448,
        96
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=Appointment Confirmed - {{ new Date($json.requestedDateTime).toLocaleString() }}",
        "message": "=<p>Dear {{ $json.name }},</p>\n\n<p>Your appointment has been confirmed!</p>\n\n<p><strong>Appointment Details:</strong></p>\n<ul>\n  <li><strong>Date & Time:</strong> {{ new Date($json.requestedDateTime).toLocaleString() }}</li>\n  <li><strong>Duration:</strong> {{ $json.duration || '30' }} minutes</li>\n</ul>\n\n<p>A calendar invitation has been sent to your email. You can also view the event in your calendar using the link below:</p>\n\n<p><a href=\"{{ $('Create Calendar Event').item.json.htmlLink }}\">View Calendar Event</a></p>\n\n<p>If you need to reschedule or cancel, please contact us as soon as possible.</p>\n\n<p>We look forward to seeing you!</p>\n\n<p>Best regards,<br>Your Team</p>",
        "options": {
          "senderName": "={{ $('Workflow Configuration').first().json.senderEmail }}"
        }
      },
      "id": "22531382-1d96-4118-b832-58143b3e7874",
      "name": "Send Confirmation Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -224,
        96
      ],
      "webhookId": "eebd3b07-d80b-47dc-a9ed-b01a9bd3ef40"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"message\": \"Booking confirmed successfully\"\n}",
        "options": {}
      },
      "id": "e6fa5337-d941-47e1-9d65-73a65f062394",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get the requested booking time from the previous node\nconst requestedTime = new Date($('Parse Booking Data').item.json.bookingTime);\n\n// Business hours configuration\nconst businessHours = {\n  start: 9, // 9 AM\n  end: 17   // 5 PM\n};\nconst slotDuration = 60; // 60 minutes per slot\n\n// Function to check if a time is within business hours\nfunction isBusinessHours(date) {\n  const hour = date.getHours();\n  const day = date.getDay();\n  // Monday to Friday (1-5), during business hours\n  return day >= 1 && day <= 5 && hour >= businessHours.start && hour < businessHours.end;\n}\n\n// Generate alternative slots\nconst alternativeSlots = [];\nlet currentDate = new Date();\ncurrentDate.setHours(currentDate.getHours() + 1); // Start from next hour\n\nwhile (alternativeSlots.length < 3) {\n  // Move to next hour\n  currentDate.setHours(currentDate.getHours() + 1);\n  currentDate.setMinutes(0);\n  currentDate.setSeconds(0);\n  \n  // Check if within 7 days\n  const daysDiff = (currentDate - new Date()) / (1000 * 60 * 60 * 24);\n  if (daysDiff > 7) break;\n  \n  // Check if within business hours\n  if (isBusinessHours(currentDate)) {\n    alternativeSlots.push({\n      startTime: new Date(currentDate).toISOString(),\n      endTime: new Date(currentDate.getTime() + slotDuration * 60000).toISOString(),\n      formatted: currentDate.toLocaleString('en-US', {\n        weekday: 'long',\n        year: 'numeric',\n        month: 'long',\n        day: 'numeric',\n        hour: '2-digit',\n        minute: '2-digit'\n      })\n    });\n  }\n}\n\nreturn [{\n  json: {\n    originalRequest: requestedTime.toISOString(),\n    alternativeSlots: alternativeSlots,\n    message: `Found ${alternativeSlots.length} alternative time slots`\n  }\n}];"
      },
      "id": "a0d342be-48e8-4b77-8c7a-5b082fc2bae6",
      "name": "Find Alternative Slots",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        384
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=Appointment Unavailable - Alternative Times Available",
        "message": "=Hello {{ $json.name }},\n\nUnfortunately, your requested appointment time on {{ $json.requestedDateTime }} is not available.\n\nHowever, we have the following alternative time slots available:\n\n{{ $json.alternativeSlots }}\n\nPlease let us know which time works best for you, and we'll be happy to schedule your appointment.\n\nBest regards",
        "options": {
          "senderName": "={{ $('Workflow Configuration').first().json.senderEmail }}"
        }
      },
      "id": "66ca236b-ea4b-4e0e-b46e-c8fcd68e96d1",
      "name": "Send Alternative Slots Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -224,
        384
      ],
      "webhookId": "df74e6b5-9190-4aa3-a9b7-acdcaa9eec29"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"unavailable\",\n  \"message\": \"The requested time slot is not available\",\n  \"alternativeSlots\": {{ $json.alternativeSlots }}\n}",
        "options": {}
      },
      "id": "a73e59d2-2a73-4f57-b988-b02bcafd0079",
      "name": "Respond Unavailable",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        0,
        384
      ]
    },
    {
      "parameters": {
        "resume": "specificTime",
        "dateTime": "={{ new Date(new Date($json.requestedDateTime).getTime() - 24*60*60*1000).toISOString() }}"
      },
      "id": "60b06564-77eb-4c79-84b4-fa11f8e15932",
      "name": "Wait 24 Hours Before",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        0,
        192
      ],
      "webhookId": "8141a980-5de2-4438-8825-488f579638a6"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=Reminder: Appointment Tomorrow - {{ new Date($json.requestedDateTime).toLocaleString() }}",
        "message": "=Hello {{ $json.name }},\n\nThis is a friendly reminder that you have an appointment scheduled for tomorrow:\n\n📅 Date & Time: {{ new Date($json.requestedDateTime).toLocaleString() }}\n📍 Service: {{ $json.service }}\n⏱️ Duration: {{ $json.duration }} minutes\n\nPlease make sure to arrive on time. If you need to reschedule or cancel, please let us know as soon as possible.\n\nLooking forward to seeing you!\n\nBest regards",
        "options": {
          "senderName": "={{ $('Workflow Configuration').first().json.senderEmail }}"
        }
      },
      "id": "0111136b-aaff-431b-9e64-fa1346caf0f7",
      "name": "Send 24h Reminder",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        224,
        192
      ],
      "webhookId": "f427fddc-3311-4490-b2c1-c8e2cc9b178d"
    },
    {
      "parameters": {
        "resume": "specificTime",
        "dateTime": "={{ new Date(new Date($json.requestedDateTime).getTime() - 60*60*1000).toISOString() }}"
      },
      "id": "7b9c822a-618b-408e-b023-9e1b8d77e8e3",
      "name": "Wait 1 Hour Before",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        448,
        192
      ],
      "webhookId": "29402ce2-047d-4500-9758-aa1f04e3f058"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=Reminder: Appointment in 1 Hour - {{ new Date($json.requestedDateTime).toLocaleString() }}",
        "message": "=<p>Hello {{ $json.name }},</p>\n\n<p>This is a friendly reminder that your appointment is coming up in <strong>1 hour</strong>.</p>\n\n<p><strong>Appointment Details:</strong></p>\n<ul>\n  <li><strong>Date & Time:</strong> {{ new Date($json.requestedDateTime).toLocaleString() }}</li>\n  <li><strong>Duration:</strong> {{ $json.duration }} minutes</li>\n  <li><strong>Service:</strong> {{ $json.service }}</li>\n</ul>\n\n<p>Please make sure you're ready for your appointment. If you need to make any changes, please contact us as soon as possible.</p>\n\n<p>We look forward to seeing you soon!</p>\n\n<p>Best regards,<br>{{ $('Workflow Configuration').first().json.senderName }}</p>",
        "options": {
          "senderName": "={{ $('Workflow Configuration').first().json.senderName }}"
        }
      },
      "id": "2b6f4db5-9fa4-4a86-a354-31ad39469e4c",
      "name": "Send 1h Reminder",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        672,
        192
      ],
      "webhookId": "b0769c4c-32b3-46c6-b78d-c8e57e3fb720"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "rajeetcodeN",
    "name": "n8n_backup2"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2026-03-29T14:52:50.996Z",
      "createdAt": "2026-03-29T14:52:50.996Z",
      "role": "workflow:owner",
      "workflowId": "Ut9qhci9Y4pgFD3u",
      "projectId": "7DfoImgKnNZiM78g"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-03-29T14:55:02.441Z",
  "versionId": "5b31cabe-35f4-4c1e-96f8-cde344afc2e4"
}