Customer 360 Unified Profile Builder with Multi-Source Data Integration.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Schedule Daily Update": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Fetch CRM Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Payment Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Usage Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch CRM Data": {
      "main": [
        [
          {
            "node": "Normalize CRM Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Payment Data": {
      "main": [
        [
          {
            "node": "Normalize Payment Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Usage Data": {
      "main": [
        [
          {
            "node": "Normalize Usage Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize CRM Data": {
      "main": [
        [
          {
            "node": "Merge All Data Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Payment Data": {
      "main": [
        [
          {
            "node": "Merge All Data Sources",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge All Data Sources": {
      "main": [
        [
          {
            "node": "Build Unified Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Unified Profile": {
      "main": [
        [
          {
            "node": "Handle Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Duplicates": {
      "main": [
        [
          {
            "node": "Upsert to PostgreSQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-29T14:51:04.195Z",
  "id": "fqjVa93akcEz5a6K",
  "isArchived": false,
  "meta": null,
  "name": "Customer 360 Unified Profile Builder with Multi-Source Data Integration",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 2
            }
          ]
        }
      },
      "id": "e2cb452f-a8bb-4449-a7d7-8d3d5cd018fa",
      "name": "Schedule Daily Update",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        2160,
        752
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "crmApiUrl",
              "value": "<__PLACEHOLDER_VALUE__CRM API endpoint URL__>",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "paymentApiUrl",
              "value": "<__PLACEHOLDER_VALUE__Payment API endpoint URL__>",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "usageApiUrl",
              "value": "<__PLACEHOLDER_VALUE__Usage API endpoint URL__>",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "customerIdField",
              "value": "customer_id",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "0d9cdec0-beeb-4a99-b1fb-8958691925b1",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2384,
        752
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Workflow Configuration').first().json.crmApiUrl }}",
        "authentication": "genericCredentialType",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "1000"
            }
          ]
        },
        "options": {}
      },
      "id": "fdf218a7-8f50-4e29-b221-39ead1ea84d2",
      "name": "Fetch CRM Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2608,
        560
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Workflow Configuration').first().json.paymentApiUrl }}",
        "authentication": "genericCredentialType",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "1000"
            }
          ]
        },
        "options": {}
      },
      "id": "8d15a7fa-5239-4250-ac4a-c234567cc865",
      "name": "Fetch Payment Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2608,
        752
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Workflow Configuration').first().json.usageApiUrl }}",
        "authentication": "genericCredentialType",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "1000"
            }
          ]
        },
        "options": {}
      },
      "id": "e20d2f40-57aa-40a6-b293-81845e24025d",
      "name": "Fetch Usage Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2608,
        944
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "customer_id",
              "value": "={{ $json.id || $json.customer_id || $json.customerId }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "name",
              "value": "={{ $json.name || $json.full_name }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "company",
              "value": "={{ $json.company || $json.organization }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "created_at",
              "value": "={{ $json.created_at || $json.createdAt }}",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "source",
              "value": "crm",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "40264edf-82e5-4635-ab2d-4c6701f53f6c",
      "name": "Normalize CRM Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2832,
        560
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "customer_id",
              "value": "={{ $json.customer_id || $json.customerId || $json.user_id }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "total_revenue",
              "value": "={{ $json.total || $json.amount || $json.revenue }}",
              "type": "number"
            },
            {
              "id": "id-3",
              "name": "last_payment_date",
              "value": "={{ $json.payment_date || $json.date || $json.last_payment }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "payment_count",
              "value": "={{ $json.count || $json.transaction_count }}",
              "type": "number"
            },
            {
              "id": "id-5",
              "name": "source",
              "value": "payment",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "64ee6b27-9e55-46b4-a7df-6ed51debcbba",
      "name": "Normalize Payment Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2832,
        752
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "customer_id",
              "value": "={{ $json.customer_id || $json.customerId || $json.user_id }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "usage_hours",
              "value": "={{ $json.hours || $json.usage || $json.total_usage }}",
              "type": "number"
            },
            {
              "id": "id-3",
              "name": "last_active",
              "value": "={{ $json.last_active || $json.lastActive || $json.last_seen }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "feature_usage",
              "value": "={{ $json.features || $json.feature_usage }}",
              "type": "object"
            },
            {
              "id": "id-5",
              "name": "source",
              "value": "usage",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "1d1549a7-52a9-42d9-9d8b-eae7f7c39909",
      "name": "Normalize Usage Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2832,
        944
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "customer_id",
        "joinMode": "keepEverything",
        "options": {
          "clashHandling": {
            "values": {
              "resolveClash": "preferInput1"
            }
          }
        }
      },
      "id": "5b038fd8-d162-4b54-b786-c2b03879a0f5",
      "name": "Merge All Data Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3056,
        656
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Build unified customer profile from merged data sources\nconst crmData = $input.item.json[0] || {};\nconst paymentData = $input.item.json[1] || {};\nconst usageData = $input.item.json[2] || {};\n\n// Create unified profile\nconst unifiedProfile = {\n  customer_id: crmData.customer_id || paymentData.customer_id || usageData.customer_id,\n  \n  // CRM fields\n  first_name: crmData.first_name,\n  last_name: crmData.last_name,\n  email: crmData.email,\n  phone: crmData.phone,\n  company: crmData.company,\n  industry: crmData.industry,\n  created_date: crmData.created_date,\n  last_contact_date: crmData.last_contact_date,\n  account_status: crmData.account_status,\n  \n  // Payment fields\n  total_revenue: paymentData.total_revenue || 0,\n  last_payment_date: paymentData.last_payment_date,\n  payment_method: paymentData.payment_method,\n  subscription_tier: paymentData.subscription_tier,\n  mrr: paymentData.mrr || 0,\n  \n  // Usage fields\n  total_logins: usageData.total_logins || 0,\n  last_login_date: usageData.last_login_date,\n  feature_usage: usageData.feature_usage || {},\n  active_sessions: usageData.active_sessions || 0,\n  \n  // Metadata\n  last_updated: new Date().toISOString(),\n  data_sources: {\n    crm: !!crmData.customer_id,\n    payment: !!paymentData.customer_id,\n    usage: !!usageData.customer_id\n  }\n};\n\nreturn { json: unifiedProfile };"
      },
      "id": "e55e98db-38e7-463d-835f-30ac0b00e932",
      "name": "Build Unified Profile",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3280,
        656
      ]
    },
    {
      "parameters": {
        "jsCode": "// Deduplicate profiles by customer_id, keeping the most recent record\nconst profiles = $input.all();\n\n// Group profiles by customer_id\nconst profileMap = new Map();\n\nfor (const item of profiles) {\n  const customerId = item.json.customer_id;\n  const lastUpdated = new Date(item.json.last_updated || 0);\n  \n  if (!profileMap.has(customerId)) {\n    profileMap.set(customerId, item);\n  } else {\n    const existingItem = profileMap.get(customerId);\n    const existingLastUpdated = new Date(existingItem.json.last_updated || 0);\n    \n    // Keep the profile with the most recent last_updated timestamp\n    if (lastUpdated > existingLastUpdated) {\n      profileMap.set(customerId, item);\n    }\n  }\n}\n\n// Convert map back to array\nconst deduplicatedProfiles = Array.from(profileMap.values());\n\nreturn deduplicatedProfiles;"
      },
      "id": "c57b0ae9-dee5-40c5-b5eb-33454aac6ca1",
      "name": "Handle Duplicates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3504,
        656
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "name",
          "value": "customer_profiles"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": null,
          "matchingColumns": [
            "customer_id"
          ],
          "schema": []
        },
        "options": {}
      },
      "id": "70e651b6-4d48-4b21-a77e-b7e7dc62d822",
      "name": "Upsert to PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3728,
        656
      ],
      "credentials": {
        "postgres": {
          "id": "yGwZ0IHTkODL3IL8",
          "name": "Postgres account dbt rn"
        }
      }
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "rajeetcodeN",
    "name": "n8n_backup2"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2026-03-29T14:51:04.198Z",
      "createdAt": "2026-03-29T14:51:04.198Z",
      "role": "workflow:owner",
      "workflowId": "fqjVa93akcEz5a6K",
      "projectId": "7DfoImgKnNZiM78g"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-03-29T14:52:55.226Z",
  "versionId": "45726270-95d3-4630-92f2-1bb6fdf0f1b3"
}