Enterprise AI Gateway with Intelligent Model Routing and Budget Control.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "API Request Intake": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Policy Engine (AI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model (Policy)": {
      "ai_languageModel": [
        [
          {
            "node": "Policy Engine (AI)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Policy Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Policy Engine (AI)",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Policy Engine (AI)": {
      "main": [
        [
          {
            "node": "Token Budget Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token Budget Check": {
      "main": [
        [
          {
            "node": "Model Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Model Router": {
      "main": [
        [
          {
            "node": "OpenAI Provider",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Anthropic Provider",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Azure OpenAI Provider",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Provider": {
      "main": [
        [
          {
            "node": "Merge Provider Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Provider": {
      "main": [
        [
          {
            "node": "Merge Provider Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Provider": {
      "main": [
        [
          {
            "node": "Merge Provider Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Provider Responses": {
      "main": [
        [
          {
            "node": "Output Validator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output Validator": {
      "main": [
        [
          {
            "node": "Cost Calculator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cost Calculator": {
      "main": [
        [
          {
            "node": "Log to Metrics DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Metrics DB": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-28T14:42:36.263Z",
  "id": "yWoqGiTdb905IqsB",
  "isArchived": false,
  "meta": null,
  "name": "Enterprise AI Gateway with Intelligent Model Routing and Budget Control",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-gateway",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "55416ede-8aec-4a0b-bc70-eb59a07c03e6",
      "name": "API Request Intake",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -368,
        592
      ],
      "webhookId": "6e9005a7-ee8f-4609-a785-3dd14b32f20d"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "maxTokenBudget",
              "value": 10000,
              "type": "number"
            },
            {
              "id": "id-2",
              "name": "openaiApiUrl",
              "value": "https://api.openai.com/v1/chat/completions",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "anthropicApiUrl",
              "value": "https://api.anthropic.com/v1/messages",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "azureOpenaiApiUrl",
              "value": "<__PLACEHOLDER_VALUE__Azure OpenAI endpoint URL__>",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "9d5762e1-e196-49ed-8280-2f5a96db75ed",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -144,
        592
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.prompt || $json.body.messages }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an AI Gateway Policy Controller.\n\nYour role:\n1. Evaluate incoming AI request.\n2. Classify task complexity (low, medium, high).\n3. Estimate required reasoning depth.\n4. Determine acceptable latency (real-time / async).\n5. Respect token budget constraints.\n6. Suggest cheapest viable model.\n\nRules:\n- If classification confidence > 90% and simple rewrite → use small model.\n- If reasoning depth multi-step or > 3 logical layers → escalate.\n- If structured JSON required → enforce strict schema.\n- If SLA latency < 2 seconds → avoid heavy models.\n\nReturn your analysis in the structured format."
        }
      },
      "id": "ce49de56-3737-4dcf-9394-d03a4d7695f2",
      "name": "Policy Engine (AI)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        80,
        592
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "48d56974-eb1c-4f28-93b4-457677fe08e1",
      "name": "OpenAI Model (Policy)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        80,
        816
      ],
      "credentials": {
        "openAiApi": {
          "id": "zHMgvi1Nu77MFY12",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"complexity\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"enum\": [\"low\", \"medium\", \"high\"]\n\t\t},\n\t\t\"recommended_model\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"estimated_tokens\": {\n\t\t\t\"type\": \"number\"\n\t\t},\n\t\t\"confidence\": {\n\t\t\t\"type\": \"number\"\n\t\t}\n\t}\n}"
      },
      "id": "b5101c8b-02e1-4646-a5ad-5572050d38b2",
      "name": "Policy Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        208,
        816
      ]
    },
    {
      "parameters": {
        "jsCode": "// Token Budget Check\n// Validates if estimated tokens from policy engine are within budget\n\nconst items = $input.all();\nconst outputItems = [];\n\nfor (const item of items) {\n  const estimatedTokens = item.json.estimated_tokens || 0;\n  const maxTokenBudget = item.json.maxTokenBudget || Infinity;\n  \n  if (estimatedTokens > maxTokenBudget) {\n    // Budget exceeded - return error object\n    outputItems.push({\n      json: {\n        ...item.json,\n        budgetExceeded: true,\n        budgetApproved: false,\n        error: `Token budget exceeded: ${estimatedTokens} tokens requested, but limit is ${maxTokenBudget}`,\n        estimatedTokens,\n        maxTokenBudget\n      }\n    });\n  } else {\n    // Budget approved - pass through\n    outputItems.push({\n      json: {\n        ...item.json,\n        budgetExceeded: false,\n        budgetApproved: true,\n        estimatedTokens,\n        maxTokenBudget\n      }\n    });\n  }\n}\n\nreturn outputItems;"
      },
      "id": "45db30d3-85e6-4db0-b004-64ea2c7cd5bf",
      "name": "Token Budget Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        592
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "id-1",
                    "leftValue": "={{ $json.recommended_model }}",
                    "rightValue": "gpt",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "OpenAI"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "id-2",
                    "leftValue": "={{ $json.recommended_model }}",
                    "rightValue": "claude",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Anthropic"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "id-3",
                    "leftValue": "={{ $json.recommended_model }}",
                    "rightValue": "azure",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Azure"
            }
          ]
        },
        "options": {}
      },
      "id": "0826473e-9e7e-4695-874c-d6ff691bf9f7",
      "name": "Model Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        656,
        576
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Workflow Configuration').first().json.openaiApiUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "<__PLACEHOLDER_VALUE__OpenAI API Key__>"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "={{ $('Policy Engine (AI)').first().json.recommended_model }}"
            },
            {
              "name": "messages",
              "value": "={{ $('API Request Intake').first().json.body.messages }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6b0f13a0-f6f2-4c18-83d0-3977f2fe8fce",
      "name": "OpenAI Provider",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        880,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Workflow Configuration').first().json.anthropicApiUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "<__PLACEHOLDER_VALUE__Anthropic API Key__>"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"model\": $('Policy Engine (AI)').first().json.recommended_model,\n  \"messages\": $('API Request Intake').first().json.body.messages,\n  \"max_tokens\": $('Policy Engine (AI)').first().json.max_tokens || 4096\n} }}",
        "options": {}
      },
      "id": "918aa657-e248-4643-91a1-2c247d1e21e4",
      "name": "Anthropic Provider",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        880,
        592
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Workflow Configuration').first().json.azureOpenaiApiUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "<__PLACEHOLDER_VALUE__Azure OpenAI API Key__>"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('API Request Intake').first().json.body.messages }}",
        "options": {}
      },
      "id": "3de8d239-7256-450f-a8bb-3b1a4ac06f91",
      "name": "Azure OpenAI Provider",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        880,
        784
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "provider_response",
              "value": "={{ $json }}",
              "type": "object"
            },
            {
              "id": "id-2",
              "name": "provider_used",
              "value": "={{ $('Model Router').item.json.recommended_model }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "e6335417-db64-4a6d-9a0a-07007aebc44f",
      "name": "Merge Provider Responses",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1104,
        592
      ]
    },
    {
      "parameters": {
        "jsCode": "// Validate provider response structure\nconst items = $input.all();\nconst validatedItems = [];\n\nfor (const item of items) {\n  let validationPassed = true;\n  let validationErrors = [];\n  \n  try {\n    // Check if item has json data\n    if (!item.json) {\n      validationErrors.push('Missing json data');\n      validationPassed = false;\n    }\n    \n    // Check for required fields in the response\n    const requiredFields = ['model', 'choices'];\n    for (const field of requiredFields) {\n      if (!item.json.hasOwnProperty(field)) {\n        validationErrors.push(`Missing required field: ${field}`);\n        validationPassed = false;\n      }\n    }\n    \n    // Validate choices array exists and has content\n    if (item.json.choices && Array.isArray(item.json.choices)) {\n      if (item.json.choices.length === 0) {\n        validationErrors.push('Choices array is empty');\n        validationPassed = false;\n      } else {\n        // Check first choice has message content\n        const firstChoice = item.json.choices[0];\n        if (!firstChoice.message || !firstChoice.message.content) {\n          validationErrors.push('Missing message content in choices');\n          validationPassed = false;\n        }\n      }\n    } else if (item.json.choices) {\n      validationErrors.push('Choices is not an array');\n      validationPassed = false;\n    }\n    \n    // Ensure response is valid JSON (already parsed, but verify structure)\n    try {\n      JSON.stringify(item.json);\n    } catch (e) {\n      validationErrors.push('Response cannot be serialized to JSON');\n      validationPassed = false;\n    }\n    \n    // Add validation result to item\n    validatedItems.push({\n      json: {\n        ...item.json,\n        validation_passed: validationPassed,\n        validation_errors: validationErrors.length > 0 ? validationErrors : undefined\n      }\n    });\n    \n  } catch (error) {\n    // Handle any unexpected errors\n    validatedItems.push({\n      json: {\n        ...item.json,\n        validation_passed: false,\n        validation_errors: [`Validation error: ${error.message}`]\n      }\n    });\n  }\n}\n\nreturn validatedItems;"
      },
      "id": "8a5b360e-c677-493e-bdf4-1056e13a845f",
      "name": "Output Validator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        592
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Extract data from previous nodes\nconst providerResponse = $input.item.json;\nconst modelUsed = providerResponse.model || 'unknown';\nconst inputTokens = providerResponse.usage?.prompt_tokens || providerResponse.usage?.input_tokens || 0;\nconst outputTokens = providerResponse.usage?.completion_tokens || providerResponse.usage?.output_tokens || 0;\n\n// Pricing per 1M tokens (USD)\nconst pricing = {\n  'openai': {\n    'gpt-4': { input: 30, output: 60 },\n    'gpt-4-turbo': { input: 10, output: 30 },\n    'gpt-3.5-turbo': { input: 0.5, output: 1.5 },\n    'gpt-4o': { input: 5, output: 15 },\n    'gpt-4o-mini': { input: 0.15, output: 0.6 }\n  },\n  'anthropic': {\n    'claude-3-opus': { input: 15, output: 75 },\n    'claude-3-sonnet': { input: 3, output: 15 },\n    'claude-3-haiku': { input: 0.25, output: 1.25 },\n    'claude-3-5-sonnet': { input: 3, output: 15 }\n  },\n  'azure': {\n    'gpt-4': { input: 30, output: 60 },\n    'gpt-4-turbo': { input: 10, output: 30 },\n    'gpt-35-turbo': { input: 0.5, output: 1.5 }\n  }\n};\n\n// Determine provider from model name or previous node data\nlet provider = 'openai'; // default\nif (providerResponse.provider) {\n  provider = providerResponse.provider.toLowerCase();\n} else if (modelUsed.includes('claude')) {\n  provider = 'anthropic';\n} else if (modelUsed.includes('gpt')) {\n  provider = 'openai';\n}\n\n// Find matching pricing\nlet modelPricing = { input: 0, output: 0 };\nif (pricing[provider]) {\n  // Try exact match first\n  if (pricing[provider][modelUsed]) {\n    modelPricing = pricing[provider][modelUsed];\n  } else {\n    // Try partial match\n    for (const [key, value] of Object.entries(pricing[provider])) {\n      if (modelUsed.includes(key)) {\n        modelPricing = value;\n        break;\n      }\n    }\n  }\n}\n\n// Calculate cost (pricing is per 1M tokens)\nconst inputCost = (inputTokens / 1000000) * modelPricing.input;\nconst outputCost = (outputTokens / 1000000) * modelPricing.output;\nconst totalCostUsd = inputCost + outputCost;\n\n// Return all original data plus cost calculations\nreturn {\n  ...providerResponse,\n  input_tokens: inputTokens,\n  output_tokens: outputTokens,\n  total_cost_usd: parseFloat(totalCostUsd.toFixed(6)),\n  model_used: modelUsed,\n  cost_breakdown: {\n    input_cost_usd: parseFloat(inputCost.toFixed(6)),\n    output_cost_usd: parseFloat(outputCost.toFixed(6)),\n    provider: provider\n  }\n};"
      },
      "id": "de142eb6-6c7c-4a97-acd8-a261d4016889",
      "name": "Cost Calculator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        592
      ]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "name",
          "value": "ai_gateway_metrics"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "request_id": "={{ $json.request_id }}",
            "model_used": "={{ $json.model_used }}",
            "provider": "={{ $json.provider }}",
            "input_tokens": "={{ $json.input_tokens }}",
            "output_tokens": "={{ $json.output_tokens }}",
            "total_cost": "={{ $json.total_cost }}",
            "complexity": "={{ $json.complexity }}",
            "timestamp": "={{ $json.timestamp }}"
          }
        },
        "options": {}
      },
      "id": "303e4228-1ce8-4443-9462-6cc702bdb951",
      "name": "Log to Metrics DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1776,
        592
      ],
      "credentials": {
        "postgres": {
          "id": "yGwZ0IHTkODL3IL8",
          "name": "Postgres account dbt rn"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"provider_response\": {{ $json.response }},\n  \"metadata\": {\n    \"model\": {{ $json.model }},\n    \"cost\": {{ $json.cost }},\n    \"tokens\": {{ $json.tokens }}\n  }\n}",
        "options": {}
      },
      "id": "3644d18e-04e3-4a13-bda3-f13565e0e228",
      "name": "Return Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2000,
        592
      ]
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "rajeetcodeN",
    "name": "n8n_backup2"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2026-02-28T14:42:36.266Z",
      "createdAt": "2026-02-28T14:42:36.266Z",
      "role": "workflow:owner",
      "workflowId": "yWoqGiTdb905IqsB",
      "projectId": "7DfoImgKnNZiM78g"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-28T14:55:41.765Z",
  "versionId": "fd0bc70f-d332-4505-a3f4-8647458a06bd"
}