GDPR-Compliant PII Masking and Secure Re-Injection Engine.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Document Upload Webhook": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "OCR Extract Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR Extract Text": {
      "main": [
        [
          {
            "node": "Email Detector",
            "type": "main",
            "index": 0
          },
          {
            "node": "Phone Detector",
            "type": "main",
            "index": 0
          },
          {
            "node": "ID Number Detector",
            "type": "main",
            "index": 0
          },
          {
            "node": "Address Detector AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Address Detector AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Address Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Address Detector AI",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Email Detector": {
      "main": [
        [
          {
            "node": "Merge PII Detections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phone Detector": {
      "main": [
        [
          {
            "node": "Merge PII Detections",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge PII Detections": {
      "main": [
        [
          {
            "node": "PII Consolidation & Conflict Resolver",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PII Consolidation & Conflict Resolver": {
      "main": [
        [
          {
            "node": "Tokenization & Vault Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tokenization & Vault Storage": {
      "main": [
        [
          {
            "node": "Store Tokens in Vault",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Tokens in Vault": {
      "main": [
        [
          {
            "node": "Generate Masked Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Masked Text": {
      "main": [
        [
          {
            "node": "Masking Success Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Masking Success Check": {
      "main": [
        [
          {
            "node": "AI Processing (Masked Data)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Block AI Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Processing Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Processing (Masked Data)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Processing (Masked Data)",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Processing (Masked Data)": {
      "main": [
        [
          {
            "node": "Re-Injection Controller",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Re-Injection Controller": {
      "main": [
        [
          {
            "node": "Retrieve Original Values",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Original Values": {
      "main": [
        [
          {
            "node": "Restore Original PII",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore Original PII": {
      "main": [
        [
          {
            "node": "Store Audit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Block AI Processing": {
      "main": [
        [
          {
            "node": "Send Alert Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-31T11:37:09.739Z",
  "id": "DaBvJSPu1989rS52",
  "isArchived": false,
  "meta": null,
  "name": "GDPR-Compliant PII Masking and Secure Re-Injection Engine",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gdpr-document-upload",
        "responseMode": "lastNode",
        "options": {
          "rawBody": true
        }
      },
      "id": "6a9fffb2-30c7-4bea-a7f5-bd3f2d78d7dc",
      "name": "Document Upload Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -752,
        352
      ],
      "webhookId": "c1520de7-cbb8-4219-9b7f-94215dc5c899"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "documentId",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "confidenceThreshold",
              "value": 0.8,
              "type": "number"
            },
            {
              "id": "id-3",
              "name": "vaultTable",
              "value": "pii_vault",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "auditTable",
              "value": "pii_audit_log",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "80b551a4-abaa-42c1-8338-17c948215c67",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -528,
        352
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {
          "keepSource": "both"
        }
      },
      "id": "a560b758-3ed0-483c-b8bd-c4521e72a27d",
      "name": "OCR Extract Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -304,
        352
      ]
    },
    {
      "parameters": {
        "jsCode": "// Email Detector - Extract all email addresses from OCR text\nconst items = $input.all();\nconst results = [];\n\n// Email regex pattern with domain validation\nconst emailRegex = /\\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Z|a-z]{2,}\\b/g;\n\nfor (const item of items) {\n  const text = item.json.text || '';\n  const detectedEmails = [];\n  \n  let match;\n  while ((match = emailRegex.exec(text)) !== null) {\n    detectedEmails.push({\n      value: match[0],\n      type: 'email',\n      start_pos: match.index,\n      end_pos: match.index + match[0].length,\n      confidence: 1.0\n    });\n  }\n  \n  results.push({\n    json: {\n      detections: detectedEmails,\n      detector: 'email',\n      original_text: text\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "cce4255c-87d4-48ee-a52d-40fb5b326ba4",
      "name": "Email Detector",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        64
      ]
    },
    {
      "parameters": {
        "jsCode": "// Phone number detection with country-aware patterns\nconst items = $input.all();\nconst results = [];\n\n// Get the extracted text from OCR node\nfor (const item of items) {\n  const text = item.json.text || '';\n  \n  // Comprehensive phone number patterns for various countries\n  // Matches formats like: +1-555-123-4567, +91 98765 43210, (555) 123-4567, etc.\n  const phonePatterns = [\n    // International format with country code\n    /\\+\\d{1,3}[\\s.-]?\\(?\\d{1,4}\\)?[\\s.-]?\\d{1,4}[\\s.-]?\\d{1,4}[\\s.-]?\\d{1,9}/g,\n    // US/Canada format with parentheses\n    /\\(?\\d{3}\\)?[\\s.-]?\\d{3}[\\s.-]?\\d{4}/g,\n    // General format with separators\n    /\\d{3,4}[\\s.-]\\d{3,4}[\\s.-]\\d{3,4}/g\n  ];\n  \n  const detectedPhones = [];\n  const seenPhones = new Set();\n  \n  for (const pattern of phonePatterns) {\n    let match;\n    while ((match = pattern.exec(text)) !== null) {\n      const phoneValue = match[0];\n      \n      // Avoid duplicates\n      if (!seenPhones.has(phoneValue)) {\n        seenPhones.add(phoneValue);\n        \n        detectedPhones.push({\n          value: phoneValue,\n          type: 'phone',\n          start_pos: match.index,\n          end_pos: match.index + phoneValue.length,\n          confidence: 0.95\n        });\n      }\n    }\n  }\n  \n  // Return results for this item\n  if (detectedPhones.length > 0) {\n    results.push({\n      json: {\n        detected_pii: detectedPhones,\n        original_text: text,\n        detection_type: 'phone',\n        count: detectedPhones.length\n      }\n    });\n  }\n}\n\n// If no phones detected, return empty result\nif (results.length === 0) {\n  return [{\n    json: {\n      detected_pii: [],\n      detection_type: 'phone',\n      count: 0\n    }\n  }];\n}\n\nreturn results;"
      },
      "id": "b5807192-d5a5-4319-ab79-2ce4f92c16b7",
      "name": "Phone Detector",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        256
      ]
    },
    {
      "parameters": {
        "jsCode": "// ID Number Detector - Detects SSN, PAN, License Numbers, Bank Account Numbers\n// Returns array of objects with value, type, start_pos, end_pos, confidence\n\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const text = item.json.extractedText || item.json.text || '';\n  const detections = [];\n  \n  // SSN Pattern (XXX-XX-XXXX or XXXXXXXXX)\n  const ssnPattern = /\\b(?:\\d{3}-\\d{2}-\\d{4}|\\d{9})\\b/g;\n  let match;\n  \n  while ((match = ssnPattern.exec(text)) !== null) {\n    const value = match[0];\n    // Basic validation: not all zeros, not sequential\n    const digits = value.replace(/-/g, '');\n    if (digits !== '000000000' && digits !== '123456789') {\n      detections.push({\n        value: value,\n        type: 'id_number',\n        subtype: 'ssn',\n        start_pos: match.index,\n        end_pos: match.index + value.length,\n        confidence: 0.9\n      });\n    }\n  }\n  \n  // PAN (Permanent Account Number - India) Pattern (AAAAA9999A)\n  const panPattern = /\\b[A-Z]{5}[0-9]{4}[A-Z]\\b/g;\n  \n  while ((match = panPattern.exec(text)) !== null) {\n    const value = match[0];\n    detections.push({\n      value: value,\n      type: 'id_number',\n      subtype: 'pan',\n      start_pos: match.index,\n      end_pos: match.index + value.length,\n      confidence: 0.9\n    });\n  }\n  \n  // Driver's License Pattern (varies by region, common formats)\n  // US format: 1-2 letters followed by 6-8 digits\n  const licensePattern = /\\b[A-Z]{1,2}[0-9]{6,8}\\b/g;\n  \n  while ((match = licensePattern.exec(text)) !== null) {\n    const value = match[0];\n    detections.push({\n      value: value,\n      type: 'id_number',\n      subtype: 'drivers_license',\n      start_pos: match.index,\n      end_pos: match.index + value.length,\n      confidence: 0.9\n    });\n  }\n  \n  // Bank Account Number Pattern (8-17 digits)\n  const bankAccountPattern = /\\b[0-9]{8,17}\\b/g;\n  \n  while ((match = bankAccountPattern.exec(text)) !== null) {\n    const value = match[0];\n    // Avoid false positives by checking it's not already detected as SSN\n    const isSSN = detections.some(d => d.subtype === 'ssn' && d.value.replace(/-/g, '') === value);\n    if (!isSSN) {\n      detections.push({\n        value: value,\n        type: 'id_number',\n        subtype: 'bank_account',\n        start_pos: match.index,\n        end_pos: match.index + value.length,\n        confidence: 0.9\n      });\n    }\n  }\n  \n  // IBAN Pattern (International Bank Account Number)\n  const ibanPattern = /\\b[A-Z]{2}[0-9]{2}[A-Z0-9]{11,30}\\b/g;\n  \n  while ((match = ibanPattern.exec(text)) !== null) {\n    const value = match[0];\n    detections.push({\n      value: value,\n      type: 'id_number',\n      subtype: 'iban',\n      start_pos: match.index,\n      end_pos: match.index + value.length,\n      confidence: 0.9\n    });\n  }\n  \n  results.push({\n    json: {\n      detections: detections,\n      originalText: text,\n      detectionCount: detections.length\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "96a00145-57b7-4329-97d3-711788305945",
      "name": "ID Number Detector",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        448
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a PII detection specialist. Analyze the provided text and identify all physical addresses (street, city, state, postal code, country). Return each address found with its position in the text and a confidence score between 0 and 1."
        }
      },
      "id": "da7a70be-2015-4bb3-bc1d-847ba92f3c15",
      "name": "Address Detector AI",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -80,
        736
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "id": "5fe28745-4dca-40c9-b4de-71c92bf6c2c4",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -64,
        960
      ]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"addresses\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"object\",\n\t\t\t\t\"properties\": {\n\t\t\t\t\t\"value\": {\n\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t},\n\t\t\t\t\t\"type\": {\n\t\t\t\t\t\t\"type\": \"string\",\n\t\t\t\t\t\t\"enum\": [\"address\"]\n\t\t\t\t\t},\n\t\t\t\t\t\"start_pos\": {\n\t\t\t\t\t\t\"type\": \"number\"\n\t\t\t\t\t},\n\t\t\t\t\t\"end_pos\": {\n\t\t\t\t\t\t\"type\": \"number\"\n\t\t\t\t\t},\n\t\t\t\t\t\"confidence\": {\n\t\t\t\t\t\t\"type\": \"number\"\n\t\t\t\t\t}\n\t\t\t\t},\n\t\t\t\t\"required\": [\"value\", \"type\", \"start_pos\", \"end_pos\", \"confidence\"]\n\t\t\t}\n\t\t}\n\t},\n\t\"required\": [\"addresses\"]\n}"
      },
      "id": "b5125f9f-6562-480d-ab11-d8d69124585f",
      "name": "Address Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        64,
        960
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "2c0f5d93-35d6-4634-a92a-614b0f85ab20",
      "name": "Merge PII Detections",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        272,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "// PII Consolidation & Conflict Resolver\n// Merges all PII detections, resolves overlaps, deduplicates, and returns consolidated PII map\n\nconst allDetections = [];\n\n// Collect all PII detections from all input items\nfor (const item of $input.all()) {\n  if (item.json.detections && Array.isArray(item.json.detections)) {\n    allDetections.push(...item.json.detections);\n  }\n}\n\nconsole.log(`Total detections collected: ${allDetections.length}`);\n\n// Sort detections by start position for easier overlap detection\nallDetections.sort((a, b) => a.start - b.start);\n\n// Resolve overlaps: higher confidence wins, longer span preferred if confidence is equal\nconst resolvedDetections = [];\n\nfor (const detection of allDetections) {\n  let shouldAdd = true;\n  let indexToReplace = -1;\n  \n  for (let i = 0; i < resolvedDetections.length; i++) {\n    const existing = resolvedDetections[i];\n    \n    // Check for overlap\n    const hasOverlap = (\n      (detection.start >= existing.start && detection.start < existing.end) ||\n      (detection.end > existing.start && detection.end <= existing.end) ||\n      (detection.start <= existing.start && detection.end >= existing.end)\n    );\n    \n    if (hasOverlap) {\n      const detectionLength = detection.end - detection.start;\n      const existingLength = existing.end - existing.start;\n      \n      // Higher confidence wins\n      if (detection.confidence > existing.confidence) {\n        indexToReplace = i;\n        break;\n      } else if (detection.confidence === existing.confidence) {\n        // If confidence is equal, prefer longer span\n        if (detectionLength > existingLength) {\n          indexToReplace = i;\n          break;\n        } else {\n          shouldAdd = false;\n          break;\n        }\n      } else {\n        shouldAdd = false;\n        break;\n      }\n    }\n  }\n  \n  if (indexToReplace >= 0) {\n    resolvedDetections[indexToReplace] = detection;\n  } else if (shouldAdd) {\n    resolvedDetections.push(detection);\n  }\n}\n\nconsole.log(`Detections after overlap resolution: ${resolvedDetections.length}`);\n\n// Deduplicate exact matches (same type, value, and position)\nconst deduplicatedDetections = [];\nconst seen = new Set();\n\nfor (const detection of resolvedDetections) {\n  const key = `${detection.type}|${detection.value}|${detection.start}|${detection.end}`;\n  \n  if (!seen.has(key)) {\n    seen.add(key);\n    deduplicatedDetections.push(detection);\n  }\n}\n\nconsole.log(`Detections after deduplication: ${deduplicatedDetections.length}`);\n\n// Create consolidated PII map\nconst piiMap = deduplicatedDetections.map((detection, index) => ({\n  id: `pii_${index + 1}`,\n  type: detection.type,\n  value: detection.value,\n  start: detection.start,\n  end: detection.end,\n  confidence: detection.confidence,\n  source: detection.source || 'unknown'\n}));\n\n// Sort by start position for final output\npiiMap.sort((a, b) => a.start - b.start);\n\nreturn [\n  {\n    json: {\n      piiMap: piiMap,\n      totalDetections: piiMap.length,\n      originalText: $input.first().json.extractedText || $input.first().json.text || '',\n      timestamp: new Date().toISOString()\n    }\n  }\n];"
      },
      "id": "bcb0114e-2f28-4959-9a1b-1abf3d3b1b80",
      "name": "PII Consolidation & Conflict Resolver",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "// Tokenization & Vault Storage\n// Generates secure tokens for PII and prepares vault records\n\nconst items = $input.all();\nconst vaultRecords = [];\nconst tokenMap = {};\n\n// Helper function to generate random hash\nfunction generateHash(length = 4) {\n  const chars = '0123456789ABCDEF';\n  let hash = '';\n  for (let i = 0; i < length; i++) {\n    hash += chars.charAt(Math.floor(Math.random() * chars.length));\n  }\n  return hash;\n}\n\n// Process all PII items from consolidated data\nfor (const item of items) {\n  const piiData = item.json.consolidatedPII || [];\n  const originalText = item.json.originalText || '';\n  const documentId = item.json.documentId || item.json.document_id || 'unknown';\n  \n  for (const pii of piiData) {\n    const type = pii.type.toUpperCase();\n    const originalValue = pii.value;\n    const hash = generateHash(4);\n    const token = `<<${type}_${hash}>>`;\n    \n    // Create vault record\n    vaultRecords.push({\n      token: token,\n      original_value: originalValue,\n      type: type,\n      document_id: documentId,\n      created_at: new Date().toISOString()\n    });\n    \n    // Store token mapping for text replacement\n    tokenMap[originalValue] = token;\n  }\n}\n\n// Generate masked text by replacing all PII with tokens\nlet maskedText = items[0]?.json?.originalText || '';\nfor (const [originalValue, token] of Object.entries(tokenMap)) {\n  // Use global replace to handle multiple occurrences\n  const regex = new RegExp(originalValue.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&'), 'g');\n  maskedText = maskedText.replace(regex, token);\n}\n\nreturn [{\n  json: {\n    vaultRecords: vaultRecords,\n    tokenMap: tokenMap,\n    maskedText: maskedText,\n    documentId: items[0]?.json?.documentId || items[0]?.json?.document_id || 'unknown',\n    originalText: items[0]?.json?.originalText || '',\n    totalTokensGenerated: vaultRecords.length\n  }\n}];"
      },
      "id": "0fefe772-4612-43e0-b9d8-8672f5ab8672",
      "name": "Tokenization & Vault Storage",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        160
      ]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Workflow Configuration').first().json.vaultTable }}"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "token": "={{ $json.token }}",
            "original_value": "={{ $json.original_value }}",
            "type": "={{ $json.type }}",
            "document_id": "={{ $json.document_id }}",
            "created_at": "={{ $json.created_at }}"
          }
        },
        "options": {}
      },
      "id": "430a5c1b-cb63-4154-a8da-d510507d0edd",
      "name": "Store Tokens in Vault",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        944,
        160
      ],
      "credentials": {
        "postgres": {
          "id": "yGwZ0IHTkODL3IL8",
          "name": "Postgres account dbt rn"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Generate Masked Text - Replace PII with tokens\nconst items = $input.all();\n\nif (items.length === 0) {\n  return [{\n    json: {\n      masked_text: '',\n      token_count: 0,\n      masking_success: false,\n      error: 'No input items'\n    }\n  }];\n}\n\n// Get the original text from OCR Extract Text node\nconst ocrData = $('OCR Extract Text').first().json;\nlet originalText = ocrData.text || '';\n\n// Get the tokenized PII data from Store Tokens in Vault node\nconst vaultData = $('Store Tokens in Vault').all();\n\nif (!vaultData || vaultData.length === 0) {\n  return [{\n    json: {\n      masked_text: originalText,\n      token_count: 0,\n      masking_success: false,\n      error: 'No tokenized data available'\n    }\n  }];\n}\n\nlet maskedText = originalText;\nlet tokenCount = 0;\nlet allReplacementsSucceeded = true;\nconst replacements = [];\n\n// Process each tokenized PII item\nfor (const item of vaultData) {\n  const piiData = item.json;\n  \n  if (piiData.original_value && piiData.token) {\n    const originalValue = piiData.original_value;\n    const token = piiData.token;\n    \n    // Check if the original value exists in the text\n    if (maskedText.includes(originalValue)) {\n      // Replace all occurrences of the original value with the token\n      const regex = new RegExp(originalValue.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&'), 'g');\n      const beforeLength = maskedText.length;\n      maskedText = maskedText.replace(regex, token);\n      const afterLength = maskedText.length;\n      \n      // Count successful replacements\n      if (beforeLength !== afterLength || maskedText.includes(token)) {\n        tokenCount++;\n        replacements.push({\n          original: originalValue,\n          token: token,\n          type: piiData.pii_type || 'unknown',\n          replaced: true\n        });\n      } else {\n        allReplacementsSucceeded = false;\n        replacements.push({\n          original: originalValue,\n          token: token,\n          type: piiData.pii_type || 'unknown',\n          replaced: false\n        });\n      }\n    } else {\n      // Original value not found in text\n      allReplacementsSucceeded = false;\n      replacements.push({\n        original: originalValue,\n        token: token,\n        type: piiData.pii_type || 'unknown',\n        replaced: false,\n        reason: 'Value not found in text'\n      });\n    }\n  }\n}\n\n// Return the masked text with metadata\nreturn [{\n  json: {\n    masked_text: maskedText,\n    original_text: originalText,\n    token_count: tokenCount,\n    masking_success: allReplacementsSucceeded && tokenCount > 0,\n    replacements: replacements,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "5c330f36-9762-4a29-964e-dea4ddeb5c82",
      "name": "Generate Masked Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        160
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.masked_text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a document processing AI. Extract structured information from the provided document. IMPORTANT: You are working with masked data where PII has been replaced with tokens like <<EMAIL_7F3A>>. Process the document normally and preserve these tokens in your output exactly as they appear."
        }
      },
      "id": "dfa21685-417e-4988-8a46-1710d295f034",
      "name": "AI Processing (Masked Data)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1616,
        -96
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "id": "32c67f6d-d7ad-4887-8ad6-0abedc81e8a2",
      "name": "AI Processing Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1632,
        128
      ]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"documentType\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"description\": \"Type of document processed (e.g., invoice, contract, form)\"\n\t\t},\n\t\t\"summary\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"description\": \"Brief summary of the document content\"\n\t\t},\n\t\t\"keyEntities\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"object\",\n\t\t\t\t\"properties\": {\n\t\t\t\t\t\"entityType\": {\n\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t},\n\t\t\t\t\t\"value\": {\n\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t}\n\t\t\t\t}\n\t\t\t},\n\t\t\t\"description\": \"Key entities extracted from the document\"\n\t\t},\n\t\t\"dates\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"string\"\n\t\t\t},\n\t\t\t\"description\": \"Important dates found in the document\"\n\t\t},\n\t\t\"amounts\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"object\",\n\t\t\t\t\"properties\": {\n\t\t\t\t\t\"currency\": {\n\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t},\n\t\t\t\t\t\"amount\": {\n\t\t\t\t\t\t\"type\": \"number\"\n\t\t\t\t\t},\n\t\t\t\t\t\"description\": {\n\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t}\n\t\t\t\t}\n\t\t\t},\n\t\t\t\"description\": \"Monetary amounts found in the document\"\n\t\t},\n\t\t\"processedData\": {\n\t\t\t\"type\": \"object\",\n\t\t\t\"description\": \"Additional processed information specific to document type\"\n\t\t}\n\t},\n\t\"required\": [\"documentType\", \"summary\"]\n}"
      },
      "id": "04f363c6-770a-4b3c-8fcf-19ad7e6ef5e5",
      "name": "AI Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1760,
        128
      ]
    },
    {
      "parameters": {
        "jsCode": "// Re-Injection Controller\n// Analyzes AI output, identifies fields requiring PII restoration,\n// extracts tokens, and prepares re-injection request\n\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const aiOutput = item.json.aiOutput || item.json;\n  const fieldPermissions = item.json.fieldPermissions || {};\n  const tokensToRetrieve = [];\n  const reinjectionMap = {};\n  \n  // Define which fields should have PII restored based on permissions\n  // Fields marked as 'restore' or 'unmask' will have original PII restored\n  const fieldsToRestore = Object.keys(fieldPermissions).filter(\n    field => fieldPermissions[field] === 'restore' || fieldPermissions[field] === 'unmask'\n  );\n  \n  // Traverse AI output and identify token placeholders\n  function extractTokens(obj, path = '') {\n    for (const key in obj) {\n      const currentPath = path ? `${path}.${key}` : key;\n      const value = obj[key];\n      \n      if (typeof value === 'string') {\n        // Check if value contains token pattern (e.g., TOKEN_EMAIL_123, TOKEN_PHONE_456)\n        const tokenPattern = /TOKEN_([A-Z_]+)_([a-f0-9-]+)/g;\n        const matches = value.matchAll(tokenPattern);\n        \n        for (const match of matches) {\n          const fullToken = match[0];\n          const tokenType = match[1];\n          const tokenId = match[2];\n          \n          // Check if this field should be restored\n          const shouldRestore = fieldsToRestore.some(field => \n            currentPath.includes(field) || key === field\n          );\n          \n          if (shouldRestore) {\n            tokensToRetrieve.push({\n              token: fullToken,\n              tokenId: tokenId,\n              tokenType: tokenType,\n              field: currentPath,\n              originalValue: value\n            });\n            \n            if (!reinjectionMap[currentPath]) {\n              reinjectionMap[currentPath] = [];\n            }\n            reinjectionMap[currentPath].push(fullToken);\n          }\n        }\n      } else if (typeof value === 'object' && value !== null) {\n        extractTokens(value, currentPath);\n      }\n    }\n  }\n  \n  extractTokens(aiOutput);\n  \n  // Prepare output with re-injection instructions\n  results.push({\n    json: {\n      aiOutput: aiOutput,\n      tokensToRetrieve: tokensToRetrieve,\n      reinjectionMap: reinjectionMap,\n      fieldPermissions: fieldPermissions,\n      totalTokensFound: tokensToRetrieve.length,\n      fieldsToRestore: fieldsToRestore,\n      timestamp: new Date().toISOString(),\n      workflowExecutionId: $execution.id\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "175f8406-f10b-487a-a91c-e8dd196898d3",
      "name": "Re-Injection Controller",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1968,
        0
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Workflow Configuration').first().json.vaultTable }}"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "token",
              "value": "={{ $('Re-Injection Controller').item.json.token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9940cfaa-b935-4553-9731-7e2cbf0790d8",
      "name": "Retrieve Original Values",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2192,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "yGwZ0IHTkODL3IL8",
          "name": "Postgres account dbt rn"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Restore Original PII - Replace tokens with original values from vault\n// Only restore PII for explicitly allowed fields based on re-injection policy\n\nconst aiOutput = $input.first().json;\nconst vaultData = $('Retrieve Original Values').all();\n\n// Create a map of tokens to original values\nconst tokenMap = {};\nvaultData.forEach(item => {\n  const data = item.json;\n  tokenMap[data.token] = {\n    originalValue: data.original_value,\n    piiType: data.pii_type,\n    allowedForReinjection: data.allowed_for_reinjection\n  };\n});\n\n// Function to recursively restore PII in objects\nfunction restorePII(obj) {\n  if (typeof obj === 'string') {\n    // Check if string contains tokens (format: [TOKEN_xxxxx])\n    const tokenRegex = /\\[TOKEN_[A-Z0-9]+\\]/g;\n    return obj.replace(tokenRegex, (token) => {\n      const tokenData = tokenMap[token];\n      if (tokenData && tokenData.allowedForReinjection) {\n        return tokenData.originalValue;\n      }\n      // Keep token if not allowed for re-injection\n      return token;\n    });\n  } else if (Array.isArray(obj)) {\n    return obj.map(item => restorePII(item));\n  } else if (obj !== null && typeof obj === 'object') {\n    const restored = {};\n    for (const key in obj) {\n      restored[key] = restorePII(obj[key]);\n    }\n    return restored;\n  }\n  return obj;\n}\n\n// Restore PII in the AI output\nconst restoredOutput = restorePII(aiOutput);\n\n// Create audit trail\nconst restoredFields = [];\nfor (const token in tokenMap) {\n  if (tokenMap[token].allowedForReinjection) {\n    restoredFields.push({\n      token: token,\n      piiType: tokenMap[token].piiType\n    });\n  }\n}\n\nreturn [\n  {\n    json: {\n      finalOutput: restoredOutput,\n      restoredFields: restoredFields,\n      restorationTimestamp: new Date().toISOString(),\n      totalTokensRestored: restoredFields.length\n    }\n  }\n];"
      },
      "id": "d2c29081-7df1-4848-8d5f-b9e6db48301f",
      "name": "Restore Original PII",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2416,
        0
      ]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Workflow Configuration').first().json.auditTable }}"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "document_id": "={{ $json.document_id }}",
            "pii_types_detected": "={{ $json.pii_types_detected }}",
            "token_count": "={{ $json.token_count }}",
            "ai_access_confirmed": true,
            "re_injection_events": "={{ $json.re_injection_events }}",
            "timestamp": "={{ $json.timestamp }}",
            "actor": "system"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "f61f3538-110d-40be-960b-25deefabcce3",
      "name": "Store Audit Log",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2640,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "yGwZ0IHTkODL3IL8",
          "name": "Postgres account dbt rn"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $('Generate Masked Text').item.json.masking_success }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e7bcd877-5d1f-42fa-977d-512477019fc5",
      "name": "Masking Success Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1392,
        160
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "error",
              "value": "Masking failed - AI processing blocked",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "status",
              "value": "BLOCKED",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "requires_manual_review",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "b2a47d2a-a1a6-4b69-bc95-1f978c4e4edc",
      "name": "Block AI Processing",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1680,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "<__PLACEHOLDER_VALUE__Alert webhook or notification endpoint URL__>",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "error_details",
              "value": "={{ $json.error_details }}"
            },
            {
              "name": "document_id",
              "value": "={{ $json.document_id }}"
            },
            {
              "name": "timestamp",
              "value": "={{ $now.toISO() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9f7d3163-0ab1-4eac-a381-99887d5fc2f9",
      "name": "Send Alert Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1968,
        304
      ]
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "rajeetcodeN",
    "name": "n8n_backup2"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2026-01-31T11:37:09.743Z",
      "createdAt": "2026-01-31T11:37:09.743Z",
      "role": "workflow:owner",
      "workflowId": "DaBvJSPu1989rS52",
      "projectId": "7DfoImgKnNZiM78g"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-31T11:40:16.415Z",
  "versionId": "6a47259a-511a-4ce5-84ae-2359155260b7"
}