Intelligent Bulk Email Campaign Manager with Reputation Protection and Send-Time Optimization.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Campaign Upload Webhook": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Extract CSV Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract CSV Leads": {
      "main": [
        [
          {
            "node": "Split Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Leads": {
      "main": [
        [
          {
            "node": "Validate Email & Extract Domain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Email & Extract Domain": {
      "main": [
        [
          {
            "node": "Is Email Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Email Valid?": {
      "main": [
        [
          {
            "node": "Check Domain MX Records",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Store Invalid Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Domain MX Records": {
      "main": [
        [
          {
            "node": "Enrich Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich Lead Data": {
      "main": [
        [
          {
            "node": "Store Valid Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Campaign Scheduler": {
      "main": [
        [
          {
            "node": "Get Pending Campaigns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pending Campaigns": {
      "main": [
        [
          {
            "node": "Split Campaigns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Campaigns": {
      "main": [
        [
          {
            "node": "Get Campaign Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Campaign Leads": {
      "main": [
        [
          {
            "node": "Split Campaign Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Campaign Leads": {
      "main": [
        [
          {
            "node": "Calculate Send Time & Select Inbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Send Time & Select Inbox": {
      "main": [
        [
          {
            "node": "Wait Until Send Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Until Send Time": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Log Send Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Send Event": {
      "main": [
        [
          {
            "node": "Update Inbox Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Event Webhook": {
      "main": [
        [
          {
            "node": "Parse Event Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Event Data": {
      "main": [
        [
          {
            "node": "Log Email Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Email Event": {
      "main": [
        [
          {
            "node": "Update Performance Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analytics Scheduler": {
      "main": [
        [
          {
            "node": "Get Performance Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Performance Data": {
      "main": [
        [
          {
            "node": "Calculate Best Send Times",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Best Send Times": {
      "main": [
        [
          {
            "node": "Update Send Time Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-31T11:25:50.252Z",
  "id": "RXV3GvGI9fnpZ6wS",
  "isArchived": false,
  "meta": null,
  "name": "Intelligent Bulk Email Campaign Manager with Reputation Protection and Send-Time Optimization",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "campaign-upload",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "65bd8b8e-5292-4a1c-be5a-06ebc0812d6e",
      "name": "Campaign Upload Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1696,
        64
      ],
      "webhookId": "2aa3038e-de02-4cb6-9222-027f03fbeeb7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "maxEmailsPerInboxPerHour",
              "value": 50,
              "type": "number"
            },
            {
              "id": "id-2",
              "name": "maxEmailsPerInboxPerDay",
              "value": 500,
              "type": "number"
            },
            {
              "id": "id-3",
              "name": "minDelayBetweenEmailsMinutes",
              "value": 2,
              "type": "number"
            },
            {
              "id": "id-4",
              "name": "mxRecordCheckApiUrl",
              "value": "https://dns.google/resolve",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "defaultTimezone",
              "value": "UTC",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "116896e4-2b93-47fd-bc9e-30089bf763e5",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1472,
        64
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "6fc8b1d3-38b5-4fc3-9997-84338c2a4664",
      "name": "Extract CSV Leads",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -1248,
        64
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "afa7ea0f-cf6e-446c-84ca-de4742c569d9",
      "name": "Split Leads",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1024,
        64
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Validate email syntax and extract domain information\nconst email = $input.item.json.email;\n\n// Email validation regex (RFC 5322 simplified)\nconst emailRegex = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/;\n\nconst isValid = emailRegex.test(email);\n\nlet domain = null;\nif (isValid && email) {\n  const parts = email.split('@');\n  if (parts.length === 2) {\n    domain = parts[1].toLowerCase();\n  }\n}\n\n// Return the original data plus validation results\nreturn {\n  ...($input.item.json),\n  isValid: isValid,\n  domain: domain,\n  validatedAt: new Date().toISOString()\n};"
      },
      "id": "7c44df6e-e72e-47ac-8830-72b9c4557ae3",
      "name": "Validate Email & Extract Domain",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        64
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $('Validate Email & Extract Domain').item.json.isValid }}",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ff4e7c45-365f-4104-bea0-41ee59c80519",
      "name": "Is Email Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -576,
        64
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Workflow Configuration').first().json.mxRecordCheckApiUrl }}?name={{ $json.domain }}&type=MX",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "491cc95f-2816-48e5-afd0-51011de52909",
      "name": "Check Domain MX Records",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -352,
        -32
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Extract timezone from email domain, determine domain type, calculate engagement score\nconst item = $input.item.json;\n\n// Extract domain from email\nconst email = item.email || '';\nconst domain = email.split('@')[1] || '';\n\n// Determine domain type\nlet domainType = 'corporate';\nconst freeEmailProviders = ['gmail.com', 'yahoo.com', 'outlook.com', 'hotmail.com', 'aol.com', 'icloud.com', 'protonmail.com', 'mail.com'];\n\nif (freeEmailProviders.includes(domain.toLowerCase())) {\n  if (domain.toLowerCase().includes('gmail')) {\n    domainType = 'gmail';\n  } else if (domain.toLowerCase().includes('outlook') || domain.toLowerCase().includes('hotmail')) {\n    domainType = 'outlook';\n  } else {\n    domainType = 'free';\n  }\n}\n\n// Extract timezone (simplified - based on domain TLD or default to UTC)\n// In production, you'd use a GeoIP service or domain lookup\nlet timezone = 'UTC';\nconst tld = domain.split('.').pop();\n\n// Simple TLD to timezone mapping\nconst tldTimezones = {\n  'us': 'America/New_York',\n  'uk': 'Europe/London',\n  'ca': 'America/Toronto',\n  'au': 'Australia/Sydney',\n  'de': 'Europe/Berlin',\n  'fr': 'Europe/Paris',\n  'jp': 'Asia/Tokyo',\n  'in': 'Asia/Kolkata',\n  'br': 'America/Sao_Paulo'\n};\n\ntimezone = tldTimezones[tld] || 'UTC';\n\n// Calculate engagement score (0-100)\n// Factors: domain type, MX records validity, domain age estimate\nlet engagementScore = 50; // Base score\n\n// Domain type scoring\nif (domainType === 'corporate') {\n  engagementScore += 20; // Corporate emails tend to have higher engagement\n} else if (domainType === 'gmail') {\n  engagementScore += 10;\n} else if (domainType === 'outlook') {\n  engagementScore += 5;\n}\n\n// MX records validity (if available from previous node)\nif (item.mxValid === true || item.hasMxRecords === true) {\n  engagementScore += 15;\n}\n\n// Domain length (shorter corporate domains often indicate established companies)\nif (domainType === 'corporate' && domain.length < 15) {\n  engagementScore += 10;\n}\n\n// Ensure score is within 0-100 range\nengagementScore = Math.min(100, Math.max(0, engagementScore));\n\n// Merge with original lead data\nconst enrichedLead = {\n  ...item,\n  domain: domain,\n  domainType: domainType,\n  timezone: timezone,\n  engagementScore: engagementScore,\n  enrichedAt: new Date().toISOString(),\n  isEnriched: true\n};\n\nreturn enrichedLead;"
      },
      "id": "3d4ceeb8-273a-4e95-9354-e0af31385587",
      "name": "Enrich Lead Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        -32
      ]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "name",
          "value": "leads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $json.email }}",
            "domain": "={{ $json.domain }}",
            "timezone": "={{ $json.timezone }}",
            "domain_type": "={{ $json.domain_type }}",
            "engagement_score": "={{ $json.engagement_score }}",
            "campaign_id": "={{ $json.campaign_id }}",
            "status": "pending"
          }
        },
        "options": {}
      },
      "id": "a6a40ca5-8ebd-44d4-b594-2d3305039f96",
      "name": "Store Valid Lead",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        96,
        -32
      ],
      "credentials": {
        "postgres": {
          "id": "yGwZ0IHTkODL3IL8",
          "name": "Postgres account dbt rn"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "name",
          "value": "invalid_leads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $json.email }}",
            "reason": "invalid_syntax_or_domain",
            "campaign_id": "={{ $json.campaign_id }}"
          }
        },
        "options": {}
      },
      "id": "d8ef910c-1a1a-40b9-996e-eb4d35fb1e6d",
      "name": "Store Invalid Lead",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -352,
        160
      ],
      "credentials": {
        "postgres": {
          "id": "yGwZ0IHTkODL3IL8",
          "name": "Postgres account dbt rn"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "c153b8a3-ba6e-4dc7-80b9-e1c0d70edfea",
      "name": "Campaign Scheduler",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1696,
        384
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM campaigns WHERE status = 'active' AND scheduled_time <= NOW()",
        "options": {}
      },
      "id": "192b5a84-09c5-40eb-98a6-e825d09638c9",
      "name": "Get Pending Campaigns",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1472,
        384
      ],
      "credentials": {
        "postgres": {
          "id": "yGwZ0IHTkODL3IL8",
          "name": "Postgres account dbt rn"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "347c87a3-403b-4657-a999-36b705fbc0e6",
      "name": "Split Campaigns",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1248,
        384
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT l.*, st.best_send_hour FROM leads l LEFT JOIN send_time_rules st ON l.timezone = st.timezone WHERE l.campaign_id = {{ $json.id }} AND l.status = 'pending' ORDER BY l.engagement_score DESC LIMIT 100",
        "options": {}
      },
      "id": "fee036fc-7446-489c-bd8f-697162fcef4e",
      "name": "Get Campaign Leads",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1024,
        384
      ],
      "credentials": {
        "postgres": {
          "id": "yGwZ0IHTkODL3IL8",
          "name": "Postgres account dbt rn"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "139ad996-f599-4953-a996-6dab0fcabcd7",
      "name": "Split Campaign Leads",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -800,
        384
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Calculate optimal send time and select inbox with round-robin and throttle limits\n\nconst item = $input.item.json;\n\n// Extract lead and campaign data\nconst leadTimezone = item.timezone || 'America/New_York';\nconst bestSendHour = item.best_send_hour || 10; // Default to 10 AM\nconst campaignId = item.campaign_id;\n\n// Calculate optimal send time based on timezone and best send hour\nconst now = new Date();\nconst sendTime = new Date();\n\n// Convert to lead's timezone and set to best send hour\ntry {\n  const luxon = require('luxon');\n  const dt = luxon.DateTime.now().setZone(leadTimezone);\n  \n  // Set to best send hour today\n  let targetTime = dt.set({ hour: bestSendHour, minute: 0, second: 0, millisecond: 0 });\n  \n  // If the time has passed today, schedule for tomorrow\n  if (targetTime < dt) {\n    targetTime = targetTime.plus({ days: 1 });\n  }\n  \n  sendTime.setTime(targetTime.toMillis());\n} catch (error) {\n  // Fallback: schedule for next occurrence of best send hour\n  sendTime.setHours(bestSendHour, 0, 0, 0);\n  if (sendTime <= now) {\n    sendTime.setDate(sendTime.getDate() + 1);\n  }\n}\n\n// Get available inboxes (this would typically come from a database query)\n// For now, we'll use a placeholder that should be replaced with actual inbox data\nconst inboxes = item.available_inboxes || [];\n\nif (!inboxes || inboxes.length === 0) {\n  throw new Error('No available inboxes found for campaign');\n}\n\n// Round-robin inbox selection with throttle limit checking\nlet selectedInbox = null;\nconst currentHour = now.getHours();\nconst currentDate = now.toISOString().split('T')[0];\n\nfor (let i = 0; i < inboxes.length; i++) {\n  const inbox = inboxes[i];\n  \n  // Check daily limit\n  const dailySent = inbox.daily_sent || 0;\n  const dailyLimit = inbox.daily_limit || 500;\n  \n  // Check hourly limit\n  const hourlySent = inbox.hourly_sent || 0;\n  const hourlyLimit = inbox.hourly_limit || 50;\n  \n  // Check if inbox is within limits\n  if (dailySent < dailyLimit && hourlySent < hourlyLimit) {\n    selectedInbox = inbox;\n    break;\n  }\n}\n\nif (!selectedInbox) {\n  throw new Error('All inboxes have reached their throttle limits');\n}\n\n// Return the calculated data\nreturn {\n  ...item,\n  sendTime: sendTime.toISOString(),\n  selectedInbox: {\n    id: selectedInbox.id,\n    email: selectedInbox.email,\n    daily_sent: selectedInbox.daily_sent || 0,\n    daily_limit: selectedInbox.daily_limit || 500,\n    hourly_sent: selectedInbox.hourly_sent || 0,\n    hourly_limit: selectedInbox.hourly_limit || 50\n  },\n  calculatedAt: now.toISOString()\n};"
      },
      "id": "ea3df39b-cab4-4398-969b-36e523fb6819",
      "name": "Calculate Send Time & Select Inbox",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -576,
        384
      ]
    },
    {
      "parameters": {
        "resume": "specificTime",
        "dateTime": "={{ $json.sendTime }}"
      },
      "id": "aa8fe092-c69c-4467-a23a-9136faec687d",
      "name": "Wait Until Send Time",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -352,
        384
      ],
      "webhookId": "716ccc9f-9e9c-4c3f-94b8-218687d41796"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.emailBody }}",
        "options": {
          "senderName": "={{ $json.selectedInbox }}"
        }
      },
      "id": "a6b01f05-5924-4e5d-8017-dbfa55240e77",
      "name": "Send Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -128,
        384
      ],
      "webhookId": "82f31619-0f9a-4f5f-9b22-b52ac4cd8034"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "name",
          "value": "email_events"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_id": "={{ $json.lead_id }}",
            "campaign_id": "={{ $json.campaign_id }}",
            "event_type": "sent",
            "inbox_used": "={{ $json.inbox_used }}",
            "sent_at": "={{ $now.toISO() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "campaign_id",
              "displayName": "campaign_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "event_type",
              "displayName": "event_type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "inbox_used",
              "displayName": "inbox_used",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "sent_at",
              "displayName": "sent_at",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "56f86147-61dc-4fe1-a272-cf3cf7c9e174",
      "name": "Log Send Event",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        96,
        384
      ],
      "credentials": {
        "postgres": {
          "id": "yGwZ0IHTkODL3IL8",
          "name": "Postgres account dbt rn"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE inbox_stats SET emails_sent_today = emails_sent_today + 1, emails_sent_this_hour = emails_sent_this_hour + 1, last_send_time = NOW() WHERE inbox_email = '={{ $json.selectedInbox }}'",
        "options": {}
      },
      "id": "fe163e60-94f2-421f-a584-fd5624752d51",
      "name": "Update Inbox Stats",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        320,
        384
      ],
      "credentials": {
        "postgres": {
          "id": "yGwZ0IHTkODL3IL8",
          "name": "Postgres account dbt rn"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "email-events",
        "options": {}
      },
      "id": "b0ca785c-8c8b-400f-ad40-6e76a44e775b",
      "name": "Email Event Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1696,
        608
      ],
      "webhookId": "6e4acaba-c102-4f8c-99ad-10da58402e6c"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Parse webhook payload for email events\nconst payload = $input.item.json;\n\n// Extract event data from webhook payload\nconst eventType = payload.event_type || payload.eventType || payload.type || 'unknown';\nconst emailIdentifier = payload.email_id || payload.emailId || payload.message_id || payload.messageId || '';\nconst timestamp = payload.timestamp || payload.event_time || payload.eventTime || new Date().toISOString();\n\n// Extract additional event details\nconst recipientEmail = payload.recipient || payload.to || payload.email || '';\nconst campaignId = payload.campaign_id || payload.campaignId || '';\nconst leadId = payload.lead_id || payload.leadId || '';\n\n// Extract event-specific data\nlet eventDetails = {};\n\nswitch(eventType.toLowerCase()) {\n  case 'open':\n    eventDetails = {\n      userAgent: payload.user_agent || payload.userAgent || '',\n      ipAddress: payload.ip_address || payload.ipAddress || '',\n      location: payload.location || ''\n    };\n    break;\n  \n  case 'click':\n    eventDetails = {\n      clickedUrl: payload.url || payload.link || '',\n      userAgent: payload.user_agent || payload.userAgent || '',\n      ipAddress: payload.ip_address || payload.ipAddress || ''\n    };\n    break;\n  \n  case 'reply':\n    eventDetails = {\n      replyContent: payload.reply_content || payload.content || '',\n      replySubject: payload.subject || ''\n    };\n    break;\n  \n  case 'bounce':\n    eventDetails = {\n      bounceType: payload.bounce_type || payload.bounceType || 'hard',\n      bounceReason: payload.reason || payload.bounce_reason || '',\n      diagnosticCode: payload.diagnostic_code || ''\n    };\n    break;\n  \n  default:\n    eventDetails = payload;\n}\n\n// Return structured event data\nreturn {\n  eventType: eventType.toLowerCase(),\n  emailIdentifier,\n  timestamp,\n  recipientEmail,\n  campaignId,\n  leadId,\n  eventDetails,\n  rawPayload: payload\n};"
      },
      "id": "1cba2ad1-82e2-4c74-a620-ca935e90ab40",
      "name": "Parse Event Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1472,
        608
      ]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "name",
          "value": "email_events"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_id": "={{ $json.lead_id }}",
            "campaign_id": "={{ $json.campaign_id }}",
            "event_type": "={{ $json.event_type }}",
            "event_timestamp": "={{ $json.event_timestamp }}",
            "inbox_used": "={{ $json.inbox_used }}"
          },
          "matchingColumns": [
            "lead_id",
            "campaign_id",
            "event_type",
            "event_timestamp",
            "inbox_used"
          ],
          "schema": [
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "campaign_id",
              "displayName": "campaign_id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "event_type",
              "displayName": "event_type",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "event_timestamp",
              "displayName": "event_timestamp",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "inbox_used",
              "displayName": "inbox_used",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "bae8c9c0-2a12-4cde-bbbe-02c00b5c4d89",
      "name": "Log Email Event",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1248,
        608
      ],
      "credentials": {
        "postgres": {
          "id": "yGwZ0IHTkODL3IL8",
          "name": "Postgres account dbt rn"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE campaign_stats SET total_opens = total_opens + CASE WHEN '{{ $json.event_type }}' = 'open' THEN 1 ELSE 0 END, total_clicks = total_clicks + CASE WHEN '{{ $json.event_type }}' = 'click' THEN 1 ELSE 0 END, total_replies = total_replies + CASE WHEN '{{ $json.event_type }}' = 'reply' THEN 1 ELSE 0 END WHERE campaign_id = {{ $json.campaign_id }}",
        "options": {}
      },
      "id": "ad6dca2a-610b-43d1-9a7e-d9e975beef1c",
      "name": "Update Performance Stats",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1024,
        608
      ],
      "credentials": {
        "postgres": {
          "id": "yGwZ0IHTkODL3IL8",
          "name": "Postgres account dbt rn"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "6722eff8-f989-4911-b2b0-57d69b1162a4",
      "name": "Analytics Scheduler",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1696,
        832
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT EXTRACT(HOUR FROM event_timestamp) as hour, l.timezone, COUNT(*) as open_count FROM email_events e JOIN leads l ON e.lead_id = l.id WHERE e.event_type = 'open' AND e.event_timestamp > NOW() - INTERVAL '30 days' GROUP BY hour, l.timezone ORDER BY l.timezone, open_count DESC",
        "options": {}
      },
      "id": "3daebf44-159e-4c78-a35b-2bd8f99f8587",
      "name": "Get Performance Data",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1472,
        832
      ],
      "credentials": {
        "postgres": {
          "id": "yGwZ0IHTkODL3IL8",
          "name": "Postgres account dbt rn"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Analyze performance data to find optimal send times by timezone\nconst items = $input.all();\n\n// Group data by timezone and hour\nconst timezoneHourStats = {};\n\nfor (const item of items) {\n  const timezone = item.json.timezone || 'UTC';\n  const sendHour = item.json.send_hour;\n  const openRate = parseFloat(item.json.open_rate) || 0;\n  const totalSent = parseInt(item.json.total_sent) || 0;\n  const totalOpened = parseInt(item.json.total_opened) || 0;\n  \n  if (!timezoneHourStats[timezone]) {\n    timezoneHourStats[timezone] = {};\n  }\n  \n  if (!timezoneHourStats[timezone][sendHour]) {\n    timezoneHourStats[timezone][sendHour] = {\n      totalSent: 0,\n      totalOpened: 0,\n      openRate: 0,\n      count: 0\n    };\n  }\n  \n  timezoneHourStats[timezone][sendHour].totalSent += totalSent;\n  timezoneHourStats[timezone][sendHour].totalOpened += totalOpened;\n  timezoneHourStats[timezone][sendHour].count += 1;\n}\n\n// Calculate average open rates and find best send times\nconst results = [];\n\nfor (const timezone in timezoneHourStats) {\n  let bestHour = null;\n  let bestOpenRate = 0;\n  \n  for (const hour in timezoneHourStats[timezone]) {\n    const stats = timezoneHourStats[timezone][hour];\n    \n    // Calculate weighted open rate\n    if (stats.totalSent > 0) {\n      stats.openRate = (stats.totalOpened / stats.totalSent) * 100;\n      \n      // Track best performing hour\n      if (stats.openRate > bestOpenRate) {\n        bestOpenRate = stats.openRate;\n        bestHour = parseInt(hour);\n      }\n    }\n  }\n  \n  // Create result for this timezone\n  if (bestHour !== null) {\n    results.push({\n      json: {\n        timezone: timezone,\n        optimal_send_hour: bestHour,\n        best_open_rate: bestOpenRate.toFixed(2),\n        hour_stats: timezoneHourStats[timezone],\n        analyzed_at: new Date().toISOString()\n      }\n    });\n  }\n}\n\n// Sort by timezone for consistent output\nresults.sort((a, b) => a.json.timezone.localeCompare(b.json.timezone));\n\nreturn results;"
      },
      "id": "6f55f80b-c0af-42d9-9112-3b79f521fddf",
      "name": "Calculate Best Send Times",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1248,
        832
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "name",
          "value": "send_time_rules"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timezone": "={{ $json.timezone }}",
            "best_send_hour": "={{ $json.best_send_hour }}",
            "last_updated": "={{ $now.toISO() }}"
          },
          "matchingColumns": [
            "timezone"
          ],
          "schema": [
            {
              "id": "timezone",
              "displayName": "timezone",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "best_send_hour",
              "displayName": "best_send_hour",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "last_updated",
              "displayName": "last_updated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ]
        },
        "options": {}
      },
      "id": "6fba47ee-f4c5-402b-ad27-404c40c13ce6",
      "name": "Update Send Time Rules",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1024,
        832
      ],
      "credentials": {
        "postgres": {
          "id": "yGwZ0IHTkODL3IL8",
          "name": "Postgres account dbt rn"
        }
      }
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "rajeetcodeN",
    "name": "n8n_backup2"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2026-01-31T11:25:50.257Z",
      "createdAt": "2026-01-31T11:25:50.257Z",
      "role": "workflow:owner",
      "workflowId": "RXV3GvGI9fnpZ6wS",
      "projectId": "7DfoImgKnNZiM78g"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-31T11:29:11.135Z",
  "versionId": "4bcbfb37-ed89-437d-9823-6386e7083c85"
}