Intelligent Multi-Agent Task Router with Confidence-Based Fallback.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Supervisor Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Routing Decision Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Supervisor Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model - Supervisor": {
      "ai_languageModel": [
        [
          {
            "node": "Supervisor Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supervisor Agent": {
      "main": [
        [
          {
            "node": "Check Confidence Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Confidence Score": {
      "main": [
        [
          {
            "node": "Execute Selected Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Fallback Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Task Agent Tool": {
      "ai_tool": [
        [
          {
            "node": "Execute Selected Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Complex Task Agent Tool": {
      "ai_tool": [
        [
          {
            "node": "Execute Selected Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model - Simple Agent": {
      "ai_languageModel": [
        [
          {
            "node": "Simple Task Agent Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model - Complex Agent": {
      "ai_languageModel": [
        [
          {
            "node": "Complex Task Agent Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model - Executor": {
      "ai_languageModel": [
        [
          {
            "node": "Execute Selected Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-28T14:53:22.464Z",
  "id": "xrbuI1dHaUDzJQdk",
  "isArchived": false,
  "meta": null,
  "name": "Intelligent Multi-Agent Task Router with Confidence-Based Fallback",
  "nodes": [
    {
      "parameters": {},
      "id": "da16cdf8-6262-4e96-97c1-5151998db97d",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -4288,
        1216
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "userRequest",
              "value": "<__PLACEHOLDER_VALUE__User task request__>",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "confidenceThreshold",
              "value": 0.7,
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "5ac4ae0a-24a6-467b-98bc-4370b76c244a",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4064,
        1216
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userRequest }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a supervisor agent that analyzes incoming task requests and determines the appropriate complexity level.\n\nYour task is to:\n1. Analyze the user request for complexity indicators (multi-step reasoning, domain expertise, data analysis needs)\n2. Assign a complexity level: \"simple\" or \"complex\"\n3. Provide a confidence score (0.0 to 1.0) indicating how certain you are about the classification\n4. Provide a brief reasoning for your decision\n\nClassification guidelines:\n- Simple tasks: Basic questions, single-step operations, straightforward information retrieval\n- Complex tasks: Multi-step reasoning, domain expertise required, data analysis, creative problem-solving\n\nReturn your analysis in the structured JSON format."
        }
      },
      "id": "219a256b-c3db-4736-b47e-13ac94f8218f",
      "name": "Supervisor Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -3840,
        1216
      ]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"complexity\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"enum\": [\"simple\", \"complex\"],\n\t\t\t\"description\": \"Task complexity level\"\n\t\t},\n\t\t\"confidence\": {\n\t\t\t\"type\": \"number\",\n\t\t\t\"minimum\": 0,\n\t\t\t\"maximum\": 1,\n\t\t\t\"description\": \"Confidence score for the classification\"\n\t\t},\n\t\t\"reasoning\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"description\": \"Brief explanation of the classification decision\"\n\t\t}\n\t},\n\t\"required\": [\"complexity\", \"confidence\", \"reasoning\"]\n}"
      },
      "id": "5a2e4ffc-776f-4b36-8b85-cce608b95eff",
      "name": "Routing Decision Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -3696,
        1440
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "b44623ae-d8c6-4574-8e09-ef81b832fe4c",
      "name": "OpenAI Model - Supervisor",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -3824,
        1440
      ],
      "credentials": {
        "openAiApi": {
          "id": "zHMgvi1Nu77MFY12",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.confidence }}",
              "rightValue": "={{ $('Workflow Configuration').first().json.confidenceThreshold }}",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "823f3a38-79b5-41d4-9d87-463cd0e5aefc",
      "name": "Check Confidence Score",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3488,
        1216
      ]
    },
    {
      "parameters": {
        "toolDescription": "Handles straightforward tasks like basic questions and simple information retrieval",
        "text": "={{ $fromAI(\"task\", \"The task to process\") }}",
        "options": {
          "systemMessage": "You are a simple task agent specialized in handling straightforward requests.\n\nYour capabilities:\n- Answer basic questions\n- Provide simple information\n- Perform single-step operations\n- Give quick, concise responses\n\nProvide clear, direct answers without unnecessary complexity."
        }
      },
      "id": "850f5352-9ada-47b1-bcee-f61f1169fdb4",
      "name": "Simple Task Agent Tool",
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        -3136,
        1040
      ]
    },
    {
      "parameters": {
        "toolDescription": "Handles complex tasks requiring multi-step reasoning, analysis, or domain expertise",
        "text": "={{ $fromAI(\"task\", \"The task to process\") }}",
        "options": {
          "systemMessage": "You are a complex task agent specialized in handling sophisticated requests.\n\nYour capabilities:\n- Multi-step reasoning and problem-solving\n- In-depth analysis and research\n- Domain expertise application\n- Creative problem-solving\n- Detailed explanations and comprehensive responses\n\nProvide thorough, well-reasoned answers with supporting details and step-by-step explanations when appropriate."
        }
      },
      "id": "141315cc-b620-4d3a-9db7-22bdec73734f",
      "name": "Complex Task Agent Tool",
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        -2848,
        1040
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "d048bfd3-c145-4aae-91f5-ccd3383a0c2c",
      "name": "OpenAI Model - Simple Agent",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -3056,
        1248
      ],
      "credentials": {
        "openAiApi": {
          "id": "zHMgvi1Nu77MFY12",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "47dd519a-e0ac-4436-a3de-1478d87bab95",
      "name": "OpenAI Model - Complex Agent",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -2768,
        1248
      ],
      "credentials": {
        "openAiApi": {
          "id": "zHMgvi1Nu77MFY12",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Workflow Configuration').first().json.userRequest }}",
        "options": {
          "systemMessage": "=You are an orchestrator agent that executes tasks by delegating to specialized agents.\n\nYour task is to:\n1. Analyze the user request\n2. Determine which specialized agent tool to call based on the task complexity from the supervisor\n3. Call the Simple Task Agent Tool for simple requests\n4. Call the Complex Task Agent Tool for complex requests\n5. Return the final result from the selected agent\n\nTask complexity classification: {{ $json.complexity }}\nReasoning: {{ $json.reasoning }}"
        }
      },
      "id": "c462c30c-d20c-48d8-a189-dc32c9faf272",
      "name": "Execute Selected Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -3120,
        816
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "26c0cae4-816f-4e76-aaba-d28044a52302",
      "name": "OpenAI Model - Executor",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -3264,
        1040
      ],
      "credentials": {
        "openAiApi": {
          "id": "zHMgvi1Nu77MFY12",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "<__PLACEHOLDER_VALUE__Sender email address__>",
        "toEmail": "<__PLACEHOLDER_VALUE__Admin email address__>",
        "subject": "Low Confidence Alert: Task Classification Uncertain",
        "emailFormat": "text",
        "text": "=A task was classified with low confidence and requires human review.\n\nUser Request: {{ $('Workflow Configuration').first().json.userRequest }}\n\nClassification: {{ $json.complexity }}\nConfidence Score: {{ $json.confidence }}\nReasoning: {{ $json.reasoning }}\n\nThreshold: {{ $('Workflow Configuration').first().json.confidenceThreshold }}\n\nPlease review this task manually.",
        "options": {}
      },
      "id": "1fc7d67a-aa15-41e6-8436-73564c5ecc1c",
      "name": "Send Fallback Alert",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -2976,
        1424
      ],
      "webhookId": "983855a5-5d27-4d40-9b1d-18a02956cbff"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "rajeetcodeN",
    "name": "n8n_backup2"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2026-02-28T14:53:22.467Z",
      "createdAt": "2026-02-28T14:53:22.467Z",
      "role": "workflow:owner",
      "workflowId": "xrbuI1dHaUDzJQdk",
      "projectId": "7DfoImgKnNZiM78g"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-28T14:55:34.841Z",
  "versionId": "a24211c4-bb90-44d6-98ae-aedba18abf61"
}