invoice extractor.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-08T18:50:39.117Z",
    "createdAt": "2026-01-08T18:50:39.117Z",
    "versionId": "a3968cc1-2315-4517-8983-d5db4bd35149",
    "workflowId": "rUqqIj1qn1FYAqSz",
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -3728,
          -896
        ],
        "id": "57e7b971-8928-435e-98df-5937cfe78868",
        "name": "When clicking ‘Test workflow’"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -3280,
          -896
        ],
        "id": "ccc1df4d-409d-46aa-892a-1f92f595dd35",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
                "name": "file_id",
                "value": "={{ $json.id }}",
                "type": "string"
              },
              {
                "id": "f4536df5-d0b1-4392-bf17-b8137fb31a44",
                "name": "file_type",
                "value": "={{ $json.mimeType }}",
                "type": "string"
              },
              {
                "id": "77d782de-169d-4a46-8a8e-a3831c04d90f",
                "name": "file_title",
                "value": "={{ $json.name }}",
                "type": "string"
              },
              {
                "id": "9bde4d7f-e4f3-4ebd-9338-dce1350f9eab",
                "name": "file_url",
                "value": "={{ $json.webViewLink }}",
                "type": "string"
              },
              {
                "id": "fae402c8-c486-4b57-8d28-bf669db6b442",
                "name": "last_modified_date",
                "value": "={{ $json.modifiedTime }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "8aabc4d5-18ea-4289-9639-a825360fd67d",
        "name": "Set File ID",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -3040,
          -896
        ]
      },
      {
        "parameters": {
          "resource": "fileFolder",
          "searchMethod": "query",
          "filter": {
            "folderId": {
              "__rl": true,
              "value": "1jnZa-XZvoTzNgrjzYijWWPBST6-m6XuF",
              "mode": "list",
              "cachedResultName": "Nosta ocr test ",
              "cachedResultUrl": "https://drive.google.com/drive/folders/1jnZa-XZvoTzNgrjzYijWWPBST6-m6XuF"
            }
          },
          "options": {
            "fields": [
              "id",
              "name",
              "webViewLink",
              "mimeType",
              "*"
            ]
          }
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          -3520,
          -896
        ],
        "id": "b7bce12f-b89a-4c0e-bb8c-627330f91e7f",
        "name": "Google Drive2",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "8TJAGPnMBWLtBC4X",
            "name": "Google Drive dbt rn"
          }
        }
      },
      {
        "parameters": {
          "operation": "download",
          "fileId": {
            "__rl": true,
            "value": "={{ $('Set File ID').item.json.file_url }}",
            "mode": "url"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          -2848,
          -896
        ],
        "id": "cc876e8d-42f2-4a19-bd78-04cb54e295c3",
        "name": "Google Drive3",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "8TJAGPnMBWLtBC4X",
            "name": "Google Drive dbt rn"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.mistral.ai/v1/files",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "mistralCloudApi",
          "sendBody": true,
          "contentType": "multipart-form-data",
          "bodyParameters": {
            "parameters": [
              {
                "name": "purpose",
                "value": "ocr"
              },
              {
                "parameterType": "formBinaryData",
                "name": "file",
                "inputDataFieldName": "data"
              }
            ]
          },
          "options": {}
        },
        "id": "4be29eae-bdc4-4a65-890d-81a2ef1acc2c",
        "name": "Mistral Upload1",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          -2688,
          -896
        ],
        "typeVersion": 4.2,
        "credentials": {
          "mistralCloudApi": {
            "id": "NRp52l3NFK2olZNh",
            "name": "Mistral Cloud account dbt test"
          }
        }
      },
      {
        "parameters": {
          "url": "=https://api.mistral.ai/v1/files/{{ $json.id }}/url",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "mistralCloudApi",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "expiry",
                "value": "1"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept",
                "value": "application/json"
              }
            ]
          },
          "options": {}
        },
        "id": "fc12c266-b74d-419b-972d-a7c230b1cca1",
        "name": "Mistral Signed URL1",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          -2528,
          -896
        ],
        "typeVersion": 4.2,
        "credentials": {
          "mistralCloudApi": {
            "id": "NRp52l3NFK2olZNh",
            "name": "Mistral Cloud account dbt test"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.mistral.ai/v1/ocr",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "mistralCloudApi",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"document_url\": \"{{ $json.url }}\"\n  },\n  \"bbox_annotation_format\": {\n    \"type\": \"json_schema\",\n    \"json_schema\": {\n      \"schema\": {\n        \"properties\": {\n          \"image_type\": { \"title\": \"Image_Type\", \"type\": \"string\", \"description\": \"type of image\" },\n          \"short_description\": { \"title\": \"Short_Description\", \"type\": \"string\", \"description\": \"short description\" },\n          \"summary\": { \"title\": \"Summary\", \"type\": \"string\", \"description\": \"summary of the image\" }\n        },\n        \"required\": [\"image_type\",\"short_description\",\"summary\"],\n        \"title\": \"BBOXAnnotation\",\n        \"type\": \"object\",\n        \"additionalProperties\": false\n      },\n      \"name\": \"bbox_annotation\",\n      \"strict\": true\n    }\n  },\n  \"include_image_base64\": false\n}\n",
          "options": {}
        },
        "id": "8bd24e4f-5568-40a1-850b-e635816f7625",
        "name": "Mistral DOC OCR6",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          -2368,
          -592
        ],
        "typeVersion": 4.2,
        "credentials": {
          "mistralCloudApi": {
            "id": "NRp52l3NFK2olZNh",
            "name": "Mistral Cloud account dbt test"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "c8160701-2be7-43c6-bcfa-295fbebe0e23",
                "name": "ocr output",
                "value": "={{ $json.embedding_text }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1888,
          -592
        ],
        "id": "969ebb6a-209d-4fd5-9922-a183830cfc9d",
        "name": "Edit Fields4"
      },
      {
        "parameters": {
          "jsCode": "// n8n Function node\n// Keeps image array from input, inserts embedding_text inline with images\n\nconst pages = items[0].json.pages;\nlet output = [];\n\nfor (const page of pages) {\n  let text = `Page ${page.index}\\n\\n`;\n  let markdown = page.markdown;\n\n  // Replace each image markdown with annotation text if available\n  markdown = markdown.replace(/!\\[(.*?)\\]\\((.*?)\\)/g, (match, alt, src) => {\n    const img = page.images.find(i => i.id === src || i.fileName === src);\n    if (img && img.image_annotation) {\n      const ann = JSON.parse(img.image_annotation);\n      return (\n        '{' +\n        `Image: [${img.id}]\\n` +\n        `Type: ${ann.image_type}\\n` +\n        `Short: ${ann.short_description}\\n` +\n        `Summary: ${ann.summary}\\n` +\n        '}'\n      );\n    }\n    return \"\"; // if no annotation, strip it\n  });\n\n  text += markdown.trim();\n\n  output.push({\n    json: {\n      page_index: page.index,\n      embedding_text: text,\n      images: page.images   // ✅ keep original images array\n    }\n  });\n}\n\nreturn output;\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2144,
          -576
        ],
        "id": "c4d09253-5d2c-425c-8b6c-a20716edba9a",
        "name": "Code10"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.mistral.ai/v1/chat/completions",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "mistralCloudApi",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"model\": \"mistral-medium-latest\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an expert AI for extracting structured data from invoices, POs, and RFQs via URLs. Your ONLY output must be a single, valid JSON object (no prose, no markdown, no code fences). TARGET SCHEMA (and nothing else): { \\\"document_info\\\": { \\\"type\\\": \\\"string\\\", \\\"date\\\": \\\"YYYY-MM-DD\\\", \\\"customer_name\\\": \\\"string\\\", \\\"customer_number\\\": \\\"string\\\", \\\"supplier_number\\\": \\\"string\\\", \\\"order_number\\\": \\\"string\\\" }, \\\"requested_items\\\": [ { \\\"pos\\\": \\\"string\\\", \\\"article_number\\\": \\\"string\\\", \\\"customer_article_number\\\": \\\"string\\\", \\\"article_name\\\": \\\"string\\\", \\\"quantity\\\": number, \\\"unit\\\": \\\"string\\\", \\\"delivery_date\\\": \\\"YYYY-MM-DD|null\\\" } ] } RULES: 1) Do not add extra fields. Unknown values -> null. 2) Normalize date to YYYY-MM-DD (accept DD.MM.YYYY, DD/MM/YYYY, MM/DD/YYYY, YYYY/MM/DD, month names). If multiple candidates, choose issue/creation date; else null. 3) customer_name: Always the buyer/customer (Customer/Kunde/Buyer/Bill To). HARD RULE: If 'Nosta' or 'Nosta GmbH' appears, it must ALWAYS be supplier_name (never customer_name). If another company appears together with Nosta GmbH, assign that other company to customer_name and Nosta GmbH to supplier_name. If only Nosta GmbH appears, supplier_name = 'Nosta GmbH' and customer_name = null. 4) order_number: accept Order/PO/RFQ/Reference/Bestellnummer; keep only letters, digits, '-', '/'; else null. 5) customer_number: take from Unsere Kundennr/KundeNr/Customer no. 6) supplier_number: take from Lieferant/Supplier no. If missing, but Nosta is present, use 'Nosta GmbH' as the supplier. 7) requested_items: Extract ALL rows across all pages. pos: Use ONLY the value from the dedicated Pos/Position/Item column. Trim leading zeros (e.g., '01' -> '1'). If the Pos column is missing, unreadable, merged, duplicated, out of order, or shows long numbers (>3 digits) that look like article/material numbers, IGNORE them and assign clean sequential positions starting at '1' and incrementing by 1 ('1','2','3',...). Ensure uniqueness and strictly increasing order by row appearance. NEVER copy article/material/reference numbers into pos. article_number: Supplier’s material/part number (column labeled Artikel, Artikelnummer, Materialnummer, Art.-Nr, etc.). customer_article_number: If an additional reference appears (labels like Ihre Artikelnr, Materialnummer Lieferant, Ihre Nr.), capture it here; else null. article_name: Descriptive text of the item (DIN …, PASSFED …, NUTENSTEIN …). Strip trailing unit tokens like ST, pcs, etc. quantity: JSON number; normalize '12,5' → 12.5; strip thousands separators. unit: Normalize to lowercase short code. Map aliases: pcs: [piece, pieces, stk, stück, st, pce]; kg: [kg, kilogram, kilograms]; m: [m, meter, metre, meters]; set: [set, sets]; l: [l, liter, litre, liters]. delivery_date: Extract if explicitly stated, else null. Multi-page handling: If a line item is split across pages (e.g., pos and quantity on one page, description or reference on the next), merge into a single requested_items entry. 8) Ignore prices/taxes/currency unless part of the name. 9) Handle multilingual labels: date (Datum/Issue Date), items (Pos/Position/Item; Bezeichnung/Artikel/Description; Menge/Qty/Quantity; Einheit/Unit). 10) Clean OCR artifacts: remove hyphenation, header/footer noise. 11) Validate before returning: JSON must parse; types must match; quantity is a number; unit is a short code; if no items found, return requested_items: []. 12) Output strictly the JSON object—no explanations. 13) You must respond ONLY with valid raw rendered JSON. Do NOT include the word 'json'. Do NOT include the word '```json'. Do NOT use triple backticks or markdown formatting. Do NOT wrap the response in any key like 'output'. Do NOT write anything starting at output — directly start with valid root-level JSON. Only respond with a valid, root-level JSON object. 14) Do NOT skip any line item.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"Extract order information from this document and return only valid JSON with this structure:\\n{\\n  \\\"document_info\\\": {\\n    \\\"type\\\": \\\"string\\\",\\n    \\\"date\\\": \\\"YYYY-MM-DD\\\",\\n    \\\"customer_name\\\": \\\"string\\\",\\n    \\\"customer_number\\\": \\\"string\\\",\\n    \\\"supplier_number\\\": \\\"string\\\",\\n    \\\"order_number\\\": \\\"string\\\"\\n  },\\n  \\\"requested_items\\\": [\\n    { \\\"pos\\\": \\\"string\\\", \\\"article_number\\\": \\\"string\\\", \\\"customer_article_number\\\": \\\"string\\\", \\\"article_name\\\": \\\"string\\\", \\\"quantity\\\": number, \\\"unit\\\": \\\"string\\\", \\\"delivery_date\\\": \\\"YYYY-MM-DD|null\\\" }\\n  ]\\n}\\nReturn JUST the JSON—no extra text.\"\n        },\n        {\n          \"type\": \"document_url\",\n          \"document_url\": \"{{ $json.url }}\"\n        }\n      ]\n    }\n  ],\n  \"document_image_limit\": 8,\n  \"document_page_limit\": 64\n}\n",
          "options": {}
        },
        "id": "ebdd6fb0-c2a3-4b56-a024-7b5c196b5d52",
        "name": "Mistral DOC OCR8",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          -2352,
          -912
        ],
        "typeVersion": 4.2,
        "credentials": {
          "mistralCloudApi": {
            "id": "NRp52l3NFK2olZNh",
            "name": "Mistral Cloud account dbt test"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "f34f23d8-edf0-434b-97f2-1bb77b7b16f0",
                "name": "output",
                "value": "=\n\n\n{{ $json.choices[0].message.content }}\n",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -2048,
          -1296
        ],
        "id": "29813c6e-ead9-4656-b275-b5e619359209",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "92f6b7a4-ac37-4a82-af5a-83d3ffa23861",
                "name": "output ",
                "value": "={{ JSON.parse($json.output) }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1824,
          -1296
        ],
        "id": "2a306334-ab53-4e21-a5bb-8e80f383fd8d",
        "name": "Edit Fields1"
      },
      {
        "parameters": {
          "jsCode": "const rawOutput = $input.first().json[\"output \"]; // Note the space!\nconst parsedData = JSON.parse(rawOutput);\nreturn [{ json: parsedData }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1616,
          -1296
        ],
        "id": "1147abe0-0f34-4529-975c-5f5e82b7de2a",
        "name": "Code"
      },
      {
        "parameters": {
          "fieldToSplitOut": "requested_items",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          -1440,
          -1424
        ],
        "id": "ce8f6200-ff35-4b34-9eb2-f9652ffe504f",
        "name": "Split Out"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          -1216,
          -1424
        ],
        "id": "757ee8a3-90d3-464f-9e67-a7d3aff277e8",
        "name": "Convert to File"
      },
      {
        "parameters": {
          "jsonSchemaExample": "[\n  {\n    \"document_info\": {\n      \"type\": null,\n      \"date\": null,\n      \"customer_name\": null,\n      \"customer_number\": null,\n      \"supplier_number\": null,\n      \"order_number\": null\n    },\n    \"requested_items\": [\n      {\n        \"pos\": null,\n        \"article_number\": null,\n        \"customer_article_number\": null,\n        \"article_name\": null,\n        \"quantity\": null,\n        \"unit\": null,\n        \"delivery_date\": null\n      }\n    ]\n  }\n]\n"
        },
        "id": "e9ce5c8d-ce6a-4665-82e4-5bf94031e73c",
        "name": "Structured Output Parser (Example)",
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "position": [
          -1136,
          -400
        ],
        "typeVersion": 1.2
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=You must respond ONLY with valid raw rendered JSON.\n- Do NOT include the word \"json\".\n- Do NOT include the word \"```json\".\n- Do NOT use triple backticks or markdown formatting.\n- Do NOT wrap the response in any key like \"output\".\n- Do NOT write anything starting at output directly start with valid root-level JSON.\n- Only respond with a valid, root-level JSON object.\n- Do NOT skip any line item. Continue extracting all line items until the sum of all line_total values exactly equals the total sale amount extracted from the invoice. This verification ensures that all items are fully extracted and no entries are missed. If the totals do not match, keep parsing and extracting additional line items until they do. Only then stop.\n\n\n\n{{ $json.text }}",
          "options": {
            "systemMessage": "You are a document parsing assistant designed to extract structured data from purchase orders and RFQs for automated uploading and validation in a procurement system.\n\nExtract the following fields from the text:\n\nsupplier_name: Name of the supplier issuing the RFQ/order. If the supplier is Nosta GmbH, return \"Nosta GmbH\" here.\n\ncustomer_name: Name of the customer (the company placing the order / requesting quotation).\n\nImportant rule: Never return \"Nosta\" or \"Nosta GmbH\" as the customer. If the only detected name is Nosta, set customer_name to null.\n\ntype_of_document: Type of document (e.g., purchase order, RFQ).\n\ndate: Document date in YYYY-MM-DD format.\n\ncustomer_number: Customer number.\n\norder_or_rfq_number: Order number or RFQ number.\n\nrequested_items: List of all requested materials/articles in the document. For each item, extract:\n\npos: Position number (if available).\n\narticle_name: Name/description of the material (do not include codes inside description).\n\nsupplier_material_number: Supplier’s material number if present, else null.\n\ncustomer_material_number: Customer’s material number if present, else null.\n\nquantity: Number of parts requested.\n\nunit: Unit of measure (pcs, kg, etc.).\n\ndelivery_date: Delivery date in YYYY-MM-DD format if present, else null.\n\nImportant rules:\n\nIgnore “Nosta” as customer; it can only appear under supplier_name.\n\nDo not skip any requested item.\n\nIf a field is missing, return it as null.\n\nExtract values exactly as shown in the document (no rounding, no assumptions).\n\nDates must always be normalized to YYYY-MM-DD.\n\nAlways return a single valid JSON object with the exact key names above.\n\nDo not skip any requested item.\n\n✨ If an item is split across multiple pages (for example, position number and article number appear on one page and the description or customer article number appears on the next page), merge them into a single requested_items entry.\n\n✨ Ensure all position numbers (pos) are in sequence. If a pos is found without a description or with incomplete data, continue scanning later pages until all fields are filled.\n\noutput format\n\nYou must respond ONLY with valid raw rendered JSON.\n- Do NOT include the word \"json\".\n- Do NOT include the word \"```json\".\n- Do NOT use triple backticks or markdown formatting.\n- Do NOT wrap the response in any key like \"output\".\n- Do NOT write anything starting at output directly start with valid root-level JSON.\n- Only respond with a valid, root-level JSON object.\n- Do NOT skip any line item. Continue extracting all line items until the sum of all line_total values exactly equals the total sale amount extracted from the invoice. This verification ensures that all items are fully extracted and no entries are missed. If the totals do not match, keep parsing and extracting additional line items until they do. Only then stop.\n\n\n[\n  {\n    \"document_info\": {\n      \"type\": null,\n      \"date\": null,\n      \"customer_name\": null,\n      \"customer_number\": null,\n      \"supplier_number\": null,\n      \"order_number\": null\n    },\n    \"requested_items\": [\n      {\n        \"pos\": null,\n        \"article_number\": null,\n        \"customer_article_number\": null,\n        \"article_name\": null,\n        \"quantity\": null,\n        \"unit\": null,\n        \"delivery_date\": null\n      }\n    ]\n  }\n]\n"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.9,
        "position": [
          -1392,
          -576
        ],
        "id": "593e1b65-7747-4bdc-98de-eaaaa7171ccc",
        "name": "AI Agent1"
      },
      {
        "parameters": {
          "jsCode": "// Combine all incoming items into ONE item\nconst pages = items\n  .map(i => String(i.json['ocr output'] || ''))\n  .filter(s => s.trim().length > 0);\n\nreturn [\n  {\n    json: {\n      pages,                 // array of page strings (if you want per-page access)\n      text: pages.join('\\n\\n') // single combined string for AI prompt\n    }\n  }\n];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1664,
          -592
        ],
        "id": "e131cf72-804a-4840-a858-98d32f905d44",
        "name": "Code1"
      },
      {
        "parameters": {
          "model": "mistral-small-latest",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
        "typeVersion": 1,
        "position": [
          -1504,
          -384
        ],
        "id": "4980bd76-b2d4-4f73-9df2-f3a9d3dfc358",
        "name": "Mistral Cloud Chat Model2",
        "credentials": {
          "mistralCloudApi": {
            "id": "NRp52l3NFK2olZNh",
            "name": "Mistral Cloud account dbt test"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "4f0cd863-7593-471b-9c43-743c0f7602c1",
                "name": "output",
                "value": "={{ $json.output }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1040,
          -576
        ],
        "id": "113c13f8-1550-44a2-a44f-58a5703e8f8f",
        "name": "Edit Fields3"
      },
      {
        "parameters": {
          "jsCode": "// Get the raw string\nconst raw = $input.first().json.output;\n\n// Helper: remove ```json ... ``` fences if present\nfunction stripFences(s) {\n  if (typeof s !== 'string') return s;\n  return s.trim()\n    .replace(/^```[a-zA-Z]*\\s*/i, '')   // leading ``` or ```json\n    .replace(/```[\\s]*$/i, '')          // trailing ```\n    .trim();\n}\n\n// Helper: robust JSON parse (handles double-encoded JSON too)\nfunction robustParse(s) {\n  if (typeof s !== 'string') return s;\n  let t = stripFences(s);\n  try { return JSON.parse(t); } catch (e1) {}\n  // Sometimes the JSON is stringified twice\n  try { return JSON.parse(JSON.parse(t)); } catch (e2) {}\n  // Fallback: try to extract the first {...} block\n  const m = t.match(/\\{[\\s\\S]*\\}$/);\n  if (m) { return JSON.parse(m[0]); }\n  throw new Error('Could not parse JSON from `output` – check the upstream node.');\n}\n\nconst parsed = robustParse(raw);\nreturn [{ json: parsed }];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -688,
          -576
        ],
        "id": "21e50da1-575b-4297-be4e-4f2870e9d5b7",
        "name": "Code2",
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "fieldToSplitOut": "requested_items",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          -320,
          -592
        ],
        "id": "4f51e1a1-d0e8-41d3-88df-d20e6e662754",
        "name": "Split Out1"
      },
      {
        "parameters": {
          "jsCode": "const out = [];\n\nfor (const doc of items) {\n  const info = doc.json.document_info;\n  for (const item of doc.json.requested_items) {\n    out.push({\n      json: {\n        type: info.type,\n        date: info.date,\n        customer_name: info.customer_name,\n        customer_number: info.customer_number,\n        supplier_number: info.supplier_number,\n        order_number: info.order_number,\n        pos: item.pos,\n        article_number: item.article_number,\n        customer_article_number: item.customer_article_number,\n        article_name: item.article_name,\n        quantity: item.quantity,\n        unit: item.unit,\n        delivery_date: item.delivery_date\n      }\n    });\n  }\n}\n\nreturn out;\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1408,
          -1216
        ],
        "id": "f4cbb7f3-1295-4a84-ac55-4c0df778b368",
        "name": "Code3"
      },
      {
        "parameters": {
          "operation": "xls",
          "options": {}
        },
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          -1168,
          -1216
        ],
        "id": "88b8a37d-3f92-4a1d-b9f4-d0b96fc5b236",
        "name": "Convert to File1"
      },
      {
        "parameters": {
          "options": {
            "passthroughBinaryImages": true
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.9,
        "position": [
          -368,
          -1024
        ],
        "id": "5468aad6-5b93-47b1-8821-5e8c73e5f304",
        "name": "AI Agent2"
      },
      {
        "parameters": {
          "operation": "pdf",
          "binaryPropertyName": "file",
          "options": {}
        },
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1,
        "position": [
          -4480,
          720
        ],
        "id": "837c5937-9e81-43a7-b7b8-795d62f381a5",
        "name": "Extract from File"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -5056,
          32
        ],
        "id": "9eb7502d-1c5d-4b28-907c-3c7a66392072",
        "name": "Loop Over Items1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
                "name": "file_id",
                "value": "={{ $json.id }}",
                "type": "string"
              },
              {
                "id": "f4536df5-d0b1-4392-bf17-b8137fb31a44",
                "name": "file_type",
                "value": "={{ $json.mimeType }}",
                "type": "string"
              },
              {
                "id": "77d782de-169d-4a46-8a8e-a3831c04d90f",
                "name": "file_title",
                "value": "={{ $json.name }}",
                "type": "string"
              },
              {
                "id": "9bde4d7f-e4f3-4ebd-9338-dce1350f9eab",
                "name": "file_url",
                "value": "={{ $json.webViewLink }}",
                "type": "string"
              },
              {
                "id": "fae402c8-c486-4b57-8d28-bf669db6b442",
                "name": "last_modified_date",
                "value": "={{ $json.modifiedTime }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "559afe5e-d7df-480f-abdc-af6542da11af",
        "name": "Set File ID1",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -4816,
          32
        ]
      },
      {
        "parameters": {
          "resource": "fileFolder",
          "searchMethod": "query",
          "filter": {
            "folderId": {
              "__rl": true,
              "value": "1jnZa-XZvoTzNgrjzYijWWPBST6-m6XuF",
              "mode": "list",
              "cachedResultName": "Nosta ocr test ",
              "cachedResultUrl": "https://drive.google.com/drive/folders/1jnZa-XZvoTzNgrjzYijWWPBST6-m6XuF"
            }
          },
          "options": {
            "fields": [
              "id",
              "name",
              "webViewLink",
              "mimeType",
              "*"
            ]
          }
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          -5296,
          32
        ],
        "id": "2a1bbe10-f6d3-4ad9-9d00-05608f6ba4a4",
        "name": "Google Drive",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "8TJAGPnMBWLtBC4X",
            "name": "Google Drive dbt rn"
          }
        }
      },
      {
        "parameters": {
          "operation": "download",
          "fileId": {
            "__rl": true,
            "value": "={{ $('Set File ID1').item.json.file_url }}",
            "mode": "url"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          -4624,
          32
        ],
        "id": "f89d18a8-70b7-4a87-a5ca-4bb6f7f98544",
        "name": "Google Drive4",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "8TJAGPnMBWLtBC4X",
            "name": "Google Drive dbt rn"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=You must respond ONLY with valid raw rendered JSON.\n- Do NOT include the word \"json\".\n- Do NOT include the word \"```json\".\n- Do NOT use triple backticks or markdown formatting.\n- Do NOT wrap the response in any key like \"output\".\n- Do NOT write anything starting at output directly start with valid root-level JSON.\n- Only respond with a valid, root-level JSON object.\n- Do NOT skip any line item. Continue extracting all line items until the sum of all line_total values exactly equals the total sale amount extracted from the invoice. This verification ensures that all items are fully extracted and no entries are missed. If the totals do not match, keep parsing and extracting additional line items until they do. Only then stop.\n\n\n\n{{ $json.text }}",
          "options": {
            "systemMessage": "=You are a document parsing assistant designed to extract structured data from purchase orders and RFQs for automated uploading and validation in a procurement system.\n\nExtract the following fields from the text:\n\nsupplier_name: Name of the supplier issuing the RFQ/order. If the supplier is Nosta GmbH, return \"Nosta GmbH\" here.\n\ncustomer_name: Name of the customer (the company placing the order / requesting quotation).\n\nImportant rule: Never return \"Nosta\" or \"Nosta GmbH\" as the customer. If the only detected name is Nosta, set customer_name to null.\n\ntype_of_document: Type of document (e.g., purchase order, RFQ).\n\ndate: Document date in YYYY-MM-DD format.\n\ncustomer_number: Customer number.\n\norder_or_rfq_number: Order number or RFQ number.\n\nrequested_items: List of all requested materials/articles in the document. For each item, extract:\n\npos: Position number (if available).\n\narticle_name: Name/description of the material (do not include codes inside description).\n\nsupplier_material_number: Supplier’s material number if present, else null.\n\ncustomer_material_number: Customer’s material number if present, else null.\n\nquantity: Number of parts requested.\n\nunit: Unit of measure (pcs, kg, etc.).\n\ndimensions : width X  height X depth  which given in example:2X4X6 \ndelivery_date: Delivery date in YYYY-MM-DD format if present, else null.\n\nImportant rules:\n\nIgnore “Nosta” as customer; it can only appear under supplier_name.\n\nDo not skip any requested item.\n\nIf a field is missing, return it as null.\n\nExtract values exactly as shown in the document (no rounding, no assumptions).\n\nDates must always be normalized to YYYY-MM-DD.\n\nAlways return a single valid JSON object with the exact key names above.\n\nDo not skip any requested item.\n\n✨ If an item is split across multiple pages (for example, position number and article number appear on one page and the description or customer article number appears on the next page), merge them into a single requested_items entry.\n\n✨ Ensure all position numbers (pos) are in sequence. If a pos is found without a description or with incomplete data, continue scanning later pages until all fields are filled.\n\noutput format\n\nYou must respond ONLY with valid raw rendered JSON.\n- Do NOT include the word \"json\".\n- Do NOT include the word \"```json\".\n- Do NOT use triple backticks or markdown formatting.\n- Do NOT wrap the response in any key like \"output\".\n- Do NOT write anything starting at output directly start with valid root-level JSON.\n- Only respond with a valid, root-level JSON object.\n- Do NOT skip any line item. Continue extracting all line items until the sum of all line_total values exactly equals the total sale amount extracted from the invoice. This verification ensures that all items are fully extracted and no entries are missed. If the totals do not match, keep parsing and extracting additional line items until they do. Only then stop.\n\n\n[\n  {\n    \"document_info\": {\n      \"type\": null,\n      \"date\": null,\n      \"customer_name\": null,\n      \"customer_number\": null,\n      \"supplier_number\": null,\n      \"order_number\": null\n    },\n    \"requested_items\": [\n      {\n        \"pos\": null,\n        \"article_number\": null,\n        \"customer_article_number\": null,\n        \"article_name\": null,\n        \"quantity\": null,\n        \"unit\": null,\n         \"dimensions\": null x null x null,\n        \"delivery_date\": null\n      }\n    ]\n  }\n]\n"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.9,
        "position": [
          -3264,
          672
        ],
        "id": "85fc93c2-f1e2-446c-b2ee-2bc11170459b",
        "name": "AI Agent3"
      },
      {
        "parameters": {
          "model": "mistral-medium-latest",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
        "typeVersion": 1,
        "position": [
          -3296,
          896
        ],
        "id": "1d5a2bee-9143-4781-9a7c-7c2c1ccdbc93",
        "name": "Mistral Cloud Chat Model4",
        "credentials": {
          "mistralCloudApi": {
            "id": "NRp52l3NFK2olZNh",
            "name": "Mistral Cloud account dbt test"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "4f0cd863-7593-471b-9c43-743c0f7602c1",
                "name": "output",
                "value": "={{ $json.output }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -2928,
          672
        ],
        "id": "4f181d8c-2614-4fb7-b655-b832e8197dca",
        "name": "Edit Fields5"
      },
      {
        "parameters": {
          "jsCode": "// Get the raw string\nconst raw = $input.first().json.output;\n\n// Helper: remove ```json ... ``` fences if present\nfunction stripFences(s) {\n  if (typeof s !== 'string') return s;\n  return s.trim()\n    .replace(/^```[a-zA-Z]*\\s*/i, '')   // leading ``` or ```json\n    .replace(/```[\\s]*$/i, '')          // trailing ```\n    .trim();\n}\n\n// Helper: robust JSON parse (handles double-encoded JSON too)\nfunction robustParse(s) {\n  if (typeof s !== 'string') return s;\n  let t = stripFences(s);\n  try { return JSON.parse(t); } catch (e1) {}\n  // Sometimes the JSON is stringified twice\n  try { return JSON.parse(JSON.parse(t)); } catch (e2) {}\n  // Fallback: try to extract the first {...} block\n  const m = t.match(/\\{[\\s\\S]*\\}$/);\n  if (m) { return JSON.parse(m[0]); }\n  throw new Error('Could not parse JSON from `output` – check the upstream node.');\n}\n\nconst parsed = robustParse(raw);\nreturn [{ json: parsed }];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2640,
          704
        ],
        "id": "212b78ee-2c0a-49f3-905d-93125c605218",
        "name": "Code4",
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "fieldToSplitOut": "requested_items",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          -2896,
          192
        ],
        "id": "18b8c4b0-f6fd-4d72-9993-1eae946f79c2",
        "name": "Split Out2"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "f8957a80-b4c3-4bb4-b3c0-256624cbcc40",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -3248,
          2848
        ],
        "id": "ca5229ce-6b78-46c6-a086-136ae439a06a",
        "name": "Webhook",
        "webhookId": "f8957a80-b4c3-4bb4-b3c0-256624cbcc40"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.4,
        "position": [
          -336,
          2720
        ],
        "id": "4bdb971f-4eb1-4442-ae2c-49d06e36e2fd",
        "name": "Respond to Webhook"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "12c3738c-4b46-44fe-a482-efeb1beda924",
                "name": "=Employee Name",
                "value": "={{ JSON.parse($json[\"output\"])[0].document_info.employee_name }}\n\n\n",
                "type": "string"
              },
              {
                "id": "b6bdd6c3-f57d-4695-9863-68e37b3bf10b",
                "name": "=Total Billable hours",
                "value": "={{ JSON.parse($json[\"output\"])[0].document_info.total_hours }}\n\n\n",
                "type": "string"
              },
              {
                "id": "f826dc43-34ca-47bf-a823-9e21c0a46df8",
                "name": "Week Start Date",
                "value": "={{ JSON.parse($json[\"output\"])[0].document_info.week_start_date.trim() }}\n",
                "type": "string"
              },
              {
                "id": "faf34b88-5e61-4c15-97b6-7c933d69c279",
                "name": "Week End Date",
                "value": "={{ JSON.parse($json[\"output\"])[0].document_info.week_end_date.trim() }}\n",
                "type": "string"
              },
              {
                "id": "95dd93b1-8e25-422f-b6fb-73bf65aa792e",
                "name": "Client Name",
                "value": "={{ JSON.parse($json[\"output\"])[0].document_info.client_name.trim() }}",
                "type": "string"
              },
              {
                "id": "8c92f891-1393-4199-b9ba-3683750455f1",
                "name": "Current Year",
                "value": "={{ new Date(JSON.parse($json[\"output\"])[0].document_info.week_start_date).getFullYear() }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1360,
          3328
        ],
        "id": "e7b007a1-a1d2-4d7c-8d61-fe592a9925cf",
        "name": "Set Timesheet JSON Fields"
      },
      {
        "parameters": {
          "binaryPropertyName": "file",
          "options": {
            "headerRow": false
          }
        },
        "id": "f6a95b12-1f74-4a9d-9d5a-9d72ffa1a029",
        "name": "Read Spreadsheet File1",
        "type": "n8n-nodes-base.spreadsheetFile",
        "position": [
          -2416,
          2240
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "jsCode": "// Convert Excel serial date -> YYYY-MM-DD\nconst base = new Date(Date.UTC(1899, 11, 30));\nfunction fromSerial(s) {\n  if (!s || isNaN(Number(s))) return s; // skip if not a number\n  const ms = Number(s) * 86400 * 1000;\n  return new Date(base.getTime() + ms).toISOString().slice(0, 10);\n}\n\nreturn items.map(item => {\n  let row = { ...item.json };\n\n  // Convert possible date fields\n  if (row.__EMPTY && !isNaN(row.__EMPTY)) {\n    row.__EMPTY = fromSerial(row.__EMPTY);\n  }\n  if (row.__EMPTY_1 && !isNaN(row.__EMPTY_1) && row[\" Contractor Timesheet\"]?.includes(\"Weekending\")) {\n    row.__EMPTY_1 = fromSerial(row.__EMPTY_1);\n  }\n\n  return { json: row };\n});\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2096,
          2256
        ],
        "id": "a93a2063-2e15-40e2-9bf4-8cfd8050b5be",
        "name": "Code6"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=You must respond ONLY with valid raw rendered JSON.\n- Do NOT include the word \"json\".\n- Do NOT include the word \"```json\".\n- Do NOT use triple backticks or markdown formatting.\n- Do NOT wrap the response in any key like \"output\".\n- Do NOT write anything starting at output directly start with valid root-level JSON.\n- Only respond with a valid, root-level JSON object.\n- Do NOT skip any line item. \n\n\n{{ $json.content }}\n",
          "options": {
            "systemMessage": "=Your sole function is to be a meticulous data extraction AI. Your task is to analyze the provided timesheet documents (images, PDFs, etc.) and convert the information into a structured JSON format with absolute precision, following the rules below.  \n\nFor each timesheet, first extract all summary-level information into the `document_info` object. This includes:  \n\n- Employee Name  \n- Week Starting Date  \n- Week Ending Date  \n- Total Working Hours  \n- Client Name  \n\n### Rules\n\n\nInstructions:\n\n- For Week Starting Date:  \n  - If a phrase like \"Period from ... to ...\" is present, extract the **first date** from it. Use the date exactly as written.  \n  - If no such phrase is found, and there is a row with weekdays like \"Monday Tuesday...\" followed by short-form dates like \"Mar-17\", \"May-5\", etc., extract the **first date** in that row.  \n  - Convert the short-form date into full format: **MM/DD/YYYY**.  \n    Example: \"Mar-17\" → \"03/17/2025\", \"May-5\" → \"05/05/2025\".  \n  - Do not return \"Mar-17\", \"May-5\", or any partial date format. Always return the full date in MM/DD/YYYY.\n\n- For Week Ending Date:  \n  - If a phrase like \"Period from ... to ...\" is present, extract the **second date**.  \n  - If weekday headers with short-form dates are present, extract the **last date** in that row.  \n  - Again, convert to **MM/DD/YYYY** format.  \n    Example: \"May-11\" → \"05/11/2025\".\n\n- Do not calculate, assume, or guess dates. Only convert short-form dates to MM/DD/YYYY format using the correct month and year from the timesheet.\n- Look for a label such as:\n - \"Total Hours\",  \n   - \"Total Billable Hours\", \n  - \"Total Number of Hours Worked\"  \n   - or any clearly indicated **total row or cell** at the bottom of the table.\n\n- Do not sum individual daily entries.\n- Return numbers exactly as shown (e.g., 40.00).\n\n---\n\n### Output Format  \n\n# You must respond ONLY with valid raw rendered JSON.  \n\n- Do NOT include the word `\"json\"`.  \n- Do NOT include ```json.  \n- Do NOT use triple backticks or markdown formatting.  \n- Do NOT wrap the response in any key like `\"output\"`.  \n- Do NOT write anything before the opening `[` of the JSON array.  \n\n---\n\nvery important - Only respond with a valid, root-level JSON array.  \nNo \"output\" wrapper.\nNo backticks.\nNo \"json\" label\n\nspecial instruction \n\nExtract the value after \"Period ending\". \nThe date may contain spaces or OCR errors (e.g. \"8/1 0/2025\", \"8/1/0/2025\"). \nAlways normalize it to the format YYYY-MM-DD. \nIf you see \"8/1 0/2025\", interpret it as 2025-08-10.\n\n\n### Final JSON Schema  \n\n[\n  {\n    \"document_info\": {\n      \"employee_name\": null,\n      \"week_start_date\": null,\n      \"week_end_date\": null,\n      \"total_hours\": null,\n      \"client_name\": null\n    }\n  }\n]\n"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.9,
        "position": [
          1088,
          3360
        ],
        "id": "233aa7c6-5244-48a5-b935-b60b3bf9f9ed",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "model": "mistral-medium-latest",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
        "typeVersion": 1,
        "position": [
          1040,
          3552
        ],
        "id": "770ef85e-81a2-4eb6-8d7a-8718f4d55371",
        "name": "Mistral Cloud Chat Model",
        "credentials": {
          "mistralCloudApi": {
            "id": "FXWAQ4fSAuPWXyZ1",
            "name": "Mistral Cloud nosta"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "530eae36-2bc2-4f6f-8755-73b44da913e4",
                "name": "text",
                "value": "={{ $json.data }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1616,
          2272
        ],
        "id": "5c03792d-a8be-41b5-89fd-aef10208a5d6",
        "name": "Edit Fields7"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "cefc6cbe-dcc3-4cd5-bf3c-735320ece1fe",
                "name": "text",
                "value": "={{ JSON.parse($json[\"data\"][0]).blocks[0].content }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1776,
          2880
        ],
        "id": "4b3f5f3a-3918-46ea-80bc-31bbcb859499",
        "name": "Edit Fields8"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.mistral.ai/v1/ocr",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "mistralCloudApi",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"document_url\": \"{{ $json.url }}\"\n  },\n  \"bbox_annotation_format\": {\n    \"type\": \"json_schema\",\n    \"json_schema\": {\n      \"schema\": {\n        \"properties\": {\n          \"image_type\": { \"title\": \"Image_Type\", \"type\": \"string\", \"description\": \"type of image\" },\n          \"short_description\": { \"title\": \"Short_Description\", \"type\": \"string\", \"description\": \"short description\" },\n          \"summary\": { \"title\": \"Summary\", \"type\": \"string\", \"description\": \"summary of the image\" }\n        },\n        \"required\": [\"image_type\",\"short_description\",\"summary\"],\n        \"title\": \"BBOXAnnotation\",\n        \"type\": \"object\",\n        \"additionalProperties\": false\n      },\n      \"name\": \"bbox_annotation\",\n      \"strict\": true\n    }\n  },\n  \"include_image_base64\": true\n}\n",
          "options": {}
        },
        "id": "3c067cae-a6fc-4e60-9673-d895ed1f89f6",
        "name": "Mistral DOC OCR1",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          -1760,
          2656
        ],
        "typeVersion": 4.2,
        "credentials": {
          "mistralCloudApi": {
            "id": "NRp52l3NFK2olZNh",
            "name": "Mistral Cloud account dbt test"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "cefc6cbe-dcc3-4cd5-bf3c-735320ece1fe",
                "name": "text",
                "value": "={{ $json.pages[0].markdown }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1584,
          2688
        ],
        "id": "daef423c-1687-45f8-9457-a7077515cf24",
        "name": "Edit Fields9"
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          -1872,
          2256
        ],
        "id": "e1bc4830-717e-4ce9-bdd5-0736fcdd5ac7",
        "name": "Aggregate3"
      },
      {
        "parameters": {
          "method": "DELETE",
          "url": "=https://api.mistral.ai/v1/files/{{ $('Mistral Upload').item.json.id }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "mistralCloudApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {}
            ]
          },
          "options": {}
        },
        "id": "f0bff460-2edf-4e17-be7e-fa0a0523b46f",
        "name": "Mistral file delete",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          -1584,
          2560
        ],
        "typeVersion": 4.2,
        "credentials": {
          "mistralCloudApi": {
            "id": "NRp52l3NFK2olZNh",
            "name": "Mistral Cloud account dbt test"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://universal-file-to-text-extractor.vercel.app/extract",
          "sendBody": true,
          "contentType": "multipart-form-data",
          "bodyParameters": {
            "parameters": [
              {
                "name": "mode",
                "value": "single"
              },
              {
                "name": "output_type",
                "value": "jsonl"
              },
              {
                "parameterType": "formBinaryData",
                "name": "files",
                "inputDataFieldName": "data"
              },
              {
                "name": "include_images",
                "value": "true"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -2064,
          2896
        ],
        "id": "494d0530-ce4e-48a4-b4c2-472995a8bcf9",
        "name": "HTTP Request3",
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "e5bd95ba-8269-404a-bf9d-fa0d25398b59",
                "name": "",
                "value": "",
                "type": "string"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          528,
          -256
        ],
        "id": "ca6e1ddb-9706-46bc-91b8-4460807a6f81",
        "name": "Edit Fields10"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.mistral.ai/v1/files",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "mistralCloudApi",
          "sendBody": true,
          "contentType": "multipart-form-data",
          "bodyParameters": {
            "parameters": [
              {
                "name": "purpose",
                "value": "ocr"
              },
              {
                "parameterType": "formBinaryData",
                "name": "file",
                "inputDataFieldName": "data"
              }
            ]
          },
          "options": {}
        },
        "id": "81601a0b-1de4-48c6-95e4-f22ec7a35ac6",
        "name": "Mistral Upload",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          -2208,
          2656
        ],
        "typeVersion": 4.2,
        "credentials": {
          "mistralCloudApi": {
            "id": "NRp52l3NFK2olZNh",
            "name": "Mistral Cloud account dbt test"
          }
        }
      },
      {
        "parameters": {
          "url": "=https://api.mistral.ai/v1/files/{{ $json.id }}/url",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "mistralCloudApi",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "expiry",
                "value": "1"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept",
                "value": "application/json"
              }
            ]
          },
          "options": {}
        },
        "id": "dfb2531f-4dc5-45e0-a7ae-466a24cd60c2",
        "name": "Mistral Signed URL",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          -1984,
          2656
        ],
        "typeVersion": 4.2,
        "credentials": {
          "mistralCloudApi": {
            "id": "NRp52l3NFK2olZNh",
            "name": "Mistral Cloud account dbt test"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "return items.map(item => {\n  const firstKey = Object.keys(item.binary || {})[0];\n\n  if (!firstKey) return item;\n\n  return {\n    json: item.json,\n    binary: { data: item.binary[firstKey] },\n  };\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2320,
          2880
        ],
        "id": "bbd59349-f07e-474a-918c-e872d32d3cea",
        "name": "Code5"
      },
      {
        "parameters": {
          "jsCode": "return items.map(item => {\n  const firstKey = Object.keys(item.binary || {})[0];\n\n  if (!firstKey) return item;\n\n  return {\n    json: item.json,\n    binary: { data: item.binary[firstKey] },\n  };\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2400,
          2656
        ],
        "id": "661a714c-2e5e-416e-934e-db9cf5fb50cb",
        "name": "Code7"
      },
      {
        "parameters": {
          "operation": "pdf",
          "binaryPropertyName": "file",
          "options": {}
        },
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1,
        "position": [
          -1504,
          4896
        ],
        "id": "b1f354b8-c66b-4381-bf41-0d6d59c85ef5",
        "name": "Extract from File1"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=You must respond ONLY with valid raw rendered JSON.\n- Do NOT include the word \"json\".\n- Do NOT include the word \"```json\".\n- Do NOT use triple backticks or markdown formatting.\n- Do NOT wrap the response in any key like \"output\".\n- Do NOT write anything starting at output directly start with valid root-level JSON.\n- Only respond with a valid, root-level JSON object.\n- Do NOT skip any line item. Continue extracting all line items until the sum of all line_total values exactly equals the total sale amount extracted from the invoice. This verification ensures that all items are fully extracted and no entries are missed. If the totals do not match, keep parsing and extracting additional line items until they do. Only then stop.\n\n\n\n{{ $json.text }}",
          "options": {
            "systemMessage": "=You are a document parsing assistant designed to extract structured data from purchase orders and RFQs for automated uploading and validation in a procurement system.\n\nExtract the following fields from the text:\n\nsupplier_name: Name of the supplier issuing the RFQ/order. If the supplier is Nosta GmbH, return \"Nosta GmbH\" here.\n\ncustomer_name: Name of the customer (the company placing the order / requesting quotation).\n\nImportant rule: Never return \"Nosta\" or \"Nosta GmbH\" as the customer. If the only detected name is Nosta, set customer_name to null.\n\ntype_of_document: Type of document (e.g., purchase order, RFQ).\n\ndate: Document date in YYYY-MM-DD format.\n\ncustomer_number: Customer number.\n\norder_or_rfq_number: Order number or RFQ number.\n\nrequested_items: List of all requested materials/articles in the document. For each item, extract:\n\npos: Position number (if available).\n\narticle_name: Name/description of the material (do not include codes inside description).\n\nsupplier_material_number: Supplier’s material number if present, else null.\n\ncustomer_material_number: Customer’s material number if present, else null.\n\nquantity: Number of parts requested.\n\nunit: Unit of measure (pcs, kg, etc.).\n\ndimensions : width X  height X depth  which given in example:2X4X6 \ndelivery_date: Delivery date in YYYY-MM-DD format if present, else null.\n\nImportant rules:\n\nIgnore “Nosta” as customer; it can only appear under supplier_name.\n\nDo not skip any requested item.\n\nIf a field is missing, return it as null.\n\nExtract values exactly as shown in the document (no rounding, no assumptions).\n\nDates must always be normalized to YYYY-MM-DD.\n\nAlways return a single valid JSON object with the exact key names above.\n\nDo not skip any requested item.\n\n✨ If an item is split across multiple pages (for example, position number and article number appear on one page and the description or customer article number appears on the next page), merge them into a single requested_items entry.\n\n✨ Ensure all position numbers (pos) are in sequence. If a pos is found without a description or with incomplete data, continue scanning later pages until all fields are filled.\n\noutput format\n\nYou must respond ONLY with valid raw rendered JSON.\n- Do NOT include the word \"json\".\n- Do NOT include the word \"```json\".\n- Do NOT use triple backticks or markdown formatting.\n- Do NOT wrap the response in any key like \"output\".\n- Do NOT write anything starting at output directly start with valid root-level JSON.\n- Only respond with a valid, root-level JSON object.\n- Do NOT skip any line item. Continue extracting all line items until the sum of all line_total values exactly equals the total sale amount extracted from the invoice. This verification ensures that all items are fully extracted and no entries are missed. If the totals do not match, keep parsing and extracting additional line items until they do. Only then stop.\n\n\n[\n  {\n    \"document_info\": {\n      \"type\": null,\n      \"date\": null,\n      \"customer_name\": null,\n      \"customer_number\": null,\n      \"supplier_number\": null,\n      \"order_number\": null\n    },\n    \"requested_items\": [\n      {\n        \"pos\": null,\n        \"article_number\": null,\n        \"customer_article_number\": null,\n        \"article_name\": null,\n        \"quantity\": null,\n        \"unit\": null,\n         \"dimensions\": null x null x null,\n        \"delivery_date\": null\n      }\n    ]\n  }\n]\n"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.9,
        "position": [
          -288,
          4848
        ],
        "id": "6d81a533-92c6-45f4-be63-2ddfd54c1062",
        "name": "AI Agent4"
      },
      {
        "parameters": {
          "model": "mistral-medium-latest",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
        "typeVersion": 1,
        "position": [
          -320,
          5072
        ],
        "id": "0b5b59b5-fcad-46d3-8a0d-191f1abf1fb8",
        "name": "Mistral Cloud Chat Model5",
        "credentials": {
          "mistralCloudApi": {
            "id": "NRp52l3NFK2olZNh",
            "name": "Mistral Cloud account dbt test"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "4f0cd863-7593-471b-9c43-743c0f7602c1",
                "name": "output",
                "value": "={{ $json.output }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          48,
          4848
        ],
        "id": "fc3618bd-1bed-4efb-baf2-0f1a14a7776d",
        "name": "Edit Fields6"
      },
      {
        "parameters": {
          "jsCode": "// Get the raw string\nconst raw = $input.first().json.output;\n\n// Helper: remove ```json ... ``` fences if present\nfunction stripFences(s) {\n  if (typeof s !== 'string') return s;\n  return s.trim()\n    .replace(/^```[a-zA-Z]*\\s*/i, '')   // leading ``` or ```json\n    .replace(/```[\\s]*$/i, '')          // trailing ```\n    .trim();\n}\n\n// Helper: robust JSON parse (handles double-encoded JSON too)\nfunction robustParse(s) {\n  if (typeof s !== 'string') return s;\n  let t = stripFences(s);\n  try { return JSON.parse(t); } catch (e1) {}\n  // Sometimes the JSON is stringified twice\n  try { return JSON.parse(JSON.parse(t)); } catch (e2) {}\n  // Fallback: try to extract the first {...} block\n  const m = t.match(/\\{[\\s\\S]*\\}$/);\n  if (m) { return JSON.parse(m[0]); }\n  throw new Error('Could not parse JSON from `output` – check the upstream node.');\n}\n\nconst parsed = robustParse(raw);\nreturn [{ json: parsed }];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          336,
          4880
        ],
        "id": "265e3856-e5c4-48aa-b1b9-f9c719cc1178",
        "name": "Code8",
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 1
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $binary[Object.keys($binary)[0]].mimeType }}",
                      "rightValue": "application/msword",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "509a71b4-8c1b-419b-8d8b-fc2c68b86bf2"
                    },
                    {
                      "leftValue": "={{ $binary[Object.keys($binary)[0]].mimeType }}",
                      "rightValue": "application/msword",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "e492cbb6-eaca-42fa-95b6-8cb1363b1ead"
                    },
                    {
                      "leftValue": "={{ $binary[Object.keys($binary)[0]].mimeType }}",
                      "rightValue": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "44e10cb4-4d6a-41f4-a34d-f9f635e6c998"
                    },
                    {
                      "leftValue": "={{ $binary[Object.keys($binary)[0]].mimeType }}",
                      "rightValue": "application/vnd.google-apps.document",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "33eaa3dd-d6c6-4fbb-a625-9db12fd6b13c"
                    }
                  ],
                  "combinator": "or"
                },
                "renameOutput": true,
                "outputKey": "doc"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 1
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $binary[Object.keys($binary)[0]].mimeType }}",
                      "rightValue": "application/vnd.ms-excel",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "298f79a3-fb4b-48c7-bed8-f9e26a4fafad"
                    },
                    {
                      "leftValue": "={{ $binary[Object.keys($binary)[0]].mimeType }}",
                      "rightValue": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "b08acf48-8386-4017-8285-e134d0094482"
                    },
                    {
                      "leftValue": "={{ $binary[Object.keys($binary)[0]].mimeType }}",
                      "rightValue": "application/vnd.google-apps.spreadsheet",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "8a5c4ec2-f2d9-4a98-b62b-b51e08ec6bd7"
                    }
                  ],
                  "combinator": "or"
                },
                "renameOutput": true,
                "outputKey": "excel"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 1
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $binary[Object.keys($binary)[0]].mimeType }}",
                      "rightValue": "image/jpeg",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "8f99c496-5acb-4577-8ee3-89267716697b"
                    },
                    {
                      "leftValue": "={{ $binary[Object.keys($binary)[0]].mimeType }}",
                      "rightValue": "image/png",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "1a243663-2d4d-4004-b0be-77d61f69fd34"
                    },
                    {
                      "leftValue": "={{ $binary[Object.keys($binary)[0]].mimeType }}",
                      "rightValue": "image/tiff",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "fdd3e440-3119-43c9-ba2c-b0ad4aa29454"
                    },
                    {
                      "leftValue": "={{ $binary[Object.keys($binary)[0]].mimeType }}",
                      "rightValue": "image/jpg",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "b7c6b1a4-cce5-4912-9c24-2bb7527d6d38"
                    },
                    {
                      "leftValue": "={{ $binary[Object.keys($binary)[0]].mimeType }}",
                      "rightValue": "image/bmp",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "47c28737-9239-4ac9-a5cb-74e6843c07a6"
                    }
                  ],
                  "combinator": "or"
                },
                "renameOutput": true,
                "outputKey": "image"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 1
                  },
                  "conditions": [
                    {
                      "id": "8b8e621e-40b4-43cd-8bd6-220e55b9e9fc",
                      "leftValue": "={{ $binary[Object.keys($binary)[0]].mimeType }}",
                      "rightValue": "=application/pdf",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "pdf"
              }
            ]
          },
          "options": {
            "allMatchingOutputs": false
          }
        },
        "id": "5898401c-5066-4b1e-9a1c-32e00fea174d",
        "name": "Switch File Type",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3,
        "position": [
          -2912,
          2736
        ]
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "loose",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "",
                      "rightValue": "",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "fa77d98c-ae13-4d6d-b83b-a63d30d2e842"
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "loose",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "bd605526-241f-449e-adf0-fcd5173c50df",
                      "leftValue": "",
                      "rightValue": "",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "loose",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "c3d4ab05-4f0d-4029-b9c9-a9fc58f4913b",
                      "leftValue": "",
                      "rightValue": "",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          -5552,
          768
        ],
        "id": "9cb61134-abb5-4b1b-a766-73a8fa45f8ef",
        "name": "Switch"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "9a929680-c822-40c8-8a87-7ae51232661e",
                      "leftValue": "",
                      "rightValue": "",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "",
                      "rightValue": "",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "bc7291e9-084b-4ba0-864f-b3b3b6dbe1bb"
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {
            "allMatchingOutputs": true
          }
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          -784,
          464
        ],
        "id": "2fc467d0-c59b-4c90-998d-29e130ef719e",
        "name": "Switch1"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "",
                      "rightValue": "",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "635bc650-95d9-4d5b-aafc-5b05fead2425"
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          -5344,
          656
        ],
        "id": "68f1024d-3b8b-44cc-aed2-aea8ee42f25c",
        "name": "Switch2"
      },
      {
        "parameters": {
          "operation": "pdf",
          "binaryPropertyName": "file",
          "options": {}
        },
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1,
        "position": [
          -1968,
          3488
        ],
        "id": "4c006cd7-ec3b-47fe-9f40-a34e663a95c7",
        "name": "Extract from File2"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=You must respond ONLY with valid raw rendered JSON.\n- Do NOT include the word \"json\".\n- Do NOT include the word \"```json\".\n- Do NOT use triple backticks or markdown formatting.\n- Do NOT wrap the response in any key like \"output\".\n- Do NOT write anything starting at output directly start with valid root-level JSON.\n- Only respond with a valid, root-level JSON object.\n- Do NOT skip any line item. Continue extracting all line items until the sum of all line_total values exactly equals the total sale amount extracted from the invoice. This verification ensures that all items are fully extracted and no entries are missed. If the totals do not match, keep parsing and extracting additional line items until they do. Only then stop.\n\n\n\n{{ $json.text }}",
          "options": {
            "systemMessage": "=You are a document parsing assistant designed to extract structured data from purchase orders and RFQs for automated uploading and validation in a procurement system.\n\nExtract the following fields from the text:\n\nsupplier_name: Name of the supplier issuing the RFQ/order. If the supplier is Nosta GmbH, return \"Nosta GmbH\" here.\n\ncustomer_name: Name of the customer (the company placing the order / requesting quotation).\n\nImportant rule: Never return \"Nosta\" or \"Nosta GmbH\" as the customer. If the only detected name is Nosta, set customer_name to null.\n\ntype_of_document: Type of document (e.g., purchase order, RFQ).\n\ndate: Document date in YYYY-MM-DD format.\n\ncustomer_number: Customer number.\n\norder_or_rfq_number: Order number or RFQ number.\n\nrequested_items: List of all requested materials/articles in the document. For each item, extract:\n\npos: Position number (if available).\n\narticle_name: Name/description of the material (do not include codes inside description).\n\nsupplier_material_number: Supplier’s material number if present, else null.\n\ncustomer_material_number: Customer’s material number if present, else null.\n\nquantity: Number of parts requested.\n\nunit: Unit of measure (pcs, kg, etc.).\n\ndimensions : width X  height X depth  which given in example:2X4X6 \ndelivery_date: Delivery date in YYYY-MM-DD format if present, else null.\n\nImportant rules:\n\nIgnore “Nosta” as customer; it can only appear under supplier_name.\n\nDo not skip any requested item.\n\nIf a field is missing, return it as null.\n\nExtract values exactly as shown in the document (no rounding, no assumptions).\n\nDates must always be normalized to YYYY-MM-DD.\n\nAlways return a single valid JSON object with the exact key names above.\n\nDo not skip any requested item.\n\n✨ If an item is split across multiple pages (for example, position number and article number appear on one page and the description or customer article number appears on the next page), merge them into a single requested_items entry.\n\n✨ Ensure all position numbers (pos) are in sequence. If a pos is found without a description or with incomplete data, continue scanning later pages until all fields are filled.\n\noutput format\n\nYou must respond ONLY with valid raw rendered JSON.\n- Do NOT include the word \"json\".\n- Do NOT include the word \"```json\".\n- Do NOT use triple backticks or markdown formatting.\n- Do NOT wrap the response in any key like \"output\".\n- Do NOT write anything starting at output directly start with valid root-level JSON.\n- Only respond with a valid, root-level JSON object.\n- Do NOT skip any line item. Continue extracting all line items until the sum of all line_total values exactly equals the total sale amount extracted from the invoice. This verification ensures that all items are fully extracted and no entries are missed. If the totals do not match, keep parsing and extracting additional line items until they do. Only then stop.\n\n\n[\n  {\n    \"document_info\": {\n      \"type\": null,\n      \"date\": null,\n      \"customer_name\": null,\n      \"customer_number\": null,\n      \"supplier_number\": null,\n      \"order_number\": null\n    },\n    \"requested_items\": [\n      {\n        \"pos\": null,\n        \"article_number\": null,\n        \"customer_article_number\": null,\n        \"article_name\": null,\n        \"quantity\": null,\n        \"unit\": null,\n         \"dimensions\": null x null x null,\n        \"delivery_date\": null\n      }\n    ]\n  }\n]\n"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.9,
        "position": [
          -1312,
          2832
        ],
        "id": "0e57ebc3-dfeb-416e-bd39-6fccd8436a99",
        "name": "AI Agent5"
      },
      {
        "parameters": {
          "model": "mistral-medium-latest",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
        "typeVersion": 1,
        "position": [
          -1376,
          3072
        ],
        "id": "c28742ad-03c8-4953-8d98-e1438552de8c",
        "name": "Mistral Cloud Chat Model6",
        "credentials": {
          "mistralCloudApi": {
            "id": "NRp52l3NFK2olZNh",
            "name": "Mistral Cloud account dbt test"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "4f0cd863-7593-471b-9c43-743c0f7602c1",
                "name": "output",
                "value": "={{ $json.output }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -960,
          2832
        ],
        "id": "b493b170-50dd-48c0-9dee-a30373a077e6",
        "name": "Edit Fields11"
      },
      {
        "parameters": {
          "jsCode": "// Get the raw string\nconst raw = $input.first().json.output;\n\n// Helper: remove ```json ... ``` fences if present\nfunction stripFences(s) {\n  if (typeof s !== 'string') return s;\n  return s.trim()\n    .replace(/^```[a-zA-Z]*\\s*/i, '')   // leading ``` or ```json\n    .replace(/```[\\s]*$/i, '')          // trailing ```\n    .trim();\n}\n\n// Helper: robust JSON parse (handles double-encoded JSON too)\nfunction robustParse(s) {\n  if (typeof s !== 'string') return s;\n  let t = stripFences(s);\n  try { return JSON.parse(t); } catch (e1) {}\n  // Sometimes the JSON is stringified twice\n  try { return JSON.parse(JSON.parse(t)); } catch (e2) {}\n  // Fallback: try to extract the first {...} block\n  const m = t.match(/\\{[\\s\\S]*\\}$/);\n  if (m) { return JSON.parse(m[0]); }\n  throw new Error('Could not parse JSON from `output` – check the upstream node.');\n}\n\nconst parsed = robustParse(raw);\nreturn [{ json: parsed }];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -768,
          2848
        ],
        "id": "b8aae409-30a6-4e67-9667-2e3290ffc093",
        "name": "Code9",
        "onError": "continueErrorOutput"
      }
    ],
    "connections": {
      "When clicking ‘Test workflow’": {
        "main": [
          [
            {
              "node": "Google Drive2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [],
          [
            {
              "node": "Set File ID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set File ID": {
        "main": [
          [
            {
              "node": "Google Drive3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Drive2": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Drive3": {
        "main": [
          [
            {
              "node": "Mistral Upload1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Mistral Upload1": {
        "main": [
          [
            {
              "node": "Mistral Signed URL1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Mistral Signed URL1": {
        "main": [
          [
            {
              "node": "Mistral DOC OCR8",
              "type": "main",
              "index": 0
            },
            {
              "node": "Mistral DOC OCR6",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Mistral DOC OCR6": {
        "main": [
          [
            {
              "node": "Code10",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields4": {
        "main": [
          [
            {
              "node": "Code1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code10": {
        "main": [
          [
            {
              "node": "Edit Fields4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Mistral DOC OCR8": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields1": {
        "main": [
          [
            {
              "node": "Code",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code": {
        "main": [
          [
            {
              "node": "Code3",
              "type": "main",
              "index": 0
            },
            {
              "node": "Split Out",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out": {
        "main": [
          [
            {
              "node": "Convert to File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent1": {
        "main": [
          [
            {
              "node": "Edit Fields3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code1": {
        "main": [
          [
            {
              "node": "AI Agent1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Mistral Cloud Chat Model2": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent1",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields3": {
        "main": [
          [
            {
              "node": "Code2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code2": {
        "main": [
          [
            {
              "node": "Split Out1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Mistral DOC OCR6",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out1": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code3": {
        "main": [
          [
            {
              "node": "Convert to File1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract from File": {
        "main": [
          [
            {
              "node": "AI Agent3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items1": {
        "main": [
          [],
          [
            {
              "node": "Set File ID1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set File ID1": {
        "main": [
          [
            {
              "node": "Google Drive4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Drive": {
        "main": [
          [
            {
              "node": "Loop Over Items1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Drive4": {
        "main": [
          []
        ]
      },
      "AI Agent3": {
        "main": [
          [
            {
              "node": "Edit Fields5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Mistral Cloud Chat Model4": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent3",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields5": {
        "main": [
          [
            {
              "node": "Code4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code4": {
        "main": [
          []
        ]
      },
      "Split Out2": {
        "main": [
          []
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Switch File Type",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Read Spreadsheet File1": {
        "main": [
          [
            {
              "node": "Code6",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code6": {
        "main": [
          [
            {
              "node": "Aggregate3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Set Timesheet JSON Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Mistral Cloud Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields7": {
        "main": [
          [
            {
              "node": "AI Agent5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields8": {
        "main": [
          [
            {
              "node": "AI Agent5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Mistral DOC OCR1": {
        "main": [
          [
            {
              "node": "Edit Fields9",
              "type": "main",
              "index": 0
            },
            {
              "node": "Mistral file delete",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields9": {
        "main": [
          [
            {
              "node": "AI Agent5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate3": {
        "main": [
          [
            {
              "node": "Edit Fields7",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request3": {
        "main": [
          [
            {
              "node": "Edit Fields8",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields10": {
        "main": [
          []
        ]
      },
      "Mistral Upload": {
        "main": [
          [
            {
              "node": "Mistral Signed URL",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Mistral Signed URL": {
        "main": [
          [
            {
              "node": "Mistral DOC OCR1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code5": {
        "main": [
          [
            {
              "node": "HTTP Request3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code7": {
        "main": [
          [
            {
              "node": "Mistral Upload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract from File1": {
        "main": [
          [
            {
              "node": "AI Agent4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent4": {
        "main": [
          [
            {
              "node": "Edit Fields6",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Mistral Cloud Chat Model5": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent4",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields6": {
        "main": [
          [
            {
              "node": "Code8",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch File Type": {
        "main": [
          [
            {
              "node": "Code7",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Read Spreadsheet File1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Code5",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Extract from File2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "Switch2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent5": {
        "main": [
          [
            {
              "node": "Edit Fields11",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Mistral Cloud Chat Model6": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent5",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields11": {
        "main": [
          [
            {
              "node": "Code9",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract from File2": {
        "main": [
          [
            {
              "node": "AI Agent5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code9": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null
  },
  "activeVersionId": "a3968cc1-2315-4517-8983-d5db4bd35149",
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Google Drive2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Set File ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set File ID": {
      "main": [
        [
          {
            "node": "Google Drive3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive3": {
      "main": [
        [
          {
            "node": "Mistral Upload1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Upload1": {
      "main": [
        [
          {
            "node": "Mistral Signed URL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Signed URL1": {
      "main": [
        [
          {
            "node": "Mistral DOC OCR8",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mistral DOC OCR6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral DOC OCR6": {
      "main": [
        [
          {
            "node": "Code10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code10": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral DOC OCR8": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mistral DOC OCR6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Set File ID1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set File ID1": {
      "main": [
        [
          {
            "node": "Google Drive4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive4": {
      "main": [
        []
      ]
    },
    "AI Agent3": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        []
      ]
    },
    "Split Out2": {
      "main": [
        []
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch File Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Spreadsheet File1": {
      "main": [
        [
          {
            "node": "Code6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code6": {
      "main": [
        [
          {
            "node": "Aggregate3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Set Timesheet JSON Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "AI Agent5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields8": {
      "main": [
        [
          {
            "node": "AI Agent5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral DOC OCR1": {
      "main": [
        [
          {
            "node": "Edit Fields9",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mistral file delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields9": {
      "main": [
        [
          {
            "node": "AI Agent5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate3": {
      "main": [
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Edit Fields8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields10": {
      "main": [
        []
      ]
    },
    "Mistral Upload": {
      "main": [
        [
          {
            "node": "Mistral Signed URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Signed URL": {
      "main": [
        [
          {
            "node": "Mistral DOC OCR1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code5": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code7": {
      "main": [
        [
          {
            "node": "Mistral Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "AI Agent4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent4": {
      "main": [
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent4",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Code8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch File Type": {
      "main": [
        [
          {
            "node": "Code7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read Spreadsheet File1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent5": {
      "main": [
        [
          {
            "node": "Edit Fields11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent5",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields11": {
      "main": [
        [
          {
            "node": "Code9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File2": {
      "main": [
        [
          {
            "node": "AI Agent5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code9": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-13T12:03:56.454Z",
  "id": "rUqqIj1qn1FYAqSz",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "invoice extractor",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -3728,
        -896
      ],
      "id": "57e7b971-8928-435e-98df-5937cfe78868",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -3280,
        -896
      ],
      "id": "ccc1df4d-409d-46aa-892a-1f92f595dd35",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "f4536df5-d0b1-4392-bf17-b8137fb31a44",
              "name": "file_type",
              "value": "={{ $json.mimeType }}",
              "type": "string"
            },
            {
              "id": "77d782de-169d-4a46-8a8e-a3831c04d90f",
              "name": "file_title",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "9bde4d7f-e4f3-4ebd-9338-dce1350f9eab",
              "name": "file_url",
              "value": "={{ $json.webViewLink }}",
              "type": "string"
            },
            {
              "id": "fae402c8-c486-4b57-8d28-bf669db6b442",
              "name": "last_modified_date",
              "value": "={{ $json.modifiedTime }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8aabc4d5-18ea-4289-9639-a825360fd67d",
      "name": "Set File ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3040,
        -896
      ]
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1jnZa-XZvoTzNgrjzYijWWPBST6-m6XuF",
            "mode": "list",
            "cachedResultName": "Nosta ocr test ",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1jnZa-XZvoTzNgrjzYijWWPBST6-m6XuF"
          }
        },
        "options": {
          "fields": [
            "id",
            "name",
            "webViewLink",
            "mimeType",
            "*"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -3520,
        -896
      ],
      "id": "b7bce12f-b89a-4c0e-bb8c-627330f91e7f",
      "name": "Google Drive2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8TJAGPnMBWLtBC4X",
          "name": "Google Drive dbt rn"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Set File ID').item.json.file_url }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2848,
        -896
      ],
      "id": "cc876e8d-42f2-4a19-bd78-04cb54e295c3",
      "name": "Google Drive3",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8TJAGPnMBWLtBC4X",
          "name": "Google Drive dbt rn"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "mistralCloudApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "purpose",
              "value": "ocr"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "4be29eae-bdc4-4a65-890d-81a2ef1acc2c",
      "name": "Mistral Upload1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -2688,
        -896
      ],
      "typeVersion": 4.2,
      "credentials": {
        "mistralCloudApi": {
          "id": "NRp52l3NFK2olZNh",
          "name": "Mistral Cloud account dbt test"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.mistral.ai/v1/files/{{ $json.id }}/url",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "mistralCloudApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "expiry",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "fc12c266-b74d-419b-972d-a7c230b1cca1",
      "name": "Mistral Signed URL1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -2528,
        -896
      ],
      "typeVersion": 4.2,
      "credentials": {
        "mistralCloudApi": {
          "id": "NRp52l3NFK2olZNh",
          "name": "Mistral Cloud account dbt test"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/ocr",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "mistralCloudApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"document_url\": \"{{ $json.url }}\"\n  },\n  \"bbox_annotation_format\": {\n    \"type\": \"json_schema\",\n    \"json_schema\": {\n      \"schema\": {\n        \"properties\": {\n          \"image_type\": { \"title\": \"Image_Type\", \"type\": \"string\", \"description\": \"type of image\" },\n          \"short_description\": { \"title\": \"Short_Description\", \"type\": \"string\", \"description\": \"short description\" },\n          \"summary\": { \"title\": \"Summary\", \"type\": \"string\", \"description\": \"summary of the image\" }\n        },\n        \"required\": [\"image_type\",\"short_description\",\"summary\"],\n        \"title\": \"BBOXAnnotation\",\n        \"type\": \"object\",\n        \"additionalProperties\": false\n      },\n      \"name\": \"bbox_annotation\",\n      \"strict\": true\n    }\n  },\n  \"include_image_base64\": false\n}\n",
        "options": {}
      },
      "id": "8bd24e4f-5568-40a1-850b-e635816f7625",
      "name": "Mistral DOC OCR6",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -2368,
        -592
      ],
      "typeVersion": 4.2,
      "credentials": {
        "mistralCloudApi": {
          "id": "NRp52l3NFK2olZNh",
          "name": "Mistral Cloud account dbt test"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c8160701-2be7-43c6-bcfa-295fbebe0e23",
              "name": "ocr output",
              "value": "={{ $json.embedding_text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1888,
        -592
      ],
      "id": "969ebb6a-209d-4fd5-9922-a183830cfc9d",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "jsCode": "// n8n Function node\n// Keeps image array from input, inserts embedding_text inline with images\n\nconst pages = items[0].json.pages;\nlet output = [];\n\nfor (const page of pages) {\n  let text = `Page ${page.index}\\n\\n`;\n  let markdown = page.markdown;\n\n  // Replace each image markdown with annotation text if available\n  markdown = markdown.replace(/!\\[(.*?)\\]\\((.*?)\\)/g, (match, alt, src) => {\n    const img = page.images.find(i => i.id === src || i.fileName === src);\n    if (img && img.image_annotation) {\n      const ann = JSON.parse(img.image_annotation);\n      return (\n        '{' +\n        `Image: [${img.id}]\\n` +\n        `Type: ${ann.image_type}\\n` +\n        `Short: ${ann.short_description}\\n` +\n        `Summary: ${ann.summary}\\n` +\n        '}'\n      );\n    }\n    return \"\"; // if no annotation, strip it\n  });\n\n  text += markdown.trim();\n\n  output.push({\n    json: {\n      page_index: page.index,\n      embedding_text: text,\n      images: page.images   // ✅ keep original images array\n    }\n  });\n}\n\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2144,
        -576
      ],
      "id": "c4d09253-5d2c-425c-8b6c-a20716edba9a",
      "name": "Code10"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "mistralCloudApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"mistral-medium-latest\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an expert AI for extracting structured data from invoices, POs, and RFQs via URLs. Your ONLY output must be a single, valid JSON object (no prose, no markdown, no code fences). TARGET SCHEMA (and nothing else): { \\\"document_info\\\": { \\\"type\\\": \\\"string\\\", \\\"date\\\": \\\"YYYY-MM-DD\\\", \\\"customer_name\\\": \\\"string\\\", \\\"customer_number\\\": \\\"string\\\", \\\"supplier_number\\\": \\\"string\\\", \\\"order_number\\\": \\\"string\\\" }, \\\"requested_items\\\": [ { \\\"pos\\\": \\\"string\\\", \\\"article_number\\\": \\\"string\\\", \\\"customer_article_number\\\": \\\"string\\\", \\\"article_name\\\": \\\"string\\\", \\\"quantity\\\": number, \\\"unit\\\": \\\"string\\\", \\\"delivery_date\\\": \\\"YYYY-MM-DD|null\\\" } ] } RULES: 1) Do not add extra fields. Unknown values -> null. 2) Normalize date to YYYY-MM-DD (accept DD.MM.YYYY, DD/MM/YYYY, MM/DD/YYYY, YYYY/MM/DD, month names). If multiple candidates, choose issue/creation date; else null. 3) customer_name: Always the buyer/customer (Customer/Kunde/Buyer/Bill To). HARD RULE: If 'Nosta' or 'Nosta GmbH' appears, it must ALWAYS be supplier_name (never customer_name). If another company appears together with Nosta GmbH, assign that other company to customer_name and Nosta GmbH to supplier_name. If only Nosta GmbH appears, supplier_name = 'Nosta GmbH' and customer_name = null. 4) order_number: accept Order/PO/RFQ/Reference/Bestellnummer; keep only letters, digits, '-', '/'; else null. 5) customer_number: take from Unsere Kundennr/KundeNr/Customer no. 6) supplier_number: take from Lieferant/Supplier no. If missing, but Nosta is present, use 'Nosta GmbH' as the supplier. 7) requested_items: Extract ALL rows across all pages. pos: Use ONLY the value from the dedicated Pos/Position/Item column. Trim leading zeros (e.g., '01' -> '1'). If the Pos column is missing, unreadable, merged, duplicated, out of order, or shows long numbers (>3 digits) that look like article/material numbers, IGNORE them and assign clean sequential positions starting at '1' and incrementing by 1 ('1','2','3',...). Ensure uniqueness and strictly increasing order by row appearance. NEVER copy article/material/reference numbers into pos. article_number: Supplier’s material/part number (column labeled Artikel, Artikelnummer, Materialnummer, Art.-Nr, etc.). customer_article_number: If an additional reference appears (labels like Ihre Artikelnr, Materialnummer Lieferant, Ihre Nr.), capture it here; else null. article_name: Descriptive text of the item (DIN …, PASSFED …, NUTENSTEIN …). Strip trailing unit tokens like ST, pcs, etc. quantity: JSON number; normalize '12,5' → 12.5; strip thousands separators. unit: Normalize to lowercase short code. Map aliases: pcs: [piece, pieces, stk, stück, st, pce]; kg: [kg, kilogram, kilograms]; m: [m, meter, metre, meters]; set: [set, sets]; l: [l, liter, litre, liters]. delivery_date: Extract if explicitly stated, else null. Multi-page handling: If a line item is split across pages (e.g., pos and quantity on one page, description or reference on the next), merge into a single requested_items entry. 8) Ignore prices/taxes/currency unless part of the name. 9) Handle multilingual labels: date (Datum/Issue Date), items (Pos/Position/Item; Bezeichnung/Artikel/Description; Menge/Qty/Quantity; Einheit/Unit). 10) Clean OCR artifacts: remove hyphenation, header/footer noise. 11) Validate before returning: JSON must parse; types must match; quantity is a number; unit is a short code; if no items found, return requested_items: []. 12) Output strictly the JSON object—no explanations. 13) You must respond ONLY with valid raw rendered JSON. Do NOT include the word 'json'. Do NOT include the word '```json'. Do NOT use triple backticks or markdown formatting. Do NOT wrap the response in any key like 'output'. Do NOT write anything starting at output — directly start with valid root-level JSON. Only respond with a valid, root-level JSON object. 14) Do NOT skip any line item.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"Extract order information from this document and return only valid JSON with this structure:\\n{\\n  \\\"document_info\\\": {\\n    \\\"type\\\": \\\"string\\\",\\n    \\\"date\\\": \\\"YYYY-MM-DD\\\",\\n    \\\"customer_name\\\": \\\"string\\\",\\n    \\\"customer_number\\\": \\\"string\\\",\\n    \\\"supplier_number\\\": \\\"string\\\",\\n    \\\"order_number\\\": \\\"string\\\"\\n  },\\n  \\\"requested_items\\\": [\\n    { \\\"pos\\\": \\\"string\\\", \\\"article_number\\\": \\\"string\\\", \\\"customer_article_number\\\": \\\"string\\\", \\\"article_name\\\": \\\"string\\\", \\\"quantity\\\": number, \\\"unit\\\": \\\"string\\\", \\\"delivery_date\\\": \\\"YYYY-MM-DD|null\\\" }\\n  ]\\n}\\nReturn JUST the JSON—no extra text.\"\n        },\n        {\n          \"type\": \"document_url\",\n          \"document_url\": \"{{ $json.url }}\"\n        }\n      ]\n    }\n  ],\n  \"document_image_limit\": 8,\n  \"document_page_limit\": 64\n}\n",
        "options": {}
      },
      "id": "ebdd6fb0-c2a3-4b56-a024-7b5c196b5d52",
      "name": "Mistral DOC OCR8",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -2352,
        -912
      ],
      "typeVersion": 4.2,
      "credentials": {
        "mistralCloudApi": {
          "id": "NRp52l3NFK2olZNh",
          "name": "Mistral Cloud account dbt test"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f34f23d8-edf0-434b-97f2-1bb77b7b16f0",
              "name": "output",
              "value": "=\n\n\n{{ $json.choices[0].message.content }}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2048,
        -1296
      ],
      "id": "29813c6e-ead9-4656-b275-b5e619359209",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "92f6b7a4-ac37-4a82-af5a-83d3ffa23861",
              "name": "output ",
              "value": "={{ JSON.parse($json.output) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1824,
        -1296
      ],
      "id": "2a306334-ab53-4e21-a5bb-8e80f383fd8d",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "jsCode": "const rawOutput = $input.first().json[\"output \"]; // Note the space!\nconst parsedData = JSON.parse(rawOutput);\nreturn [{ json: parsedData }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1616,
        -1296
      ],
      "id": "1147abe0-0f34-4529-975c-5f5e82b7de2a",
      "name": "Code"
    },
    {
      "parameters": {
        "fieldToSplitOut": "requested_items",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1440,
        -1424
      ],
      "id": "ce8f6200-ff35-4b34-9eb2-f9652ffe504f",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -1216,
        -1424
      ],
      "id": "757ee8a3-90d3-464f-9e67-a7d3aff277e8",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\n  {\n    \"document_info\": {\n      \"type\": null,\n      \"date\": null,\n      \"customer_name\": null,\n      \"customer_number\": null,\n      \"supplier_number\": null,\n      \"order_number\": null\n    },\n    \"requested_items\": [\n      {\n        \"pos\": null,\n        \"article_number\": null,\n        \"customer_article_number\": null,\n        \"article_name\": null,\n        \"quantity\": null,\n        \"unit\": null,\n        \"delivery_date\": null\n      }\n    ]\n  }\n]\n"
      },
      "id": "e9ce5c8d-ce6a-4665-82e4-5bf94031e73c",
      "name": "Structured Output Parser (Example)",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        -1136,
        -400
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You must respond ONLY with valid raw rendered JSON.\n- Do NOT include the word \"json\".\n- Do NOT include the word \"```json\".\n- Do NOT use triple backticks or markdown formatting.\n- Do NOT wrap the response in any key like \"output\".\n- Do NOT write anything starting at output directly start with valid root-level JSON.\n- Only respond with a valid, root-level JSON object.\n- Do NOT skip any line item. Continue extracting all line items until the sum of all line_total values exactly equals the total sale amount extracted from the invoice. This verification ensures that all items are fully extracted and no entries are missed. If the totals do not match, keep parsing and extracting additional line items until they do. Only then stop.\n\n\n\n{{ $json.text }}",
        "options": {
          "systemMessage": "You are a document parsing assistant designed to extract structured data from purchase orders and RFQs for automated uploading and validation in a procurement system.\n\nExtract the following fields from the text:\n\nsupplier_name: Name of the supplier issuing the RFQ/order. If the supplier is Nosta GmbH, return \"Nosta GmbH\" here.\n\ncustomer_name: Name of the customer (the company placing the order / requesting quotation).\n\nImportant rule: Never return \"Nosta\" or \"Nosta GmbH\" as the customer. If the only detected name is Nosta, set customer_name to null.\n\ntype_of_document: Type of document (e.g., purchase order, RFQ).\n\ndate: Document date in YYYY-MM-DD format.\n\ncustomer_number: Customer number.\n\norder_or_rfq_number: Order number or RFQ number.\n\nrequested_items: List of all requested materials/articles in the document. For each item, extract:\n\npos: Position number (if available).\n\narticle_name: Name/description of the material (do not include codes inside description).\n\nsupplier_material_number: Supplier’s material number if present, else null.\n\ncustomer_material_number: Customer’s material number if present, else null.\n\nquantity: Number of parts requested.\n\nunit: Unit of measure (pcs, kg, etc.).\n\ndelivery_date: Delivery date in YYYY-MM-DD format if present, else null.\n\nImportant rules:\n\nIgnore “Nosta” as customer; it can only appear under supplier_name.\n\nDo not skip any requested item.\n\nIf a field is missing, return it as null.\n\nExtract values exactly as shown in the document (no rounding, no assumptions).\n\nDates must always be normalized to YYYY-MM-DD.\n\nAlways return a single valid JSON object with the exact key names above.\n\nDo not skip any requested item.\n\n✨ If an item is split across multiple pages (for example, position number and article number appear on one page and the description or customer article number appears on the next page), merge them into a single requested_items entry.\n\n✨ Ensure all position numbers (pos) are in sequence. If a pos is found without a description or with incomplete data, continue scanning later pages until all fields are filled.\n\noutput format\n\nYou must respond ONLY with valid raw rendered JSON.\n- Do NOT include the word \"json\".\n- Do NOT include the word \"```json\".\n- Do NOT use triple backticks or markdown formatting.\n- Do NOT wrap the response in any key like \"output\".\n- Do NOT write anything starting at output directly start with valid root-level JSON.\n- Only respond with a valid, root-level JSON object.\n- Do NOT skip any line item. Continue extracting all line items until the sum of all line_total values exactly equals the total sale amount extracted from the invoice. This verification ensures that all items are fully extracted and no entries are missed. If the totals do not match, keep parsing and extracting additional line items until they do. Only then stop.\n\n\n[\n  {\n    \"document_info\": {\n      \"type\": null,\n      \"date\": null,\n      \"customer_name\": null,\n      \"customer_number\": null,\n      \"supplier_number\": null,\n      \"order_number\": null\n    },\n    \"requested_items\": [\n      {\n        \"pos\": null,\n        \"article_number\": null,\n        \"customer_article_number\": null,\n        \"article_name\": null,\n        \"quantity\": null,\n        \"unit\": null,\n        \"delivery_date\": null\n      }\n    ]\n  }\n]\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -1392,
        -576
      ],
      "id": "593e1b65-7747-4bdc-98de-eaaaa7171ccc",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "jsCode": "// Combine all incoming items into ONE item\nconst pages = items\n  .map(i => String(i.json['ocr output'] || ''))\n  .filter(s => s.trim().length > 0);\n\nreturn [\n  {\n    json: {\n      pages,                 // array of page strings (if you want per-page access)\n      text: pages.join('\\n\\n') // single combined string for AI prompt\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1664,
        -592
      ],
      "id": "e131cf72-804a-4840-a858-98d32f905d44",
      "name": "Code1"
    },
    {
      "parameters": {
        "model": "mistral-small-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -1504,
        -384
      ],
      "id": "4980bd76-b2d4-4f73-9df2-f3a9d3dfc358",
      "name": "Mistral Cloud Chat Model2",
      "credentials": {
        "mistralCloudApi": {
          "id": "NRp52l3NFK2olZNh",
          "name": "Mistral Cloud account dbt test"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f0cd863-7593-471b-9c43-743c0f7602c1",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1040,
        -576
      ],
      "id": "113c13f8-1550-44a2-a44f-58a5703e8f8f",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "jsCode": "// Get the raw string\nconst raw = $input.first().json.output;\n\n// Helper: remove ```json ... ``` fences if present\nfunction stripFences(s) {\n  if (typeof s !== 'string') return s;\n  return s.trim()\n    .replace(/^```[a-zA-Z]*\\s*/i, '')   // leading ``` or ```json\n    .replace(/```[\\s]*$/i, '')          // trailing ```\n    .trim();\n}\n\n// Helper: robust JSON parse (handles double-encoded JSON too)\nfunction robustParse(s) {\n  if (typeof s !== 'string') return s;\n  let t = stripFences(s);\n  try { return JSON.parse(t); } catch (e1) {}\n  // Sometimes the JSON is stringified twice\n  try { return JSON.parse(JSON.parse(t)); } catch (e2) {}\n  // Fallback: try to extract the first {...} block\n  const m = t.match(/\\{[\\s\\S]*\\}$/);\n  if (m) { return JSON.parse(m[0]); }\n  throw new Error('Could not parse JSON from `output` – check the upstream node.');\n}\n\nconst parsed = robustParse(raw);\nreturn [{ json: parsed }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -688,
        -576
      ],
      "id": "21e50da1-575b-4297-be4e-4f2870e9d5b7",
      "name": "Code2",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "requested_items",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -320,
        -592
      ],
      "id": "4f51e1a1-d0e8-41d3-88df-d20e6e662754",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "jsCode": "const out = [];\n\nfor (const doc of items) {\n  const info = doc.json.document_info;\n  for (const item of doc.json.requested_items) {\n    out.push({\n      json: {\n        type: info.type,\n        date: info.date,\n        customer_name: info.customer_name,\n        customer_number: info.customer_number,\n        supplier_number: info.supplier_number,\n        order_number: info.order_number,\n        pos: item.pos,\n        article_number: item.article_number,\n        customer_article_number: item.customer_article_number,\n        article_name: item.article_name,\n        quantity: item.quantity,\n        unit: item.unit,\n        delivery_date: item.delivery_date\n      }\n    });\n  }\n}\n\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1408,
        -1216
      ],
      "id": "f4cbb7f3-1295-4a84-ac55-4c0df778b368",
      "name": "Code3"
    },
    {
      "parameters": {
        "operation": "xls",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -1168,
        -1216
      ],
      "id": "88b8a37d-3f92-4a1d-b9f4-d0b96fc5b236",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "options": {
          "passthroughBinaryImages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -368,
        -1024
      ],
      "id": "5468aad6-5b93-47b1-8821-5e8c73e5f304",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "file",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -4480,
        720
      ],
      "id": "837c5937-9e81-43a7-b7b8-795d62f381a5",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -5056,
        32
      ],
      "id": "9eb7502d-1c5d-4b28-907c-3c7a66392072",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "f4536df5-d0b1-4392-bf17-b8137fb31a44",
              "name": "file_type",
              "value": "={{ $json.mimeType }}",
              "type": "string"
            },
            {
              "id": "77d782de-169d-4a46-8a8e-a3831c04d90f",
              "name": "file_title",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "9bde4d7f-e4f3-4ebd-9338-dce1350f9eab",
              "name": "file_url",
              "value": "={{ $json.webViewLink }}",
              "type": "string"
            },
            {
              "id": "fae402c8-c486-4b57-8d28-bf669db6b442",
              "name": "last_modified_date",
              "value": "={{ $json.modifiedTime }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "559afe5e-d7df-480f-abdc-af6542da11af",
      "name": "Set File ID1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4816,
        32
      ]
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1jnZa-XZvoTzNgrjzYijWWPBST6-m6XuF",
            "mode": "list",
            "cachedResultName": "Nosta ocr test ",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1jnZa-XZvoTzNgrjzYijWWPBST6-m6XuF"
          }
        },
        "options": {
          "fields": [
            "id",
            "name",
            "webViewLink",
            "mimeType",
            "*"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -5296,
        32
      ],
      "id": "2a1bbe10-f6d3-4ad9-9d00-05608f6ba4a4",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8TJAGPnMBWLtBC4X",
          "name": "Google Drive dbt rn"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Set File ID1').item.json.file_url }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -4624,
        32
      ],
      "id": "f89d18a8-70b7-4a87-a5ca-4bb6f7f98544",
      "name": "Google Drive4",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8TJAGPnMBWLtBC4X",
          "name": "Google Drive dbt rn"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You must respond ONLY with valid raw rendered JSON.\n- Do NOT include the word \"json\".\n- Do NOT include the word \"```json\".\n- Do NOT use triple backticks or markdown formatting.\n- Do NOT wrap the response in any key like \"output\".\n- Do NOT write anything starting at output directly start with valid root-level JSON.\n- Only respond with a valid, root-level JSON object.\n- Do NOT skip any line item. Continue extracting all line items until the sum of all line_total values exactly equals the total sale amount extracted from the invoice. This verification ensures that all items are fully extracted and no entries are missed. If the totals do not match, keep parsing and extracting additional line items until they do. Only then stop.\n\n\n\n{{ $json.text }}",
        "options": {
          "systemMessage": "=You are a document parsing assistant designed to extract structured data from purchase orders and RFQs for automated uploading and validation in a procurement system.\n\nExtract the following fields from the text:\n\nsupplier_name: Name of the supplier issuing the RFQ/order. If the supplier is Nosta GmbH, return \"Nosta GmbH\" here.\n\ncustomer_name: Name of the customer (the company placing the order / requesting quotation).\n\nImportant rule: Never return \"Nosta\" or \"Nosta GmbH\" as the customer. If the only detected name is Nosta, set customer_name to null.\n\ntype_of_document: Type of document (e.g., purchase order, RFQ).\n\ndate: Document date in YYYY-MM-DD format.\n\ncustomer_number: Customer number.\n\norder_or_rfq_number: Order number or RFQ number.\n\nrequested_items: List of all requested materials/articles in the document. For each item, extract:\n\npos: Position number (if available).\n\narticle_name: Name/description of the material (do not include codes inside description).\n\nsupplier_material_number: Supplier’s material number if present, else null.\n\ncustomer_material_number: Customer’s material number if present, else null.\n\nquantity: Number of parts requested.\n\nunit: Unit of measure (pcs, kg, etc.).\n\ndimensions : width X  height X depth  which given in example:2X4X6 \ndelivery_date: Delivery date in YYYY-MM-DD format if present, else null.\n\nImportant rules:\n\nIgnore “Nosta” as customer; it can only appear under supplier_name.\n\nDo not skip any requested item.\n\nIf a field is missing, return it as null.\n\nExtract values exactly as shown in the document (no rounding, no assumptions).\n\nDates must always be normalized to YYYY-MM-DD.\n\nAlways return a single valid JSON object with the exact key names above.\n\nDo not skip any requested item.\n\n✨ If an item is split across multiple pages (for example, position number and article number appear on one page and the description or customer article number appears on the next page), merge them into a single requested_items entry.\n\n✨ Ensure all position numbers (pos) are in sequence. If a pos is found without a description or with incomplete data, continue scanning later pages until all fields are filled.\n\noutput format\n\nYou must respond ONLY with valid raw rendered JSON.\n- Do NOT include the word \"json\".\n- Do NOT include the word \"```json\".\n- Do NOT use triple backticks or markdown formatting.\n- Do NOT wrap the response in any key like \"output\".\n- Do NOT write anything starting at output directly start with valid root-level JSON.\n- Only respond with a valid, root-level JSON object.\n- Do NOT skip any line item. Continue extracting all line items until the sum of all line_total values exactly equals the total sale amount extracted from the invoice. This verification ensures that all items are fully extracted and no entries are missed. If the totals do not match, keep parsing and extracting additional line items until they do. Only then stop.\n\n\n[\n  {\n    \"document_info\": {\n      \"type\": null,\n      \"date\": null,\n      \"customer_name\": null,\n      \"customer_number\": null,\n      \"supplier_number\": null,\n      \"order_number\": null\n    },\n    \"requested_items\": [\n      {\n        \"pos\": null,\n        \"article_number\": null,\n        \"customer_article_number\": null,\n        \"article_name\": null,\n        \"quantity\": null,\n        \"unit\": null,\n         \"dimensions\": null x null x null,\n        \"delivery_date\": null\n      }\n    ]\n  }\n]\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -3264,
        672
      ],
      "id": "85fc93c2-f1e2-446c-b2ee-2bc11170459b",
      "name": "AI Agent3"
    },
    {
      "parameters": {
        "model": "mistral-medium-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -3296,
        896
      ],
      "id": "1d5a2bee-9143-4781-9a7c-7c2c1ccdbc93",
      "name": "Mistral Cloud Chat Model4",
      "credentials": {
        "mistralCloudApi": {
          "id": "NRp52l3NFK2olZNh",
          "name": "Mistral Cloud account dbt test"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f0cd863-7593-471b-9c43-743c0f7602c1",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2928,
        672
      ],
      "id": "4f181d8c-2614-4fb7-b655-b832e8197dca",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "jsCode": "// Get the raw string\nconst raw = $input.first().json.output;\n\n// Helper: remove ```json ... ``` fences if present\nfunction stripFences(s) {\n  if (typeof s !== 'string') return s;\n  return s.trim()\n    .replace(/^```[a-zA-Z]*\\s*/i, '')   // leading ``` or ```json\n    .replace(/```[\\s]*$/i, '')          // trailing ```\n    .trim();\n}\n\n// Helper: robust JSON parse (handles double-encoded JSON too)\nfunction robustParse(s) {\n  if (typeof s !== 'string') return s;\n  let t = stripFences(s);\n  try { return JSON.parse(t); } catch (e1) {}\n  // Sometimes the JSON is stringified twice\n  try { return JSON.parse(JSON.parse(t)); } catch (e2) {}\n  // Fallback: try to extract the first {...} block\n  const m = t.match(/\\{[\\s\\S]*\\}$/);\n  if (m) { return JSON.parse(m[0]); }\n  throw new Error('Could not parse JSON from `output` – check the upstream node.');\n}\n\nconst parsed = robustParse(raw);\nreturn [{ json: parsed }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2640,
        704
      ],
      "id": "212b78ee-2c0a-49f3-905d-93125c605218",
      "name": "Code4",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "requested_items",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -2896,
        192
      ],
      "id": "18b8c4b0-f6fd-4d72-9993-1eae946f79c2",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f8957a80-b4c3-4bb4-b3c0-256624cbcc40",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -3248,
        2848
      ],
      "id": "ca5229ce-6b78-46c6-a086-136ae439a06a",
      "name": "Webhook",
      "webhookId": "f8957a80-b4c3-4bb4-b3c0-256624cbcc40"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -336,
        2720
      ],
      "id": "4bdb971f-4eb1-4442-ae2c-49d06e36e2fd",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "12c3738c-4b46-44fe-a482-efeb1beda924",
              "name": "=Employee Name",
              "value": "={{ JSON.parse($json[\"output\"])[0].document_info.employee_name }}\n\n\n",
              "type": "string"
            },
            {
              "id": "b6bdd6c3-f57d-4695-9863-68e37b3bf10b",
              "name": "=Total Billable hours",
              "value": "={{ JSON.parse($json[\"output\"])[0].document_info.total_hours }}\n\n\n",
              "type": "string"
            },
            {
              "id": "f826dc43-34ca-47bf-a823-9e21c0a46df8",
              "name": "Week Start Date",
              "value": "={{ JSON.parse($json[\"output\"])[0].document_info.week_start_date.trim() }}\n",
              "type": "string"
            },
            {
              "id": "faf34b88-5e61-4c15-97b6-7c933d69c279",
              "name": "Week End Date",
              "value": "={{ JSON.parse($json[\"output\"])[0].document_info.week_end_date.trim() }}\n",
              "type": "string"
            },
            {
              "id": "95dd93b1-8e25-422f-b6fb-73bf65aa792e",
              "name": "Client Name",
              "value": "={{ JSON.parse($json[\"output\"])[0].document_info.client_name.trim() }}",
              "type": "string"
            },
            {
              "id": "8c92f891-1393-4199-b9ba-3683750455f1",
              "name": "Current Year",
              "value": "={{ new Date(JSON.parse($json[\"output\"])[0].document_info.week_start_date).getFullYear() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1360,
        3328
      ],
      "id": "e7b007a1-a1d2-4d7c-8d61-fe592a9925cf",
      "name": "Set Timesheet JSON Fields"
    },
    {
      "parameters": {
        "binaryPropertyName": "file",
        "options": {
          "headerRow": false
        }
      },
      "id": "f6a95b12-1f74-4a9d-9d5a-9d72ffa1a029",
      "name": "Read Spreadsheet File1",
      "type": "n8n-nodes-base.spreadsheetFile",
      "position": [
        -2416,
        2240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// Convert Excel serial date -> YYYY-MM-DD\nconst base = new Date(Date.UTC(1899, 11, 30));\nfunction fromSerial(s) {\n  if (!s || isNaN(Number(s))) return s; // skip if not a number\n  const ms = Number(s) * 86400 * 1000;\n  return new Date(base.getTime() + ms).toISOString().slice(0, 10);\n}\n\nreturn items.map(item => {\n  let row = { ...item.json };\n\n  // Convert possible date fields\n  if (row.__EMPTY && !isNaN(row.__EMPTY)) {\n    row.__EMPTY = fromSerial(row.__EMPTY);\n  }\n  if (row.__EMPTY_1 && !isNaN(row.__EMPTY_1) && row[\" Contractor Timesheet\"]?.includes(\"Weekending\")) {\n    row.__EMPTY_1 = fromSerial(row.__EMPTY_1);\n  }\n\n  return { json: row };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2096,
        2256
      ],
      "id": "a93a2063-2e15-40e2-9bf4-8cfd8050b5be",
      "name": "Code6"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You must respond ONLY with valid raw rendered JSON.\n- Do NOT include the word \"json\".\n- Do NOT include the word \"```json\".\n- Do NOT use triple backticks or markdown formatting.\n- Do NOT wrap the response in any key like \"output\".\n- Do NOT write anything starting at output directly start with valid root-level JSON.\n- Only respond with a valid, root-level JSON object.\n- Do NOT skip any line item. \n\n\n{{ $json.content }}\n",
        "options": {
          "systemMessage": "=Your sole function is to be a meticulous data extraction AI. Your task is to analyze the provided timesheet documents (images, PDFs, etc.) and convert the information into a structured JSON format with absolute precision, following the rules below.  \n\nFor each timesheet, first extract all summary-level information into the `document_info` object. This includes:  \n\n- Employee Name  \n- Week Starting Date  \n- Week Ending Date  \n- Total Working Hours  \n- Client Name  \n\n### Rules\n\n\nInstructions:\n\n- For Week Starting Date:  \n  - If a phrase like \"Period from ... to ...\" is present, extract the **first date** from it. Use the date exactly as written.  \n  - If no such phrase is found, and there is a row with weekdays like \"Monday Tuesday...\" followed by short-form dates like \"Mar-17\", \"May-5\", etc., extract the **first date** in that row.  \n  - Convert the short-form date into full format: **MM/DD/YYYY**.  \n    Example: \"Mar-17\" → \"03/17/2025\", \"May-5\" → \"05/05/2025\".  \n  - Do not return \"Mar-17\", \"May-5\", or any partial date format. Always return the full date in MM/DD/YYYY.\n\n- For Week Ending Date:  \n  - If a phrase like \"Period from ... to ...\" is present, extract the **second date**.  \n  - If weekday headers with short-form dates are present, extract the **last date** in that row.  \n  - Again, convert to **MM/DD/YYYY** format.  \n    Example: \"May-11\" → \"05/11/2025\".\n\n- Do not calculate, assume, or guess dates. Only convert short-form dates to MM/DD/YYYY format using the correct month and year from the timesheet.\n- Look for a label such as:\n - \"Total Hours\",  \n   - \"Total Billable Hours\", \n  - \"Total Number of Hours Worked\"  \n   - or any clearly indicated **total row or cell** at the bottom of the table.\n\n- Do not sum individual daily entries.\n- Return numbers exactly as shown (e.g., 40.00).\n\n---\n\n### Output Format  \n\n# You must respond ONLY with valid raw rendered JSON.  \n\n- Do NOT include the word `\"json\"`.  \n- Do NOT include ```json.  \n- Do NOT use triple backticks or markdown formatting.  \n- Do NOT wrap the response in any key like `\"output\"`.  \n- Do NOT write anything before the opening `[` of the JSON array.  \n\n---\n\nvery important - Only respond with a valid, root-level JSON array.  \nNo \"output\" wrapper.\nNo backticks.\nNo \"json\" label\n\nspecial instruction \n\nExtract the value after \"Period ending\". \nThe date may contain spaces or OCR errors (e.g. \"8/1 0/2025\", \"8/1/0/2025\"). \nAlways normalize it to the format YYYY-MM-DD. \nIf you see \"8/1 0/2025\", interpret it as 2025-08-10.\n\n\n### Final JSON Schema  \n\n[\n  {\n    \"document_info\": {\n      \"employee_name\": null,\n      \"week_start_date\": null,\n      \"week_end_date\": null,\n      \"total_hours\": null,\n      \"client_name\": null\n    }\n  }\n]\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1088,
        3360
      ],
      "id": "233aa7c6-5244-48a5-b935-b60b3bf9f9ed",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "mistral-medium-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        1040,
        3552
      ],
      "id": "770ef85e-81a2-4eb6-8d7a-8718f4d55371",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "FXWAQ4fSAuPWXyZ1",
          "name": "Mistral Cloud nosta"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "530eae36-2bc2-4f6f-8755-73b44da913e4",
              "name": "text",
              "value": "={{ $json.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1616,
        2272
      ],
      "id": "5c03792d-a8be-41b5-89fd-aef10208a5d6",
      "name": "Edit Fields7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cefc6cbe-dcc3-4cd5-bf3c-735320ece1fe",
              "name": "text",
              "value": "={{ JSON.parse($json[\"data\"][0]).blocks[0].content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1776,
        2880
      ],
      "id": "4b3f5f3a-3918-46ea-80bc-31bbcb859499",
      "name": "Edit Fields8"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/ocr",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "mistralCloudApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"document_url\": \"{{ $json.url }}\"\n  },\n  \"bbox_annotation_format\": {\n    \"type\": \"json_schema\",\n    \"json_schema\": {\n      \"schema\": {\n        \"properties\": {\n          \"image_type\": { \"title\": \"Image_Type\", \"type\": \"string\", \"description\": \"type of image\" },\n          \"short_description\": { \"title\": \"Short_Description\", \"type\": \"string\", \"description\": \"short description\" },\n          \"summary\": { \"title\": \"Summary\", \"type\": \"string\", \"description\": \"summary of the image\" }\n        },\n        \"required\": [\"image_type\",\"short_description\",\"summary\"],\n        \"title\": \"BBOXAnnotation\",\n        \"type\": \"object\",\n        \"additionalProperties\": false\n      },\n      \"name\": \"bbox_annotation\",\n      \"strict\": true\n    }\n  },\n  \"include_image_base64\": true\n}\n",
        "options": {}
      },
      "id": "3c067cae-a6fc-4e60-9673-d895ed1f89f6",
      "name": "Mistral DOC OCR1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -1760,
        2656
      ],
      "typeVersion": 4.2,
      "credentials": {
        "mistralCloudApi": {
          "id": "NRp52l3NFK2olZNh",
          "name": "Mistral Cloud account dbt test"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cefc6cbe-dcc3-4cd5-bf3c-735320ece1fe",
              "name": "text",
              "value": "={{ $json.pages[0].markdown }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1584,
        2688
      ],
      "id": "daef423c-1687-45f8-9457-a7077515cf24",
      "name": "Edit Fields9"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1872,
        2256
      ],
      "id": "e1bc4830-717e-4ce9-bdd5-0736fcdd5ac7",
      "name": "Aggregate3"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://api.mistral.ai/v1/files/{{ $('Mistral Upload').item.json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "mistralCloudApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "f0bff460-2edf-4e17-be7e-fa0a0523b46f",
      "name": "Mistral file delete",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -1584,
        2560
      ],
      "typeVersion": 4.2,
      "credentials": {
        "mistralCloudApi": {
          "id": "NRp52l3NFK2olZNh",
          "name": "Mistral Cloud account dbt test"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://universal-file-to-text-extractor.vercel.app/extract",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "mode",
              "value": "single"
            },
            {
              "name": "output_type",
              "value": "jsonl"
            },
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "data"
            },
            {
              "name": "include_images",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2064,
        2896
      ],
      "id": "494d0530-ce4e-48a4-b4c2-472995a8bcf9",
      "name": "HTTP Request3",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e5bd95ba-8269-404a-bf9d-fa0d25398b59",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        -256
      ],
      "id": "ca6e1ddb-9706-46bc-91b8-4460807a6f81",
      "name": "Edit Fields10"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "mistralCloudApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "purpose",
              "value": "ocr"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "81601a0b-1de4-48c6-95e4-f22ec7a35ac6",
      "name": "Mistral Upload",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -2208,
        2656
      ],
      "typeVersion": 4.2,
      "credentials": {
        "mistralCloudApi": {
          "id": "NRp52l3NFK2olZNh",
          "name": "Mistral Cloud account dbt test"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.mistral.ai/v1/files/{{ $json.id }}/url",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "mistralCloudApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "expiry",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "dfb2531f-4dc5-45e0-a7ae-466a24cd60c2",
      "name": "Mistral Signed URL",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -1984,
        2656
      ],
      "typeVersion": 4.2,
      "credentials": {
        "mistralCloudApi": {
          "id": "NRp52l3NFK2olZNh",
          "name": "Mistral Cloud account dbt test"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const firstKey = Object.keys(item.binary || {})[0];\n\n  if (!firstKey) return item;\n\n  return {\n    json: item.json,\n    binary: { data: item.binary[firstKey] },\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2320,
        2880
      ],
      "id": "bbd59349-f07e-474a-918c-e872d32d3cea",
      "name": "Code5"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const firstKey = Object.keys(item.binary || {})[0];\n\n  if (!firstKey) return item;\n\n  return {\n    json: item.json,\n    binary: { data: item.binary[firstKey] },\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2400,
        2656
      ],
      "id": "661a714c-2e5e-416e-934e-db9cf5fb50cb",
      "name": "Code7"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "file",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1504,
        4896
      ],
      "id": "b1f354b8-c66b-4381-bf41-0d6d59c85ef5",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You must respond ONLY with valid raw rendered JSON.\n- Do NOT include the word \"json\".\n- Do NOT include the word \"```json\".\n- Do NOT use triple backticks or markdown formatting.\n- Do NOT wrap the response in any key like \"output\".\n- Do NOT write anything starting at output directly start with valid root-level JSON.\n- Only respond with a valid, root-level JSON object.\n- Do NOT skip any line item. Continue extracting all line items until the sum of all line_total values exactly equals the total sale amount extracted from the invoice. This verification ensures that all items are fully extracted and no entries are missed. If the totals do not match, keep parsing and extracting additional line items until they do. Only then stop.\n\n\n\n{{ $json.text }}",
        "options": {
          "systemMessage": "=You are a document parsing assistant designed to extract structured data from purchase orders and RFQs for automated uploading and validation in a procurement system.\n\nExtract the following fields from the text:\n\nsupplier_name: Name of the supplier issuing the RFQ/order. If the supplier is Nosta GmbH, return \"Nosta GmbH\" here.\n\ncustomer_name: Name of the customer (the company placing the order / requesting quotation).\n\nImportant rule: Never return \"Nosta\" or \"Nosta GmbH\" as the customer. If the only detected name is Nosta, set customer_name to null.\n\ntype_of_document: Type of document (e.g., purchase order, RFQ).\n\ndate: Document date in YYYY-MM-DD format.\n\ncustomer_number: Customer number.\n\norder_or_rfq_number: Order number or RFQ number.\n\nrequested_items: List of all requested materials/articles in the document. For each item, extract:\n\npos: Position number (if available).\n\narticle_name: Name/description of the material (do not include codes inside description).\n\nsupplier_material_number: Supplier’s material number if present, else null.\n\ncustomer_material_number: Customer’s material number if present, else null.\n\nquantity: Number of parts requested.\n\nunit: Unit of measure (pcs, kg, etc.).\n\ndimensions : width X  height X depth  which given in example:2X4X6 \ndelivery_date: Delivery date in YYYY-MM-DD format if present, else null.\n\nImportant rules:\n\nIgnore “Nosta” as customer; it can only appear under supplier_name.\n\nDo not skip any requested item.\n\nIf a field is missing, return it as null.\n\nExtract values exactly as shown in the document (no rounding, no assumptions).\n\nDates must always be normalized to YYYY-MM-DD.\n\nAlways return a single valid JSON object with the exact key names above.\n\nDo not skip any requested item.\n\n✨ If an item is split across multiple pages (for example, position number and article number appear on one page and the description or customer article number appears on the next page), merge them into a single requested_items entry.\n\n✨ Ensure all position numbers (pos) are in sequence. If a pos is found without a description or with incomplete data, continue scanning later pages until all fields are filled.\n\noutput format\n\nYou must respond ONLY with valid raw rendered JSON.\n- Do NOT include the word \"json\".\n- Do NOT include the word \"```json\".\n- Do NOT use triple backticks or markdown formatting.\n- Do NOT wrap the response in any key like \"output\".\n- Do NOT write anything starting at output directly start with valid root-level JSON.\n- Only respond with a valid, root-level JSON object.\n- Do NOT skip any line item. Continue extracting all line items until the sum of all line_total values exactly equals the total sale amount extracted from the invoice. This verification ensures that all items are fully extracted and no entries are missed. If the totals do not match, keep parsing and extracting additional line items until they do. Only then stop.\n\n\n[\n  {\n    \"document_info\": {\n      \"type\": null,\n      \"date\": null,\n      \"customer_name\": null,\n      \"customer_number\": null,\n      \"supplier_number\": null,\n      \"order_number\": null\n    },\n    \"requested_items\": [\n      {\n        \"pos\": null,\n        \"article_number\": null,\n        \"customer_article_number\": null,\n        \"article_name\": null,\n        \"quantity\": null,\n        \"unit\": null,\n         \"dimensions\": null x null x null,\n        \"delivery_date\": null\n      }\n    ]\n  }\n]\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -288,
        4848
      ],
      "id": "6d81a533-92c6-45f4-be63-2ddfd54c1062",
      "name": "AI Agent4"
    },
    {
      "parameters": {
        "model": "mistral-medium-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -320,
        5072
      ],
      "id": "0b5b59b5-fcad-46d3-8a0d-191f1abf1fb8",
      "name": "Mistral Cloud Chat Model5",
      "credentials": {
        "mistralCloudApi": {
          "id": "NRp52l3NFK2olZNh",
          "name": "Mistral Cloud account dbt test"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f0cd863-7593-471b-9c43-743c0f7602c1",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        4848
      ],
      "id": "fc3618bd-1bed-4efb-baf2-0f1a14a7776d",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "jsCode": "// Get the raw string\nconst raw = $input.first().json.output;\n\n// Helper: remove ```json ... ``` fences if present\nfunction stripFences(s) {\n  if (typeof s !== 'string') return s;\n  return s.trim()\n    .replace(/^```[a-zA-Z]*\\s*/i, '')   // leading ``` or ```json\n    .replace(/```[\\s]*$/i, '')          // trailing ```\n    .trim();\n}\n\n// Helper: robust JSON parse (handles double-encoded JSON too)\nfunction robustParse(s) {\n  if (typeof s !== 'string') return s;\n  let t = stripFences(s);\n  try { return JSON.parse(t); } catch (e1) {}\n  // Sometimes the JSON is stringified twice\n  try { return JSON.parse(JSON.parse(t)); } catch (e2) {}\n  // Fallback: try to extract the first {...} block\n  const m = t.match(/\\{[\\s\\S]*\\}$/);\n  if (m) { return JSON.parse(m[0]); }\n  throw new Error('Could not parse JSON from `output` – check the upstream node.');\n}\n\nconst parsed = robustParse(raw);\nreturn [{ json: parsed }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        4880
      ],
      "id": "265e3856-e5c4-48aa-b1b9-f9c719cc1178",
      "name": "Code8",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $binary[Object.keys($binary)[0]].mimeType }}",
                    "rightValue": "application/msword",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "509a71b4-8c1b-419b-8d8b-fc2c68b86bf2"
                  },
                  {
                    "leftValue": "={{ $binary[Object.keys($binary)[0]].mimeType }}",
                    "rightValue": "application/msword",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e492cbb6-eaca-42fa-95b6-8cb1363b1ead"
                  },
                  {
                    "leftValue": "={{ $binary[Object.keys($binary)[0]].mimeType }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "44e10cb4-4d6a-41f4-a34d-f9f635e6c998"
                  },
                  {
                    "leftValue": "={{ $binary[Object.keys($binary)[0]].mimeType }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "33eaa3dd-d6c6-4fbb-a625-9db12fd6b13c"
                  }
                ],
                "combinator": "or"
              },
              "renameOutput": true,
              "outputKey": "doc"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $binary[Object.keys($binary)[0]].mimeType }}",
                    "rightValue": "application/vnd.ms-excel",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "298f79a3-fb4b-48c7-bed8-f9e26a4fafad"
                  },
                  {
                    "leftValue": "={{ $binary[Object.keys($binary)[0]].mimeType }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b08acf48-8386-4017-8285-e134d0094482"
                  },
                  {
                    "leftValue": "={{ $binary[Object.keys($binary)[0]].mimeType }}",
                    "rightValue": "application/vnd.google-apps.spreadsheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8a5c4ec2-f2d9-4a98-b62b-b51e08ec6bd7"
                  }
                ],
                "combinator": "or"
              },
              "renameOutput": true,
              "outputKey": "excel"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $binary[Object.keys($binary)[0]].mimeType }}",
                    "rightValue": "image/jpeg",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8f99c496-5acb-4577-8ee3-89267716697b"
                  },
                  {
                    "leftValue": "={{ $binary[Object.keys($binary)[0]].mimeType }}",
                    "rightValue": "image/png",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "1a243663-2d4d-4004-b0be-77d61f69fd34"
                  },
                  {
                    "leftValue": "={{ $binary[Object.keys($binary)[0]].mimeType }}",
                    "rightValue": "image/tiff",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "fdd3e440-3119-43c9-ba2c-b0ad4aa29454"
                  },
                  {
                    "leftValue": "={{ $binary[Object.keys($binary)[0]].mimeType }}",
                    "rightValue": "image/jpg",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b7c6b1a4-cce5-4912-9c24-2bb7527d6d38"
                  },
                  {
                    "leftValue": "={{ $binary[Object.keys($binary)[0]].mimeType }}",
                    "rightValue": "image/bmp",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "47c28737-9239-4ac9-a5cb-74e6843c07a6"
                  }
                ],
                "combinator": "or"
              },
              "renameOutput": true,
              "outputKey": "image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "8b8e621e-40b4-43cd-8bd6-220e55b9e9fc",
                    "leftValue": "={{ $binary[Object.keys($binary)[0]].mimeType }}",
                    "rightValue": "=application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pdf"
            }
          ]
        },
        "options": {
          "allMatchingOutputs": false
        }
      },
      "id": "5898401c-5066-4b1e-9a1c-32e00fea174d",
      "name": "Switch File Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -2912,
        2736
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "fa77d98c-ae13-4d6d-b83b-a63d30d2e842"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bd605526-241f-449e-adf0-fcd5173c50df",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c3d4ab05-4f0d-4029-b9c9-a9fc58f4913b",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -5552,
        768
      ],
      "id": "9cb61134-abb5-4b1b-a766-73a8fa45f8ef",
      "name": "Switch"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9a929680-c822-40c8-8a87-7ae51232661e",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "bc7291e9-084b-4ba0-864f-b3b3b6dbe1bb"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "allMatchingOutputs": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -784,
        464
      ],
      "id": "2fc467d0-c59b-4c90-998d-29e130ef719e",
      "name": "Switch1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "635bc650-95d9-4d5b-aafc-5b05fead2425"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -5344,
        656
      ],
      "id": "68f1024d-3b8b-44cc-aed2-aea8ee42f25c",
      "name": "Switch2"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "file",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1968,
        3488
      ],
      "id": "4c006cd7-ec3b-47fe-9f40-a34e663a95c7",
      "name": "Extract from File2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You must respond ONLY with valid raw rendered JSON.\n- Do NOT include the word \"json\".\n- Do NOT include the word \"```json\".\n- Do NOT use triple backticks or markdown formatting.\n- Do NOT wrap the response in any key like \"output\".\n- Do NOT write anything starting at output directly start with valid root-level JSON.\n- Only respond with a valid, root-level JSON object.\n- Do NOT skip any line item. Continue extracting all line items until the sum of all line_total values exactly equals the total sale amount extracted from the invoice. This verification ensures that all items are fully extracted and no entries are missed. If the totals do not match, keep parsing and extracting additional line items until they do. Only then stop.\n\n\n\n{{ $json.text }}",
        "options": {
          "systemMessage": "=You are a document parsing assistant designed to extract structured data from purchase orders and RFQs for automated uploading and validation in a procurement system.\n\nExtract the following fields from the text:\n\nsupplier_name: Name of the supplier issuing the RFQ/order. If the supplier is Nosta GmbH, return \"Nosta GmbH\" here.\n\ncustomer_name: Name of the customer (the company placing the order / requesting quotation).\n\nImportant rule: Never return \"Nosta\" or \"Nosta GmbH\" as the customer. If the only detected name is Nosta, set customer_name to null.\n\ntype_of_document: Type of document (e.g., purchase order, RFQ).\n\ndate: Document date in YYYY-MM-DD format.\n\ncustomer_number: Customer number.\n\norder_or_rfq_number: Order number or RFQ number.\n\nrequested_items: List of all requested materials/articles in the document. For each item, extract:\n\npos: Position number (if available).\n\narticle_name: Name/description of the material (do not include codes inside description).\n\nsupplier_material_number: Supplier’s material number if present, else null.\n\ncustomer_material_number: Customer’s material number if present, else null.\n\nquantity: Number of parts requested.\n\nunit: Unit of measure (pcs, kg, etc.).\n\ndimensions : width X  height X depth  which given in example:2X4X6 \ndelivery_date: Delivery date in YYYY-MM-DD format if present, else null.\n\nImportant rules:\n\nIgnore “Nosta” as customer; it can only appear under supplier_name.\n\nDo not skip any requested item.\n\nIf a field is missing, return it as null.\n\nExtract values exactly as shown in the document (no rounding, no assumptions).\n\nDates must always be normalized to YYYY-MM-DD.\n\nAlways return a single valid JSON object with the exact key names above.\n\nDo not skip any requested item.\n\n✨ If an item is split across multiple pages (for example, position number and article number appear on one page and the description or customer article number appears on the next page), merge them into a single requested_items entry.\n\n✨ Ensure all position numbers (pos) are in sequence. If a pos is found without a description or with incomplete data, continue scanning later pages until all fields are filled.\n\noutput format\n\nYou must respond ONLY with valid raw rendered JSON.\n- Do NOT include the word \"json\".\n- Do NOT include the word \"```json\".\n- Do NOT use triple backticks or markdown formatting.\n- Do NOT wrap the response in any key like \"output\".\n- Do NOT write anything starting at output directly start with valid root-level JSON.\n- Only respond with a valid, root-level JSON object.\n- Do NOT skip any line item. Continue extracting all line items until the sum of all line_total values exactly equals the total sale amount extracted from the invoice. This verification ensures that all items are fully extracted and no entries are missed. If the totals do not match, keep parsing and extracting additional line items until they do. Only then stop.\n\n\n[\n  {\n    \"document_info\": {\n      \"type\": null,\n      \"date\": null,\n      \"customer_name\": null,\n      \"customer_number\": null,\n      \"supplier_number\": null,\n      \"order_number\": null\n    },\n    \"requested_items\": [\n      {\n        \"pos\": null,\n        \"article_number\": null,\n        \"customer_article_number\": null,\n        \"article_name\": null,\n        \"quantity\": null,\n        \"unit\": null,\n         \"dimensions\": null x null x null,\n        \"delivery_date\": null\n      }\n    ]\n  }\n]\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -1312,
        2832
      ],
      "id": "0e57ebc3-dfeb-416e-bd39-6fccd8436a99",
      "name": "AI Agent5"
    },
    {
      "parameters": {
        "model": "mistral-medium-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -1376,
        3072
      ],
      "id": "c28742ad-03c8-4953-8d98-e1438552de8c",
      "name": "Mistral Cloud Chat Model6",
      "credentials": {
        "mistralCloudApi": {
          "id": "NRp52l3NFK2olZNh",
          "name": "Mistral Cloud account dbt test"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f0cd863-7593-471b-9c43-743c0f7602c1",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -960,
        2832
      ],
      "id": "b493b170-50dd-48c0-9dee-a30373a077e6",
      "name": "Edit Fields11"
    },
    {
      "parameters": {
        "jsCode": "// Get the raw string\nconst raw = $input.first().json.output;\n\n// Helper: remove ```json ... ``` fences if present\nfunction stripFences(s) {\n  if (typeof s !== 'string') return s;\n  return s.trim()\n    .replace(/^```[a-zA-Z]*\\s*/i, '')   // leading ``` or ```json\n    .replace(/```[\\s]*$/i, '')          // trailing ```\n    .trim();\n}\n\n// Helper: robust JSON parse (handles double-encoded JSON too)\nfunction robustParse(s) {\n  if (typeof s !== 'string') return s;\n  let t = stripFences(s);\n  try { return JSON.parse(t); } catch (e1) {}\n  // Sometimes the JSON is stringified twice\n  try { return JSON.parse(JSON.parse(t)); } catch (e2) {}\n  // Fallback: try to extract the first {...} block\n  const m = t.match(/\\{[\\s\\S]*\\}$/);\n  if (m) { return JSON.parse(m[0]); }\n  throw new Error('Could not parse JSON from `output` – check the upstream node.');\n}\n\nconst parsed = robustParse(raw);\nreturn [{ json: parsed }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -768,
        2848
      ],
      "id": "b8aae409-30a6-4e67-9667-2e3290ffc093",
      "name": "Code9",
      "onError": "continueErrorOutput"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "rajeetcodeN",
    "name": "n8n_backup2"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-09-13T12:03:56.458Z",
      "createdAt": "2025-09-13T12:03:56.458Z",
      "role": "workflow:owner",
      "workflowId": "rUqqIj1qn1FYAqSz",
      "projectId": "7DfoImgKnNZiM78g"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "updatedAt": "2025-09-13T12:28:49.637Z",
      "createdAt": "2025-09-13T12:28:49.637Z",
      "id": "Ot7A8CaX995qlWmc",
      "name": "testing"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-10-15T05:29:53.000Z",
  "versionId": "a3968cc1-2315-4517-8983-d5db4bd35149"
}