legal test.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S3": {
      "main": [
        [
          {
            "node": "S31",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Get": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Delete": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "When chat message received",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Get1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Delete1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Google Drive2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive2": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Google Drive3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive3": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive4": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Google Drive4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Drive7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive7": {
      "main": [
        [
          {
            "node": "Google Drive8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive8": {
      "main": [
        [
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request6": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "S32",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S32": {
      "main": [
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Get2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Delete2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Supabase2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase2": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-13T11:43:33.658Z",
  "id": "DvTBp1PYhlOVR4xE",
  "isArchived": false,
  "meta": null,
  "name": "legal test",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋\nHow can I assist you today?",
        "options": {
          "allowFileUploads": true,
          "loadPreviousSession": "memory",
          "subtitle": "",
          "title": "Welcome to Nosta!",
          "customCss": ":root {\n  /* Brand Colors (Nosta) */\n  --chat--color-primary: #009EE3; /* Nosta Azure‑blue */\n  --chat--color-primary-shade-50: #007bb8;\n  --chat--color-primary-shade-100: #005d8f;\n  --chat--color-secondary: #582DC6; /* Nosta Violet accent */\n  --chat--color-secondary-shade-50: #461fa1;\n  --chat--color-secondary-shade-100: #36197a;\n  --chat--color-white: #FFFFFF;\n  --chat--color-light: #E4E4E4; /* light grey surfaces & borders */\n  --chat--color-light-shade-50: #d1d1d1;\n  --chat--color-light-shade-100: #bdbdbd;\n  --chat--color-medium: #B5BCC9;\n  --chat--color-dark: #000000; /* solid black text */\n  --chat--color-disabled: #9FA6B2;\n  --chat--color-typing: #555555;\n  --chat--header-height: 4rem;\n\n  /* Layout & Fonts */\n  --chat--spacing: 1rem;\n  --chat--border-radius: 0.5rem;\n  --chat--font-family: 'Roboto', system-ui, sans-serif;\n  --chat--heading-font-family: 'Poppins', system-ui, sans-serif;\n\n  /* Window */\n  --chat--window--width: 420px;\n  --chat--window--height: 600px;\n  --chat--window--z-index: 9999;\n  --chat--window--border: 1px solid var(--chat--color-light-shade-100);\n  --chat--window--border-radius: var(--chat--border-radius);\n\n  /* Header */\n  --chat--header--padding: 0.75rem;                    /* 50% less height */\n  --chat--header--background: var(--chat--color-primary-shade-100); /* deeper blue */\n  --chat--header--color: var(--chat--color-white);\n  --chat--heading--font-size: 1.8em;\n  --chat--subtitle--font-size: 1rem;\n  --chat--subtitle--line-height: 1.5;\n\n  /* Messages */\n  --chat--message--font-size: 1rem;\n  --chat--message--padding: 0.8rem 1rem;\n  --chat--message--border-radius: var(--chat--border-radius);\n  --chat--message--margin-bottom: 0.35rem; /* less spacing */\n  --chat--message-line-height: 1.6;\n  --chat--message--bot--background: #97979738;\n  --chat--message--bot--color: var(--chat--color-dark);\n  --chat--message--user--background: var(--chat--color-primary);\n  --chat--message--user--color: var(--chat--color-white);\n  --chat--message--pre--background: #e8ecf1;\n\n  /* Input */\n  --chat--textarea--height: 52px;\n  --chat--input--background: var(--chat--color-white);\n  --chat--input--text-color: var(--chat--color-dark);\n  --chat--input--padding: 0.75rem 1rem;\n  --chat--input--border: 1px solid var(--chat--color-light-shade-50);\n  --chat--input--border-radius: var(--chat--border-radius);\n\n  /* Buttons */\n  --chat--button--background: var(--chat--color-secondary);\n  --chat--button--color: var(--chat--color-white);\n  --chat--button--hover--background: var(--chat--color-secondary-shade-50);\n  --chat--button--hover--color: var(--chat--color-white);\n  --chat--button--padding: 0.5rem 1.2rem;\n  --chat--button--border-radius: var(--chat--border-radius);\n\n  /* Footer */\n  --chat--body--background: var(--chat--color-light);\n  --chat--footer--background: var(--chat--color-white);\n  --chat--footer--color: var(--chat--color-dark);\n}\n\n/* Structure */\nbody {\n  margin: 0;\n  font-family: var(--chat--font-family);\n  background: var(--chat--body--background);\n}\n\n.chat-window {\n  width: var(--chat--window--width);\n  height: var(--chat--window--height);\n  margin: 2rem auto;\n  border: var(--chat--window--border);\n  border-radius: var(--chat--window--border-radius);\n  display: flex;\n  flex-direction: column;\n  overflow: hidden;\n  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);\n}\n\n.chat-layout .chat-header {\n    background-repeat: no-repeat;\n    background-size: contain;\n    background-position: right center;\n    background-image: url(https://www.nosta.com/wp-content/themes/kd-theme/resources/img/nosta.jpg);\n    display: flex;\n    flex-direction: row;\n    justify-content: space-evenly;\n    align-items: center;\n    gap: 1em;\n    height: var(--chat--header-height);\n    padding: var(--chat--header--padding);\n    background-color: var(--chat--header--background);\n    color: var(--chat--header--color);\n    border-top: var(--chat--header--border-top);\n    border-bottom: var(--chat--header--border-bottom);\n    border-left: var(--chat--header--border-left);\n    border-right: var(--chat--header--border-right);\n}\n\n.chat-logo {\n  height: 40px;\n  width: auto;\n}\n\n.chat-header-text h1 {\n  margin: 0;\n  font-family: var(--chat--heading-font-family);\n  font-weight: 600;\n  font-size: var(--chat--heading--font-size);\n  text-transform: uppercase;\n  letter-spacing: 0.05em;\n}\n\n.chat-header-text p {\n  margin: 0.25rem 0 0;\n  font-size: var(--chat--subtitle--font-size);\n  line-height: var(--chat--subtitle--line-height);\n}\n\n/* Chat body */\n.chat-body {\n  flex: 1;\n  padding: var(--chat--spacing);\n  background: var(--chat--body--background);\n  overflow-y: auto;\n}\n\n.chat-message {\n  padding: var(--chat--message--padding);\n  margin-bottom: var(--chat--message--margin-bottom);\n  border-radius: var(--chat--message--border-radius);\n  font-size: var(--chat--message--font-size);\n  line-height: var(--chat--message-line-height);\n  max-width: 80%;\n  box-shadow: 0px 5px 9px 3px rgb(0 0 0 / 12%);\n  width: fit-content;\n}\n\n.chat-message.bot {\n  background: var(--chat--message--bot--background);\n  color: var(--chat--message--bot--color);\n  border-left: 3px solid var(--chat--color-primary);\n}\n\n.chat-message.user {\n  background: var(--chat--message--user--background);\n  color: var(--chat--message--user--color);\n  border-left: 3px solid var(--chat--color-secondary);\n  margin-left: auto;\n}\n\n/* Footer */\n.chat-footer {\n  background: var(--chat--footer--background);\n  padding: 0.5rem 1rem;\n  border-top: 1px solid var(--chat--color-light-shade-100);\n  display: flex;\n  align-items: center;\n  gap: 0.5rem;\n}\n\n.chat-footer textarea {\n  flex-grow: 1;\n  resize: none;\n  padding: var(--chat--input--padding);\n  height: var(--chat--textarea--height);\n  border: var(--chat--input--border);\n  border-radius: var(--chat--input--border-radius);\n  font-family: var(--chat--font-family);\n  font-size: 1rem;\n  color: var(--chat--input--text-color);\n  background: var(--chat--input--background);\n}\n\n.chat-send-button {\n  background: var(--chat--button--background);\n  color: var(--chat--button--color);\n  border: none;\n  padding: var(--chat--button--padding);\n  border-radius: var(--chat--button--border-radius);\n  font-size: 1.25rem;\n  cursor: pointer;\n  transition: background 0.2s;\n}\n\n.chat-send-button:hover {\n  background: var(--chat--button--hover--background);\n}\n\nimg {\n    width: -webkit-fill-available;\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -16,
        448
      ],
      "id": "4239b417-71fb-4fec-92d3-e0506b7e13dc",
      "name": "When chat message received",
      "webhookId": "c9ec7097-c0e1-4336-a7dc-68a4241e4e9e"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "463448a5-b323-4682-8674-24bee0df163b",
              "leftValue": "={{ $json.files }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        352,
        448
      ],
      "id": "edc5a4d7-6fea-47b6-81b5-88369b786643",
      "name": "If"
    },
    {
      "parameters": {
        "fieldToSplitOut": "$binary",
        "options": {
          "destinationFieldName": "data",
          "includeBinary": true
        }
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        592,
        368
      ],
      "id": "35b1506c-2cf3-4e42-bbf4-c7f018c390e7",
      "name": "Split Out"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://universal-file-to-text-extractor.vercel.app/extract",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "mode",
              "value": "single"
            },
            {
              "name": "output_type",
              "value": "jsonl"
            },
            {
              "name": "include_images",
              "value": "false"
            },
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1024,
        368
      ],
      "id": "8fbcb5e9-67b5-476d-9ba6-5f4b985851a3",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "temp",
        "fileName": "abc",
        "binaryData": false,
        "fileContent": "={{ $json.data[0] }}",
        "additionalFields": {
          "acl": "private",
          "grantFullControl": false,
          "grantRead": false,
          "parentFolderKey": "try"
        }
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        -16,
        80
      ],
      "id": "548c93f0-c618-4920-a4dc-95bcb1f3bc2c",
      "name": "S3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemMessage": "=You are a Legal AI Agent working for the company \"nosta\", a German manufacturer of precision-milled parts. Your responsibility is to carefully analyze uploaded legal documents (e.g., contracts, NDAs, quality agreements) and verify them against the internal legal and business requirements of nosta.\n\n## All review criteria must be strictly based on the provided Legal AI Agent document (nosta policy guide). The agent must verify uploaded contracts against these specific instructions 1:1.\n\nAlways follow the steps and instructions below. Use only the tools provided.\n\n---\n\n🔧 Tool Usage Instructions\n\n- Document Access:  \n  Always use the `Supabase Get` tool to retrieve uploaded legal documents for analysis.\n\n- Document Deletion:  \n  If the user requests deletion of a document (single or all), use the `Supabase Delete` tool with the appropriate file reference(s).\n\n---\n\n📌 Step 1: Recognize Contract Type & Involved Parties\n\nClassify and summarize basic metadata:\n- Identify contract type: Framework Agreement, NDA, Quality Agreement (QAA), Logistics Agreement, Pricing Agreement, Tooling Agreement, etc.\n- Identify all parties: customer, supplier, subsidiaries.\n- Note contract term, renewal rules, and termination clauses.\n- Mention annexes, technical references, or external documents.\n\n---\n\n📌 Step 2: General Legal Compliance Review\n\nReview these standard legal elements:\n- Jurisdiction:  \n  Prefer “Amtsgericht Dillingen” or “Handelsgericht Augsburg”. If not possible, Swiss law is an acceptable alternative.\n\n- Confidentiality:  \n  Must comply with GHV Level 1–3:\n  - Level 1: Data can be shared with service providers.\n  - Level 2–3: Transfer may require customer approval.\n  Verify level and compliance.\n\n- Export Control / Sanctions:  \n  Must comply with EU Regulation 428/2009, EAR, and U.S. law. Flag any sanction-related language for review.\n\n- Compliance Clauses:  \n  Must include anti-corruption, CSR, and sustainability statements.\n\n- Data Protection:  \n  Must comply with GDPR. Pay attention to international data transfers.\n\n---\n\n📌 Step 3: Nosta-Specific Policy Compliance\n\nEvaluate document content based on nosta’s internal expectations:\n- The contract must allow project-specific flexibility.\n- Do not accept automatic obligations that harm nosta’s interests.\n- Material approval steps and forecast freeze periods must be defined.\n- Excess/shortfall delivery clauses should be deleted or flagged.\n- Process changes must require coordination with nosta’s production/purchasing teams.\n- Flexibility requirements must not bypass internal process limits.\n- Buyer must inspect incoming goods immediately and report issues.\n- Warranty clauses under the German BGB must be reviewed or rejected.\n- Nosta must retain the right to choose how to address defects (repair/replace).\n- Product recall, liability, and insurance obligations must be stated clearly.\n- Spare part pricing policies must be included.\n- Customer audit access must be limited to clearly defined areas.\n\n---\n\n📌 Step 4: Rate Risk Levels (Traffic Light System)\n\nApply a color-coded risk level for each clause:\n\n- 🔴 Critical  \n  Clause is harmful to nosta, unclear, or unacceptable. Requires revision or removal.\n\n- 🟡 Medium  \n  Clause may be acceptable but has risk. Should be clarified or negotiated.\n\n- 🟢 Green  \n  Clause complies with nosta’s internal and legal standards.\n\n✅ For each 🔴 or 🟡 clause, propose a better alternative or revision.\n\n---\n\n📌 Step 5: Answer User Questions Clearly\n\nWhen a user asks a question about the contract (e.g., \"Is the liability clause okay?\"):\n1. Use Supabase Get to retrieve the uploaded document.\n2. Locate the clause that matches the question.\n3. Compare it against nosta’s policies (above).\n4. Respond with:\n   - A quote of the relevant clause.\n   - Risk level (🔴, 🟡, 🟢).\n   - A short legal/business justification.\n   - A suggestion for improvement (if needed).\n\n---\n\n🧭 Final Guidelines\n\n- Respond in a professional, structured, and legally sound tone.\n- Avoid making assumptions not grounded in the document or nosta's policy.\n- Be concise, actionable, and confident in your recommendations.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1776,
        352
      ],
      "id": "2eeb3a3d-2256-4603-8933-4dddbc85251d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1696,
        560
      ],
      "id": "714713a9-f5db-4175-94aa-21fb7492898c",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "bucketName": "temp",
        "fileKey": "abc"
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        208,
        80
      ],
      "id": "77981809-424b-454c-bbac-8b5f21945c9b",
      "name": "S31"
    },
    {
      "parameters": {
        "tableId": "temp_table",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "session_id",
              "fieldValue": "={{ $('When chat message received').item.json.sessionId }}"
            },
            {
              "fieldId": "file",
              "fieldValue": "={{ $json.data[0].parseJson().blocks }}"
            },
            {
              "fieldId": "file_name",
              "fieldValue": "={{ $json.data[0].parseJson().source }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1248,
        368
      ],
      "id": "f6960eda-048a-4ae9-b7b3-d8efc3093ef9",
      "name": "Supabase"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1472,
        448
      ],
      "id": "01c48b4d-fc9a-421a-bc17-a1d1cc6c7f53",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "temp_table",
        "filters": {
          "conditions": [
            {
              "keyName": "session_id",
              "condition": "eq",
              "keyValue": "={{ $('When chat message received').item.json.sessionId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        1936,
        560
      ],
      "id": "db5e365d-5961-46e7-9d76-d40d61cd803b",
      "name": "Supabase Get"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "temp_table",
        "filters": {
          "conditions": [
            {
              "keyName": "session_id",
              "condition": "eq",
              "keyValue": "={{ $('When chat message received').item.json.sessionId }}"
            },
            {
              "keyName": "file_name",
              "condition": "eq",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions1_Field_Value', `Provide the file name to delete`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        2048,
        560
      ],
      "id": "c714f223-089b-4b97-87a3-5aed3698a919",
      "name": "Supabase Delete"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const binaryKeys = Object.keys(item.binary || {});\n  const firstKey = binaryKeys[0];\n\n  if (!firstKey) {\n    return item;\n  }\n\n  return {\n    json: item.json,\n    binary: {\n      data: item.binary[firstKey]\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        368
      ],
      "id": "e3f3376e-a950-4f30-8c67-830269decfec",
      "name": "Code"
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        192,
        688
      ],
      "id": "8a8bff64-e28a-4bef-b018-4e5f8017b953",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "463448a5-b323-4682-8674-24bee0df163b",
              "leftValue": "={{ $json.files }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        304,
        944
      ],
      "id": "5f5bd619-807e-421c-9676-dc7845950747",
      "name": "If1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "$binary",
        "options": {
          "destinationFieldName": "data",
          "includeBinary": true
        }
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        528,
        864
      ],
      "id": "4e52c355-8f15-481a-ba52-16143007adfa",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://universal-file-to-text-extractor.vercel.app/extract",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "mode",
              "value": "single"
            },
            {
              "name": "output_type",
              "value": "jsonl"
            },
            {
              "name": "include_images",
              "value": "false"
            },
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        976,
        864
      ],
      "id": "85992467-6e77-4d30-80f5-b596e1b1cbb5",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemMessage": "=You are a Legal AI Agent working for the company \"nosta\", a German manufacturer of precision-milled parts. Your responsibility is to carefully analyze uploaded legal documents (e.g., contracts, NDAs, quality agreements) and verify them against the internal legal and business requirements of nosta.\n\n## All review criteria must be strictly based on the provided Legal AI Agent document (nosta policy guide). The agent must verify uploaded contracts against these specific instructions 1:1.\n\nAlways follow the steps and instructions below. Use only the tools provided.\n\n---\n\n🔧 Tool Usage Instructions\n\n- Document Access:  \n  Always use the `Supabase Get` tool to retrieve uploaded legal documents for analysis.\n\n- Document Deletion:  \n  If the user requests deletion of a document (single or all), use the `Supabase Delete` tool with the appropriate file reference(s).\n\n{{ $json.data }}\n\n🧭 Final Guidelines\n\n- Respond in a professional, structured, and legally sound tone.\n- Avoid making assumptions not grounded in the document or nosta's policy.\n- Be concise, actionable, and confident in your recommendations.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1968,
        992
      ],
      "id": "297dff95-ca16-4082-aaa6-67ccc3c8b0ce",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1824,
        1200
      ],
      "id": "4eab1613-1764-4012-89f0-fc7f284e398c",
      "name": "OpenAI Chat Model1"
    },
    {
      "parameters": {
        "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        1952,
        1200
      ],
      "id": "f93d1611-727a-4680-9f21-511c0b68bc50",
      "name": "HTTP Request3",
      "disabled": true
    },
    {
      "parameters": {
        "tableId": "temp_table",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "session_id",
              "fieldValue": "={{ $('When chat message received').item.json.sessionId }}"
            },
            {
              "fieldId": "file",
              "fieldValue": "={{ $json.data[0].parseJson().blocks }}"
            },
            {
              "fieldId": "file_name",
              "fieldValue": "={{ $json.data[0].parseJson().source }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1184,
        864
      ],
      "id": "3905c016-f6db-4ef4-a0ad-7d8c078d3801",
      "name": "Supabase1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1408,
        944
      ],
      "id": "8d71a184-d602-46ee-8bf7-4eda73be5388",
      "name": "Merge1"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "temp_table",
        "filters": {
          "conditions": [
            {
              "keyName": "session_id",
              "condition": "eq",
              "keyValue": "={{ $('When chat message received').item.json.sessionId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        2064,
        1200
      ],
      "id": "02cfc3db-e526-46f6-a5d4-c4f824e97ec4",
      "name": "Supabase Get1"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "temp_table",
        "filters": {
          "conditions": [
            {
              "keyName": "session_id",
              "condition": "eq",
              "keyValue": "={{ $('When chat message received').item.json.sessionId }}"
            },
            {
              "keyName": "file_name",
              "condition": "eq",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions1_Field_Value', `Provide the file name to delete`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        2192,
        1200
      ],
      "id": "fb6db335-b264-4923-8cf4-8874013e50aa",
      "name": "Supabase Delete1"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const binaryKeys = Object.keys(item.binary || {});\n  const firstKey = binaryKeys[0];\n\n  if (!firstKey) {\n    return item;\n  }\n\n  return {\n    json: item.json,\n    binary: {\n      data: item.binary[firstKey]\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        864
      ],
      "id": "9527bdef-cf89-4e8a-b369-43819ca2a1a8",
      "name": "Code1"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "prompt",
        "filter": {
          "driveId": {
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "value": "1a5pasFQv0aSzWbzuWM20BHSdLyR7TgLU",
            "mode": "list",
            "cachedResultName": "Legal Prompt",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1a5pasFQv0aSzWbzuWM20BHSdLyR7TgLU"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1184,
        2512
      ],
      "id": "581e62b5-71c0-48f3-b608-df061d6efa66",
      "name": "Google Drive1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3e42fe37-02d3-498d-ab0c-030cb6002e1c",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1344,
        2512
      ],
      "id": "0033917b-3c0f-44ba-94b2-74b61daaa299",
      "name": "If2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -432,
        1712
      ],
      "id": "0352f406-ec4d-472f-9072-efa058347283",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "not fullText contains 'prompt.txt'",
        "filter": {
          "driveId": {
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "value": "1a5pasFQv0aSzWbzuWM20BHSdLyR7TgLU",
            "mode": "list",
            "cachedResultName": "Legal Prompt",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1a5pasFQv0aSzWbzuWM20BHSdLyR7TgLU"
          },
          "whatToSearch": "files"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1504,
        2592
      ],
      "id": "eaf65b41-97c2-40cf-8feb-0a1c8a43a208",
      "name": "Google Drive"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1648,
        2592
      ],
      "id": "eb828d16-8bea-4d8b-be34-186f7a6aa54d",
      "name": "Google Drive2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://universal-file-to-text-extractor.vercel.app/extract",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "mode",
              "value": "single"
            },
            {
              "name": "output_type",
              "value": "text"
            },
            {
              "name": "include_images",
              "value": "false"
            },
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1824,
        2592
      ],
      "id": "5abce5a4-e458-4241-89f7-758313d22300",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "create a set of instruction from the user message. give output in english.\n\nhelp me write a good prompt for a Legal AI Agent I’m building in n8n for my company \"nosta\", a German manufacturer of precision-milled parts. The workflow is read,: the user uploads a legal document (like a contract or NDA) and asks questions. The AI should review the document and answer based on nosta's internal legal and business requirements. I’ve been told by the nosta legal team to use the attached guidance documents as the reference. The agent should check uploaded documents exactly 1:1 against this guidance.\n\nCan you write a clear and professional system prompt that tells the agent how to do this review properly? It should include:\n   * Identifying contract type and parties\n   *Checking legal compliance (jurisdiction, GDPR, export rules, CSR, etc.)\n   *Verifying nosta-specific clauses (like delivery, audits, warranties)\n   *Giving traffic light risk ratings \n   *Suggesting improvements for any risky or unclear clauses\n   *The agent’s tone should be professional, structured, and aligned with compliance standards.",
              "role": "system"
            },
            {
              "content": "={{ $json.data[0].text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1984,
        2592
      ],
      "id": "86ff4cbd-e998-4518-a94e-97656b14f831",
      "name": "OpenAI"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "message.content",
        "options": {
          "fileName": "prompt.txt"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2272,
        2592
      ],
      "id": "87013e3d-12b3-469f-83ce-0391ccf7500c",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "name": "prompt.txt",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1a5pasFQv0aSzWbzuWM20BHSdLyR7TgLU",
          "mode": "list",
          "cachedResultName": "Legal Prompt",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1a5pasFQv0aSzWbzuWM20BHSdLyR7TgLU"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2496,
        2592
      ],
      "id": "a017018f-18d8-483d-98d1-2fba743213d0",
      "name": "Google Drive3"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3152,
        2480
      ],
      "id": "2d6820d9-436e-40c8-85b0-59903810dee9",
      "name": "Google Drive4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3a50fb9a-1176-48eb-b430-d795ebca2ce2",
              "name": "id",
              "value": "={{ $('Google Drive3').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2704,
        2592
      ],
      "id": "710edbad-0a8d-454e-bce3-e95d258ab80d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "74a6fd50-30cd-4814-b415-0e40f955432f",
              "name": "id",
              "value": "={{ $('Google Drive1').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2384,
        2464
      ],
      "id": "76716a93-0329-40ea-a118-663a9289c960",
      "name": "Edit Fields1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        2928,
        2480
      ],
      "id": "0088b698-a20d-40d5-a822-cd7af6f80a45",
      "name": "Merge2"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        3376,
        2480
      ],
      "id": "8ad2c573-73aa-43f9-9c3d-b22455dcb58f",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "url": "https://nsebtjqnfydjgjtigsiq.supabase.co/storage/v1/object/public/prompt//prompt.txt",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        192,
        1120
      ],
      "id": "be90510f-1d1b-4113-9e14-a28c2d6b206e",
      "name": "HTTP Request5",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "not fullText contains 'prompt.txt'",
        "filter": {
          "driveId": {
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "value": "1a5pasFQv0aSzWbzuWM20BHSdLyR7TgLU",
            "mode": "list",
            "cachedResultName": "Legal Prompt",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1a5pasFQv0aSzWbzuWM20BHSdLyR7TgLU"
          },
          "whatToSearch": "files"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        448,
        1344
      ],
      "id": "d0ce6c0b-7802-486a-9527-b3028642ef47",
      "name": "Google Drive7"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        672,
        1344
      ],
      "id": "744528bc-0332-4823-99f3-3d2a76e01ae1",
      "name": "Google Drive8"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://universal-file-to-text-extractor.vercel.app/extract",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "mode",
              "value": "single"
            },
            {
              "name": "output_type",
              "value": "text"
            },
            {
              "name": "include_images",
              "value": "false"
            },
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        896,
        1344
      ],
      "id": "57418fa4-5808-4b4c-b7c9-48a53b845ed7",
      "name": "HTTP Request6"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=create a set of instruction from the user message. give output in english.\n\nhelp me write a good prompt for a Legal AI Agent I’m building in n8n for my company \"nosta\", a German manufacturer of precision-milled parts. The workflow is read,: the user uploads a legal document (like a contract or NDA) and asks questions. The AI should review the document and answer based on nosta's internal legal and business requirements. I’ve been told by the nosta legal team to use the attached guidance documents as the reference. The agent should check uploaded documents exactly 1:1 against this guidance.\n\nCan you write a clear and professional system prompt that tells the agent how to do this review properly? It should include:\n   * Identifying contract type and parties\n   *Checking legal compliance (jurisdiction, GDPR, export rules, CSR, etc.)\n   *Verifying nosta-specific clauses (like delivery, audits, warranties)\n   *Giving traffic light risk ratings \n   *Suggesting improvements for any risky or unclear clauses\n   *The agent’s tone should be professional, structured, and aligned with compliance standards.",
              "role": "system"
            },
            {
              "content": "={{ $json.data[0].text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1104,
        1344
      ],
      "id": "b0284724-0e33-4aea-ab74-620acee4936f",
      "name": "OpenAI1"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "message.content",
        "options": {
          "fileName": "prompt.txt"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1488,
        1344
      ],
      "id": "0f01a896-b09a-405c-b6da-9b657b299215",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "prompt",
        "fileName": "=",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        1712,
        1424
      ],
      "id": "3478cfe1-b376-498d-83e1-05b6b7de87c0",
      "name": "S32"
    },
    {
      "parameters": {
        "model": "mistral-medium-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        576,
        4000
      ],
      "id": "45c5e989-96de-4fcf-aa2f-5d0c74bed9d3",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "FXWAQ4fSAuPWXyZ1",
          "name": "Mistral Cloud nosta"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=You are a Legal AI Agent working for the company \"nosta\", a German manufacturer of precision-milled parts. Your responsibility is to carefully analyze uploaded legal documents (e.g., contracts, NDAs, quality agreements) and verify them against the internal legal and business requirements of nosta. Every respond should be strictly in GERMAN.\n\n## All review criteria must be strictly based on the provided Legal AI Agent document (nosta policy guide). The agent must verify uploaded contracts against these specific instructions 1:1.\n\nAlways follow the steps and instructions below. Use only the tools provided.\n\n---\n\n🔧 Tool Usage Instructions\n\n- Document Access:  \n  Important! Always use the `Supabase Get` tool to retrieve uploaded legal documents for analysis.\n\n- Document Deletion:  \n  If the user requests deletion of a document (single or all), use the `Supabase Delete` tool with the appropriate file reference(s).\n\n---\n\n📌 Step 1: Recognize Contract Type & Involved Parties\n\nClassify and summarize basic metadata:\n- Identify contract type: Framework Agreement, NDA, Quality Agreement (QAA), Logistics Agreement, Pricing Agreement, Tooling Agreement, etc.\n- Identify all parties: customer, supplier, subsidiaries.\n- Note contract term, renewal rules, and termination clauses.\n- Mention annexes, technical references, or external documents.\n\n---\n\n📌 Step 2: General Legal Compliance Review\n\nReview these standard legal elements:\n- Jurisdiction:  \n  Prefer “Amtsgericht Dillingen” or “Handelsgericht Augsburg”. If not possible, Swiss law is an acceptable alternative.\n\n- Confidentiality:  \n  Must comply with GHV Level 1–3:\n  - Level 1: Data can be shared with service providers.\n  - Level 2–3: Transfer may require customer approval.\n  Verify level and compliance.\n\n- Export Control / Sanctions:  \n  Must comply with EU Regulation 428/2009, EAR, and U.S. law. Flag any sanction-related language for review.\n\n- Compliance Clauses:  \n  Must include anti-corruption, CSR, and sustainability statements.\n\n- Data Protection:  \n  Must comply with GDPR. Pay attention to international data transfers.\n\n---\n\n📌 Step 3: Nosta-Specific Policy Compliance\n\nEvaluate document content based on nosta’s internal expectations:\n- The contract must allow project-specific flexibility.\n- Do not accept automatic obligations that harm nosta’s interests.\n- Material approval steps and forecast freeze periods must be defined.\n- Excess/shortfall delivery clauses should be deleted or flagged.\n- Process changes must require coordination with nosta’s production/purchasing teams.\n- Flexibility requirements must not bypass internal process limits.\n- Buyer must inspect incoming goods immediately and report issues.\n- Warranty clauses under the German BGB must be reviewed or rejected.\n- Nosta must retain the right to choose how to address defects (repair/replace).\n- Product recall, liability, and insurance obligations must be stated clearly.\n- Spare part pricing policies must be included.\n- Customer audit access must be limited to clearly defined areas.\n\n---\n\n📌 Step 4: Rate Risk Levels (Traffic Light System)\n\nApply a color-coded risk level for each clause:\n\n- 🔴 Critical  \n  Clause is harmful to nosta, unclear, or unacceptable. Requires revision or removal.\n\n- 🟡 Medium  \n  Clause may be acceptable but has risk. Should be clarified or negotiated.\n\n- 🟢 Green  \n  Clause complies with nosta’s internal and legal standards.\n\n✅ For each 🔴 or 🟡 clause, propose a better alternative or revision.\n\n---\n\n📌 Step 5: Answer User Questions Clearly\n\nWhen a user asks a question about the contract (e.g., \"Is the liability clause okay?\"):\n1. Use Supabase Get to retrieve the uploaded document.\n2. Locate the clause that matches the question.\n3. Compare it against nosta’s policies (above).\n4. Respond with:\n   - A quote of the relevant clause.\n   - Risk level (🔴, 🟡, 🟢).\n   - A short legal/business justification.\n   - A suggestion for improvement (if needed).\n\n---\n\n🧭 Final Guidelines\n\n- Respond in a professional, structured, and legally sound tone.\n- Avoid making assumptions not grounded in the document or nosta's policy.\n- Be concise, actionable, and confident in your recommendations.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        608,
        3776
      ],
      "id": "fd6bf20e-0370-4cac-96fa-4258b273fb2c",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "temp_table",
        "filters": {
          "conditions": [
            {
              "keyName": "session_id",
              "condition": "eq",
              "keyValue": "={{ $json.sessionId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        896,
        4000
      ],
      "id": "4996fe2f-e576-4d2c-af53-eef44aee65dd",
      "name": "Supabase Get2",
      "credentials": {
        "supabaseApi": {
          "id": "Yeu4uGtLws8bzw5u",
          "name": "Supabase dbt ayan"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "temp_table",
        "filters": {
          "conditions": [
            {
              "keyName": "session_id",
              "condition": "eq",
              "keyValue": "={{ $json.sessionId }}"
            },
            {
              "keyName": "file_name",
              "condition": "eq",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions1_Field_Value', `Provide the file name to delete`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        1024,
        3968
      ],
      "id": "8c1c5f6c-b54b-4456-bbb1-8ff24a7e773f",
      "name": "Supabase Delete2",
      "credentials": {
        "supabaseApi": {
          "id": "Yeu4uGtLws8bzw5u",
          "name": "Supabase dbt ayan"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b80831d8-c653-4203-8706-adedfdb98f77",
              "name": "chatInput",
              "value": "={{ $json?.chatInput || $json.body.chatInput }}",
              "type": "string"
            },
            {
              "id": "4b291433-cedb-4631-9128-621c6744e51d",
              "name": "sessionId",
              "value": "={{ $json?.sessionId || $json.body.sessionId}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "3b190cf1-16b2-486c-8c84-3501fd89f349",
      "name": "Edit Fields2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        3776
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "463448a5-b323-4682-8674-24bee0df163b",
              "leftValue": "={{ $json.files }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -944,
        3776
      ],
      "id": "000a640b-39a8-4531-8bc1-a136a075de3b",
      "name": "If3"
    },
    {
      "parameters": {
        "fieldToSplitOut": "$binary",
        "options": {
          "destinationFieldName": "data",
          "includeBinary": true
        }
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -736,
        3696
      ],
      "id": "f7fce5e1-bf65-4112-bab7-755abf1a6ae7",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://universal-file-to-text-extractor.vercel.app/extract",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "mode",
              "value": "single"
            },
            {
              "name": "output_type",
              "value": "jsonl"
            },
            {
              "name": "include_images",
              "value": "false"
            },
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "=data0"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -512,
        3696
      ],
      "id": "ce91e74f-6525-4aca-be03-de98fd22ae0d",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "tableId": "temp_table",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "session_id",
              "fieldValue": "={{ $('When chat message received').item.json.sessionId }}"
            },
            {
              "fieldId": "file",
              "fieldValue": "={{ $json.data[0].parseJson().blocks }}"
            },
            {
              "fieldId": "file_name",
              "fieldValue": "={{ $json.data[0].parseJson().source }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -288,
        3696
      ],
      "id": "801c6447-08d3-40ea-8d09-cc1620ff30d9",
      "name": "Supabase2",
      "credentials": {
        "supabaseApi": {
          "id": "Yeu4uGtLws8bzw5u",
          "name": "Supabase dbt ayan"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        160,
        3776
      ],
      "id": "6bd5e887-24e2-4533-b60e-d94a70e74c78",
      "name": "Merge3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f12a9701-cf5f-4fbc-acfc-8d8cbc64b777",
              "name": "sessionId",
              "value": "={{ $json.session_id }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -64,
        3696
      ],
      "id": "55369c3c-6c4a-44e0-bd71-91fede36b4ab",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "8b72a299-6557-4d8c-a365-09e105d76393",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1264,
        3792
      ],
      "id": "d5f75f86-81a4-4e2c-828e-d03b068a0902",
      "name": "Webhook",
      "webhookId": "8b72a299-6557-4d8c-a365-09e105d76393"
    }
  ],
  "origin": "n8n",
  "pinData": {
    "HTTP Request4": [
      {
        "json": {
          "data": [
            {
              "id": "83519b69-186c-4d76-8f11-915fa7fce146",
              "source": "Legal KI Agent 14072025.docx",
              "text": "Legal KI Agent\n\nStufe 1: Unterstützung bei Vertragsprüfung\n\nStufe 2: Befüllung der Vertragsunterlagen\n\nBeschreibung Geschäftsmodell nosta:\n\nHersteller von Präzisionsfrästeilen Standard und nach Zeichnung\n\nAmtsgericht Dillingen, Deutschland\nHandelsgericht Augsburg, Deutschland\n\n…\n\nGenerelle Rahmenbedingungen\n\nVom Speziellen zum Generellen – das projektspezifische zählt in der Regel\n\nAlle Für die Firma schädigende sowie zweifelhafte Anforderungen sind zu prüfen / ändern\n\nMehr und Minderbedarfklauseln sind hervorzuheben – empfehlung zu löschen\n\nKlauseln zu Materialfreigaben in Bezug auf Bestellungen und Mehrbedarfe zu prüfen und kalkulieren\n\nProzessanpassungen durch Schwankungen sind mit der Produktion / Einkaufsprozesse von nosta abzustimmen und einhergehen, vorherige Anpassungen sind nicht möglich und abzustellen\n\nFlexibilitätsanforderungen: Nur mit Prfung un in Abstimmung mit nosta NICHT nach definierten Kundenanforderung in Bezug auf nosta prozess\n\nVerpflichtungen für Kunden zu sofortige und vorab Wareneingangskontrollen bei Annahme und sofortige Meldung bei Qualitätsmängel\n\nMängelansprüche über BGB nicht akzeptabel bzw zu prüfen\n\nNacherfüllung nach BGB freie Wahl für den Lieferant bzw. ist abzustimmen MIT VORHERIGER Prüfung der Schuldfrage.\n\nVersicherung der Deckungssumme ist zu prüfen sowie Rückrufkostensumme zu prüfen.\n\nPreisklärung für Ersatzteillieferungen sind zu vollziehen\n\nIm Falle von Audits sind Zutrittberechtigungen für spezielle Bereiche individuell zu klären\n\nIm Falle von AGBs, Einkaufsbedingungen, andere Verweise sind diese noch einmal zu prüfen\n\nStrukturierte Aufgaben- und Prüfreihenfolge eines KI Legal Agenten (B2B Automotive | Zerspanung)\n\nVertragsart und Kontext erkennen\n\nKurzer Einleitungsprüfklausel/Grundregeln & Interesse nosta:\n\nKlassifizierung: Rahmenvertrag, Einzelvertrag, NDA, Qualitätssicherungsvereinbarung (QSV), Logistikvereinbarung, Preisvereinbarung, Tooling Agreement, etc.\n\nBeteiligte Parteien: Kunde, Lieferant, ggf. Tochtergesellschaften\n\nVertragslaufzeit & Kündigungsregelungen\n\nVertragsstruktur (Anlagen, Verweise, technische Ergänzungen)\n\nAllgemeine rechtliche Grundprüfung\n\nKurzer Einleitungsprüfklausel/Grundregeln & Interesse nosta:\n\nRechtssitz und Gerichtsstand\n\nGenerell Deutschland, bevorzugt Amtsgericht Dillingen, Handelsrecht Augsburg\n\nBei ausländischen Gerichtsständen Kompromiss: Schweizer Recht\n\nGeltendes Recht (Rechtswahlklausel)\n\nSalvatorische Klausel\n\nGenerell akzeptiert bzw. zu prüfen\n\nVertraulichkeitsregelungen\n\nNach GHV Level:\n\nLevel 1: Freigabe für Weitergabe an Dienstleister\n\nLevel 2: …\n\nLevel 3: Jeder Weitergabe von Daten muss vom Kunden freigegeben werden\n\nCompliance-Klauseln (z. B. Antikorruption, CSR, Nachhaltigkeit)\n\nZu prüfen und Details auszugeben\n\nExportkontrolle / Sanktionsprüfung\n(z. B. EAR, EU-VO 428/2009, US-Bezug in Verträgen)\n\nSanktionen sind generell zu vermeiden und zu prüfen\n\nAlle Arten von Saktionen sind kritisch\n\nHaftung & Gewährleistung\n\nAlle Themen sind kritisch und zu prüfen\n\nJedes unklare Formulierung sind herauszuheben\n\nAlle Klauseln welche mögliche Risiken / Haftung / Gewährleistungen in Bezug auf Ansprüche in Bezug auf Betriebsknowhow / Geheimnisse / Leistungen / USPs / Internas / etc beziehen sind herauszuheben, zu prüfen und anzupassen!\n\nDatenschutz (DSGVO/International Transfer)\n\nVertragsspezifische Prüfkriterien (B2B Automotive, Zerspanung)\n\nKurzer Einleitungsprüfklausel/Grundregeln & Interesse nosta:\n\nGenerelle Vertragsbedingungen müssen aus risikobetrachtung in bezug auf verbindlichkeiten aus nosta-sicht durch Materialfreigaben und/oder Freeze-Period „unveränderbare Vorschauzahlen / Zeiträume“ sichergestellt werden.\n\nA. Liefer- & Leistungsbedingungen\n\nLieferverpflichtung (Make-to-Print / Make-to-Stock / Forecast-Verpflichtung)\n\nLieferfristen, Verzug, Vertragsstrafen (Pönalen)\n\nLieferabrufe, Rahmenbedarfe, Flexibilitätsbänder\n\nMindestabnahmemengen / Abnahmeverpflichtungen\n\nB. Preise und Zahlungsbedingungen\n\nPreisgleitklauseln (z. B. Material, Energie, Lohn)\n\nZahlungsziele, Skonti, Fälligkeiten\n\nWährungsrisiko / Währungsklausel\n\nFakturierungsmodalitäten\n\nC. Werkzeuge / Vorrichtungen / Eigentumsvorbehalt\n\nEigentumsübergang / Eigentum beim Kunden\n\nWartung, Instandhaltung, Ersatz\n\nVersicherungspflichten für kundeneigene Betriebsmittel\n\nRückgabepflicht bei Vertragsende\n\nD. Qualitätsanforderungen\n\nVerweis auf IATF 16949, VDA 6.3, PPAP, EMPB\n\nAuditrechte des Kunden\n\nMeldepflichten bei Abweichungen\n\nRückverfolgbarkeit\n\n0-Fehler-Ziel / ppm-Regelung\n\nAbweichungsregelung (z. B. Nacharbeit, Sortierung)\n\nE. Haftung und Gewährleistung\n\nUmfang und Dauer der Gewährleistung\n\nVerjährungsfristen\n\nProdukthaftung (inkl. Rückrufkosten)\n\nBeschränkung der Haftung / Freistellung\n\nRegressansprüche (z. B. im Rahmen OEM-Rückruf)\n\nF. Änderungsmanagement\n\nÄnderungsanträge / Change Requests\n\nKosten- und Lieferzeitwirkungen\n\nMitwirkungspflichten des Kunden\n\nDokumentationspflichten\n\nG. Lieferunterbrechung / Force Majeure\n\nDefinition und Umfang höherer Gewalt\n\nReaktionszeiten, Mitteilungspflichten\n\nRechte bei längerem Ausfall\n\nH. Geistiges Eigentum / Zeichnungsrechte\n\nUmgang mit Kundenzeichnungen und -daten\n\nNutzungslizenzen / Einschränkungen\n\nGeheimhaltung technischer Dokumente\n\nIP-Rechte bei Neuentwicklungen\n\n4. Zusätzliche kritische Punkte für Zerspanungsunternehmen\n\nToleranzangaben, Werkstoffverantwortung, Prüfpflicht\n\nVorserienlieferung vs. Serienproduktion\n\nAnlaufmanagement (Ramp-up, Run@Rate, etc.)\n\nOutsourcing oder Sub-Sub-Lieferanten: Genehmigungspflicht?\n\n5. Risikoanalyse & Ampelkennzeichnung\n\nDer KI-Agent vergibt eine Risikokategorie je Abschnitt:\n\n🔴 Kritisch: Nicht marktüblich, hohe Haftung, unklare Regelung\n\n🟡 Mittel: Nachverhandlung empfohlen\n\n🟢 Unkritisch: Standard oder vorteilhaft\n\nZusätzlich: Vorschläge zur Anpassung/Verhandlung\n\n6. Ausgabeformate\n\nExecutive Summary: Für Geschäftsführung mit Ampelübersicht\n\nDetailanalyse: Vollständige Klauselprüfung mit Kommentaren\n\nRedline Vorschläge: Markierter Vertrag mit KI-Korrekturvorschlägen\n\nVerhandlungs-Checkliste: Übersicht der zu diskutierenden Punkte"
            }
          ]
        }
      }
    ],
    "HTTP Request6": [
      {
        "json": {
          "data": [
            {
              "id": "83519b69-186c-4d76-8f11-915fa7fce146",
              "source": "Legal KI Agent 14072025.docx",
              "text": "Legal KI Agent\n\nStufe 1: Unterstützung bei Vertragsprüfung\n\nStufe 2: Befüllung der Vertragsunterlagen\n\nBeschreibung Geschäftsmodell nosta:\n\nHersteller von Präzisionsfrästeilen Standard und nach Zeichnung\n\nAmtsgericht Dillingen, Deutschland\nHandelsgericht Augsburg, Deutschland\n\n…\n\nGenerelle Rahmenbedingungen\n\nVom Speziellen zum Generellen – das projektspezifische zählt in der Regel\n\nAlle Für die Firma schädigende sowie zweifelhafte Anforderungen sind zu prüfen / ändern\n\nMehr und Minderbedarfklauseln sind hervorzuheben – empfehlung zu löschen\n\nKlauseln zu Materialfreigaben in Bezug auf Bestellungen und Mehrbedarfe zu prüfen und kalkulieren\n\nProzessanpassungen durch Schwankungen sind mit der Produktion / Einkaufsprozesse von nosta abzustimmen und einhergehen, vorherige Anpassungen sind nicht möglich und abzustellen\n\nFlexibilitätsanforderungen: Nur mit Prfung un in Abstimmung mit nosta NICHT nach definierten Kundenanforderung in Bezug auf nosta prozess\n\nVerpflichtungen für Kunden zu sofortige und vorab Wareneingangskontrollen bei Annahme und sofortige Meldung bei Qualitätsmängel\n\nMängelansprüche über BGB nicht akzeptabel bzw zu prüfen\n\nNacherfüllung nach BGB freie Wahl für den Lieferant bzw. ist abzustimmen MIT VORHERIGER Prüfung der Schuldfrage.\n\nVersicherung der Deckungssumme ist zu prüfen sowie Rückrufkostensumme zu prüfen.\n\nPreisklärung für Ersatzteillieferungen sind zu vollziehen\n\nIm Falle von Audits sind Zutrittberechtigungen für spezielle Bereiche individuell zu klären\n\nIm Falle von AGBs, Einkaufsbedingungen, andere Verweise sind diese noch einmal zu prüfen\n\nStrukturierte Aufgaben- und Prüfreihenfolge eines KI Legal Agenten (B2B Automotive | Zerspanung)\n\nVertragsart und Kontext erkennen\n\nKurzer Einleitungsprüfklausel/Grundregeln & Interesse nosta:\n\nKlassifizierung: Rahmenvertrag, Einzelvertrag, NDA, Qualitätssicherungsvereinbarung (QSV), Logistikvereinbarung, Preisvereinbarung, Tooling Agreement, etc.\n\nBeteiligte Parteien: Kunde, Lieferant, ggf. Tochtergesellschaften\n\nVertragslaufzeit & Kündigungsregelungen\n\nVertragsstruktur (Anlagen, Verweise, technische Ergänzungen)\n\nAllgemeine rechtliche Grundprüfung\n\nKurzer Einleitungsprüfklausel/Grundregeln & Interesse nosta:\n\nRechtssitz und Gerichtsstand\n\nGenerell Deutschland, bevorzugt Amtsgericht Dillingen, Handelsrecht Augsburg\n\nBei ausländischen Gerichtsständen Kompromiss: Schweizer Recht\n\nGeltendes Recht (Rechtswahlklausel)\n\nSalvatorische Klausel\n\nGenerell akzeptiert bzw. zu prüfen\n\nVertraulichkeitsregelungen\n\nNach GHV Level:\n\nLevel 1: Freigabe für Weitergabe an Dienstleister\n\nLevel 2: …\n\nLevel 3: Jeder Weitergabe von Daten muss vom Kunden freigegeben werden\n\nCompliance-Klauseln (z. B. Antikorruption, CSR, Nachhaltigkeit)\n\nZu prüfen und Details auszugeben\n\nExportkontrolle / Sanktionsprüfung\n(z. B. EAR, EU-VO 428/2009, US-Bezug in Verträgen)\n\nSanktionen sind generell zu vermeiden und zu prüfen\n\nAlle Arten von Saktionen sind kritisch\n\nHaftung & Gewährleistung\n\nAlle Themen sind kritisch und zu prüfen\n\nJedes unklare Formulierung sind herauszuheben\n\nAlle Klauseln welche mögliche Risiken / Haftung / Gewährleistungen in Bezug auf Ansprüche in Bezug auf Betriebsknowhow / Geheimnisse / Leistungen / USPs / Internas / etc beziehen sind herauszuheben, zu prüfen und anzupassen!\n\nDatenschutz (DSGVO/International Transfer)\n\nVertragsspezifische Prüfkriterien (B2B Automotive, Zerspanung)\n\nKurzer Einleitungsprüfklausel/Grundregeln & Interesse nosta:\n\nGenerelle Vertragsbedingungen müssen aus risikobetrachtung in bezug auf verbindlichkeiten aus nosta-sicht durch Materialfreigaben und/oder Freeze-Period „unveränderbare Vorschauzahlen / Zeiträume“ sichergestellt werden.\n\nA. Liefer- & Leistungsbedingungen\n\nLieferverpflichtung (Make-to-Print / Make-to-Stock / Forecast-Verpflichtung)\n\nLieferfristen, Verzug, Vertragsstrafen (Pönalen)\n\nLieferabrufe, Rahmenbedarfe, Flexibilitätsbänder\n\nMindestabnahmemengen / Abnahmeverpflichtungen\n\nB. Preise und Zahlungsbedingungen\n\nPreisgleitklauseln (z. B. Material, Energie, Lohn)\n\nZahlungsziele, Skonti, Fälligkeiten\n\nWährungsrisiko / Währungsklausel\n\nFakturierungsmodalitäten\n\nC. Werkzeuge / Vorrichtungen / Eigentumsvorbehalt\n\nEigentumsübergang / Eigentum beim Kunden\n\nWartung, Instandhaltung, Ersatz\n\nVersicherungspflichten für kundeneigene Betriebsmittel\n\nRückgabepflicht bei Vertragsende\n\nD. Qualitätsanforderungen\n\nVerweis auf IATF 16949, VDA 6.3, PPAP, EMPB\n\nAuditrechte des Kunden\n\nMeldepflichten bei Abweichungen\n\nRückverfolgbarkeit\n\n0-Fehler-Ziel / ppm-Regelung\n\nAbweichungsregelung (z. B. Nacharbeit, Sortierung)\n\nE. Haftung und Gewährleistung\n\nUmfang und Dauer der Gewährleistung\n\nVerjährungsfristen\n\nProdukthaftung (inkl. Rückrufkosten)\n\nBeschränkung der Haftung / Freistellung\n\nRegressansprüche (z. B. im Rahmen OEM-Rückruf)\n\nF. Änderungsmanagement\n\nÄnderungsanträge / Change Requests\n\nKosten- und Lieferzeitwirkungen\n\nMitwirkungspflichten des Kunden\n\nDokumentationspflichten\n\nG. Lieferunterbrechung / Force Majeure\n\nDefinition und Umfang höherer Gewalt\n\nReaktionszeiten, Mitteilungspflichten\n\nRechte bei längerem Ausfall\n\nH. Geistiges Eigentum / Zeichnungsrechte\n\nUmgang mit Kundenzeichnungen und -daten\n\nNutzungslizenzen / Einschränkungen\n\nGeheimhaltung technischer Dokumente\n\nIP-Rechte bei Neuentwicklungen\n\n4. Zusätzliche kritische Punkte für Zerspanungsunternehmen\n\nToleranzangaben, Werkstoffverantwortung, Prüfpflicht\n\nVorserienlieferung vs. Serienproduktion\n\nAnlaufmanagement (Ramp-up, Run@Rate, etc.)\n\nOutsourcing oder Sub-Sub-Lieferanten: Genehmigungspflicht?\n\n5. Risikoanalyse & Ampelkennzeichnung\n\nDer KI-Agent vergibt eine Risikokategorie je Abschnitt:\n\n🔴 Kritisch: Nicht marktüblich, hohe Haftung, unklare Regelung\n\n🟡 Mittel: Nachverhandlung empfohlen\n\n🟢 Unkritisch: Standard oder vorteilhaft\n\nZusätzlich: Vorschläge zur Anpassung/Verhandlung\n\n6. Ausgabeformate\n\nExecutive Summary: Für Geschäftsführung mit Ampelübersicht\n\nDetailanalyse: Vollständige Klauselprüfung mit Kommentaren\n\nRedline Vorschläge: Markierter Vertrag mit KI-Korrekturvorschlägen\n\nVerhandlungs-Checkliste: Übersicht der zu diskutierenden Punkte"
            }
          ]
        }
      }
    ],
    "OpenAI1": [
      {
        "json": {
          "index": 0,
          "message": {
            "role": "assistant",
            "content": "**Legal AI Agent Instructions for nosta**\n\n**Objective**: Assist nosta, a manufacturer of precision-milled parts, in conducting comprehensive legal document reviews with a focus on compliance and risk management. Follow the structured approach outlined below.\n\n1. **Document Review Initiation**\n\n   - Start by identifying the type of legal document (e.g., Framework Agreement, NDA, Quality Assurance Agreement) and the involved parties (client, suppliers, subsidiaries).\n   - Establish an understanding of the document's context, its duration, and termination clauses.\n\n2. **General Legal Compliance Check**\n\n   - Verify the jurisdiction and venue are consistent with nosta's preferences: generally Dillingen, preferably Augsburg in Germany. Cautions for foreign jurisdictions and consider Swiss law as a compromise.\n   - Confirm the presence of a legally sound choice of law clause and a severability clause.\n   - Review confidentiality clauses against nosta’s confidentiality levels and specific guidelines stated.\n   - Examine compliance clauses (anti-corruption, CSR, sustainability) for adherence to nosta's standards.\n   - Ensure export controls and sanction considerations align with regulations (e.g., EAR, EU 428/2009).\n\n3. **Specific nosta Clause Verification**\n\n   - Ensure clauses related to delivery obligations, responsiveness to orders, and economic fluctuations are in sync with nosta's procurement and production capacities.\n   - Confirm warranty, liability, and insurance coverage are sufficient and clearly outlined in the document, highlighting any deviations.\n   - Evaluate clauses related to pricing adjustments (materials, energy, wages), payment terms, and currency risks.\n\n4. **Detailed Analysis and Amendments**\n\n   - Conduct a thorough examination of quality requirements (references to IATF 16949, VDA 6.3) and audit rights, detailing any necessary alterations.\n   - Scrutinize intellectual property and confidentiality clauses related to client data and technical documents.\n   - Where applicable, assess and make recommendations for clauses on change management, force majeure, and specific machining tolerances.\n\n5. **Risk Assessment and Recommendations**\n\n   - Assign a risk category for each section:\n     - 🔴 Critical: Significant deviation from market norms, high liability, vague terms.\n     - 🟡 Moderate: Negotiation advised.\n     - 🟢 Uncritical: Standard or advantageous clauses.\n   - Offer specific recommendations for amendments in high-risk or ambiguous sections.\n\n6. **Deliverable Formats**\n\n   - Produce an Executive Summary for nosta’s executive team featuring a traffic light overview.\n   - Provide a detailed analysis including complete clause reviews with commentary.\n   - Supply a redline version of the document highlighting suggested corrections.\n   - Compile a negotiation checklist of key points for further discussion.\n\n**Agent's Tone**: Maintain a professional, structured communication style in alignment with compliance standards.",
            "refusal": null,
            "annotations": []
          },
          "logprobs": null,
          "finish_reason": "stop"
        }
      }
    ]
  },
  "repo": {
    "owner": "rajeetcodeN",
    "name": "n8n_backup2"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-09-13T11:43:33.663Z",
      "createdAt": "2025-09-13T11:43:33.663Z",
      "role": "workflow:owner",
      "workflowId": "DvTBp1PYhlOVR4xE",
      "projectId": "7DfoImgKnNZiM78g"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-15T06:51:48.000Z",
  "versionId": "5aa56585-0b9e-4ec7-952e-18d1fc1e6bd6"
}