Multi-Agent Supervisor Orchestrator with Confidence-Based Validation.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Supervisor Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model - Supervisor": {
      "ai_languageModel": [
        [
          {
            "node": "Supervisor Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser - Supervisor": {
      "ai_outputParser": [
        [
          {
            "node": "Supervisor Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Research Agent Tool": {
      "ai_tool": [
        [
          {
            "node": "Supervisor Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Validation Agent Tool": {
      "ai_tool": [
        [
          {
            "node": "Supervisor Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model - Research": {
      "ai_languageModel": [
        [
          {
            "node": "Research Agent Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model - Validation": {
      "ai_languageModel": [
        [
          {
            "node": "Validation Agent Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supervisor Agent": {
      "main": [
        [
          {
            "node": "Check Confidence Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Confidence Score": {
      "main": [
        [
          {
            "node": "Final Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Retry Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Retry Request": {
      "main": [
        [
          {
            "node": "Increment Retry Counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increment Retry Counter": {
      "main": [
        [
          {
            "node": "Supervisor Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-28T14:44:41.046Z",
  "id": "T43iGn5MYq99zxHw",
  "isArchived": false,
  "meta": null,
  "name": "Multi-Agent Supervisor Orchestrator with Confidence-Based Validation",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "7cc1d0da-aa02-4575-b168-a77b51ade174",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -1280,
        -160
      ],
      "webhookId": "6b7c3181-86e5-4b51-b034-bf15ba475358"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "confidenceThreshold",
              "value": 0.85,
              "type": "number"
            },
            {
              "id": "id-2",
              "name": "maxRetries",
              "value": 3,
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "6cc6533a-79d9-4bff-bb94-4a9a0fb76cf7",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1056,
        -160
      ]
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are the Supervisor Agent.\n\nYour job:\n1. Decompose the task into clear steps\n2. Decide which agent should run (Research Agent Tool or Validation Agent Tool)\n3. Determine if retrieval is required\n4. Validate final answer quality\n5. Calculate a confidence score between 0 and 1\n6. If confidence < 0.85 → indicate retry is needed\n\nAlways return a structured JSON response with:\n- task_breakdown: array of task steps\n- agents_used: array of agent names that were called\n- confidence: number between 0 and 1\n- requires_retry: boolean (true if confidence < 0.85)\n- final_answer: the complete answer to the user question"
        }
      },
      "id": "74d8a9f6-747d-4a32-aa38-865acdc89b10",
      "name": "Supervisor Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -672,
        -160
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "id": "565354b2-b696-4028-bf01-884f19541acc",
      "name": "Anthropic Chat Model - Supervisor",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -832,
        64
      ]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"task_breakdown\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"description\": \"Array of task decomposition steps\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"string\"\n\t\t\t}\n\t\t},\n\t\t\"agents_used\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"description\": \"Array of agent names that were used\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"string\"\n\t\t\t}\n\t\t},\n\t\t\"confidence\": {\n\t\t\t\"type\": \"number\",\n\t\t\t\"description\": \"Confidence score between 0 and 1\"\n\t\t},\n\t\t\"requires_retry\": {\n\t\t\t\"type\": \"boolean\",\n\t\t\t\"description\": \"Whether retry is needed (true if confidence < 0.85)\"\n\t\t},\n\t\t\"final_answer\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"description\": \"The complete answer to the user question\"\n\t\t}\n\t}\n}"
      },
      "id": "8bd561dd-298c-4a8e-a871-91d3ec393e6e",
      "name": "Structured Output Parser - Supervisor",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -704,
        64
      ]
    },
    {
      "parameters": {
        "toolDescription": "Performs research and information gathering on the given topic. Use this tool when you need to gather facts, data, or background information.",
        "text": "={{ $fromAI(\"research_query\", \"The topic or question to research\", \"string\") }}",
        "options": {
          "systemMessage": "You are a Research Agent specialized in gathering comprehensive information.\n\nYour task:\n1. Analyze the research query provided\n2. Gather relevant facts, data, and information\n3. Organize findings in a clear, structured format\n4. Cite sources when applicable\n5. Return comprehensive research results\n\nProvide thorough and accurate research results."
        }
      },
      "id": "30d1c3f9-a6b9-4610-94f1-425ca008f28e",
      "name": "Research Agent Tool",
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        -576,
        64
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "id": "d290022f-73e6-4246-b270-3e7e2de2be81",
      "name": "Anthropic Chat Model - Research",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -496,
        272
      ]
    },
    {
      "parameters": {
        "toolDescription": "Validates information accuracy and quality. Use this tool to fact-check, verify sources, and assess the reliability of information.",
        "text": "={{ $fromAI(\"content_to_validate\", \"The content or information to validate\", \"string\") }}",
        "options": {
          "systemMessage": "You are a Validation Agent specialized in fact-checking and quality assessment.\n\nYour task:\n1. Analyze the provided content for accuracy\n2. Verify facts against known information\n3. Assess the quality and reliability of sources\n4. Identify any inconsistencies or errors\n5. Provide a validation report with confidence assessment\n\nReturn a detailed validation report with your findings."
        }
      },
      "id": "8e11d368-4633-4fc6-b465-0f7bd5a13336",
      "name": "Validation Agent Tool",
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        -288,
        64
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "id": "ba90cdb4-9450-46ad-bb0e-9f201d81b62c",
      "name": "Anthropic Chat Model - Validation",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -208,
        272
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.confidence }}",
              "rightValue": "={{ $('Workflow Configuration').first().json.confidenceThreshold }}",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5b938ede-0f17-499d-9ea1-2d8754a38ca6",
      "name": "Check Confidence Score",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        80,
        -224
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "status",
              "value": "completed",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "message",
              "value": "Task completed successfully with sufficient confidence",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "bb02c4af-4662-44ed-8ed8-7b73c6023e73",
      "name": "Final Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        -320
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "retryCount",
              "value": "={{ $json.retryCount ? $json.retryCount : 0 }}",
              "type": "number"
            },
            {
              "id": "id-2",
              "name": "refinementPrompt",
              "value": "=Previous attempt had confidence score of {{ $json.confidence }}. Please refine your analysis and provide more detailed reasoning to improve confidence.",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "a5aad0cb-bfe1-4433-bac2-f6b9ab074c65",
      "name": "Prepare Retry Request",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        -128
      ]
    },
    {
      "parameters": {
        "jsCode": "const retryCount = $input.first().json.retryCount || 0;\nconst maxRetries = $('Workflow Configuration').first().json.maxRetries;\nconst newRetryCount = retryCount + 1;\n\nif (newRetryCount > maxRetries) {\n  return [{\n    json: {\n      ...$input.first().json,\n      status: 'failed',\n      message: `Maximum retries (${maxRetries}) exceeded. Confidence threshold not met.`,\n      retryCount: newRetryCount\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    ...$input.first().json,\n    retryCount: newRetryCount,\n    chatInput: $input.first().json.chatInput + '\\n\\n' + $input.first().json.refinementPrompt\n  }\n}];"
      },
      "id": "234aa083-4a49-42f9-99d4-08d85e802e35",
      "name": "Increment Retry Counter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        -64
      ]
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "rajeetcodeN",
    "name": "n8n_backup2"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2026-02-28T14:44:41.048Z",
      "createdAt": "2026-02-28T14:44:41.048Z",
      "role": "workflow:owner",
      "workflowId": "T43iGn5MYq99zxHw",
      "projectId": "7DfoImgKnNZiM78g"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-28T14:55:38.547Z",
  "versionId": "70854787-0f26-40bb-b2ec-f1cb4c82eea8"
}