My workflow.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Filter Status (Waiting for sending)": {
      "main": [
        [
          {
            "node": "Merge fields",
            "type": "main",
            "index": 1
          },
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set data": {
      "main": [
        [
          {
            "node": "Update Message Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Customer Messages Data": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Message Status": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message (Gmail)": {
      "main": [
        []
      ]
    },
    "Merge fields": {
      "main": [
        [
          {
            "node": "Set data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Retrieve Customer Messages Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Filter Status (Waiting for sending)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Merge fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-23T09:22:09.187Z",
  "id": "75rCj7hvNZOG8pGJ",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "toRecipients": "={{ $json.Email }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        544,
        16
      ],
      "id": "eb07b7db-629b-4f6a-8483-acc037a77154",
      "name": "Send a message",
      "webhookId": "c4f0ce94-dc41-497a-a181-7da0b087e8e6",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "pNtEmfitGXo2Z1av",
          "name": "Microsoft Outlook account dbt rn"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "401b79a0-a079-4ea0-805b-a963d9206031",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.Status }}",
              "rightValue": "Waiting for sending"
            },
            {
              "id": "a02d2518-e979-4a17-ab00-dda6723d9945",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $json.Email }}",
              "rightValue": ""
            },
            {
              "id": "bea4e49e-cf8a-4f05-bd6f-bdce0c5d8533",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $json.Name }}",
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "7dba7d04-c915-44be-9a0f-4f4ae7eb9641",
      "name": "Filter Status (Waiting for sending)",
      "type": "n8n-nodes-base.filter",
      "position": [
        304,
        144
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "email",
              "stringValue": "={{ $json.Email }}"
            },
            {
              "name": "name",
              "stringValue": "={{ $json.Name }}"
            }
          ]
        },
        "include": "selected",
        "options": {}
      },
      "id": "160182d3-f025-48e8-93c9-4b749a85a78f",
      "name": "Set data",
      "type": "n8n-nodes-base.set",
      "position": [
        960,
        144
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "13sBbR1bTjAS2cJ1lB6cPRCvxkIQcD3W-pRruZ7jSNmU",
          "mode": "list",
          "cachedResultName": "email auto",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13sBbR1bTjAS2cJ1lB6cPRCvxkIQcD3W-pRruZ7jSNmU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13sBbR1bTjAS2cJ1lB6cPRCvxkIQcD3W-pRruZ7jSNmU/edit#gid=0"
        },
        "options": {}
      },
      "id": "b4bf5d76-e674-42b4-a03e-e8be59620d4f",
      "name": "Retrieve Customer Messages Data",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -160,
        208
      ],
      "typeVersion": 4.2,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nO915SPhClSut0w0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "13sBbR1bTjAS2cJ1lB6cPRCvxkIQcD3W-pRruZ7jSNmU",
          "mode": "list",
          "cachedResultName": "email auto",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13sBbR1bTjAS2cJ1lB6cPRCvxkIQcD3W-pRruZ7jSNmU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13sBbR1bTjAS2cJ1lB6cPRCvxkIQcD3W-pRruZ7jSNmU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.name }}",
            "Status": "Sent successfully",
            "SEND DATE": "={{ new Date().toDateTime()}}"
          },
          "matchingColumns": [
            "Name"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SEND DATE",
              "displayName": "SEND DATE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "82cd8222-b6ab-43c4-9b0f-ad039094ce0c",
      "name": "Update Message Status",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1184,
        208
      ],
      "typeVersion": 4.2,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nO915SPhClSut0w0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "=n8n test",
        "emailType": "text",
        "message": "=hi {{ $json.Name }}\n\nhow are you",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "c46b32bc-e40d-4e06-a565-f3858e0f1fcd",
      "name": "Send a message (Gmail)",
      "type": "n8n-nodes-base.gmail",
      "position": [
        0,
        -48
      ],
      "notesInFlow": false,
      "typeVersion": 2.1,
      "alwaysOutputData": false,
      "webhookId": "13c106f3-4f55-4221-bd8c-b5a95ba50b0f"
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "17121d2f-338d-4629-9263-24f27edb1d96",
      "name": "Merge fields",
      "type": "n8n-nodes-base.merge",
      "position": [
        736,
        128
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -384,
        208
      ],
      "id": "a508b6f2-f414-4acd-8960-d4d34571945e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        64,
        208
      ],
      "id": "b8a67b97-ec32-4922-b27d-39b7e582ffbb",
      "name": "Loop Over Items"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "rajeetcodeN",
    "name": "n8n_backup2"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-23T09:22:09.201Z",
      "createdAt": "2025-12-23T09:22:09.201Z",
      "role": "workflow:owner",
      "workflowId": "75rCj7hvNZOG8pGJ",
      "projectId": "7DfoImgKnNZiM78g"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-26T12:27:43.000Z",
  "versionId": "13edd86b-8572-47ee-81e4-5b7ed527187e"
}