SD AGENT.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-08T18:50:39.117Z",
    "createdAt": "2026-01-08T18:50:39.117Z",
    "versionId": "988619a7-506b-45b3-a8bd-782504a867ae",
    "workflowId": "SiP4PbCRoFX8H8Oh",
    "nodes": [
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "9a9a245e-f1a1-4282-bb02-a81ffe629f0f",
                "name": "chatInput",
                "value": "={{ $json?.chatInput || $json.body.chatInput }}",
                "type": "string"
              },
              {
                "id": "b80831d8-c653-4203-8706-adedfdb98f77",
                "name": "sessionId",
                "value": "={{ $json?.sessionId || $json.body.sessionId}}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "992e7339-929a-4fd8-b046-e3213a289c34",
        "name": "Edit Fields1",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          224,
          320
        ]
      },
      {
        "parameters": {
          "tableName": "n8n_chat"
        },
        "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
        "typeVersion": 1.3,
        "position": [
          144,
          560
        ],
        "id": "55a150b6-dc55-4867-a8f6-faa9da94e7f1",
        "name": "Postgres Chat Memory",
        "credentials": {
          "postgres": {
            "id": "Xsflb0NvPLfQMJET",
            "name": "Postgres ayan"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.chatInput }}",
          "options": {
            "systemMessage": "=You are a helpful, intelligent AI support SD agent and are a proactive chat agent. Lead the conversation by asking open-ended questions and offering suggestions. Don’t wait for the user to guide the chat — keep it moving with helpful, friendly prompts. Anticipate needs, follow up thoughtfully, and make the user feel supported throughout.\n\n*Knowledge Access Instructions*\n   1. # Important: First, for every question, always use the \"Supabase Vector Store\" tool. This will return \"n8n_test\" table data which is the primary source for every questions. #\nTo get related data and images you should use this tool repeatedly.\n\n   2. Begin each query by searching only in Supabase (n8n_test). This content is primarily in German, so make sure all queries sent to Supabase are in German.\n\n   3. If relevant information is found in Supabase, respond in German by first providing the textual information, and then inserting the relevant image(s) immediately after the specific paragraph or section they relate to. Do not group images at the end of the response, and compulsory cite the internal document name and also provide the internal document url from where the information is provide.\nExample:\n\"For your reference, this information is based on the internal documentation (Andwenderdoku_Lieferplan mit Abruf manuell). For more detailed guidance, you can access the internal document using the following  URL:https://nosta.sharepoint.com/:w:/r/sites/OPEX/_layouts/15/Doc.aspx?sourcedoc=%7B6F93C686-C114-4601-8485-204480629B72%7D&file=Andwenderdoku_Lieferplan%20mit%20Abruf%20manuell.docx&action=default&mobileredirect=true\"\n\n   4. If no relevant information is found in Supabase:\nRespond to the user with:\n\"The information you requested is not available in our internal documentation. Would you like me to do a Web search?\"\n\n   5. Do NOT use web search tools automatically to perform web search.\n\n      -> Wait for the user's explicit confirmation (e.g., \"Yes\", \"Okay\", \"Please do\", etc.).\n\n   6. Only after receiving user permission, you should web search. To search the web always use both (web search 1 and web search 2 tools node) and they accept single string of English querry.\n\n  Clearly state that this is an external source.\nExample:\n\"This information comes from an external source (e.g.,from relevant website)...\"\n\n*Important Rules & Logic*\n   1. After getting permission for web search use that only for the immediate response, return to Supabase for all future queries unless the user explicitly asks for external help again.\n   2. If no data is found in Supabase or web:\n\"At the moment, there is no information available to fully address this request based on current internal and external sources.\"\n 3. Images should be placed inline, following the specific sentence or section they illustrate — not in a separate section. Use this format,\n\"![image](\"https://nsebtjqnfydjgjtigsiq.supabase.co/storage/v1/object/public/images/extracted_images/\"+ document_metadata_id + \"_\" + image_name +\")\"\n\n4. !! Always try to give the document sources !!\n\n# important: make sure the image url starts with \"https://nsebtjqnfydjgjtigsiq.supabase.co/storage/v1/object/public/images/extracted_images/\"\n\n  example,\n![image](https://nsebtjqnfydjgjtigsiq.supabase.co/storage/v1/object/public/images/extracted_images/01b2abcd-d610-4405-aa68-8793fc2f8bd8_img-10.jpeg)\n  4. Strictly and compulsory display the internal document name and also provide the internal document url from where the information is provided everytime.\n\n*Format & Style Guidelines*\n   1. All Supabase queries must be in German and all responses to the user must be in German.\n   2. Responses must be Professional, Clear and helpful, small as possible but presise and well structured.\n  3. Only for guide/ instruction based response, follow this format:\n   • Step-by-Step Guide\n   • Things To Consider\n   • Further Understanding\nUnder \"Further Understanding,\"do not ask for related questions.Instead, write two lines in points asking users what topic to explore next based on user question and give some suggestions.\n\n**Things to Consider/Important Details/Common Pitfalls\n   •You should actively work to avoid common errors and pay close attention to important details, ensuring none are overlooked while performing the task.",
            "returnIntermediateSteps": false
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.7,
        "position": [
          464,
          320
        ],
        "id": "47bc2392-cb56-4701-b0f4-560340ba1572",
        "name": "SD agent"
      },
      {
        "parameters": {
          "mode": "retrieve-as-tool",
          "toolName": "documents",
          "toolDescription": "Most Important. Always Use this tool. It Uses RAG to look up information in the knowledgebase.",
          "tableName": {
            "__rl": true,
            "value": "n8n_test",
            "mode": "list",
            "cachedResultName": "n8n_test"
          },
          "topK": 15,
          "options": {
            "queryName": "match_new_function"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
        "typeVersion": 1,
        "position": [
          576,
          544
        ],
        "id": "8461640c-5e7c-4be0-9a7a-1b793f374f10",
        "name": "Supabase Vector Store",
        "credentials": {
          "supabaseApi": {
            "id": "Yeu4uGtLws8bzw5u",
            "name": "Supabase dbt ayan"
          }
        }
      },
      {
        "parameters": {
          "toolDescription": "Web Search tool only SAP websites",
          "method": "POST",
          "url": "https://api.tavily.com/search",
          "sendHeaders": true,
          "parametersHeaders": {
            "values": [
              {
                "name": "Authorization",
                "valueProvider": "fieldValue",
                "value": "Bearer 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"
              },
              {
                "name": "Content-Type",
                "valueProvider": "fieldValue",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"query\": \"{query}\",\n  \"topic\": \"general\",\n  \"search_depth\": \"advanced\",\n  \"max_results\": 20,\n  \"include_answer\": true,\n  \"include_raw_content\": false,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_domains\": [\"https://help.sap.com/docs/\",\"https://community.sap.com/\"],\n  \"exclude_domains\": []\n}",
          "placeholderDefinitions": {
            "values": [
              {
                "name": "query",
                "description": "Search Querry",
                "type": "string"
              }
            ]
          }
        },
        "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
        "typeVersion": 1.1,
        "position": [
          1056,
          544
        ],
        "id": "968cc05f-f4c5-417a-8135-47e3902e3c71",
        "name": "Web Search 2"
      },
      {
        "parameters": {
          "toolDescription": "Web Search tool excluding SAP websites",
          "method": "POST",
          "url": "https://api.tavily.com/search",
          "sendHeaders": true,
          "parametersHeaders": {
            "values": [
              {
                "name": "Authorization",
                "valueProvider": "fieldValue",
                "value": "Bearer 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"
              },
              {
                "name": "Content-Type",
                "valueProvider": "fieldValue",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"query\": \"{query}\",\n  \"topic\": \"general\",\n  \"search_depth\": \"advanced\",\n  \"max_results\": 20,\n  \"include_answer\": true,\n  \"include_raw_content\": false,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": [\"https://help.sap.com/docs/\",\"https://community.sap.com/\"]\n}",
          "placeholderDefinitions": {
            "values": [
              {
                "name": "query",
                "description": "Search Querry",
                "type": "string"
              }
            ]
          },
          "optimizeResponse": true
        },
        "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
        "typeVersion": 1.1,
        "position": [
          928,
          544
        ],
        "id": "86e09589-af60-4239-99bd-75a734027af0",
        "name": "Web Search 1"
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "Use this tool to fetch all available documents, including the table schema if the file is a CSV or Excel file.",
          "operation": "select",
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "value": "n8n_metadata",
            "mode": "list",
            "cachedResultName": "n8n_metadata"
          },
          "returnAll": true,
          "options": {}
        },
        "type": "n8n-nodes-base.postgresTool",
        "typeVersion": 2.5,
        "position": [
          336,
          576
        ],
        "id": "ece557bf-d0d5-4211-b1c4-5fac927e3528",
        "name": "List Documents",
        "credentials": {
          "postgres": {
            "id": "Xsflb0NvPLfQMJET",
            "name": "Postgres ayan"
          }
        }
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "If user send \"clear\" or \"restart\" use this tool",
          "operation": "delete",
          "tableId": "n8n_chat",
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "session_id",
                "condition": "eq",
                "keyValue": "={{ $('When chat message received').item.json.sessionId }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabaseTool",
        "typeVersion": 1,
        "position": [
          1200,
          512
        ],
        "id": "0e832499-1bba-4ebe-bec4-b8ccd54f098b",
        "name": "Supabase Memory Delete",
        "credentials": {
          "supabaseApi": {
            "id": "Yeu4uGtLws8bzw5u",
            "name": "Supabase dbt ayan"
          }
        }
      },
      {
        "parameters": {
          "public": true,
          "initialMessages": "Need assistance? Just ask—I’m here to support you every step of the way!",
          "options": {
            "allowFileUploads": true,
            "loadPreviousSession": "notSupported",
            "subtitle": "Your digital logistics advisor is here. How can I help optimize your supply chain today?",
            "title": "Welcome to Nosta!",
            "customCss": ":root {\n  /* Brand Colors (Nosta) */\n  --chat--color-primary: #009EE3; /* Nosta Azure‑blue */\n  --chat--color-primary-shade-50: #007bb8;\n  --chat--color-primary-shade-100: #005d8f;\n  --chat--color-secondary: #582DC6; /* Nosta Violet accent */\n  --chat--color-secondary-shade-50: #461fa1;\n  --chat--color-secondary-shade-100: #36197a;\n  --chat--color-white: #FFFFFF;\n  --chat--color-light: #E4E4E4; /* light grey surfaces & borders */\n  --chat--color-light-shade-50: #d1d1d1;\n  --chat--color-light-shade-100: #bdbdbd;\n  --chat--color-medium: #B5BCC9;\n  --chat--color-dark: #000000; /* solid black text */\n  --chat--color-disabled: #9FA6B2;\n  --chat--color-typing: #555555;\n  --chat--header-height: 4rem;\n\n  /* Layout & Fonts */\n  --chat--spacing: 1rem;\n  --chat--border-radius: 0.5rem;\n  --chat--font-family: 'Roboto', system-ui, sans-serif;\n  --chat--heading-font-family: 'Poppins', system-ui, sans-serif;\n\n  /* Window */\n  --chat--window--width: 420px;\n  --chat--window--height: 600px;\n  --chat--window--z-index: 9999;\n  --chat--window--border: 1px solid var(--chat--color-light-shade-100);\n  --chat--window--border-radius: var(--chat--border-radius);\n\n  /* Header */\n  --chat--header--padding: 0.75rem;                    /* 50% less height */\n  --chat--header--background: var(--chat--color-primary-shade-100); /* deeper blue */\n  --chat--header--color: var(--chat--color-white);\n  --chat--heading--font-size: 1.8em;\n  --chat--subtitle--font-size: 1rem;\n  --chat--subtitle--line-height: 1.5;\n\n  /* Messages */\n  --chat--message--font-size: 1rem;\n  --chat--message--padding: 0.8rem 1rem;\n  --chat--message--border-radius: var(--chat--border-radius);\n  --chat--message--margin-bottom: 0.35rem; /* less spacing */\n  --chat--message-line-height: 1.6;\n  --chat--message--bot--background: #97979738;\n  --chat--message--bot--color: var(--chat--color-dark);\n  --chat--message--user--background: var(--chat--color-primary);\n  --chat--message--user--color: var(--chat--color-white);\n  --chat--message--pre--background: #e8ecf1;\n\n  /* Input */\n  --chat--textarea--height: 52px;\n  --chat--input--background: var(--chat--color-white);\n  --chat--input--text-color: var(--chat--color-dark);\n  --chat--input--padding: 0.75rem 1rem;\n  --chat--input--border: 1px solid var(--chat--color-light-shade-50);\n  --chat--input--border-radius: var(--chat--border-radius);\n\n  /* Buttons */\n  --chat--button--background: var(--chat--color-secondary);\n  --chat--button--color: var(--chat--color-white);\n  --chat--button--hover--background: var(--chat--color-secondary-shade-50);\n  --chat--button--hover--color: var(--chat--color-white);\n  --chat--button--padding: 0.5rem 1.2rem;\n  --chat--button--border-radius: var(--chat--border-radius);\n\n  /* Footer */\n  --chat--body--background: var(--chat--color-light);\n  --chat--footer--background: var(--chat--color-white);\n  --chat--footer--color: var(--chat--color-dark);\n}\n\n/* Structure */\nbody {\n  margin: 0;\n  font-family: var(--chat--font-family);\n  background: var(--chat--body--background);\n}\n\n.chat-window {\n  width: var(--chat--window--width);\n  height: var(--chat--window--height);\n  margin: 2rem auto;\n  border: var(--chat--window--border);\n  border-radius: var(--chat--window--border-radius);\n  display: flex;\n  flex-direction: column;\n  overflow: hidden;\n  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);\n}\n\n.chat-layout .chat-header {\n    background-repeat: no-repeat;\n    background-size: contain;\n    background-position: right center;\n    background-image: url(https://www.nosta.com/wp-content/themes/kd-theme/resources/img/nosta.jpg);\n    display: flex;\n    flex-direction: row;\n    justify-content: space-evenly;\n    align-items: center;\n    gap: 1em;\n    height: var(--chat--header-height);\n    padding: var(--chat--header--padding);\n    background-color: var(--chat--header--background);\n    color: var(--chat--header--color);\n    border-top: var(--chat--header--border-top);\n    border-bottom: var(--chat--header--border-bottom);\n    border-left: var(--chat--header--border-left);\n    border-right: var(--chat--header--border-right);\n}\n\n.chat-logo {\n  height: 40px;\n  width: auto;\n}\n\n.chat-header-text h1 {\n  margin: 0;\n  font-family: var(--chat--heading-font-family);\n  font-weight: 600;\n  font-size: var(--chat--heading--font-size);\n  text-transform: uppercase;\n  letter-spacing: 0.05em;\n}\n\n.chat-header-text p {\n  margin: 0.25rem 0 0;\n  font-size: var(--chat--subtitle--font-size);\n  line-height: var(--chat--subtitle--line-height);\n}\n\n/* Chat body */\n.chat-body {\n  flex: 1;\n  padding: var(--chat--spacing);\n  background: var(--chat--body--background);\n  overflow-y: auto;\n}\n\n.chat-message {\n  padding: var(--chat--message--padding);\n  margin-bottom: var(--chat--message--margin-bottom);\n  border-radius: var(--chat--message--border-radius);\n  font-size: var(--chat--message--font-size);\n  line-height: var(--chat--message-line-height);\n  max-width: 80%;\n  box-shadow: 0px 5px 9px 3px rgb(0 0 0 / 12%);\n  width: fit-content;\n}\n\n.chat-message.bot {\n  background: var(--chat--message--bot--background);\n  color: var(--chat--message--bot--color);\n  border-left: 3px solid var(--chat--color-primary);\n}\n\n.chat-message.user {\n  background: var(--chat--message--user--background);\n  color: var(--chat--message--user--color);\n  border-left: 3px solid var(--chat--color-secondary);\n  margin-left: auto;\n}\n\n/* Footer */\n.chat-footer {\n  background: var(--chat--footer--background);\n  padding: 0.5rem 1rem;\n  border-top: 1px solid var(--chat--color-light-shade-100);\n  display: flex;\n  align-items: center;\n  gap: 0.5rem;\n}\n\n.chat-footer textarea {\n  flex-grow: 1;\n  resize: none;\n  padding: var(--chat--input--padding);\n  height: var(--chat--textarea--height);\n  border: var(--chat--input--border);\n  border-radius: var(--chat--input--border-radius);\n  font-family: var(--chat--font-family);\n  font-size: 1rem;\n  color: var(--chat--input--text-color);\n  background: var(--chat--input--background);\n}\n\n.chat-send-button {\n  background: var(--chat--button--background);\n  color: var(--chat--button--color);\n  border: none;\n  padding: var(--chat--button--padding);\n  border-radius: var(--chat--button--border-radius);\n  font-size: 1.25rem;\n  cursor: pointer;\n  transition: background 0.2s;\n}\n\n.chat-send-button:hover {\n  background: var(--chat--button--hover--background);\n}\n\n/* USE THIS UPDATED RULE FOR THE IMAGE */\n.chat-message-markdown img {\n  display: block;       /* Treat the image as a block element */\n  margin-left: auto;    /* Automatically calculate left margin */\n  margin-right: auto;   /* Automatically calculate right margin */\n  max-width: 95%;\n  max-height: 350px;\n  height: auto;\n  border-radius: var(--chat--border-radius);\n  margin-top: 0.5rem;\n}"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.chatTrigger",
        "typeVersion": 1.1,
        "position": [
          -144,
          320
        ],
        "id": "c8b309b0-50ec-46bb-bf95-488da16af337",
        "name": "When chat message received",
        "webhookId": "cae69b6d-5ce7-47fa-bae6-611f4ba4af17"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsMistralCloud",
        "typeVersion": 1,
        "position": [
          528,
          736
        ],
        "id": "6a755083-63d6-4684-9790-0a326143044b",
        "name": "Embeddings Mistral Cloud",
        "credentials": {
          "mistralCloudApi": {
            "id": "FXWAQ4fSAuPWXyZ1",
            "name": "Mistral Cloud nosta"
          }
        }
      },
      {
        "parameters": {
          "model": "mistral-large-latest",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
        "typeVersion": 1,
        "position": [
          -64,
          576
        ],
        "id": "d6e8acf2-5063-4a48-8990-baa448fb48c1",
        "name": "Mistral Cloud Chat Model",
        "credentials": {
          "mistralCloudApi": {
            "id": "FXWAQ4fSAuPWXyZ1",
            "name": "Mistral Cloud nosta"
          }
        }
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "chatInput"
              },
              {
                "name": "sessionId"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -64,
          32
        ],
        "id": "5bbf8ae9-4a50-4ae1-9dc9-7572824c0752",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "97d71ce6-384d-455d-9dbe-48e755fc6799",
          "responseMode": "lastNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -400,
          592
        ],
        "id": "22d930da-7e88-4fc1-9e19-b9ced80a1574",
        "name": "Webhook",
        "webhookId": "97d71ce6-384d-455d-9dbe-48e755fc6799"
      }
    ],
    "connections": {
      "Edit Fields1": {
        "main": [
          [
            {
              "node": "SD agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Postgres Chat Memory": {
        "ai_memory": [
          [
            {
              "node": "SD agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Supabase Vector Store": {
        "ai_tool": [
          [
            {
              "node": "SD agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Web Search 2": {
        "ai_tool": [
          [
            {
              "node": "SD agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Web Search 1": {
        "ai_tool": [
          [
            {
              "node": "SD agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "List Documents": {
        "ai_tool": [
          [
            {
              "node": "SD agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Supabase Memory Delete": {
        "ai_tool": [
          [
            {
              "node": "SD agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "When chat message received": {
        "main": [
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings Mistral Cloud": {
        "ai_embedding": [
          [
            {
              "node": "Supabase Vector Store",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Mistral Cloud Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "SD agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null
  },
  "activeVersionId": "988619a7-506b-45b3-a8bd-782504a867ae",
  "connections": {
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "SD agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "SD agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "SD agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Web Search 2": {
      "ai_tool": [
        [
          {
            "node": "SD agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Web Search 1": {
      "ai_tool": [
        [
          {
            "node": "SD agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "List Documents": {
      "ai_tool": [
        [
          {
            "node": "SD agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Memory Delete": {
      "ai_tool": [
        [
          {
            "node": "SD agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Mistral Cloud": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "SD agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-13T10:10:39.945Z",
  "id": "SiP4PbCRoFX8H8Oh",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "SD AGENT",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9a9a245e-f1a1-4282-bb02-a81ffe629f0f",
              "name": "chatInput",
              "value": "={{ $json?.chatInput || $json.body.chatInput }}",
              "type": "string"
            },
            {
              "id": "b80831d8-c653-4203-8706-adedfdb98f77",
              "name": "sessionId",
              "value": "={{ $json?.sessionId || $json.body.sessionId}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "992e7339-929a-4fd8-b046-e3213a289c34",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        320
      ]
    },
    {
      "parameters": {
        "tableName": "n8n_chat"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        144,
        560
      ],
      "id": "55a150b6-dc55-4867-a8f6-faa9da94e7f1",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "Xsflb0NvPLfQMJET",
          "name": "Postgres ayan"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=You are a helpful, intelligent AI support SD agent and are a proactive chat agent. Lead the conversation by asking open-ended questions and offering suggestions. Don’t wait for the user to guide the chat — keep it moving with helpful, friendly prompts. Anticipate needs, follow up thoughtfully, and make the user feel supported throughout.\n\n*Knowledge Access Instructions*\n   1. # Important: First, for every question, always use the \"Supabase Vector Store\" tool. This will return \"n8n_test\" table data which is the primary source for every questions. #\nTo get related data and images you should use this tool repeatedly.\n\n   2. Begin each query by searching only in Supabase (n8n_test). This content is primarily in German, so make sure all queries sent to Supabase are in German.\n\n   3. If relevant information is found in Supabase, respond in German by first providing the textual information, and then inserting the relevant image(s) immediately after the specific paragraph or section they relate to. Do not group images at the end of the response, and compulsory cite the internal document name and also provide the internal document url from where the information is provide.\nExample:\n\"For your reference, this information is based on the internal documentation (Andwenderdoku_Lieferplan mit Abruf manuell). For more detailed guidance, you can access the internal document using the following  URL:https://nosta.sharepoint.com/:w:/r/sites/OPEX/_layouts/15/Doc.aspx?sourcedoc=%7B6F93C686-C114-4601-8485-204480629B72%7D&file=Andwenderdoku_Lieferplan%20mit%20Abruf%20manuell.docx&action=default&mobileredirect=true\"\n\n   4. If no relevant information is found in Supabase:\nRespond to the user with:\n\"The information you requested is not available in our internal documentation. Would you like me to do a Web search?\"\n\n   5. Do NOT use web search tools automatically to perform web search.\n\n      -> Wait for the user's explicit confirmation (e.g., \"Yes\", \"Okay\", \"Please do\", etc.).\n\n   6. Only after receiving user permission, you should web search. To search the web always use both (web search 1 and web search 2 tools node) and they accept single string of English querry.\n\n  Clearly state that this is an external source.\nExample:\n\"This information comes from an external source (e.g.,from relevant website)...\"\n\n*Important Rules & Logic*\n   1. After getting permission for web search use that only for the immediate response, return to Supabase for all future queries unless the user explicitly asks for external help again.\n   2. If no data is found in Supabase or web:\n\"At the moment, there is no information available to fully address this request based on current internal and external sources.\"\n 3. Images should be placed inline, following the specific sentence or section they illustrate — not in a separate section. Use this format,\n\"![image](\"https://nsebtjqnfydjgjtigsiq.supabase.co/storage/v1/object/public/images/extracted_images/\"+ document_metadata_id + \"_\" + image_name +\")\"\n\n4. !! Always try to give the document sources !!\n\n# important: make sure the image url starts with \"https://nsebtjqnfydjgjtigsiq.supabase.co/storage/v1/object/public/images/extracted_images/\"\n\n  example,\n![image](https://nsebtjqnfydjgjtigsiq.supabase.co/storage/v1/object/public/images/extracted_images/01b2abcd-d610-4405-aa68-8793fc2f8bd8_img-10.jpeg)\n  4. Strictly and compulsory display the internal document name and also provide the internal document url from where the information is provided everytime.\n\n*Format & Style Guidelines*\n   1. All Supabase queries must be in German and all responses to the user must be in German.\n   2. Responses must be Professional, Clear and helpful, small as possible but presise and well structured.\n  3. Only for guide/ instruction based response, follow this format:\n   • Step-by-Step Guide\n   • Things To Consider\n   • Further Understanding\nUnder \"Further Understanding,\"do not ask for related questions.Instead, write two lines in points asking users what topic to explore next based on user question and give some suggestions.\n\n**Things to Consider/Important Details/Common Pitfalls\n   •You should actively work to avoid common errors and pay close attention to important details, ensuring none are overlooked while performing the task.",
          "returnIntermediateSteps": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        464,
        320
      ],
      "id": "47bc2392-cb56-4701-b0f4-560340ba1572",
      "name": "SD agent"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "documents",
        "toolDescription": "Most Important. Always Use this tool. It Uses RAG to look up information in the knowledgebase.",
        "tableName": {
          "__rl": true,
          "value": "n8n_test",
          "mode": "list",
          "cachedResultName": "n8n_test"
        },
        "topK": 15,
        "options": {
          "queryName": "match_new_function"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        576,
        544
      ],
      "id": "8461640c-5e7c-4be0-9a7a-1b793f374f10",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "Yeu4uGtLws8bzw5u",
          "name": "Supabase dbt ayan"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Web Search tool only SAP websites",
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Authorization",
              "valueProvider": "fieldValue",
              "value": "Bearer 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"
            },
            {
              "name": "Content-Type",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"{query}\",\n  \"topic\": \"general\",\n  \"search_depth\": \"advanced\",\n  \"max_results\": 20,\n  \"include_answer\": true,\n  \"include_raw_content\": false,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_domains\": [\"https://help.sap.com/docs/\",\"https://community.sap.com/\"],\n  \"exclude_domains\": []\n}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "query",
              "description": "Search Querry",
              "type": "string"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1056,
        544
      ],
      "id": "968cc05f-f4c5-417a-8135-47e3902e3c71",
      "name": "Web Search 2"
    },
    {
      "parameters": {
        "toolDescription": "Web Search tool excluding SAP websites",
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Authorization",
              "valueProvider": "fieldValue",
              "value": "Bearer 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"
            },
            {
              "name": "Content-Type",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"{query}\",\n  \"topic\": \"general\",\n  \"search_depth\": \"advanced\",\n  \"max_results\": 20,\n  \"include_answer\": true,\n  \"include_raw_content\": false,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": [\"https://help.sap.com/docs/\",\"https://community.sap.com/\"]\n}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "query",
              "description": "Search Querry",
              "type": "string"
            }
          ]
        },
        "optimizeResponse": true
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        928,
        544
      ],
      "id": "86e09589-af60-4239-99bd-75a734027af0",
      "name": "Web Search 1"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to fetch all available documents, including the table schema if the file is a CSV or Excel file.",
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_metadata",
          "mode": "list",
          "cachedResultName": "n8n_metadata"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.5,
      "position": [
        336,
        576
      ],
      "id": "ece557bf-d0d5-4211-b1c4-5fac927e3528",
      "name": "List Documents",
      "credentials": {
        "postgres": {
          "id": "Xsflb0NvPLfQMJET",
          "name": "Postgres ayan"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "If user send \"clear\" or \"restart\" use this tool",
        "operation": "delete",
        "tableId": "n8n_chat",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "session_id",
              "condition": "eq",
              "keyValue": "={{ $('When chat message received').item.json.sessionId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        1200,
        512
      ],
      "id": "0e832499-1bba-4ebe-bec4-b8ccd54f098b",
      "name": "Supabase Memory Delete",
      "credentials": {
        "supabaseApi": {
          "id": "Yeu4uGtLws8bzw5u",
          "name": "Supabase dbt ayan"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Need assistance? Just ask—I’m here to support you every step of the way!",
        "options": {
          "allowFileUploads": true,
          "loadPreviousSession": "notSupported",
          "subtitle": "Your digital logistics advisor is here. How can I help optimize your supply chain today?",
          "title": "Welcome to Nosta!",
          "customCss": ":root {\n  /* Brand Colors (Nosta) */\n  --chat--color-primary: #009EE3; /* Nosta Azure‑blue */\n  --chat--color-primary-shade-50: #007bb8;\n  --chat--color-primary-shade-100: #005d8f;\n  --chat--color-secondary: #582DC6; /* Nosta Violet accent */\n  --chat--color-secondary-shade-50: #461fa1;\n  --chat--color-secondary-shade-100: #36197a;\n  --chat--color-white: #FFFFFF;\n  --chat--color-light: #E4E4E4; /* light grey surfaces & borders */\n  --chat--color-light-shade-50: #d1d1d1;\n  --chat--color-light-shade-100: #bdbdbd;\n  --chat--color-medium: #B5BCC9;\n  --chat--color-dark: #000000; /* solid black text */\n  --chat--color-disabled: #9FA6B2;\n  --chat--color-typing: #555555;\n  --chat--header-height: 4rem;\n\n  /* Layout & Fonts */\n  --chat--spacing: 1rem;\n  --chat--border-radius: 0.5rem;\n  --chat--font-family: 'Roboto', system-ui, sans-serif;\n  --chat--heading-font-family: 'Poppins', system-ui, sans-serif;\n\n  /* Window */\n  --chat--window--width: 420px;\n  --chat--window--height: 600px;\n  --chat--window--z-index: 9999;\n  --chat--window--border: 1px solid var(--chat--color-light-shade-100);\n  --chat--window--border-radius: var(--chat--border-radius);\n\n  /* Header */\n  --chat--header--padding: 0.75rem;                    /* 50% less height */\n  --chat--header--background: var(--chat--color-primary-shade-100); /* deeper blue */\n  --chat--header--color: var(--chat--color-white);\n  --chat--heading--font-size: 1.8em;\n  --chat--subtitle--font-size: 1rem;\n  --chat--subtitle--line-height: 1.5;\n\n  /* Messages */\n  --chat--message--font-size: 1rem;\n  --chat--message--padding: 0.8rem 1rem;\n  --chat--message--border-radius: var(--chat--border-radius);\n  --chat--message--margin-bottom: 0.35rem; /* less spacing */\n  --chat--message-line-height: 1.6;\n  --chat--message--bot--background: #97979738;\n  --chat--message--bot--color: var(--chat--color-dark);\n  --chat--message--user--background: var(--chat--color-primary);\n  --chat--message--user--color: var(--chat--color-white);\n  --chat--message--pre--background: #e8ecf1;\n\n  /* Input */\n  --chat--textarea--height: 52px;\n  --chat--input--background: var(--chat--color-white);\n  --chat--input--text-color: var(--chat--color-dark);\n  --chat--input--padding: 0.75rem 1rem;\n  --chat--input--border: 1px solid var(--chat--color-light-shade-50);\n  --chat--input--border-radius: var(--chat--border-radius);\n\n  /* Buttons */\n  --chat--button--background: var(--chat--color-secondary);\n  --chat--button--color: var(--chat--color-white);\n  --chat--button--hover--background: var(--chat--color-secondary-shade-50);\n  --chat--button--hover--color: var(--chat--color-white);\n  --chat--button--padding: 0.5rem 1.2rem;\n  --chat--button--border-radius: var(--chat--border-radius);\n\n  /* Footer */\n  --chat--body--background: var(--chat--color-light);\n  --chat--footer--background: var(--chat--color-white);\n  --chat--footer--color: var(--chat--color-dark);\n}\n\n/* Structure */\nbody {\n  margin: 0;\n  font-family: var(--chat--font-family);\n  background: var(--chat--body--background);\n}\n\n.chat-window {\n  width: var(--chat--window--width);\n  height: var(--chat--window--height);\n  margin: 2rem auto;\n  border: var(--chat--window--border);\n  border-radius: var(--chat--window--border-radius);\n  display: flex;\n  flex-direction: column;\n  overflow: hidden;\n  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);\n}\n\n.chat-layout .chat-header {\n    background-repeat: no-repeat;\n    background-size: contain;\n    background-position: right center;\n    background-image: url(https://www.nosta.com/wp-content/themes/kd-theme/resources/img/nosta.jpg);\n    display: flex;\n    flex-direction: row;\n    justify-content: space-evenly;\n    align-items: center;\n    gap: 1em;\n    height: var(--chat--header-height);\n    padding: var(--chat--header--padding);\n    background-color: var(--chat--header--background);\n    color: var(--chat--header--color);\n    border-top: var(--chat--header--border-top);\n    border-bottom: var(--chat--header--border-bottom);\n    border-left: var(--chat--header--border-left);\n    border-right: var(--chat--header--border-right);\n}\n\n.chat-logo {\n  height: 40px;\n  width: auto;\n}\n\n.chat-header-text h1 {\n  margin: 0;\n  font-family: var(--chat--heading-font-family);\n  font-weight: 600;\n  font-size: var(--chat--heading--font-size);\n  text-transform: uppercase;\n  letter-spacing: 0.05em;\n}\n\n.chat-header-text p {\n  margin: 0.25rem 0 0;\n  font-size: var(--chat--subtitle--font-size);\n  line-height: var(--chat--subtitle--line-height);\n}\n\n/* Chat body */\n.chat-body {\n  flex: 1;\n  padding: var(--chat--spacing);\n  background: var(--chat--body--background);\n  overflow-y: auto;\n}\n\n.chat-message {\n  padding: var(--chat--message--padding);\n  margin-bottom: var(--chat--message--margin-bottom);\n  border-radius: var(--chat--message--border-radius);\n  font-size: var(--chat--message--font-size);\n  line-height: var(--chat--message-line-height);\n  max-width: 80%;\n  box-shadow: 0px 5px 9px 3px rgb(0 0 0 / 12%);\n  width: fit-content;\n}\n\n.chat-message.bot {\n  background: var(--chat--message--bot--background);\n  color: var(--chat--message--bot--color);\n  border-left: 3px solid var(--chat--color-primary);\n}\n\n.chat-message.user {\n  background: var(--chat--message--user--background);\n  color: var(--chat--message--user--color);\n  border-left: 3px solid var(--chat--color-secondary);\n  margin-left: auto;\n}\n\n/* Footer */\n.chat-footer {\n  background: var(--chat--footer--background);\n  padding: 0.5rem 1rem;\n  border-top: 1px solid var(--chat--color-light-shade-100);\n  display: flex;\n  align-items: center;\n  gap: 0.5rem;\n}\n\n.chat-footer textarea {\n  flex-grow: 1;\n  resize: none;\n  padding: var(--chat--input--padding);\n  height: var(--chat--textarea--height);\n  border: var(--chat--input--border);\n  border-radius: var(--chat--input--border-radius);\n  font-family: var(--chat--font-family);\n  font-size: 1rem;\n  color: var(--chat--input--text-color);\n  background: var(--chat--input--background);\n}\n\n.chat-send-button {\n  background: var(--chat--button--background);\n  color: var(--chat--button--color);\n  border: none;\n  padding: var(--chat--button--padding);\n  border-radius: var(--chat--button--border-radius);\n  font-size: 1.25rem;\n  cursor: pointer;\n  transition: background 0.2s;\n}\n\n.chat-send-button:hover {\n  background: var(--chat--button--hover--background);\n}\n\n/* USE THIS UPDATED RULE FOR THE IMAGE */\n.chat-message-markdown img {\n  display: block;       /* Treat the image as a block element */\n  margin-left: auto;    /* Automatically calculate left margin */\n  margin-right: auto;   /* Automatically calculate right margin */\n  max-width: 95%;\n  max-height: 350px;\n  height: auto;\n  border-radius: var(--chat--border-radius);\n  margin-top: 0.5rem;\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -144,
        320
      ],
      "id": "c8b309b0-50ec-46bb-bf95-488da16af337",
      "name": "When chat message received",
      "webhookId": "cae69b6d-5ce7-47fa-bae6-611f4ba4af17"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsMistralCloud",
      "typeVersion": 1,
      "position": [
        528,
        736
      ],
      "id": "6a755083-63d6-4684-9790-0a326143044b",
      "name": "Embeddings Mistral Cloud",
      "credentials": {
        "mistralCloudApi": {
          "id": "FXWAQ4fSAuPWXyZ1",
          "name": "Mistral Cloud nosta"
        }
      }
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -64,
        576
      ],
      "id": "d6e8acf2-5063-4a48-8990-baa448fb48c1",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "FXWAQ4fSAuPWXyZ1",
          "name": "Mistral Cloud nosta"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "chatInput"
            },
            {
              "name": "sessionId"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -64,
        32
      ],
      "id": "5bbf8ae9-4a50-4ae1-9dc9-7572824c0752",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "97d71ce6-384d-455d-9dbe-48e755fc6799",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -400,
        592
      ],
      "id": "22d930da-7e88-4fc1-9e19-b9ced80a1574",
      "name": "Webhook",
      "webhookId": "97d71ce6-384d-455d-9dbe-48e755fc6799"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "rajeetcodeN",
    "name": "n8n_backup2"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-09-13T10:10:39.951Z",
      "createdAt": "2025-09-13T10:10:39.951Z",
      "role": "workflow:owner",
      "workflowId": "SiP4PbCRoFX8H8Oh",
      "projectId": "7DfoImgKnNZiM78g"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-09-13T12:30:20.672Z",
      "createdAt": "2025-09-13T12:26:37.146Z",
      "id": "7qLrdUDttJCInqkb",
      "name": "ACTIVE - LATEST"
    }
  ],
  "triggerCount": 2,
  "updatedAt": "2025-10-15T06:22:19.000Z",
  "versionId": "988619a7-506b-45b3-a8bd-782504a867ae"
}