team knowledge.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "node": "Code12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set File ID1": {
      "main": [
        [
          {
            "node": "Insert Document Metadata2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        []
      ]
    },
    "Compare Datasets": {
      "main": [
        [],
        [],
        [],
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "S3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S3": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Insert into Supabase Vectorstore2",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Upload": {
      "main": [
        [
          {
            "node": "Mistral Signed URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Signed URL": {
      "main": [
        [
          {
            "node": "Mistral DOC OCR3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral DOC OCR3": {
      "main": [
        [
          {
            "node": "Mistral file delete5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code11": {
      "main": [
        [
          {
            "node": "Mistral Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code9": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code10": {
      "main": [
        [
          {
            "node": "Insert into Supabase Vectorstore2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Mistral Cloud": {
      "ai_embedding": [
        [
          {
            "node": "Insert into Supabase Vectorstore2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Code10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Code9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code12": {
      "main": [
        [
          {
            "node": "Set File ID1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase2": {
      "main": [
        [
          {
            "node": "Edit Fields9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields9": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Document Metadata2": {
      "main": [
        [
          {
            "node": "Google Drive3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert into Supabase Vectorstore2": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Google Drive3": {
      "main": [
        [
          {
            "node": "Code11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-13T09:16:42.112Z",
  "id": "ulZz5R2E6u9PlLjq",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "team knowledge",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        800,
        336
      ],
      "id": "ab7ddd2c-7d9f-45e6-9353-0cc381976c1a",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "f4536df5-d0b1-4392-bf17-b8137fb31a44",
              "name": "file_type",
              "value": "={{ $json.mimeType }}",
              "type": "string"
            },
            {
              "id": "77d782de-169d-4a46-8a8e-a3831c04d90f",
              "name": "file_title",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "9bde4d7f-e4f3-4ebd-9338-dce1350f9eab",
              "name": "file_url",
              "value": "={{ $json.webViewLink }}",
              "type": "string"
            },
            {
              "id": "fae402c8-c486-4b57-8d28-bf669db6b442",
              "name": "last_modified_date",
              "value": "={{ $json.modifiedTime }}",
              "type": "string"
            },
            {
              "id": "866ce582-16e2-4869-ac77-13f248c187eb",
              "name": "sharepoint_file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d2bcc8e8-b374-4060-9715-73dadcc658e6",
      "name": "Set File ID1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1216,
        352
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -432,
        352
      ],
      "id": "85a5f15e-1ae4-4300-8204-663b1e7fb7a0",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "sharepoint_file_id",
              "field2": "UniqueId"
            },
            {
              "field1": "Last_modified_date",
              "field2": "TimeLastModified"
            },
            {
              "field1": "Loading Done",
              "field2": "Exists"
            }
          ]
        },
        "fuzzyCompare": true,
        "options": {}
      },
      "type": "n8n-nodes-base.compareDatasets",
      "typeVersion": 2.3,
      "position": [
        416,
        256
      ],
      "id": "c8f37be3-f644-49dc-abb7-93d528f2deb7",
      "name": "Compare Datasets"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5132d92c-41da-4a55-ad79-0c329ca7e626",
              "name": "Document name",
              "value": "={{ $('Set File ID1').item.json.file_title.replaceSpecialChars() }}",
              "type": "string"
            },
            {
              "id": "c8160701-2be7-43c6-bcfa-295fbebe0e23",
              "name": "Document data",
              "value": "={{ $('If1').item.json.embedding_text }}",
              "type": "string"
            },
            {
              "id": "bd7406b5-d857-4e8d-ad62-07c6ce279121",
              "name": "Workflow_name",
              "value": "={{ $json.workflow_name }}",
              "type": "string"
            },
            {
              "id": "e0a783f1-89e0-4d87-b9c0-149fedd0976b",
              "name": "Version",
              "value": "={{ $json.version }}",
              "type": "string"
            },
            {
              "id": "ec220cb8-6bb9-49fc-bd3b-9ab4b0154de4",
              "name": "Workflow Url",
              "value": "={{ $json.workflow_url }}",
              "type": "string"
            },
            {
              "id": "b2795292-8cad-4c03-a329-88a467f1c47e",
              "name": "Status",
              "value": "={{ $json.status }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3200,
        336
      ],
      "id": "5d737d2b-3437-429c-98e2-856a6a88171d",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data",
        "options": {
          "fileName": "={{ $('Insert Document Metadata2').item.json.id_source +\"_\"+ $json.fileName}}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        3920,
        64
      ],
      "id": "9be9d79d-2e2b-4450-b475-6cc7bed36ad5",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"data\": \"{{$json['image_base64'].split(',').pop()}}\",\n  \"fileName\": \"{{$json.id}}\",\n  \"mimeType\": \"image/jpeg\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3680,
        64
      ],
      "id": "d2204549-bb02-4c6a-8820-bafae34256e8",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7e6dcc66-0501-4739-a738-909878c4b23d",
              "name": "images",
              "value": "={{ $json.images }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3248,
        32
      ],
      "id": "85e472c3-0291-409c-8a9d-0d02d1bd535e",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "fieldToSplitOut": "images",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        3520,
        64
      ],
      "id": "a0861e81-a4b7-4f91-a01a-8585d9119336",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "ragtest",
        "fileName": "=",
        "additionalFields": {
          "parentFolderKey": "extracted_imagestkb"
        }
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        4112,
        64
      ],
      "id": "a0abf3d8-1326-4841-810d-24d8d36c6182",
      "name": "S3",
      "retryOnFail": true,
      "credentials": {
        "s3": {
          "id": "yNoPO0CbsXSK0d48",
          "name": "S3 account dbt rn"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "d15e917b-43d2-40b8-8b49-af467ff63961",
              "leftValue": "={{ $json.data[0].parseJson().skipped }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2880,
        352
      ],
      "id": "d1b3f7df-dcba-4750-8647-8aaab437fcda",
      "name": "If1"
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.content.parseJson().pageContent.toJsonString() }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "source",
                "value": "={{ $('Insert Document Metadata2').item.json.url }}"
              },
              {
                "name": "blobType",
                "value": "application/jsonb"
              },
              {
                "name": "loc",
                "value": "={{ $json.content.parseJson().metadata.loc }}"
              },
              {
                "name": "source_metadata_id",
                "value": "={{ $('Set File ID1').item.json.file_id }}"
              },
              {
                "name": "workflow name",
                "value": "={{ $('Edit Fields2').item.json.Workflow_name }}"
              },
              {
                "name": "workflow url",
                "value": "={{ $('Edit Fields2').item.json['Workflow Url'] }}"
              },
              {
                "name": "version",
                "value": "={{ $('Edit Fields2').item.json.Version }}"
              },
              {
                "name": "status",
                "value": "={{ $('Code1').item.json.status }}"
              }
            ]
          }
        }
      },
      "id": "f88d4970-97e8-4796-acbc-85ecad9a4946",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        3840,
        576
      ]
    },
    {
      "parameters": {
        "chunkSize": 100000
      },
      "id": "67695b99-2e90-47a1-8e97-00fe7ec41275",
      "name": "Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        3760,
        800
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "mistralCloudApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "purpose",
              "value": "ocr"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "da148156-452e-457e-83f9-065e2c063cbf",
      "name": "Mistral Upload",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2016,
        352
      ],
      "typeVersion": 4.2,
      "credentials": {
        "mistralCloudApi": {
          "id": "NRp52l3NFK2olZNh",
          "name": "Mistral Cloud account dbt test"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "=https://api.mistral.ai/v1/files/{{ $json.id }}/url",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "mistralCloudApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "expiry",
              "value": "24"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "cf27e652-bbf2-493f-a71c-5b2564a16a41",
      "name": "Mistral Signed URL",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2192,
        336
      ],
      "typeVersion": 4.2,
      "credentials": {
        "mistralCloudApi": {
          "id": "NRp52l3NFK2olZNh",
          "name": "Mistral Cloud account dbt test"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/ocr",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "mistralCloudApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"document_url\": \"{{ $json.url }}\"\n  },\n  \"bbox_annotation_format\": {\n    \"type\": \"json_schema\",\n    \"json_schema\": {\n      \"schema\": {\n        \"properties\": {\n          \"image_type\": { \"title\": \"Image_Type\", \"type\": \"string\", \"description\": \"type of image\" },\n          \"short_description\": { \"title\": \"Short_Description\", \"type\": \"string\", \"description\": \"short description\" },\n          \"summary\": { \"title\": \"Summary\", \"type\": \"string\", \"description\": \"summary of the image\" }\n        },\n        \"required\": [\"image_type\",\"short_description\",\"summary\"],\n        \"title\": \"BBOXAnnotation\",\n        \"type\": \"object\",\n        \"additionalProperties\": false\n      },\n      \"name\": \"bbox_annotation\",\n      \"strict\": true\n    }\n  },\n  \"include_image_base64\": true\n}\n\n",
        "options": {}
      },
      "id": "088320c0-4d65-4065-a126-e5e01e1e9df2",
      "name": "Mistral DOC OCR3",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2352,
        336
      ],
      "typeVersion": 4.2,
      "credentials": {
        "mistralCloudApi": {
          "id": "NRp52l3NFK2olZNh",
          "name": "Mistral Cloud account dbt test"
        }
      }
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://api.mistral.ai/v1/files/{{ $('Mistral Upload').item.json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "mistralCloudApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "1665e7ec-67c0-436f-ad68-30c15bd596cb",
      "name": "Mistral file delete5",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2480,
        160
      ],
      "typeVersion": 4.2,
      "credentials": {
        "mistralCloudApi": {
          "id": "NRp52l3NFK2olZNh",
          "name": "Mistral Cloud account dbt test"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "$input.item.binary.data.fileName = $input.first().json.title\n\nreturn $input.item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        352
      ],
      "id": "ab925bfd-f36a-4e6a-9ac8-bcffbbdd7685",
      "name": "Code11"
    },
    {
      "parameters": {
        "jsCode": "// n8n Function node\n// Keeps image array from input, inserts embedding_text inline with images\n\nconst pages = items[0].json.pages;\nlet output = [];\n\nfor (const page of pages) {\n  let text = `Page ${page.index}\\n\\n`;\n  let markdown = page.markdown;\n\n  // Replace each image markdown with annotation text if available\n  markdown = markdown.replace(/!\\[(.*?)\\]\\((.*?)\\)/g, (match, alt, src) => {\n    const img = page.images.find(i => i.id === src || i.fileName === src);\n    if (img && img.image_annotation) {\n      const ann = JSON.parse(img.image_annotation);\n      return (\n        '{' +\n        `Image: [${img.id}]\\n` +\n        `Type: ${ann.image_type}\\n` +\n        `Short: ${ann.short_description}\\n` +\n        `Summary: ${ann.summary}\\n` +\n        '}'\n      );\n    }\n    return \"\"; // if no annotation, strip it\n  });\n\n  text += markdown.trim();\n\n  output.push({\n    json: {\n      page_index: page.index,\n      embedding_text: text,\n      images: page.images   // ✅ keep original images array\n    }\n  });\n}\n\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2736,
        352
      ],
      "id": "41d47593-ec4b-4b78-8937-863815014fbe",
      "name": "Code9"
    },
    {
      "parameters": {
        "jsCode": "// Code10 (idempotent): If input is already chunked, pass through. Otherwise perform chunking.\n// Config:\nconst DEFAULT_CHUNK_SIZE = 1500;   // desired chunk size\nconst DEFAULT_OVERLAP = 0.3;       // 30% overlap\n\n// Helpers\nfunction isAlreadyChunkedInput(items) {\n  // Heuristic: if the first item content is a JSON string with pageContent OR metadata includes chunk_index\n  if (!items || items.length === 0) return false;\n  try {\n    const first = items[0].json;\n    if (!first) return false;\n    // if content looks like already chunked object stringified\n    if (typeof first.content === 'string') {\n      const parsed = JSON.parse(first.content);\n      if (parsed && (parsed.pageContent || parsed.metadata?.chunk_index !== undefined)) {\n        return true;\n      }\n    }\n    // or if the node already has chunk metadata at top level\n    if (first.metadata && first.metadata.chunk_index !== undefined) return true;\n    // or if the input is many short items likely produced by splitter -> treat as already split\n    if (items.length > 1 && items.every(it => (it.json.content || '').length <= DEFAULT_CHUNK_SIZE)) {\n      return true;\n    }\n  } catch (e) {\n    // ignore parse errors -> assume not chunked\n  }\n  return false;\n}\n\nfunction getObjLength(obj) {\n  return (obj.content || '').length;\n}\nfunction getObjLengthofTextOnly(obj) {\n  if (obj.type === 'image_ocr') return 0;\n  return (obj.content || '').length;\n}\n\n// split with overlap for a single large text string\nfunction splitTextWithOverlap(text, chunkSize, overlap) {\n  const step = Math.max(1, Math.floor(chunkSize * (1 - overlap)));\n  const parts = [];\n  for (let start = 0; start < text.length; start += step) {\n    parts.push(text.slice(start, start + chunkSize));\n  }\n  return parts;\n}\n\n// Main chunking function which accepts an array of objects (items) and returns array of { content, metadata }\nfunction chunkPageItems(arr, source, source_id, pageNum, chunkSize = DEFAULT_CHUNK_SIZE, overlap = DEFAULT_OVERLAP) {\n  // Flatten content strings\n  const pageText = arr.map(it => it.content || '').join(' ');\n\n  // Use splitTextWithOverlap to produce chunks\n  const parts = splitTextWithOverlap(pageText, chunkSize, overlap);\n  const response = [];\n  let charPos = 0;\n  for (let i = 0; i < parts.length; i++) {\n    const part = parts[i];\n    const from = charPos;\n    const to = charPos + (part || '').length;\n    const metadata = {\n      source,\n      source_metadata_id: source_id,\n      loc: { page: pageNum, Characters: { from, to } },\n      chunk_index: i\n    };\n    response.push({\n      content: JSON.stringify({\n        pageContent: [{ type: 'text', content: part }],\n        metadata\n      })\n    });\n    charPos = to;\n  }\n  return response;\n}\n\n// --- Entrypoint ---\nconst incoming = $input.all(); // array of items from previous node\n// If already chunked, pass through (normalize if needed)\nif (isAlreadyChunkedInput(incoming)) {\n  // Optionally normalize metadata for each item if not present\n  const pass = incoming.map((it, idx) => {\n    const json = it.json || {};\n    // ensure content is stringified chunk object (if it's already an object, keep it)\n    if (typeof json.content === 'object' && json.content !== null) {\n      return { json: { content: JSON.stringify(json.content), metadata: json.metadata || {} } };\n    }\n    // if content is a raw string that's small, assume it's already a chunk\n    return { json: { content: json.content, metadata: json.metadata || { chunk_index: idx } } };\n  });\n  return pass;\n}\n\n// Otherwise: Not chunked — perform chunking based on raw document pages\n// We expect input format: first item has fields: 'Document data' (array of pages), 'Document name', and insert metadata node contains id\nconst first = incoming[0] ? incoming[0].json : {};\nconst raw = first['Document data'] || []; // array of page strings\nconst source = first['Document name'] || (first.metadata && first.metadata.source) || '';\n// fallback for source_id from Set File ID node\nlet source_id = '';\ntry {\n  source_id = $('Insert Document Metadata2').first().json.id || $('Set File ID1').first().json.file_id || '';\n} catch (e) {\n  // safe fallback\n  source_id = first.metadata?.source_metadata_id || '';\n}\n\n// Build chunks page by page\nlet allChunks = [];\nraw.forEach((pageText, pageIndex) => {\n  // pageText may be a string or array of small blocks; normalize to array of objects\n  let arr = [];\n  if (Array.isArray(pageText)) {\n    arr = pageText;\n  } else {\n    arr = [{ type: 'text', content: pageText }];\n  }\n  const pageChunks = chunkPageItems(arr, source, source_id, pageIndex + 1, DEFAULT_CHUNK_SIZE, DEFAULT_OVERLAP);\n  allChunks.push(...pageChunks);\n});\n\n// Return in n8n format\nreturn allChunks.map(c => ({ json: c }));\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3552,
        336
      ],
      "id": "0685874c-92e0-44a0-8c26-9ccd920c7d9d",
      "name": "Code10"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsMistralCloud",
      "typeVersion": 1,
      "position": [
        3696,
        560
      ],
      "id": "f397b381-c3ab-4d0b-8b90-7b5ccfa6e2e3",
      "name": "Embeddings Mistral Cloud",
      "credentials": {
        "mistralCloudApi": {
          "id": "NRp52l3NFK2olZNh",
          "name": "Mistral Cloud account dbt test"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Document data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        3392,
        336
      ],
      "id": "1db786ea-2cd9-4603-87ee-55eb1659a711",
      "name": "Aggregate"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4128,
        336
      ],
      "id": "76c9a884-5f1f-48c7-b53b-dca5027bb782",
      "name": "Wait",
      "webhookId": "3b2de32e-b543-4a03-90cd-9b05e423339a"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4352,
        32
      ],
      "id": "99e0d6dc-9cc7-416a-a970-fd77f509ddb1",
      "name": "Wait2",
      "webhookId": "a93353d9-cb90-4f0c-bdf0-423c0ae9af9d"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2544,
        336
      ],
      "id": "7537bef5-1d30-4ea2-a1a4-ec1253ddacdc",
      "name": "Wait3",
      "webhookId": "2dbecc76-246b-4613-92c2-d0581a190786"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code Node - SharePoint URL with Version Parameter\n// Use this in a \"Code\" node in n8n\n\nconst items = $input.all();\n\nconst outputItems = items.map(item => {\n  const data = item.json;\n  \n  // Use existing LinkingUrl if available\n  if (data.LinkingUrl) {\n    return {\n      json: {\n        ...data,\n        fileUrl: data.LinkingUrl\n      }\n    };\n  }\n  \n  // Construct versioned URL\n  let fileUrl = '';\n  \n  if (data.ServerRelativeUrl && data.ContentTag) {\n    // Base URL with server relative path\n    fileUrl = 'https://nosta.sharepoint.com' + data.ServerRelativeUrl;\n    \n    // Extract GUID from ContentTag and create version parameter\n    const guidMatch = data.ContentTag.match(/\\{([^}]+)\\}/);\n    if (guidMatch) {\n      const versionId = guidMatch[1].toLowerCase().replace(/-/g, '');\n      fileUrl += `?d=w${versionId}`;\n    }\n  }\n  \n  return {\n    json: {\n      ...data,\n      fileUrl: fileUrl\n    }\n  };\n});\n\nreturn outputItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        352
      ],
      "id": "7d816461-4484-4f5f-af07-1755a425be66",
      "name": "Code12"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "n8n_metadata",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -112,
        32
      ],
      "id": "eaee0a3e-dc63-4920-98f5-6af87f3fd371",
      "name": "Supabase2",
      "credentials": {
        "supabaseApi": {
          "id": "SRxOZEWNZgLbKLus",
          "name": "Supabase account dbt test RN"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4244c0ca-eef1-4674-ae75-8c7f9f06018b",
              "name": "Last_modified_date",
              "value": "={{ $json[\"Last_modified_date\"] + \"Z\" }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        32
      ],
      "id": "c6de71fa-d9b6-43e2-9cb3-4e400027ebf2",
      "name": "Edit Fields9"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "=n8n_metadata",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "title": "={{ $json.file_title }}",
            "url": "={{ $json.file_url }}",
            "sharepoint_file_id": "={{ $json.sharepoint_file_id }}",
            "id_source": "={{ $json.file_id }}",
            "last_modified_date": "={{ $json.last_modified_date }}"
          },
          "matchingColumns": [
            "id_source"
          ],
          "schema": [
            {
              "id": "id_source",
              "displayName": "id_source",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "last_modified_date",
              "displayName": "last_modified_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "sharepoint_file_id",
              "displayName": "sharepoint_file_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "sharepoint_folder_name",
              "displayName": "sharepoint_folder_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1408,
        352
      ],
      "id": "0d089dfa-f404-4a3e-aae8-b882ef073c91",
      "name": "Insert Document Metadata2",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "yGwZ0IHTkODL3IL8",
          "name": "Postgres account dbt rn"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "n8n_testmistral",
          "mode": "list",
          "cachedResultName": "n8n_testmistral"
        },
        "options": {
          "queryName": "match_n8n_testmistral"
        }
      },
      "id": "1c431895-47f5-4285-a53b-5ea36f2fe60d",
      "name": "Insert into Supabase Vectorstore2",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        3776,
        336
      ],
      "credentials": {
        "supabaseApi": {
          "id": "SRxOZEWNZgLbKLus",
          "name": "Supabase account dbt test RN"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1RveSdqizPeyalcYqR1ghsFXh6TBocJWY",
            "mode": "list",
            "cachedResultName": "nostateamkb",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1RveSdqizPeyalcYqR1ghsFXh6TBocJWY"
          }
        },
        "options": {
          "fields": [
            "id",
            "name",
            "webViewLink",
            "mimeType",
            "*"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        112,
        320
      ],
      "id": "cd8cbf73-fb28-4eb3-9f85-9c4addc6076b",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8TJAGPnMBWLtBC4X",
          "name": "Google Drive dbt rn"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id_source }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1584,
        352
      ],
      "id": "1447a08b-e355-4093-96cd-0430f9f4809c",
      "name": "Google Drive3",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8TJAGPnMBWLtBC4X",
          "name": "Google Drive dbt rn"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = (items[0].json.embedding_text || '').replace(/\\r/g, '');\n\n// Generic extractor for key-based fields\nconst getVal = (label) => {\n  // Match \"Label: value\" on same line\n  let regex = new RegExp(`${label}\\\\s*[:\\\\-–]?\\\\s*([^\\\\n]+)`, 'i');\n  let m = text.match(regex);\n  let val = m ? m[1].trim() : '';\n\n  // If still empty → look at the next line\n  if (!val) {\n    regex = new RegExp(`${label}\\\\s*[:\\\\-–]?[ \\\\t]*[\\\\n]+([^\\\\n]+)`, 'i');\n    m = text.match(regex);\n    val = m ? m[1].trim() : '';\n  }\n\n  // Clean pipes/markdown\n  val = val.replace(/^\\|/, '').replace(/\\|$/, '').trim();\n  val = val.replace(/^\\*\\*/, '').replace(/\\*\\*$/, '').trim();\n  return val;\n};\n\n// Special handling for workflow_url\nlet workflowUrl = getVal('Workflow Url');\n\n// Fallback → first http(s) link anywhere in the text\nif (!workflowUrl) {\n  const urlMatch = text.match(/https?:\\/\\/[^\\s)]+/i);\n  workflowUrl = urlMatch ? urlMatch[0].trim() : '';\n}\n\nreturn [{\n  json: {\n    workflow_name: getVal('Workflow Name'),\n    version: getVal('Version'),\n    workflow_url: workflowUrl,\n    status: getVal('Status') || getVal('Deployed At')\n  }\n}];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3040,
        336
      ],
      "id": "c4ac1f17-49a8-4b7f-b2e4-d6bbe6516a5c",
      "name": "Code1"
    },
    {
      "parameters": {
        "content": "## MISTRAL OCR\n",
        "height": 464,
        "width": 624,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1984,
        128
      ],
      "typeVersion": 1,
      "id": "6cab0515-e40f-4c0b-bab3-01df5947dd54",
      "name": "Sticky Note"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "rajeetcodeN",
    "name": "n8n_backup2"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-09-13T09:16:42.116Z",
      "createdAt": "2025-09-13T09:16:42.116Z",
      "role": "workflow:owner",
      "workflowId": "ulZz5R2E6u9PlLjq",
      "projectId": "7DfoImgKnNZiM78g"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "updatedAt": "2025-09-13T12:30:20.672Z",
      "createdAt": "2025-09-13T12:26:37.146Z",
      "id": "7qLrdUDttJCInqkb",
      "name": "ACTIVE - LATEST"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-09-22T11:48:52.000Z",
  "versionId": "cf4806aa-a83d-485a-8eef-fad199c18b06"
}