Webhook Teams.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-08T18:50:39.117Z",
    "createdAt": "2026-01-08T18:50:39.117Z",
    "versionId": "b1da598f-16b4-4e04-9c18-af122ad8b92f",
    "workflowId": "mYyT5DOgRHkcRqHX",
    "nodes": [
      {
        "parameters": {
          "model": "claude-3-5-haiku-20241022",
          "options": {
            "temperature": 0.3
          }
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
        "typeVersion": 1.2,
        "position": [
          320,
          304
        ],
        "id": "bec27ae9-0dab-4e41-b0d0-56b1ed0c2cab",
        "name": "Anthropic Chat Model3",
        "disabled": true
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('Microsoft Teams').item.json.id }}"
        },
        "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
        "typeVersion": 1.3,
        "position": [
          480,
          304
        ],
        "id": "738e2286-7da4-4ee1-9e53-36956f748b6b",
        "name": "Postgres Chat Memory2",
        "credentials": {
          "postgres": {
            "id": "Xsflb0NvPLfQMJET",
            "name": "Postgres ayan"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "resource": "chatMessage",
          "operation": "get",
          "chatId": {
            "__rl": true,
            "value": "19:6a199ef731254be5ae1839858cd3913f@thread.v2",
            "mode": "list",
            "cachedResultName": "Data Queries (group)",
            "cachedResultUrl": "https://teams.microsoft.com/l/chat/19%3A6a199ef731254be5ae1839858cd3913f%40thread.v2/0?tenantId=6c6d2fff-b2ef-46a9-94b9-5eb5ec0a7a3c"
          },
          "messageId": "={{ $json.body.message_ID }}"
        },
        "type": "n8n-nodes-base.microsoftTeams",
        "typeVersion": 2,
        "position": [
          672,
          -896
        ],
        "id": "5f8e2588-5dc3-4a82-8912-26465ba744b3",
        "name": "Microsoft Teams",
        "webhookId": "6d3848e5-2a6c-4f7c-864f-2e3237a0d430",
        "credentials": {
          "microsoftTeamsOAuth2Api": {
            "id": "hA4R7QN2OQUurkT8",
            "name": "Microsoft Teams account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.body.content }}",
          "options": {
            "systemMessage": "={\n  \"AgentName\": \"Master AI Agent for Conversational Engagement & Data Analysis Routing\",\n  \"User_FullName\": \"\"{{ $json.from.user.displayName }}\",\n  \"description\": \"This agent engages in conversations and intelligently determines when to route data requests to the SQL agent.\",\n  \"instructions\": {\n    \"behavior\": \"You are an AI-powered master agent that engages with users conversationally. If the user requests data retrieval, filtering, or analysis, delegate the query execution to the SQL agent.\",\n    \"response_handling\": {\n      \"conversation\": \"Reply naturally and conversationally to general discussions, greetings, or explanations.\",\n      \"data_analysis\": \"If the user requests structured data, formulate a structured SQL query and trigger the SQL agent.\",\n      \"unclear_requests\": \"Ask follow-up questions to clarify the user's intent before executing a query.\"\n    },\n    \"database_schema\": {\n      \"table\": \"journeys\",\n      \"fields\": [\n        \"journey_id\", \"date\", \"truck_id\", \"driver_id\", \"checked_out_time\",\n        \"checked_in_time\", \"average_speed_mph\", \"fuel_use_liters\", \"co2_use_kg\",\n        \"idle_time_minutes\", \"harsh_events\", \"deliveries_allocated\", \"deliveries_completed\",\n        \"capacity_at_departure_percent\", \"total_distance_travelled_km\", \"driving_unit\",\n        \"latitude\", \"longitude\", \"region\"\n      ]\n    },\n    \"classification_rules\": {\n      \"data_analysis\": \"If the message references database fields, structured data retrieval, or filtering, classify as 'sql_query'.\",\n      \"conversation\": \"If the message is a greeting, explanation request, or general discussion, classify as 'conversation'.\"\n    },\n    \"examples\": {\n      \"conversation\": [\n        \"Hey, how does this system work?\",\n        \"Can you explain what this database contains?\",\n        \"Tell me about the different categories of data we track.\",\n        \"What kind of reports can I generate?\",\n        \"Good morning! How are you?\",\n        \"How does fuel efficiency impact operations?\"\n      ],\n      \"data_analysis\": [\n        \"Show me all journeys from last week.\",\n        \"Retrieve the total distance traveled per truck.\",\n        \"List all deliveries completed in February.\",\n        \"Which drivers have the highest average speed?\",\n        \"Get total fuel usage for all regions.\",\n        \"Show the number of harsh events per truck.\",\n        \"What was the idle time for truck ABC123?\",\n        \"Retrieve journeys where capacity at departure was above 80%.\",\n        \"Give me the CO2 usage breakdown by region.\"\n      ]\n    },\n    \"response_format\": \"If conversation-related, respond naturally. If SQL-related, generate a structured query and trigger the SQL agent.\"\n  }\n}\n",
            "maxIterations": 10
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.7,
        "position": [
          496,
          0
        ],
        "id": "933a9930-d405-4430-a884-e8ac9da7d97b",
        "name": "Data Assistant",
        "executeOnce": true,
        "disabled": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": false,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "e9f58adc-015b-4e2b-8538-26491b64c22c",
                "leftValue": "={{ $json.from.application.applicationIdentityType }}",
                "rightValue": "bot",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {
            "ignoreCase": true
          }
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.2,
        "position": [
          832,
          -896
        ],
        "id": "d9d4de85-8151-4d0e-af5e-a12522e7a73f",
        "name": "Filter"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a868c24c-7f55-472c-b9e8-50fbd441bb42",
                "name": "Final output",
                "value": "={{ \"<p>\" + $('Re-word message').first().json.output.replace(/\\\\n/g, \"<br>\") + \"</p>\" }}\n\n\n",
                "type": "string"
              },
              {
                "id": "a7b419ad-75bd-46dd-860f-46e1d90a3688",
                "name": "",
                "value": "",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1184,
          0
        ],
        "id": "4174bc89-6482-4918-87ae-e6027d6d71f4",
        "name": "Set",
        "disabled": true
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://prod-16.uksouth.logic.azure.com:443/workflows/609d7fdea4194779882b838fa1f6ae11/triggers/manual/paths/invoke?api-version=2016-06-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=XXOZZzCudeOivvtqtNXZ5bnxHrdizF0qB7kA-At7sSY",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "message",
                "value": "={{ $json['Final output'] }}"
              }
            ]
          },
          "options": {
            "response": {}
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1392,
          0
        ],
        "id": "d3230276-2ce1-44d7-b8b7-76fbe642d7d2",
        "name": "Send response in Teams",
        "disabled": true
      },
      {
        "parameters": {
          "agent": "conversationalAgent",
          "promptType": "define",
          "text": "={{ $('Microsoft Teams').item.json.body.content }}",
          "options": {
            "systemMessage": "=#Your role: You are an expert commmunications consultant. \n\n#Context:\n\nThe data assistant has summarised their findings, which can be found here: {{ $json.output }}\n\n#Task: Review the wording from the data assistant.\n\nThen tweak it where necessary so it sounds slick, smooth and professional. Remove any information that refers to how the answer was calculated.\n\nPlease add paragraph spacing too.\n\nThen present the answer to the customer. Feel free to reference the customer's name in your response. The customer's full name is:  {{ $('Microsoft Teams').item.json.from.user.displayName }}"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.7,
        "position": [
          816,
          0
        ],
        "id": "bd96fec6-a3e4-419c-a377-18fce2d2591a",
        "name": "Re-word message",
        "disabled": true
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-4-turbo",
            "mode": "list",
            "cachedResultName": "gpt-4-turbo"
          },
          "options": {
            "responseFormat": "text",
            "temperature": 0.5
          }
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          896,
          224
        ],
        "id": "cfc8405c-ce4a-43ee-be7f-aa727eb5eb84",
        "name": "OpenAI Chat Model",
        "disabled": true
      },
      {
        "parameters": {
          "name": "SQL_tool_2",
          "description": "Call the SQL Agent whenever a user requests structured data retrieval, filtering, or analysis from the database. The SQL Agent is responsible for executing queries and returning relevant results.\n\nUse Cases for Calling the SQL Agent:\nThe user asks for specific data from the database (e.g., \"Show me all journeys from last week\").\nThe user requests aggregated insights (e.g., \"Get total fuel usage for all regions\").\nThe user wants comparisons or rankings (e.g., \"Which drivers have the highest average speed?\").\nThe user references specific database fields or metrics (e.g., \"Retrieve journeys where capacity at departure was above 80%\").\nThe user requests historical trends (e.g., \"Show me how fuel consumption has changed over the last three months\").",
          "workflowId": {
            "__rl": true,
            "value": "aoTDgOp7VDvHDtTS",
            "mode": "list",
            "cachedResultName": "AI Data Analyst — SQL agent - 3 March"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "Session_ID": "={{ $('Microsoft Teams').item.json.id }}",
              "Query": "={{ $('Microsoft Teams').item.json.body.content }}"
            },
            "matchingColumns": [
              "query"
            ],
            "schema": [
              {
                "id": "Query",
                "displayName": "Query",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "Session_ID",
                "displayName": "Session_ID",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "number",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2,
        "position": [
          640,
          304
        ],
        "id": "479c62e1-7812-4566-8c55-672c21ace757",
        "name": "SQL Query",
        "disabled": true
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "nosta-bot",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          512,
          -896
        ],
        "id": "49450677-2093-40c5-a880-2d86c9d7ac14",
        "name": "Webhook1",
        "webhookId": "a91c8029-e289-4488-981f-f4cd6c31709d"
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('Microsoft Teams').item.json.id }}",
          "contextWindowLength": 0
        },
        "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
        "typeVersion": 1.3,
        "position": [
          1088,
          224
        ],
        "id": "be10e6ba-1cde-4eb7-9507-2eec0a19b80c",
        "name": "Postgres Chat Memory1",
        "credentials": {
          "postgres": {
            "id": "Xsflb0NvPLfQMJET",
            "name": "Postgres ayan"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "model": "claude-3-5-sonnet-20241022",
          "options": {
            "maxTokensToSample": 4096,
            "temperature": 0.2,
            "topK": -1,
            "topP": 1
          }
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
        "typeVersion": 1.2,
        "position": [
          784,
          784
        ],
        "id": "3c081dd3-9518-47f6-882f-62b283ab9daa",
        "name": "Anthropic Chat Model1",
        "disabled": true
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "Query"
              },
              {
                "name": "Session_ID",
                "type": "number"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          560,
          624
        ],
        "id": "525a802a-bcdb-4d4c-97d2-978f6f317a23",
        "name": "When Executed by Another Workflow",
        "disabled": true
      },
      {
        "parameters": {
          "agent": "sqlAgent",
          "promptType": "define",
          "text": "={{ $json.Query }}",
          "options": {
            "ignoredTables": "truck_telemetry, truckjourneydata",
            "prefixPrompt": "=You are an agent designed to interact with an SQL database.\nGiven an input question, create a syntactically correct {dialect} query to run, then look at the results of the query and return the answer.\nUnless the user specifies a specific number of examples they wish to obtain, always limit your query to at most {top_k} results using the LIMIT clause.\nYou can order the results by a relevant column to return the most interesting examples in the database.\nNever query for all the columns from a specific table, only ask for a the few relevant columns given the question.\nYou have access to tools for interacting with the database.\nOnly use the below tools. Only use the information returned by the below tools to construct your final answer.\nYou MUST double check your query before executing it. If you get an error while executing a query, rewrite the query and try again.\nDouble check the data period you have access to. If you mention any other date, you are mistaken. Confirm your understanding.\n\nDO NOT make any DML statements (INSERT, UPDATE, DELETE, DROP etc.) to the database.\n\nOn some occasions, you will be given the SQL query directly, in which case you can just run straight away.\n\nIf the question does not seem related to the database, just return \"I don't know\" as the answer.\n\nToday's Date = {{ $now.format('dd-MM-yyyy') }}"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.7,
        "position": [
          784,
          624
        ],
        "id": "d769372c-a9ca-4bac-bfb3-aefcb7433999",
        "name": "SQL agent",
        "retryOnFail": false,
        "credentials": {
          "postgres": {
            "id": "Xsflb0NvPLfQMJET",
            "name": "Postgres ayan"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $json.Session_ID }}"
        },
        "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
        "typeVersion": 1.3,
        "position": [
          944,
          784
        ],
        "id": "6bc84ecc-2589-41ce-bf0e-b6ab955c90a3",
        "name": "Postgres Chat Memory",
        "disabled": true
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.body.content }}",
          "options": {
            "systemMessage": "=You are a helpful, intelligent AI support SD agent and are a proactive chat agent. Lead the conversation by asking open-ended questions and offering suggestions. Don’t wait for the user to guide the chat — keep it moving with helpful, friendly prompts. Anticipate needs, follow up thoughtfully, and make the user feel supported throughout.\n\n*Knowledge Access Instructions*\n   1. # Important: First, for every question, always use the \"Supabase Vector Store\" tool. This will return \"n8n_test\" table data which is the primary source for every questions. #\nTo get related data and images you should use this tool repeatedly.\n\n   2. Begin each query by searching only in Supabase (n8n_test). This content is primarily in German, so make sure all queries sent to Supabase are in German.\n\n   3. If relevant information is found in Supabase, respond in German by first providing the textual information, and then inserting the relevant image(s) immediately after the specific paragraph or section they relate to. Do not group images at the end of the response, and compulsory cite the internal document name and also provide the internal document url from where the information is provide.\nExample:\n\"For your reference, this information is based on the internal documentation (Andwenderdoku_Lieferplan mit Abruf manuell). For more detailed guidance, you can access the internal document using the following  URL:https://nosta.sharepoint.com/:w:/r/sites/OPEX/_layouts/15/Doc.aspx?sourcedoc=%7B6F93C686-C114-4601-8485-204480629B72%7D&file=Andwenderdoku_Lieferplan%20mit%20Abruf%20manuell.docx&action=default&mobileredirect=true\"\n\n   4. If no relevant information is found in Supabase:\nRespond to the user with:\n\"The information you requested is not available in our internal documentation. Would you like me to do a Web search?\"\n\n   5. Do NOT use web search tools automatically to perform web search.\n\n      -> Wait for the user's explicit confirmation (e.g., \"Yes\", \"Okay\", \"Please do\", etc.).\n\n   6. Only after receiving user permission, you should web search. To search the web always use both (web search 1 and web search 2 tools node) and they accept single string of English querry.\n\n  Clearly state that this is an external source.\nExample:\n\"This information comes from an external source (e.g.,from relevant website)...\"\n\n*Important Rules & Logic*\n   1. After getting permission for web search use that only for the immediate response, return to Supabase for all future queries unless the user explicitly asks for external help again.\n   2. If no data is found in Supabase or web:\n\"At the moment, there is no information available to fully address this request based on current internal and external sources.\"\n 3. Images should be placed inline, following the specific sentence or section they illustrate — not in a separate section. Use this format,\n\"![image](\"https://nsebtjqnfydjgjtigsiq.supabase.co/storage/v1/object/public/images/extracted_images/\"+ document_metadata_id + \"_\" + image_name +\")\"\n\n# important: make sure the image url starts with \"https://nsebtjqnfydjgjtigsiq.supabase.co/storage/v1/object/public/images/extracted_images/\"\n\n  example,\n![image](https://nsebtjqnfydjgjtigsiq.supabase.co/storage/v1/object/public/images/extracted_images/01b2abcd-d610-4405-aa68-8793fc2f8bd8_img-10.jpeg)\n  4. Strictly and compulsory display the internal document name and also provide the internal document url from where the information is provided everytime.\n\n*Format & Style Guidelines*\n   1. All Supabase queries must be in German and all responses to the user must be in German.\n   2. Responses must be Professional, Clear and helpful, small as possible but presise and well structured.\n  3. Only for guide/ instruction based response, follow this format:\n   • Step-by-Step Guide\n   • Things To Consider\n   • Further Understanding\nUnder \"Further Understanding,\"do not ask for related questions.Instead, write two lines in points asking users what topic to explore next based on user question and give some suggestions.\n\n**Things to Consider/Important Details/Common Pitfalls\n   •You should actively work to avoid common errors and pay close attention to important details, ensuring none are overlooked while performing the task.",
            "returnIntermediateSteps": false
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.7,
        "position": [
          1168,
          -896
        ],
        "id": "c6cd8c40-aad8-4399-828e-da42c7696418",
        "name": "SD agent"
      },
      {
        "parameters": {
          "mode": "retrieve-as-tool",
          "toolName": "documents",
          "toolDescription": "Most Important. Always Use this tool. It Uses RAG to look up information in the knowledgebase.",
          "tableName": {
            "__rl": true,
            "value": "n8n_test",
            "mode": "list",
            "cachedResultName": "n8n_test"
          },
          "topK": 15,
          "options": {
            "queryName": "match_new_function"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
        "typeVersion": 1,
        "position": [
          1216,
          -464
        ],
        "id": "c302ce62-6053-496d-9362-9ded36b1ead2",
        "name": "Supabase Vector Store",
        "credentials": {
          "supabaseApi": {
            "id": "Yeu4uGtLws8bzw5u",
            "name": "Supabase dbt ayan"
          }
        }
      },
      {
        "parameters": {
          "toolDescription": "Web Search tool only SAP websites",
          "method": "POST",
          "url": "https://api.tavily.com/search",
          "sendHeaders": true,
          "parametersHeaders": {
            "values": [
              {
                "name": "Authorization",
                "valueProvider": "fieldValue",
                "value": "Bearer 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"
              },
              {
                "name": "Content-Type",
                "valueProvider": "fieldValue",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"query\": \"{query}\",\n  \"topic\": \"general\",\n  \"search_depth\": \"advanced\",\n  \"max_results\": 20,\n  \"include_answer\": true,\n  \"include_raw_content\": false,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_domains\": [\"https://help.sap.com/docs/\",\"https://community.sap.com/\"],\n  \"exclude_domains\": []\n}",
          "placeholderDefinitions": {
            "values": [
              {
                "name": "query",
                "description": "Search Querry",
                "type": "string"
              }
            ]
          }
        },
        "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
        "typeVersion": 1.1,
        "position": [
          1696,
          -464
        ],
        "id": "77f695ca-2859-471e-a570-f8083070847b",
        "name": "Web Search 2"
      },
      {
        "parameters": {
          "toolDescription": "Web Search tool excluding SAP websites",
          "method": "POST",
          "url": "https://api.tavily.com/search",
          "sendHeaders": true,
          "parametersHeaders": {
            "values": [
              {
                "name": "Authorization",
                "valueProvider": "fieldValue",
                "value": "Bearer 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"
              },
              {
                "name": "Content-Type",
                "valueProvider": "fieldValue",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"query\": \"{query}\",\n  \"topic\": \"general\",\n  \"search_depth\": \"advanced\",\n  \"max_results\": 20,\n  \"include_answer\": true,\n  \"include_raw_content\": false,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": [\"https://help.sap.com/docs/\",\"https://community.sap.com/\"]\n}",
          "placeholderDefinitions": {
            "values": [
              {
                "name": "query",
                "description": "Search Querry",
                "type": "string"
              }
            ]
          },
          "optimizeResponse": true
        },
        "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
        "typeVersion": 1.1,
        "position": [
          1568,
          -464
        ],
        "id": "602dac02-25ad-49cf-9dd7-13e4b373ff69",
        "name": "Web Search 1"
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "Use this tool to fetch all available documents, including the table schema if the file is a CSV or Excel file.",
          "operation": "select",
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "value": "n8n_metadata",
            "mode": "list",
            "cachedResultName": "n8n_metadata"
          },
          "returnAll": true,
          "options": {}
        },
        "type": "n8n-nodes-base.postgresTool",
        "typeVersion": 2.5,
        "position": [
          976,
          -432
        ],
        "id": "a84c76d9-220c-45c1-90b1-1741196a974a",
        "name": "List Documents",
        "credentials": {
          "postgres": {
            "id": "Xsflb0NvPLfQMJET",
            "name": "Postgres ayan"
          }
        }
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "If user send \"clear\" or \"restart\" use this tool",
          "operation": "delete",
          "tableId": "n8n_chat",
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "session_id",
                "condition": "eq",
                "keyValue": "={{ $('When chat message received').item.json.sessionId }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabaseTool",
        "typeVersion": 1,
        "position": [
          1840,
          -496
        ],
        "id": "640a0694-da29-4522-bcd0-84790892d4ac",
        "name": "Supabase Memory Delete",
        "credentials": {
          "supabaseApi": {
            "id": "Yeu4uGtLws8bzw5u",
            "name": "Supabase dbt ayan"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsMistralCloud",
        "typeVersion": 1,
        "position": [
          1168,
          -256
        ],
        "id": "c085253d-f342-4681-8f19-8d10a3dfbdc3",
        "name": "Embeddings Mistral Cloud",
        "credentials": {
          "mistralCloudApi": {
            "id": "FXWAQ4fSAuPWXyZ1",
            "name": "Mistral Cloud nosta"
          }
        }
      },
      {
        "parameters": {
          "model": "mistral-large-latest",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
        "typeVersion": 1,
        "position": [
          576,
          -432
        ],
        "id": "4a4d3a96-5744-49ab-9f6f-3f25b43879c6",
        "name": "Mistral Cloud Chat Model",
        "credentials": {
          "mistralCloudApi": {
            "id": "FXWAQ4fSAuPWXyZ1",
            "name": "Mistral Cloud nosta"
          }
        }
      },
      {
        "parameters": {
          "tableName": "n8n_chat"
        },
        "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
        "typeVersion": 1.3,
        "position": [
          784,
          -448
        ],
        "id": "28d8bee5-05a5-4cb3-9659-cb39e8c376fa",
        "name": "Postgres Chat Memory3",
        "credentials": {
          "postgres": {
            "id": "Xsflb0NvPLfQMJET",
            "name": "Postgres ayan"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a868c24c-7f55-472c-b9e8-50fbd441bb42",
                "name": "Final output",
                "value": "={{ \"<p>\" + $('Re-word message1').first().json.output.replace(/\\\\n/g, \"<br>\") + \"</p>\" }}\n\n\n",
                "type": "string"
              },
              {
                "id": "a7b419ad-75bd-46dd-860f-46e1d90a3688",
                "name": "",
                "value": "",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2112,
          -896
        ],
        "id": "8725c2e5-b8b5-42d6-91f5-669bd179550f",
        "name": "Set1"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://prod-16.uksouth.logic.azure.com:443/workflows/609d7fdea4194779882b838fa1f6ae11/triggers/manual/paths/invoke?api-version=2016-06-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=XXOZZzCudeOivvtqtNXZ5bnxHrdizF0qB7kA-At7sSY",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "message",
                "value": "={{ $json['Final output'] }}"
              }
            ]
          },
          "options": {
            "response": {}
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2304,
          -896
        ],
        "id": "6fea7d98-0265-4005-b191-23c6ddb5d9f6",
        "name": "Send response in Teams1"
      },
      {
        "parameters": {
          "agent": "conversationalAgent",
          "promptType": "define",
          "text": "={{ $('Microsoft Teams').item.json.body.content }}",
          "options": {
            "systemMessage": "=#Your role: You are an expert commmunications consultant. \n\n#Context:\n\nThe data assistant has summarised their findings, which can be found here: {{ $json.output }}\n\n#Task: Review the wording from the data assistant.\n\nThen tweak it where necessary so it sounds slick, smooth and professional. Remove any information that refers to how the answer was calculated.\n\nPlease add paragraph spacing too.\n\nThen present the answer to the customer. Feel free to reference the customer's name in your response. The customer's full name is:  {{ $('Microsoft Teams').item.json.from.user.displayName }}"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.7,
        "position": [
          1760,
          -896
        ],
        "id": "10e1bc3f-0f32-4f36-9013-74cda810e339",
        "name": "Re-word message1"
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('Microsoft Teams').item.json.id }}",
          "contextWindowLength": 0
        },
        "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
        "typeVersion": 1.3,
        "position": [
          2016,
          -688
        ],
        "id": "1bfb34e6-125d-42b3-9cb4-84c96803ae3f",
        "name": "Postgres Chat Memory4",
        "credentials": {
          "postgres": {
            "id": "Xsflb0NvPLfQMJET",
            "name": "Postgres ayan"
          }
        }
      },
      {
        "parameters": {
          "model": "mistral-large-latest",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
        "typeVersion": 1,
        "position": [
          1808,
          -688
        ],
        "id": "8e987abe-ffff-4053-806f-d3bfeafe0db0",
        "name": "Mistral Cloud Chat Model1",
        "credentials": {
          "mistralCloudApi": {
            "id": "FXWAQ4fSAuPWXyZ1",
            "name": "Mistral Cloud nosta"
          }
        }
      },
      {
        "parameters": {
          "resource": "chatMessage",
          "chatId": {
            "__rl": true,
            "value": "19:meeting_NzU1NGRhNmUtMDE1Ni00ZDUwLWI3MmYtYzEyZTUxM2NjMTBm@thread.v2",
            "mode": "list",
            "cachedResultName": "Salesforce Project Discussion (meeting)",
            "cachedResultUrl": "https://teams.microsoft.com/l/chat/19%3Ameeting_NzU1NGRhNmUtMDE1Ni00ZDUwLWI3MmYtYzEyZTUxM2NjMTBm%40thread.v2/0?tenantId=7690c2b4-f1ce-4534-8417-99a1011064df"
          },
          "message": "={{ $json.output }}",
          "options": {}
        },
        "type": "n8n-nodes-base.microsoftTeams",
        "typeVersion": 2,
        "position": [
          2320,
          -1040
        ],
        "id": "0fbc3255-1c4d-4915-a104-3efc970be55f",
        "name": "Create chat message",
        "webhookId": "5332636c-9b57-4c9d-b9f3-637911ce372c",
        "credentials": {
          "microsoftTeamsOAuth2Api": {
            "id": "hA4R7QN2OQUurkT8",
            "name": "Microsoft Teams account"
          }
        }
      }
    ],
    "connections": {
      "Anthropic Chat Model3": {
        "ai_languageModel": [
          [
            {
              "node": "Data Assistant",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Postgres Chat Memory2": {
        "ai_memory": [
          [
            {
              "node": "Data Assistant",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Microsoft Teams": {
        "main": [
          [
            {
              "node": "Filter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Data Assistant": {
        "main": [
          [
            {
              "node": "Re-word message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter": {
        "main": [
          [
            {
              "node": "SD agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set": {
        "main": [
          [
            {
              "node": "Send response in Teams",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Re-word message": {
        "main": [
          [
            {
              "node": "Set",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Re-word message",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "SQL Query": {
        "ai_tool": [
          [
            {
              "node": "Data Assistant",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Webhook1": {
        "main": [
          [
            {
              "node": "Microsoft Teams",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Postgres Chat Memory1": {
        "ai_memory": [
          [
            {
              "node": "Re-word message",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Anthropic Chat Model1": {
        "ai_languageModel": [
          [
            {
              "node": "SQL agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "SQL agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Postgres Chat Memory": {
        "ai_memory": [
          [
            {
              "node": "SQL agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Supabase Vector Store": {
        "ai_tool": [
          [
            {
              "node": "SD agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Web Search 2": {
        "ai_tool": [
          [
            {
              "node": "SD agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Web Search 1": {
        "ai_tool": [
          [
            {
              "node": "SD agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "List Documents": {
        "ai_tool": [
          [
            {
              "node": "SD agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Supabase Memory Delete": {
        "ai_tool": [
          [
            {
              "node": "SD agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings Mistral Cloud": {
        "ai_embedding": [
          [
            {
              "node": "Supabase Vector Store",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Mistral Cloud Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "SD agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Postgres Chat Memory3": {
        "ai_memory": [
          [
            {
              "node": "SD agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Set1": {
        "main": [
          [
            {
              "node": "Send response in Teams1",
              "type": "main",
              "index": 0
            },
            {
              "node": "Create chat message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Re-word message1": {
        "main": [
          [
            {
              "node": "Set1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Postgres Chat Memory4": {
        "ai_memory": [
          [
            {
              "node": "Re-word message1",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "SD agent": {
        "main": [
          [
            {
              "node": "Re-word message1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Mistral Cloud Chat Model1": {
        "ai_languageModel": [
          [
            {
              "node": "Re-word message1",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null
  },
  "activeVersionId": "b1da598f-16b4-4e04-9c18-af122ad8b92f",
  "connections": {
    "Anthropic Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Data Assistant",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory2": {
      "ai_memory": [
        [
          {
            "node": "Data Assistant",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft Teams": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Assistant": {
      "main": [
        [
          {
            "node": "Re-word message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "SD agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Send response in Teams",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Re-word message": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Re-word message",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "SQL Query": {
      "ai_tool": [
        [
          {
            "node": "Data Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Microsoft Teams",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "Re-word message",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "SQL agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "SQL agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "SQL agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "SD agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Web Search 2": {
      "ai_tool": [
        [
          {
            "node": "SD agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Web Search 1": {
      "ai_tool": [
        [
          {
            "node": "SD agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "List Documents": {
      "ai_tool": [
        [
          {
            "node": "SD agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Memory Delete": {
      "ai_tool": [
        [
          {
            "node": "SD agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Mistral Cloud": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "SD agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory3": {
      "ai_memory": [
        [
          {
            "node": "SD agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Set1": {
      "main": [
        [
          {
            "node": "Send response in Teams1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create chat message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Re-word message1": {
      "main": [
        [
          {
            "node": "Set1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory4": {
      "ai_memory": [
        [
          {
            "node": "Re-word message1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "SD agent": {
      "main": [
        [
          {
            "node": "Re-word message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Re-word message1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-24T13:26:48.836Z",
  "id": "mYyT5DOgRHkcRqHX",
  "isArchived": false,
  "meta": null,
  "name": "Webhook Teams",
  "nodes": [
    {
      "parameters": {
        "model": "claude-3-5-haiku-20241022",
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        320,
        304
      ],
      "id": "bec27ae9-0dab-4e41-b0d0-56b1ed0c2cab",
      "name": "Anthropic Chat Model3",
      "disabled": true
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Microsoft Teams').item.json.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        480,
        304
      ],
      "id": "738e2286-7da4-4ee1-9e53-36956f748b6b",
      "name": "Postgres Chat Memory2",
      "credentials": {
        "postgres": {
          "id": "Xsflb0NvPLfQMJET",
          "name": "Postgres ayan"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "chatMessage",
        "operation": "get",
        "chatId": {
          "__rl": true,
          "value": "19:6a199ef731254be5ae1839858cd3913f@thread.v2",
          "mode": "list",
          "cachedResultName": "Data Queries (group)",
          "cachedResultUrl": "https://teams.microsoft.com/l/chat/19%3A6a199ef731254be5ae1839858cd3913f%40thread.v2/0?tenantId=6c6d2fff-b2ef-46a9-94b9-5eb5ec0a7a3c"
        },
        "messageId": "={{ $json.body.message_ID }}"
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        672,
        -896
      ],
      "id": "5f8e2588-5dc3-4a82-8912-26465ba744b3",
      "name": "Microsoft Teams",
      "webhookId": "6d3848e5-2a6c-4f7c-864f-2e3237a0d430",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "hA4R7QN2OQUurkT8",
          "name": "Microsoft Teams account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.content }}",
        "options": {
          "systemMessage": "={\n  \"AgentName\": \"Master AI Agent for Conversational Engagement & Data Analysis Routing\",\n  \"User_FullName\": \"\"{{ $json.from.user.displayName }}\",\n  \"description\": \"This agent engages in conversations and intelligently determines when to route data requests to the SQL agent.\",\n  \"instructions\": {\n    \"behavior\": \"You are an AI-powered master agent that engages with users conversationally. If the user requests data retrieval, filtering, or analysis, delegate the query execution to the SQL agent.\",\n    \"response_handling\": {\n      \"conversation\": \"Reply naturally and conversationally to general discussions, greetings, or explanations.\",\n      \"data_analysis\": \"If the user requests structured data, formulate a structured SQL query and trigger the SQL agent.\",\n      \"unclear_requests\": \"Ask follow-up questions to clarify the user's intent before executing a query.\"\n    },\n    \"database_schema\": {\n      \"table\": \"journeys\",\n      \"fields\": [\n        \"journey_id\", \"date\", \"truck_id\", \"driver_id\", \"checked_out_time\",\n        \"checked_in_time\", \"average_speed_mph\", \"fuel_use_liters\", \"co2_use_kg\",\n        \"idle_time_minutes\", \"harsh_events\", \"deliveries_allocated\", \"deliveries_completed\",\n        \"capacity_at_departure_percent\", \"total_distance_travelled_km\", \"driving_unit\",\n        \"latitude\", \"longitude\", \"region\"\n      ]\n    },\n    \"classification_rules\": {\n      \"data_analysis\": \"If the message references database fields, structured data retrieval, or filtering, classify as 'sql_query'.\",\n      \"conversation\": \"If the message is a greeting, explanation request, or general discussion, classify as 'conversation'.\"\n    },\n    \"examples\": {\n      \"conversation\": [\n        \"Hey, how does this system work?\",\n        \"Can you explain what this database contains?\",\n        \"Tell me about the different categories of data we track.\",\n        \"What kind of reports can I generate?\",\n        \"Good morning! How are you?\",\n        \"How does fuel efficiency impact operations?\"\n      ],\n      \"data_analysis\": [\n        \"Show me all journeys from last week.\",\n        \"Retrieve the total distance traveled per truck.\",\n        \"List all deliveries completed in February.\",\n        \"Which drivers have the highest average speed?\",\n        \"Get total fuel usage for all regions.\",\n        \"Show the number of harsh events per truck.\",\n        \"What was the idle time for truck ABC123?\",\n        \"Retrieve journeys where capacity at departure was above 80%.\",\n        \"Give me the CO2 usage breakdown by region.\"\n      ]\n    },\n    \"response_format\": \"If conversation-related, respond naturally. If SQL-related, generate a structured query and trigger the SQL agent.\"\n  }\n}\n",
          "maxIterations": 10
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        496,
        0
      ],
      "id": "933a9930-d405-4430-a884-e8ac9da7d97b",
      "name": "Data Assistant",
      "executeOnce": true,
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e9f58adc-015b-4e2b-8538-26491b64c22c",
              "leftValue": "={{ $json.from.application.applicationIdentityType }}",
              "rightValue": "bot",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        832,
        -896
      ],
      "id": "d9d4de85-8151-4d0e-af5e-a12522e7a73f",
      "name": "Filter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a868c24c-7f55-472c-b9e8-50fbd441bb42",
              "name": "Final output",
              "value": "={{ \"<p>\" + $('Re-word message').first().json.output.replace(/\\\\n/g, \"<br>\") + \"</p>\" }}\n\n\n",
              "type": "string"
            },
            {
              "id": "a7b419ad-75bd-46dd-860f-46e1d90a3688",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1184,
        0
      ],
      "id": "4174bc89-6482-4918-87ae-e6027d6d71f4",
      "name": "Set",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://prod-16.uksouth.logic.azure.com:443/workflows/609d7fdea4194779882b838fa1f6ae11/triggers/manual/paths/invoke?api-version=2016-06-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=XXOZZzCudeOivvtqtNXZ5bnxHrdizF0qB7kA-At7sSY",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json['Final output'] }}"
            }
          ]
        },
        "options": {
          "response": {}
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1392,
        0
      ],
      "id": "d3230276-2ce1-44d7-b8b7-76fbe642d7d2",
      "name": "Send response in Teams",
      "disabled": true
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={{ $('Microsoft Teams').item.json.body.content }}",
        "options": {
          "systemMessage": "=#Your role: You are an expert commmunications consultant. \n\n#Context:\n\nThe data assistant has summarised their findings, which can be found here: {{ $json.output }}\n\n#Task: Review the wording from the data assistant.\n\nThen tweak it where necessary so it sounds slick, smooth and professional. Remove any information that refers to how the answer was calculated.\n\nPlease add paragraph spacing too.\n\nThen present the answer to the customer. Feel free to reference the customer's name in your response. The customer's full name is:  {{ $('Microsoft Teams').item.json.from.user.displayName }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        816,
        0
      ],
      "id": "bd96fec6-a3e4-419c-a377-18fce2d2591a",
      "name": "Re-word message",
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4-turbo",
          "mode": "list",
          "cachedResultName": "gpt-4-turbo"
        },
        "options": {
          "responseFormat": "text",
          "temperature": 0.5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        896,
        224
      ],
      "id": "cfc8405c-ce4a-43ee-be7f-aa727eb5eb84",
      "name": "OpenAI Chat Model",
      "disabled": true
    },
    {
      "parameters": {
        "name": "SQL_tool_2",
        "description": "Call the SQL Agent whenever a user requests structured data retrieval, filtering, or analysis from the database. The SQL Agent is responsible for executing queries and returning relevant results.\n\nUse Cases for Calling the SQL Agent:\nThe user asks for specific data from the database (e.g., \"Show me all journeys from last week\").\nThe user requests aggregated insights (e.g., \"Get total fuel usage for all regions\").\nThe user wants comparisons or rankings (e.g., \"Which drivers have the highest average speed?\").\nThe user references specific database fields or metrics (e.g., \"Retrieve journeys where capacity at departure was above 80%\").\nThe user requests historical trends (e.g., \"Show me how fuel consumption has changed over the last three months\").",
        "workflowId": {
          "__rl": true,
          "value": "aoTDgOp7VDvHDtTS",
          "mode": "list",
          "cachedResultName": "AI Data Analyst — SQL agent - 3 March"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Session_ID": "={{ $('Microsoft Teams').item.json.id }}",
            "Query": "={{ $('Microsoft Teams').item.json.body.content }}"
          },
          "matchingColumns": [
            "query"
          ],
          "schema": [
            {
              "id": "Query",
              "displayName": "Query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Session_ID",
              "displayName": "Session_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        640,
        304
      ],
      "id": "479c62e1-7812-4566-8c55-672c21ace757",
      "name": "SQL Query",
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nosta-bot",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        512,
        -896
      ],
      "id": "49450677-2093-40c5-a880-2d86c9d7ac14",
      "name": "Webhook1",
      "webhookId": "a91c8029-e289-4488-981f-f4cd6c31709d"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Microsoft Teams').item.json.id }}",
        "contextWindowLength": 0
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1088,
        224
      ],
      "id": "be10e6ba-1cde-4eb7-9507-2eec0a19b80c",
      "name": "Postgres Chat Memory1",
      "credentials": {
        "postgres": {
          "id": "Xsflb0NvPLfQMJET",
          "name": "Postgres ayan"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "model": "claude-3-5-sonnet-20241022",
        "options": {
          "maxTokensToSample": 4096,
          "temperature": 0.2,
          "topK": -1,
          "topP": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        784,
        784
      ],
      "id": "3c081dd3-9518-47f6-882f-62b283ab9daa",
      "name": "Anthropic Chat Model1",
      "disabled": true
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Query"
            },
            {
              "name": "Session_ID",
              "type": "number"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        560,
        624
      ],
      "id": "525a802a-bcdb-4d4c-97d2-978f6f317a23",
      "name": "When Executed by Another Workflow",
      "disabled": true
    },
    {
      "parameters": {
        "agent": "sqlAgent",
        "promptType": "define",
        "text": "={{ $json.Query }}",
        "options": {
          "ignoredTables": "truck_telemetry, truckjourneydata",
          "prefixPrompt": "=You are an agent designed to interact with an SQL database.\nGiven an input question, create a syntactically correct {dialect} query to run, then look at the results of the query and return the answer.\nUnless the user specifies a specific number of examples they wish to obtain, always limit your query to at most {top_k} results using the LIMIT clause.\nYou can order the results by a relevant column to return the most interesting examples in the database.\nNever query for all the columns from a specific table, only ask for a the few relevant columns given the question.\nYou have access to tools for interacting with the database.\nOnly use the below tools. Only use the information returned by the below tools to construct your final answer.\nYou MUST double check your query before executing it. If you get an error while executing a query, rewrite the query and try again.\nDouble check the data period you have access to. If you mention any other date, you are mistaken. Confirm your understanding.\n\nDO NOT make any DML statements (INSERT, UPDATE, DELETE, DROP etc.) to the database.\n\nOn some occasions, you will be given the SQL query directly, in which case you can just run straight away.\n\nIf the question does not seem related to the database, just return \"I don't know\" as the answer.\n\nToday's Date = {{ $now.format('dd-MM-yyyy') }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        784,
        624
      ],
      "id": "d769372c-a9ca-4bac-bfb3-aefcb7433999",
      "name": "SQL agent",
      "retryOnFail": false,
      "credentials": {
        "postgres": {
          "id": "Xsflb0NvPLfQMJET",
          "name": "Postgres ayan"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.Session_ID }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        944,
        784
      ],
      "id": "6bc84ecc-2589-41ce-bf0e-b6ab955c90a3",
      "name": "Postgres Chat Memory",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.content }}",
        "options": {
          "systemMessage": "=You are a helpful, intelligent AI support SD agent and are a proactive chat agent. Lead the conversation by asking open-ended questions and offering suggestions. Don’t wait for the user to guide the chat — keep it moving with helpful, friendly prompts. Anticipate needs, follow up thoughtfully, and make the user feel supported throughout.\n\n*Knowledge Access Instructions*\n   1. # Important: First, for every question, always use the \"Supabase Vector Store\" tool. This will return \"n8n_test\" table data which is the primary source for every questions. #\nTo get related data and images you should use this tool repeatedly.\n\n   2. Begin each query by searching only in Supabase (n8n_test). This content is primarily in German, so make sure all queries sent to Supabase are in German.\n\n   3. If relevant information is found in Supabase, respond in German by first providing the textual information, and then inserting the relevant image(s) immediately after the specific paragraph or section they relate to. Do not group images at the end of the response, and compulsory cite the internal document name and also provide the internal document url from where the information is provide.\nExample:\n\"For your reference, this information is based on the internal documentation (Andwenderdoku_Lieferplan mit Abruf manuell). For more detailed guidance, you can access the internal document using the following  URL:https://nosta.sharepoint.com/:w:/r/sites/OPEX/_layouts/15/Doc.aspx?sourcedoc=%7B6F93C686-C114-4601-8485-204480629B72%7D&file=Andwenderdoku_Lieferplan%20mit%20Abruf%20manuell.docx&action=default&mobileredirect=true\"\n\n   4. If no relevant information is found in Supabase:\nRespond to the user with:\n\"The information you requested is not available in our internal documentation. Would you like me to do a Web search?\"\n\n   5. Do NOT use web search tools automatically to perform web search.\n\n      -> Wait for the user's explicit confirmation (e.g., \"Yes\", \"Okay\", \"Please do\", etc.).\n\n   6. Only after receiving user permission, you should web search. To search the web always use both (web search 1 and web search 2 tools node) and they accept single string of English querry.\n\n  Clearly state that this is an external source.\nExample:\n\"This information comes from an external source (e.g.,from relevant website)...\"\n\n*Important Rules & Logic*\n   1. After getting permission for web search use that only for the immediate response, return to Supabase for all future queries unless the user explicitly asks for external help again.\n   2. If no data is found in Supabase or web:\n\"At the moment, there is no information available to fully address this request based on current internal and external sources.\"\n 3. Images should be placed inline, following the specific sentence or section they illustrate — not in a separate section. Use this format,\n\"![image](\"https://nsebtjqnfydjgjtigsiq.supabase.co/storage/v1/object/public/images/extracted_images/\"+ document_metadata_id + \"_\" + image_name +\")\"\n\n# important: make sure the image url starts with \"https://nsebtjqnfydjgjtigsiq.supabase.co/storage/v1/object/public/images/extracted_images/\"\n\n  example,\n![image](https://nsebtjqnfydjgjtigsiq.supabase.co/storage/v1/object/public/images/extracted_images/01b2abcd-d610-4405-aa68-8793fc2f8bd8_img-10.jpeg)\n  4. Strictly and compulsory display the internal document name and also provide the internal document url from where the information is provided everytime.\n\n*Format & Style Guidelines*\n   1. All Supabase queries must be in German and all responses to the user must be in German.\n   2. Responses must be Professional, Clear and helpful, small as possible but presise and well structured.\n  3. Only for guide/ instruction based response, follow this format:\n   • Step-by-Step Guide\n   • Things To Consider\n   • Further Understanding\nUnder \"Further Understanding,\"do not ask for related questions.Instead, write two lines in points asking users what topic to explore next based on user question and give some suggestions.\n\n**Things to Consider/Important Details/Common Pitfalls\n   •You should actively work to avoid common errors and pay close attention to important details, ensuring none are overlooked while performing the task.",
          "returnIntermediateSteps": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1168,
        -896
      ],
      "id": "c6cd8c40-aad8-4399-828e-da42c7696418",
      "name": "SD agent"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "documents",
        "toolDescription": "Most Important. Always Use this tool. It Uses RAG to look up information in the knowledgebase.",
        "tableName": {
          "__rl": true,
          "value": "n8n_test",
          "mode": "list",
          "cachedResultName": "n8n_test"
        },
        "topK": 15,
        "options": {
          "queryName": "match_new_function"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        1216,
        -464
      ],
      "id": "c302ce62-6053-496d-9362-9ded36b1ead2",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "Yeu4uGtLws8bzw5u",
          "name": "Supabase dbt ayan"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Web Search tool only SAP websites",
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Authorization",
              "valueProvider": "fieldValue",
              "value": "Bearer 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"
            },
            {
              "name": "Content-Type",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"{query}\",\n  \"topic\": \"general\",\n  \"search_depth\": \"advanced\",\n  \"max_results\": 20,\n  \"include_answer\": true,\n  \"include_raw_content\": false,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_domains\": [\"https://help.sap.com/docs/\",\"https://community.sap.com/\"],\n  \"exclude_domains\": []\n}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "query",
              "description": "Search Querry",
              "type": "string"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1696,
        -464
      ],
      "id": "77f695ca-2859-471e-a570-f8083070847b",
      "name": "Web Search 2"
    },
    {
      "parameters": {
        "toolDescription": "Web Search tool excluding SAP websites",
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Authorization",
              "valueProvider": "fieldValue",
              "value": "Bearer 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"
            },
            {
              "name": "Content-Type",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"{query}\",\n  \"topic\": \"general\",\n  \"search_depth\": \"advanced\",\n  \"max_results\": 20,\n  \"include_answer\": true,\n  \"include_raw_content\": false,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": [\"https://help.sap.com/docs/\",\"https://community.sap.com/\"]\n}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "query",
              "description": "Search Querry",
              "type": "string"
            }
          ]
        },
        "optimizeResponse": true
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1568,
        -464
      ],
      "id": "602dac02-25ad-49cf-9dd7-13e4b373ff69",
      "name": "Web Search 1"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to fetch all available documents, including the table schema if the file is a CSV or Excel file.",
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_metadata",
          "mode": "list",
          "cachedResultName": "n8n_metadata"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.5,
      "position": [
        976,
        -432
      ],
      "id": "a84c76d9-220c-45c1-90b1-1741196a974a",
      "name": "List Documents",
      "credentials": {
        "postgres": {
          "id": "Xsflb0NvPLfQMJET",
          "name": "Postgres ayan"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "If user send \"clear\" or \"restart\" use this tool",
        "operation": "delete",
        "tableId": "n8n_chat",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "session_id",
              "condition": "eq",
              "keyValue": "={{ $('When chat message received').item.json.sessionId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        1840,
        -496
      ],
      "id": "640a0694-da29-4522-bcd0-84790892d4ac",
      "name": "Supabase Memory Delete",
      "credentials": {
        "supabaseApi": {
          "id": "Yeu4uGtLws8bzw5u",
          "name": "Supabase dbt ayan"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsMistralCloud",
      "typeVersion": 1,
      "position": [
        1168,
        -256
      ],
      "id": "c085253d-f342-4681-8f19-8d10a3dfbdc3",
      "name": "Embeddings Mistral Cloud",
      "credentials": {
        "mistralCloudApi": {
          "id": "FXWAQ4fSAuPWXyZ1",
          "name": "Mistral Cloud nosta"
        }
      }
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        576,
        -432
      ],
      "id": "4a4d3a96-5744-49ab-9f6f-3f25b43879c6",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "FXWAQ4fSAuPWXyZ1",
          "name": "Mistral Cloud nosta"
        }
      }
    },
    {
      "parameters": {
        "tableName": "n8n_chat"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        784,
        -448
      ],
      "id": "28d8bee5-05a5-4cb3-9659-cb39e8c376fa",
      "name": "Postgres Chat Memory3",
      "credentials": {
        "postgres": {
          "id": "Xsflb0NvPLfQMJET",
          "name": "Postgres ayan"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a868c24c-7f55-472c-b9e8-50fbd441bb42",
              "name": "Final output",
              "value": "={{ \"<p>\" + $('Re-word message1').first().json.output.replace(/\\\\n/g, \"<br>\") + \"</p>\" }}\n\n\n",
              "type": "string"
            },
            {
              "id": "a7b419ad-75bd-46dd-860f-46e1d90a3688",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2112,
        -896
      ],
      "id": "8725c2e5-b8b5-42d6-91f5-669bd179550f",
      "name": "Set1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://prod-16.uksouth.logic.azure.com:443/workflows/609d7fdea4194779882b838fa1f6ae11/triggers/manual/paths/invoke?api-version=2016-06-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=XXOZZzCudeOivvtqtNXZ5bnxHrdizF0qB7kA-At7sSY",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json['Final output'] }}"
            }
          ]
        },
        "options": {
          "response": {}
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2304,
        -896
      ],
      "id": "6fea7d98-0265-4005-b191-23c6ddb5d9f6",
      "name": "Send response in Teams1"
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={{ $('Microsoft Teams').item.json.body.content }}",
        "options": {
          "systemMessage": "=#Your role: You are an expert commmunications consultant. \n\n#Context:\n\nThe data assistant has summarised their findings, which can be found here: {{ $json.output }}\n\n#Task: Review the wording from the data assistant.\n\nThen tweak it where necessary so it sounds slick, smooth and professional. Remove any information that refers to how the answer was calculated.\n\nPlease add paragraph spacing too.\n\nThen present the answer to the customer. Feel free to reference the customer's name in your response. The customer's full name is:  {{ $('Microsoft Teams').item.json.from.user.displayName }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1760,
        -896
      ],
      "id": "10e1bc3f-0f32-4f36-9013-74cda810e339",
      "name": "Re-word message1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Microsoft Teams').item.json.id }}",
        "contextWindowLength": 0
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        2016,
        -688
      ],
      "id": "1bfb34e6-125d-42b3-9cb4-84c96803ae3f",
      "name": "Postgres Chat Memory4",
      "credentials": {
        "postgres": {
          "id": "Xsflb0NvPLfQMJET",
          "name": "Postgres ayan"
        }
      }
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        1808,
        -688
      ],
      "id": "8e987abe-ffff-4053-806f-d3bfeafe0db0",
      "name": "Mistral Cloud Chat Model1",
      "credentials": {
        "mistralCloudApi": {
          "id": "FXWAQ4fSAuPWXyZ1",
          "name": "Mistral Cloud nosta"
        }
      }
    },
    {
      "parameters": {
        "resource": "chatMessage",
        "chatId": {
          "__rl": true,
          "value": "19:meeting_NzU1NGRhNmUtMDE1Ni00ZDUwLWI3MmYtYzEyZTUxM2NjMTBm@thread.v2",
          "mode": "list",
          "cachedResultName": "Salesforce Project Discussion (meeting)",
          "cachedResultUrl": "https://teams.microsoft.com/l/chat/19%3Ameeting_NzU1NGRhNmUtMDE1Ni00ZDUwLWI3MmYtYzEyZTUxM2NjMTBm%40thread.v2/0?tenantId=7690c2b4-f1ce-4534-8417-99a1011064df"
        },
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        2320,
        -1040
      ],
      "id": "0fbc3255-1c4d-4915-a104-3efc970be55f",
      "name": "Create chat message",
      "webhookId": "5332636c-9b57-4c9d-b9f3-637911ce372c",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "hA4R7QN2OQUurkT8",
          "name": "Microsoft Teams account"
        }
      }
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "rajeetcodeN",
    "name": "n8n_backup2"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-09-24T13:26:48.840Z",
      "createdAt": "2025-09-24T13:26:48.840Z",
      "role": "workflow:owner",
      "workflowId": "mYyT5DOgRHkcRqHX",
      "projectId": "7DfoImgKnNZiM78g"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-09-29T18:43:57.000Z",
  "versionId": "b1da598f-16b4-4e04-9c18-af122ad8b92f"
}