website agent.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-08T18:50:39.117Z",
    "createdAt": "2026-01-08T18:50:39.117Z",
    "versionId": "28d2c0e7-0d7e-4f84-b84d-e4a854631f64",
    "workflowId": "aJD1vsgtLuPoMFKr",
    "nodes": [
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsMistralCloud",
        "typeVersion": 1,
        "position": [
          -560,
          2288
        ],
        "id": "1c0085bb-fc48-40cb-8154-c73d46b4d86b",
        "name": "Embeddings Mistral Cloud1",
        "credentials": {
          "mistralCloudApi": {
            "id": "FXWAQ4fSAuPWXyZ1",
            "name": "Mistral Cloud nosta"
          }
        }
      },
      {
        "parameters": {
          "mode": "retrieve-as-tool",
          "toolName": "documents",
          "toolDescription": "Use RAG to look up information in the knowledgebase.",
          "tableName": {
            "__rl": true,
            "value": "website_mark",
            "mode": "list",
            "cachedResultName": "website_mark"
          },
          "topK": 10,
          "options": {
            "queryName": "match_website_mark"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
        "typeVersion": 1,
        "position": [
          -192,
          2256
        ],
        "id": "a5fc932f-408f-49dd-b982-4bae89b41325",
        "name": "Supabase Vector Store1",
        "credentials": {
          "supabaseApi": {
            "id": "SRxOZEWNZgLbKLus",
            "name": "Supabase account dbt test RN"
          }
        }
      },
      {
        "parameters": {
          "model": "mistral-medium-latest",
          "options": {
            "temperature": 0.6
          }
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
        "typeVersion": 1,
        "position": [
          -896,
          2192
        ],
        "id": "42f7bf7c-e86a-4024-8ccc-0609e37fb791",
        "name": "Mistral Cloud Chat Model1",
        "credentials": {
          "mistralCloudApi": {
            "id": "FXWAQ4fSAuPWXyZ1",
            "name": "Mistral Cloud nosta"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "9a9a245e-f1a1-4282-bb02-a81ffe629f0f",
                "name": "chatInput",
                "value": "={{ $json?.chatInput || $json.body.chatInput }}",
                "type": "string"
              },
              {
                "id": "b80831d8-c653-4203-8706-adedfdb98f77",
                "name": "sessionId",
                "value": "={{ $json?.sessionId || $json.body.sessionId}}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "4111b694-a801-4ea2-aa35-59845531b872",
        "name": "Edit Fields5",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -672,
          1824
        ]
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsMistralCloud",
        "typeVersion": 1,
        "position": [
          -144,
          2496
        ],
        "id": "468d7d26-0bf3-4039-9bea-3b3320fa4a83",
        "name": "Embeddings Mistral Cloud3",
        "credentials": {
          "mistralCloudApi": {
            "id": "FXWAQ4fSAuPWXyZ1",
            "name": "Mistral Cloud nosta"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.chatInput }}",
          "options": {
            "systemMessage": "=##Persona\nYou are a helpful, intelligent AI support you task is to Assist agent for our employees at nosta who are in touch with customers to get live information / support while being in a conversation. Lead the conversation by asking open-ended questions and offering suggestions. Don’t wait for the user to guide the chat — keep it moving with helpful, friendly prompts. Anticipate needs, follow up thoughtfully, and make the user feel supported throughout.\n\n##Knowledge Access Instructions\n#Primary Source: For every user question, always use the Supabase store (website_mark) as the primary source.\nfor each query by always  serach Supabase (website_mark).\n\n#secondary source : For  user question were data from primary source is not enough or in complete use secondary source (nosta_siteembed) as a sourcetry to use this to enchance answers each time.\n\nSupabase Found: If relevant information is found in Supabase:\n\nRespond in English.\n\nProvide the textual information first.\n\nyou will also provide url and realted topic and title\n\nExample:\n\"For your reference, this information is based on give nosta webpage.\n\nSupabase Not Found: If no relevant information is found in Supabase, respond to the user with:\n\n\"The information you requested is not available in our internal documentation. Would you like me to do a Web search?\"\n\nWeb Search Permission:\n\nDo NOT use web search tools automatically.\n\nWait for the user's explicit confirmation (e.g., \"Yes\", \"Okay\", \"Please do\", etc.).\n\nPerforming a Web Search:\n\nOnly after receiving user permission, perform a web search.\n\nUse both web search 1 and web search 2 tools.\n\nQueries must be a single string in English.\n\nClearly state that the information is from an external source.\n\nExample:\n\"This information comes from an external source (e.g., from a relevant website)...\"\n\nImportant Rules & Logic\nSearch Scope: After getting permission for a web search, use it only for the immediate response. Return to using Supabase for all subsequent queries unless the user explicitly asks for external help again.\n\nNo Data Found: If no data is found in Supabase or the web, respond with:\n\n\"At the moment, there is no information available to fully address this request based on current internal and external sources.\"\n\n\n## 🔹 Tone\n- **Professional, clear, and helpful.**  \n- **Concise** but always **precise, detailed, and well-structured**.  \n- Ensure explanations are **easy to understand** while remaining **knowledgeable**.  \n\n---\n\n## 🔹 Instructional Format\nFor **guide or instruction-based responses**, always use the following structure ,order can be changed depending upon user query:\n\n### Step-by-Step Guide\n- Provide a **detailed breakdown** of the task or explanation.  \n- Include **all relevant details** with examples, data, or structured steps.  \n\n### Things to Consider\n- Highlight **important details**.  \n- Call out **common pitfalls or errors** to avoid.  \n- Share **key insights** that improve accuracy and clarity.  \n\n### Explanation\n- Provide a **clear, professional explanation** of the main subject.  \n- Break down **complex terms or processes** into simple, digestible points.  \n- Always connect the explanation directly back to **Nosta**.  \n\n### Further Understanding\n- Instead of asking questions, provide **two related topics** the user can explore next.  \n- Example:  \n  - Impact of Nosta’s innovations on supply chain optimization.  \n  - Role of CNC machining in medical technology.  \n\n### Related Topics\n- Always suggest at least **2 related topics** with:  \n  - A **brief description** of why they are relevant.  \n  - A **URL to the primary source** (if available).  \n- Example:  \n  - **Nosta’s role in the automotive sector** — [Source](https://www.nosta.de/automotive)  \n  - **Sustainability practices in logistics** — [Source](https://www.nosta.de/sustainability)  \n\n---\n\n## 🔹 Things to Consider / Important Details\n- **Never overlook critical details** — accuracy and completeness are essential.  \n- Always ensure content is:  \n  - Very detailed** but **brief in wording** (no fluff).  \n  - Well-structured** (use headings, bullet points, timelines, or tables). \n  - even in bullet point try to give explaination for each point.\n  - Directly related to Nosta** (company, products, industry, or operations).  \n\n---\n\n\n## 🔹 Instruction\n- For each query:  \n  - Always use the **Supabase store (`website_mark`) as the **primary source.  \n  - Supplement with the secondary source (`nosta_siteembed`) to enrich responses.  \n ##for each query  always use the Supabase store (website_mark) also try to use secondary source (nosta_siteembed) to improve responds.\n\n---\n\n## Output Guidelines\n- Outputs must always be:  \n  - Detailed, brief, well-structured, and easy to understand.**  \n  - Knowledgeable and fact-based.  \n  - Directly connected to Nosta.\n  - don't create url on your own only show url from source.\n  - guide user to how to navigate to that page and page url for particular data.\n  - answer should  be precise answers based on user query\n\n### Formatting Rules\n- Bullet points*→ for quick facts, key highlights.  \n- Timelines→ for historical events, evolution, or milestones.  \n- Tables** → for comparisons, structured data.  \n-answer need  to be short only few sentence and precise  give  detail answer if only user ask for it.\n### Sources\n- Always include the **source URL**.  \n- For secondary data, also include the **primary source link.  \n- sometime data will have such ![Agricultural and Construction Machinery](https://www.nosta.com/wp-content/uploads/2025/06/nosta-branchenloesungen-land-baumaschinen-slider-1640x1093.jpg) image show them to user but those coming from primary source only.\n\n",
            "returnIntermediateSteps": false
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.7,
        "position": [
          -448,
          1824
        ],
        "id": "a3b8a6d0-eab9-4fb3-aba2-459f15a74308",
        "name": "nosta site bot1"
      },
      {
        "parameters": {
          "public": true,
          "initialMessages": "Brauchen Sie Unterstützung? Fragen Sie einfach – ich bin hier, um Sie auf jedem Schritt zu begleiten!",
          "options": {
            "subtitle": "",
            "title": "Willkommen bei Nosta!  website agent",
            "customCss": ":root {\n  /* Brand Colors (Nosta) */\n  --chat--color-primary: #009EE3; /* Nosta Azure‑blue */\n  --chat--color-primary-shade-50: #007bb8;\n  --chat--color-primary-shade-100: #005d8f;\n  --chat--color-secondary: #582DC6; /* Nosta Violet accent */\n  --chat--color-secondary-shade-50: #461fa1;\n  --chat--color-secondary-shade-100: #36197a;\n  --chat--color-white: #FFFFFF;\n  --chat--color-light: #E4E4E4; /* light grey surfaces & borders */\n  --chat--color-light-shade-50: #d1d1d1;\n  --chat--color-light-shade-100: #bdbdbd;\n  --chat--color-medium: #B5BCC9;\n  --chat--color-dark: #000000; /* solid black text */\n  --chat--color-disabled: #9FA6B2;\n  --chat--color-typing: #555555;\n  --chat--header-height: 4rem;\n\n  /* Layout & Fonts */\n  --chat--spacing: 1rem;\n  --chat--border-radius: 0.5rem;\n  --chat--font-family: 'Roboto', system-ui, sans-serif;\n  --chat--heading-font-family: 'Poppins', system-ui, sans-serif;\n\n  /* Window */\n  --chat--window--width: 420px;\n  --chat--window--height: 600px;\n  --chat--window--z-index: 9999;\n  --chat--window--border: 1px solid var(--chat--color-light-shade-100);\n  --chat--window--border-radius: var(--chat--border-radius);\n\n  /* Header */\n  --chat--header--padding: 0.75rem;                    /* 50% less height */\n  --chat--header--background: var(--chat--color-primary-shade-100); /* deeper blue */\n  --chat--header--color: var(--chat--color-white);\n  --chat--heading--font-size: 1.8em;\n  --chat--subtitle--font-size: 1rem;\n  --chat--subtitle--line-height: 1.5;\n\n  /* Messages */\n  --chat--message--font-size: 1rem;\n  --chat--message--padding: 0.8rem 1rem;\n  --chat--message--border-radius: var(--chat--border-radius);\n  --chat--message--margin-bottom: 0.35rem; /* less spacing */\n  --chat--message-line-height: 1.6;\n  --chat--message--bot--background: #97979738;\n  --chat--message--bot--color: var(--chat--color-dark);\n  --chat--message--user--background: var(--chat--color-primary);\n  --chat--message--user--color: var(--chat--color-white);\n  --chat--message--pre--background: #e8ecf1;\n\n  /* Input */\n  --chat--textarea--height: 52px;\n  --chat--input--background: var(--chat--color-white);\n  --chat--input--text-color: var(--chat--color-dark);\n  --chat--input--padding: 0.75rem 1rem;\n  --chat--input--border: 1px solid var(--chat--color-light-shade-50);\n  --chat--input--border-radius: var(--chat--border-radius);\n\n  /* Buttons */\n  --chat--button--background: var(--chat--color-secondary);\n  --chat--button--color: var(--chat--color-white);\n  --chat--button--hover--background: var(--chat--color-secondary-shade-50);\n  --chat--button--hover--color: var(--chat--color-white);\n  --chat--button--padding: 0.5rem 1.2rem;\n  --chat--button--border-radius: var(--chat--border-radius);\n\n  /* Footer */\n  --chat--body--background: var(--chat--color-light);\n  --chat--footer--background: var(--chat--color-white);\n  --chat--footer--color: var(--chat--color-dark);\n}\n\n/* Structure */\nbody {\n  margin: 0;\n  font-family: var(--chat--font-family);\n  background: var(--chat--body--background);\n}\n\n.chat-window {\n  width: var(--chat--window--width);\n  height: var(--chat--window--height);\n  margin: 2rem auto;\n  border: var(--chat--window--border);\n  border-radius: var(--chat--window--border-radius);\n  display: flex;\n  flex-direction: column;\n  overflow: hidden;\n  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);\n}\n\n.chat-layout .chat-header {\n    background-repeat: no-repeat;\n    background-size: contain;\n    background-position: right center;\n    background-image: url(https://www.nosta.com/wp-content/themes/kd-theme/resources/img/nosta.jpg);\n    display: flex;\n    flex-direction: row;\n    justify-content: space-evenly;\n    align-items: center;\n    gap: 1em;\n    height: var(--chat--header-height);\n    padding: var(--chat--header--padding);\n    background-color: var(--chat--header--background);\n    color: var(--chat--header--color);\n    border-top: var(--chat--header--border-top);\n    border-bottom: var(--chat--header--border-bottom);\n    border-left: var(--chat--header--border-left);\n    border-right: var(--chat--header--border-right);\n}\n\n.chat-logo {\n  height: 40px;\n  width: auto;\n}\n\n.chat-header-text h1 {\n  margin: 0;\n  font-family: var(--chat--heading-font-family);\n  font-weight: 600;\n  font-size: var(--chat--heading--font-size);\n  text-transform: uppercase;\n  letter-spacing: 0.05em;\n}\n\n.chat-header-text p {\n  margin: 0.25rem 0 0;\n  font-size: var(--chat--subtitle--font-size);\n  line-height: var(--chat--subtitle--line-height);\n}\n\n/* Chat body */\n.chat-body {\n  flex: 1;\n  padding: var(--chat--spacing);\n  background: var(--chat--body--background);\n  overflow-y: auto;\n}\n\n.chat-message {\n  padding: var(--chat--message--padding);\n  margin-bottom: var(--chat--message--margin-bottom);\n  border-radius: var(--chat--message--border-radius);\n  font-size: var(--chat--message--font-size);\n  line-height: var(--chat--message-line-height);\n  max-width: 80%;\n  box-shadow: 0px 5px 9px 3px rgb(0 0 0 / 12%);\n  width: fit-content;\n}\n\n.chat-message.bot {\n  background: var(--chat--message--bot--background);\n  color: var(--chat--message--bot--color);\n  border-left: 3px solid var(--chat--color-primary);\n}\n\n.chat-message.user {\n  background: var(--chat--message--user--background);\n  color: var(--chat--message--user--color);\n  border-left: 3px solid var(--chat--color-secondary);\n  margin-left: auto;\n}\n\n/* Footer */\n.chat-footer {\n  background: var(--chat--footer--background);\n  padding: 0.5rem 1rem;\n  border-top: 1px solid var(--chat--color-light-shade-100);\n  display: flex;\n  align-items: center;\n  gap: 0.5rem;\n}\n\n.chat-footer textarea {\n  flex-grow: 1;\n  resize: none;\n  padding: var(--chat--input--padding);\n  height: var(--chat--textarea--height);\n  border: var(--chat--input--border);\n  border-radius: var(--chat--input--border-radius);\n  font-family: var(--chat--font-family);\n  font-size: 1rem;\n  color: var(--chat--input--text-color);\n  background: var(--chat--input--background);\n}\n\n.chat-send-button {\n  background: var(--chat--button--background);\n  color: var(--chat--button--color);\n  border: none;\n  padding: var(--chat--button--padding);\n  border-radius: var(--chat--button--border-radius);\n  font-size: 1.25rem;\n  cursor: pointer;\n  transition: background 0.2s;\n}\n\n.chat-send-button:hover {\n  background: var(--chat--button--hover--background);\n}\n\n/* USE THIS UPDATED RULE FOR THE IMAGE */\n.chat-message-markdown img {\n  display: block;       /* Treat the image as a block element */\n  margin-left: auto;    /* Automatically calculate left margin */\n  margin-right: auto;   /* Automatically calculate right margin */\n  max-width: 95%;\n  max-height: 350px;\n  height: auto;\n  border-radius: var(--chat--border-radius);\n  margin-top: 0.5rem;\n}"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.chatTrigger",
        "typeVersion": 1.3,
        "position": [
          -1072,
          1824
        ],
        "id": "fd985161-1692-4b05-9326-2ef74e91dd54",
        "name": "When chat message received",
        "webhookId": "d6c280f6-90c6-40da-9fd2-8cc93ac5691f"
      },
      {
        "parameters": {
          "mode": "retrieve-as-tool",
          "toolName": "secondarysource",
          "toolDescription": "Use RAG to look up information in the knowledgebase.",
          "tableName": {
            "__rl": true,
            "value": "nosta_siteembed",
            "mode": "list",
            "cachedResultName": "nosta_siteembed"
          },
          "topK": 5,
          "options": {
            "queryName": "match_nosta_siteembed"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
        "typeVersion": 1,
        "position": [
          -576,
          2160
        ],
        "id": "fa526ca9-938d-4770-a684-a57ff3e55eab",
        "name": "secondary source",
        "credentials": {
          "supabaseApi": {
            "id": "SRxOZEWNZgLbKLus",
            "name": "Supabase account dbt test RN"
          }
        }
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "chatInput"
              },
              {
                "name": "sessionId"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -1072,
          1648
        ],
        "id": "b98a0b41-fbf2-41df-913a-f05a1e185f3d",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "2bb88761-54cb-49b5-9c92-f15c14cc36b6",
          "responseMode": "lastNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -1056,
          1984
        ],
        "id": "6e8bfe34-49ea-424f-b784-9a85e49cad90",
        "name": "Webhook",
        "webhookId": "2bb88761-54cb-49b5-9c92-f15c14cc36b6"
      }
    ],
    "connections": {
      "Embeddings Mistral Cloud1": {
        "ai_embedding": [
          [
            {
              "node": "secondary source",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Supabase Vector Store1": {
        "ai_tool": [
          [
            {
              "node": "nosta site bot1",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Mistral Cloud Chat Model1": {
        "ai_languageModel": [
          [
            {
              "node": "nosta site bot1",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields5": {
        "main": [
          [
            {
              "node": "nosta site bot1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings Mistral Cloud3": {
        "ai_embedding": [
          [
            {
              "node": "Supabase Vector Store1",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "When chat message received": {
        "main": [
          [
            {
              "node": "Edit Fields5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "secondary source": {
        "ai_tool": [
          [
            {
              "node": "nosta site bot1",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Edit Fields5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Edit Fields5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null
  },
  "activeVersionId": "28d2c0e7-0d7e-4f84-b84d-e4a854631f64",
  "connections": {
    "Embeddings Mistral Cloud1": {
      "ai_embedding": [
        [
          {
            "node": "secondary source",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "nosta site bot1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "nosta site bot1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "nosta site bot1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Mistral Cloud3": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "secondary source": {
      "ai_tool": [
        [
          {
            "node": "nosta site bot1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-13T12:04:55.387Z",
  "id": "aJD1vsgtLuPoMFKr",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "website agent",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsMistralCloud",
      "typeVersion": 1,
      "position": [
        -560,
        2288
      ],
      "id": "1c0085bb-fc48-40cb-8154-c73d46b4d86b",
      "name": "Embeddings Mistral Cloud1",
      "credentials": {
        "mistralCloudApi": {
          "id": "FXWAQ4fSAuPWXyZ1",
          "name": "Mistral Cloud nosta"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "documents",
        "toolDescription": "Use RAG to look up information in the knowledgebase.",
        "tableName": {
          "__rl": true,
          "value": "website_mark",
          "mode": "list",
          "cachedResultName": "website_mark"
        },
        "topK": 10,
        "options": {
          "queryName": "match_website_mark"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        -192,
        2256
      ],
      "id": "a5fc932f-408f-49dd-b982-4bae89b41325",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "SRxOZEWNZgLbKLus",
          "name": "Supabase account dbt test RN"
        }
      }
    },
    {
      "parameters": {
        "model": "mistral-medium-latest",
        "options": {
          "temperature": 0.6
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -896,
        2192
      ],
      "id": "42f7bf7c-e86a-4024-8ccc-0609e37fb791",
      "name": "Mistral Cloud Chat Model1",
      "credentials": {
        "mistralCloudApi": {
          "id": "FXWAQ4fSAuPWXyZ1",
          "name": "Mistral Cloud nosta"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9a9a245e-f1a1-4282-bb02-a81ffe629f0f",
              "name": "chatInput",
              "value": "={{ $json?.chatInput || $json.body.chatInput }}",
              "type": "string"
            },
            {
              "id": "b80831d8-c653-4203-8706-adedfdb98f77",
              "name": "sessionId",
              "value": "={{ $json?.sessionId || $json.body.sessionId}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4111b694-a801-4ea2-aa35-59845531b872",
      "name": "Edit Fields5",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -672,
        1824
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsMistralCloud",
      "typeVersion": 1,
      "position": [
        -144,
        2496
      ],
      "id": "468d7d26-0bf3-4039-9bea-3b3320fa4a83",
      "name": "Embeddings Mistral Cloud3",
      "credentials": {
        "mistralCloudApi": {
          "id": "FXWAQ4fSAuPWXyZ1",
          "name": "Mistral Cloud nosta"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=##Persona\nYou are a helpful, intelligent AI support you task is to Assist agent for our employees at nosta who are in touch with customers to get live information / support while being in a conversation. Lead the conversation by asking open-ended questions and offering suggestions. Don’t wait for the user to guide the chat — keep it moving with helpful, friendly prompts. Anticipate needs, follow up thoughtfully, and make the user feel supported throughout.\n\n##Knowledge Access Instructions\n#Primary Source: For every user question, always use the Supabase store (website_mark) as the primary source.\nfor each query by always  serach Supabase (website_mark).\n\n#secondary source : For  user question were data from primary source is not enough or in complete use secondary source (nosta_siteembed) as a sourcetry to use this to enchance answers each time.\n\nSupabase Found: If relevant information is found in Supabase:\n\nRespond in English.\n\nProvide the textual information first.\n\nyou will also provide url and realted topic and title\n\nExample:\n\"For your reference, this information is based on give nosta webpage.\n\nSupabase Not Found: If no relevant information is found in Supabase, respond to the user with:\n\n\"The information you requested is not available in our internal documentation. Would you like me to do a Web search?\"\n\nWeb Search Permission:\n\nDo NOT use web search tools automatically.\n\nWait for the user's explicit confirmation (e.g., \"Yes\", \"Okay\", \"Please do\", etc.).\n\nPerforming a Web Search:\n\nOnly after receiving user permission, perform a web search.\n\nUse both web search 1 and web search 2 tools.\n\nQueries must be a single string in English.\n\nClearly state that the information is from an external source.\n\nExample:\n\"This information comes from an external source (e.g., from a relevant website)...\"\n\nImportant Rules & Logic\nSearch Scope: After getting permission for a web search, use it only for the immediate response. Return to using Supabase for all subsequent queries unless the user explicitly asks for external help again.\n\nNo Data Found: If no data is found in Supabase or the web, respond with:\n\n\"At the moment, there is no information available to fully address this request based on current internal and external sources.\"\n\n\n## 🔹 Tone\n- **Professional, clear, and helpful.**  \n- **Concise** but always **precise, detailed, and well-structured**.  \n- Ensure explanations are **easy to understand** while remaining **knowledgeable**.  \n\n---\n\n## 🔹 Instructional Format\nFor **guide or instruction-based responses**, always use the following structure ,order can be changed depending upon user query:\n\n### Step-by-Step Guide\n- Provide a **detailed breakdown** of the task or explanation.  \n- Include **all relevant details** with examples, data, or structured steps.  \n\n### Things to Consider\n- Highlight **important details**.  \n- Call out **common pitfalls or errors** to avoid.  \n- Share **key insights** that improve accuracy and clarity.  \n\n### Explanation\n- Provide a **clear, professional explanation** of the main subject.  \n- Break down **complex terms or processes** into simple, digestible points.  \n- Always connect the explanation directly back to **Nosta**.  \n\n### Further Understanding\n- Instead of asking questions, provide **two related topics** the user can explore next.  \n- Example:  \n  - Impact of Nosta’s innovations on supply chain optimization.  \n  - Role of CNC machining in medical technology.  \n\n### Related Topics\n- Always suggest at least **2 related topics** with:  \n  - A **brief description** of why they are relevant.  \n  - A **URL to the primary source** (if available).  \n- Example:  \n  - **Nosta’s role in the automotive sector** — [Source](https://www.nosta.de/automotive)  \n  - **Sustainability practices in logistics** — [Source](https://www.nosta.de/sustainability)  \n\n---\n\n## 🔹 Things to Consider / Important Details\n- **Never overlook critical details** — accuracy and completeness are essential.  \n- Always ensure content is:  \n  - Very detailed** but **brief in wording** (no fluff).  \n  - Well-structured** (use headings, bullet points, timelines, or tables). \n  - even in bullet point try to give explaination for each point.\n  - Directly related to Nosta** (company, products, industry, or operations).  \n\n---\n\n\n## 🔹 Instruction\n- For each query:  \n  - Always use the **Supabase store (`website_mark`) as the **primary source.  \n  - Supplement with the secondary source (`nosta_siteembed`) to enrich responses.  \n ##for each query  always use the Supabase store (website_mark) also try to use secondary source (nosta_siteembed) to improve responds.\n\n---\n\n## Output Guidelines\n- Outputs must always be:  \n  - Detailed, brief, well-structured, and easy to understand.**  \n  - Knowledgeable and fact-based.  \n  - Directly connected to Nosta.\n  - don't create url on your own only show url from source.\n  - guide user to how to navigate to that page and page url for particular data.\n  - answer should  be precise answers based on user query\n\n### Formatting Rules\n- Bullet points*→ for quick facts, key highlights.  \n- Timelines→ for historical events, evolution, or milestones.  \n- Tables** → for comparisons, structured data.  \n-answer need  to be short only few sentence and precise  give  detail answer if only user ask for it.\n### Sources\n- Always include the **source URL**.  \n- For secondary data, also include the **primary source link.  \n- sometime data will have such ![Agricultural and Construction Machinery](https://www.nosta.com/wp-content/uploads/2025/06/nosta-branchenloesungen-land-baumaschinen-slider-1640x1093.jpg) image show them to user but those coming from primary source only.\n\n",
          "returnIntermediateSteps": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -448,
        1824
      ],
      "id": "a3b8a6d0-eab9-4fb3-aba2-459f15a74308",
      "name": "nosta site bot1"
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Brauchen Sie Unterstützung? Fragen Sie einfach – ich bin hier, um Sie auf jedem Schritt zu begleiten!",
        "options": {
          "subtitle": "",
          "title": "Willkommen bei Nosta!  website agent",
          "customCss": ":root {\n  /* Brand Colors (Nosta) */\n  --chat--color-primary: #009EE3; /* Nosta Azure‑blue */\n  --chat--color-primary-shade-50: #007bb8;\n  --chat--color-primary-shade-100: #005d8f;\n  --chat--color-secondary: #582DC6; /* Nosta Violet accent */\n  --chat--color-secondary-shade-50: #461fa1;\n  --chat--color-secondary-shade-100: #36197a;\n  --chat--color-white: #FFFFFF;\n  --chat--color-light: #E4E4E4; /* light grey surfaces & borders */\n  --chat--color-light-shade-50: #d1d1d1;\n  --chat--color-light-shade-100: #bdbdbd;\n  --chat--color-medium: #B5BCC9;\n  --chat--color-dark: #000000; /* solid black text */\n  --chat--color-disabled: #9FA6B2;\n  --chat--color-typing: #555555;\n  --chat--header-height: 4rem;\n\n  /* Layout & Fonts */\n  --chat--spacing: 1rem;\n  --chat--border-radius: 0.5rem;\n  --chat--font-family: 'Roboto', system-ui, sans-serif;\n  --chat--heading-font-family: 'Poppins', system-ui, sans-serif;\n\n  /* Window */\n  --chat--window--width: 420px;\n  --chat--window--height: 600px;\n  --chat--window--z-index: 9999;\n  --chat--window--border: 1px solid var(--chat--color-light-shade-100);\n  --chat--window--border-radius: var(--chat--border-radius);\n\n  /* Header */\n  --chat--header--padding: 0.75rem;                    /* 50% less height */\n  --chat--header--background: var(--chat--color-primary-shade-100); /* deeper blue */\n  --chat--header--color: var(--chat--color-white);\n  --chat--heading--font-size: 1.8em;\n  --chat--subtitle--font-size: 1rem;\n  --chat--subtitle--line-height: 1.5;\n\n  /* Messages */\n  --chat--message--font-size: 1rem;\n  --chat--message--padding: 0.8rem 1rem;\n  --chat--message--border-radius: var(--chat--border-radius);\n  --chat--message--margin-bottom: 0.35rem; /* less spacing */\n  --chat--message-line-height: 1.6;\n  --chat--message--bot--background: #97979738;\n  --chat--message--bot--color: var(--chat--color-dark);\n  --chat--message--user--background: var(--chat--color-primary);\n  --chat--message--user--color: var(--chat--color-white);\n  --chat--message--pre--background: #e8ecf1;\n\n  /* Input */\n  --chat--textarea--height: 52px;\n  --chat--input--background: var(--chat--color-white);\n  --chat--input--text-color: var(--chat--color-dark);\n  --chat--input--padding: 0.75rem 1rem;\n  --chat--input--border: 1px solid var(--chat--color-light-shade-50);\n  --chat--input--border-radius: var(--chat--border-radius);\n\n  /* Buttons */\n  --chat--button--background: var(--chat--color-secondary);\n  --chat--button--color: var(--chat--color-white);\n  --chat--button--hover--background: var(--chat--color-secondary-shade-50);\n  --chat--button--hover--color: var(--chat--color-white);\n  --chat--button--padding: 0.5rem 1.2rem;\n  --chat--button--border-radius: var(--chat--border-radius);\n\n  /* Footer */\n  --chat--body--background: var(--chat--color-light);\n  --chat--footer--background: var(--chat--color-white);\n  --chat--footer--color: var(--chat--color-dark);\n}\n\n/* Structure */\nbody {\n  margin: 0;\n  font-family: var(--chat--font-family);\n  background: var(--chat--body--background);\n}\n\n.chat-window {\n  width: var(--chat--window--width);\n  height: var(--chat--window--height);\n  margin: 2rem auto;\n  border: var(--chat--window--border);\n  border-radius: var(--chat--window--border-radius);\n  display: flex;\n  flex-direction: column;\n  overflow: hidden;\n  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);\n}\n\n.chat-layout .chat-header {\n    background-repeat: no-repeat;\n    background-size: contain;\n    background-position: right center;\n    background-image: url(https://www.nosta.com/wp-content/themes/kd-theme/resources/img/nosta.jpg);\n    display: flex;\n    flex-direction: row;\n    justify-content: space-evenly;\n    align-items: center;\n    gap: 1em;\n    height: var(--chat--header-height);\n    padding: var(--chat--header--padding);\n    background-color: var(--chat--header--background);\n    color: var(--chat--header--color);\n    border-top: var(--chat--header--border-top);\n    border-bottom: var(--chat--header--border-bottom);\n    border-left: var(--chat--header--border-left);\n    border-right: var(--chat--header--border-right);\n}\n\n.chat-logo {\n  height: 40px;\n  width: auto;\n}\n\n.chat-header-text h1 {\n  margin: 0;\n  font-family: var(--chat--heading-font-family);\n  font-weight: 600;\n  font-size: var(--chat--heading--font-size);\n  text-transform: uppercase;\n  letter-spacing: 0.05em;\n}\n\n.chat-header-text p {\n  margin: 0.25rem 0 0;\n  font-size: var(--chat--subtitle--font-size);\n  line-height: var(--chat--subtitle--line-height);\n}\n\n/* Chat body */\n.chat-body {\n  flex: 1;\n  padding: var(--chat--spacing);\n  background: var(--chat--body--background);\n  overflow-y: auto;\n}\n\n.chat-message {\n  padding: var(--chat--message--padding);\n  margin-bottom: var(--chat--message--margin-bottom);\n  border-radius: var(--chat--message--border-radius);\n  font-size: var(--chat--message--font-size);\n  line-height: var(--chat--message-line-height);\n  max-width: 80%;\n  box-shadow: 0px 5px 9px 3px rgb(0 0 0 / 12%);\n  width: fit-content;\n}\n\n.chat-message.bot {\n  background: var(--chat--message--bot--background);\n  color: var(--chat--message--bot--color);\n  border-left: 3px solid var(--chat--color-primary);\n}\n\n.chat-message.user {\n  background: var(--chat--message--user--background);\n  color: var(--chat--message--user--color);\n  border-left: 3px solid var(--chat--color-secondary);\n  margin-left: auto;\n}\n\n/* Footer */\n.chat-footer {\n  background: var(--chat--footer--background);\n  padding: 0.5rem 1rem;\n  border-top: 1px solid var(--chat--color-light-shade-100);\n  display: flex;\n  align-items: center;\n  gap: 0.5rem;\n}\n\n.chat-footer textarea {\n  flex-grow: 1;\n  resize: none;\n  padding: var(--chat--input--padding);\n  height: var(--chat--textarea--height);\n  border: var(--chat--input--border);\n  border-radius: var(--chat--input--border-radius);\n  font-family: var(--chat--font-family);\n  font-size: 1rem;\n  color: var(--chat--input--text-color);\n  background: var(--chat--input--background);\n}\n\n.chat-send-button {\n  background: var(--chat--button--background);\n  color: var(--chat--button--color);\n  border: none;\n  padding: var(--chat--button--padding);\n  border-radius: var(--chat--button--border-radius);\n  font-size: 1.25rem;\n  cursor: pointer;\n  transition: background 0.2s;\n}\n\n.chat-send-button:hover {\n  background: var(--chat--button--hover--background);\n}\n\n/* USE THIS UPDATED RULE FOR THE IMAGE */\n.chat-message-markdown img {\n  display: block;       /* Treat the image as a block element */\n  margin-left: auto;    /* Automatically calculate left margin */\n  margin-right: auto;   /* Automatically calculate right margin */\n  max-width: 95%;\n  max-height: 350px;\n  height: auto;\n  border-radius: var(--chat--border-radius);\n  margin-top: 0.5rem;\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -1072,
        1824
      ],
      "id": "fd985161-1692-4b05-9326-2ef74e91dd54",
      "name": "When chat message received",
      "webhookId": "d6c280f6-90c6-40da-9fd2-8cc93ac5691f"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "secondarysource",
        "toolDescription": "Use RAG to look up information in the knowledgebase.",
        "tableName": {
          "__rl": true,
          "value": "nosta_siteembed",
          "mode": "list",
          "cachedResultName": "nosta_siteembed"
        },
        "topK": 5,
        "options": {
          "queryName": "match_nosta_siteembed"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        -576,
        2160
      ],
      "id": "fa526ca9-938d-4770-a684-a57ff3e55eab",
      "name": "secondary source",
      "credentials": {
        "supabaseApi": {
          "id": "SRxOZEWNZgLbKLus",
          "name": "Supabase account dbt test RN"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "chatInput"
            },
            {
              "name": "sessionId"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1072,
        1648
      ],
      "id": "b98a0b41-fbf2-41df-913a-f05a1e185f3d",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "2bb88761-54cb-49b5-9c92-f15c14cc36b6",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1056,
        1984
      ],
      "id": "6e8bfe34-49ea-424f-b784-9a85e49cad90",
      "name": "Webhook",
      "webhookId": "2bb88761-54cb-49b5-9c92-f15c14cc36b6"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "rajeetcodeN",
    "name": "n8n_backup2"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-09-13T12:04:55.391Z",
      "createdAt": "2025-09-13T12:04:55.391Z",
      "role": "workflow:owner",
      "workflowId": "aJD1vsgtLuPoMFKr",
      "projectId": "7DfoImgKnNZiM78g"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:Schedule Trigger1": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "updatedAt": "2025-09-13T12:28:49.637Z",
      "createdAt": "2025-09-13T12:28:49.637Z",
      "id": "Ot7A8CaX995qlWmc",
      "name": "testing"
    }
  ],
  "triggerCount": 2,
  "updatedAt": "2025-10-14T12:24:18.000Z",
  "versionId": "28d2c0e7-0d7e-4f84-b84d-e4a854631f64"
}